<div id="certification_table_details" >
    {% if freelancer_certification %}
        {% for certification in freelancer_certification %}
        <div id ="edit_certificate_{{ certification.id }}" >
            <div class="single-set">
                <div class="certificate_container right">
                    <div class="certification-details">
                        <div class = "educational-detail-button" >
                            <div class="education-editing-buttons" >
                                <div class="educational-details-edit profile-edit-btn" onclick="edit_certificate({{ certification.id }});" ><i class="fa fa-pencil-square-o"></i></div>
                                <div class="educational-details-delete profile-delete-btn"  onclick="deleteCertificates({{ certification.id }});"><i class="fa fa-trash-o"></i></div>
                            </div>
                        </div>
                    </div>
                    <h4> {{ certification.certificate_name }} issued by {{ certification.issued_by }}</h4>
                    <img src="{{ certification.certificate_thumbnail.url }}" alt="image" />
                    <article class="text css3-4">
                            <h1><a href="#" class="css3-4">{{ certification.certificate_name }} issued by {{ certification.issued_by }}</a></h1>
                    </article>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <h5>Add your certificates</h5>
    {% endif %}
</div>
<script>
// jquery for modal
/*
    jQuery(function ($) {
            $(".overlay").longDialog({
                openButton: $(".open-dialog"),
                mainContainer: $(".main")
            });
        });
        */
//********************* Modal test
    function modal_test(id){
       var value = $('#'+id).attr('src');
       console.log(value);
       $('#modal-content').html("<img  src="+value+" alt='certification image' style='width:100%'>");
    }
//********************* Modal mouseover
    function popup_show(id) {
        $('.'+id).show();
    }
    function popup_hide(id) {
        $('.'+id).hide();
    }
</script>