<div class="profile-edit-input" id="city">
    <select name="city" class="address_dropdown">
        <option>Select a City</option>
        {% for city in cities %}
            {% if request.user.freelancer_profile.city.name == city.name %}
                <option selected="selected">{{city.name}}</option>
            {% else %}
                <option>{{city.name}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>