{% if action == 'open' %}
<div class="clear data-align"></div>
<div id ="edit_certificate_{{ edit_id }}" class="form_container certificate_form" >
    <div class="certification-details">
        <div class = "educational-detail-button" >
            <div class="education-editing-buttons " style="display : block;" >
                <div class="educational-details-edit profile-edit-btn" onclick="close_certificate({{ edit_id }});" ><i class="fa fa-ban "></i></div>
                <div class="educational-details-delete profile-delete-btn"  onclick="deleteCertificates({{ edit_id }});"><i class="fa fa-trash-o"></i></div>
            </div>
        </div>
    </div>
    <form  role="form" class="certificate_details_container" id="form_certificate_{{ edit_id }}" enctype="multipart/form-data">
        <div class="certification-table">
            <input type="hidden" name="id" value="{{ edit_id }}"/>
            <div class="profile-edit-form-group">
                <div class="profile-edit-label">
                    <label>Certification name</label>
                </div>
                <div class="profile-edit-input">
                    {{ certification.certificate_name }}
                </div>
                <div class="clear"></div>
                <div class="profile-edit-label">
                    <label>Issued by</label>
                </div>
                <div class="profile-edit-input">
                    {{ certification.issued_by }}
                </div>
                <div class="clear"></div>
                <div class="profile-edit-label">
                    <label>Certification</label>
                </div>
                <div class="profile-edit-input rel">
                    <div class="filestyle">
                        <div>Upload certificate</div>
                        <span>{{ certification.certificate }}</span>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="save_btn_holder">
            <button type="button" class="btn-profile-edit nextBtn pull-right" onclick="save_certificate({{ edit_id }});">Save</button>
        </div>
        <div class="clearfix"></div>
    </form>
    <div class="clearfix"></div>
</div>
{% endif %}
{% if action == 'close' %}
        <div id="certification_table_details" >
            <div id ="edit_certificate_{{ certification.id }}" >
                <div class="single-set">
                    <div class="certificate_container right">
                        <div class="certification-details">
                            <div class = "educational-detail-button" >
                                <div class="education-editing-buttons" >
                                    <div class="educational-details-edit profile-edit-btn" onclick="edit_certificate({{ certification.id }});" ><i class="fa fa-pencil-square-o"></i></div>
                                    <div class="educational-details-delete profile-delete-btn"  onclick="deleteCertificates({{ certification.id }});"><i class="fa fa-trash-o"></i></div>
                                </div>
                            </div>
                        </div>
                        <h4> {{ certification.certificate_name }} issued by {{ certification.issued_by }}</h4>
                        <img src="{{ certification.certificate_thumbnail.url }}" alt="image" />
                        <article class="text css3-4">
                                <h1><a href="#" class="css3-4">{{ certification.certificate_name }} issued by {{ certification.issued_by }}</a></h1>
                        </article>
                    </div>
                </div>
            </div>

        </div>
    {% endif %}
<script>
// jquery for modal
    jQuery(function ($) {
            $(".overlay").longDialog({
                openButton: $(".open-dialog"),
                mainContainer: $(".main")
            });
        });
//********************* Modal test
    function modal_test(id){
       var value = $('#'+id).attr('src');
       console.log(value);
       $('#modal-content').html("<img  src="+value+" alt='certification image' style='width:100%'>");
    }
//********************* Modal mouseover
    function popup_show(id) {
        $('.'+id).show();
    }
    function popup_hide(id) {
        $('.'+id).hide();
    }
</script>