 {% if action == 'open'%}
    <div id = "edit_portfolio_{{ edit_id }}" class="form_container prtfo_details_container">
        <div class="portfolio">
            <div class = "educational-detail-button" >
                <div class="education-editing-buttons">
                    <div class="educational-details-edit profile-edit-btn" onclick="close_portfolio({{ edit_id }});"> <i class="fa fa-ban"></i></div>
                    <div class="educational-details-delete profile-delete-btn"  onclick="deletePortfolio({{ edit_id }});"><i class="fa fa-trash-o"></i></div>
                </div>
            </div>
        </div>
        <form role="form" id="form_portfolio_{{ edit_id }}" enctype="multipart/form-data">

            <div>
                <input type="hidden" name="id" value="{{ edit_id }}"/>
                <div class="profile-edit-label">
                    <label>Project name</label>
                </div>
                <div class="profile-edit-input">
                    {{ portfolio.project_name }}
                </div>
                <div class="clear"></div>
                <div class="profile-edit-label">
                    <label>Description</label>
                </div>
                <div class="profile-edit-input">
                    {{ portfolio.description }}
                    {{ portfolio.description.errors}}
                </div>
                <div class="clear"></div>
                <div class="profile-edit-label">
                    <label>Project Url</label>
                </div>
                <div class="profile-edit-input">
                    {{ portfolio.project_url }}
                </div>
                <div class="clear"></div>
                <div class="profile-edit-label">
                    <label>Category </label>
                </div>
                <div class="profile-edit-input" onclick="work_category();">
                    {{ portfolio.main_category }}
                </div>
                <div class="clear"></div>
                <div class="category_section">
                    <div class="profile-edit-label">
                        <label>Sub Category</label>
                    </div>
                    <div class="profile-edit-input" >
                        <select class="multi_select job_category_style" name="skills"  id ="tokenize" multiple="multiple" >
                            {% for sub_category in port.sub_category.all %}
                                <option value="{{sub_category.sub_category_title}}" selected="selected" >{{sub_category.sub_category_title}}</option>
                            {% endfor %}
                            {% for skill in sub_category %}
                                <option value="{{skill.skill_name}}">{{skill.skill_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="clear"></div>
                    <div class="profile-edit-label">
                        <label>Skills</label>
                    </div>
                    <div class="profile-edit-input" >
                        <select class="multi_select job_category_style" name="skills"  id ="tokenize" multiple="multiple" >
                            {% for skill in port.skills.all %}
                                <option value="{{skill.skill_name}}" selected="selected" >{{skill.skill_name}}</option>
                            {% endfor %}
                            {% for skill in skills %}
                                <option value="{{skill.skill_name}}">{{skill.skill_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="save_btn_holder">
                    <button type="button" class="btn-profile-edit nextBtn pull-right" onclick="save_portfolio({{ edit_id }});">Save</button>
                </div>
                <div class="clear"></div>
            </div>
        </form>
    </div>
{% endif %}
{% if action == 'close' %}
     <div id = "edit_portfolio_{{ edit_id }}" class="project_holder">
        <div class="portfolio">
            <div class = "educational-detail-button" >
                <div class="education-editing-buttons">
                    <div class="educational-details-edit profile-edit-btn" onclick="edit_portfolio({{ edit_id }});" > <i class="fa fa-pencil-square-o"></i></div>
                    <div class="educational-details-delete profile-delete-btn"  onclick="deletePortfolio({{ edit_id }});"><i class="fa fa-trash-o"></i></div>
                </div>
            </div>
        </div>

        <div>
            <h4 class="employment-history mar-t30 "><span>{{ portfolio.project_name }}</span></h4>
            <div class="project_details">
                <p>Project URL : <a href={{ portfolio.project_url }} >{{ portfolio.project_url }} </a></p>
                <p>Skills :
                    {% for skill in portfolio.skills.all %}
                       {{skill.skill_name}}
                    {% endfor %}
                </p>
                <h4 class="employment-history mar-t30">Description</h4>
                <div>
                    <div class="paragraph_text" >{{ portfolio.description}}</div>

                </div>
            </div>
        </div>
    </div>
{% endif %}

<script>
    $('.multi_select').tokenize({
        displayDropdownOnFocus: true,
    });

</script>
