<div class="employment_container form_container emp_details_container" id ="employment_{{ edit_id  }}" class="edit-overview_display">

     <div class="add-education-details">
        <div class = "educational-detail-button" >
            <div class="education-editing-buttons">
                <div class="educational-details-edit profile-edit-btn" onclick="employment_close({{ edit_id }});"> <i class="fa fa-ban"></i></div>
                <div class="educational-details-delete profile-delete-btn"  onclick="deleteEmployment({{ edit_id }});" ><i class="fa fa-trash-o"></i></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <form role="form" id="form_employment_{{ edit_id }}" enctype="multipart/form-data">
        <input type="hidden" value="{{ edit_id  }}" name ="id"/>

        <div class="profile-edit-label">
            <label>Company</label>
        </div>
        <div class="profile-edit-input profile-edit-input_select">
            {{ employment_history.company }}
        </div>
        <div class="clear"></div>
        <div class="profile-edit-label">
            <label>Location</label>
        </div>
        <div class="profile-edit-input">
            {{ employment_history.location }}
        </div>
        <div class="clear"></div>
        <div class="profile-edit-label">
            <label>Role</label>
        </div>
        <div class="profile-edit-input">
            {{ employment_history.role }}
        </div>
        <div class="clear"></div>
        <div class="date_holder">
            <span class="profile-edit-label">
                <label>Start Date</label>
            </span>
            <div class="profile-edit-input-date start_date">
                {{ employment_history.start_date }}
            </div>
            <span class="profile-edit-label-date">
                <label>End Date</label>
            </span>
            <div class="profile-edit-input-date end_date">
                {{ employment_history.end_date }}
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="profile-edit-label">
            <label>Description</label>
        </div>
        <div class="profile-edit-input">
            {{ employment_history.description }}
        </div>
        <div class="clear"></div>
        <div class="save_btn_holder">
            <button type="button" class="btn-profile-edit nextBtn pull-right" onclick="save_employment({{ edit_id }});">Save</button>
        </div>
        <div  class="clearfix"></div>

    </form>
</div>
