
{% if action == 'open' %}
<div class="rel educational-details-content form_container edu_details_container" id = "edit_{{ edit_id }}">
    <div class="add-education-details">
        <div class = "educational-detail-button" >
            <div class="education-editing-buttons">
                <div class="educational-details-edit profile-edit-btn" onclick="edit_close({{ edit_id }});" > <i class="fa fa-ban"></i></div>
                <div class="educational-details-delete profile-delete-btn"  onclick="deleteEducationDetails({{ edit_id }});"><i class="fa fa-trash-o"></i></div>
            </div>
        </div>
    </div>
    <form  role="form" id="form_education_{{ edit_id }}" enctype="multipart/form-data">

        <div>
            <input type="hidden" name="id" value="{{ edit_id }}"/>
            <div class="profile-edit-label">
                <label>Institution Name</label>
            </div>
            <div class="profile-edit-input">
                {{ freelancer.institution_name }}
            </div>
            <div class="clear"></div>
            <div>
                <span class="profile-edit-label">
                    <label>Enrollment Date</label>
                </span>
                <div class="profile-edit-input-date">
                    {{ freelancer.enrollment_date }}
                </div>
                <span class="profile-edit-label-date">
                    <label>Degree</label>
                </span>
                <div class="profile-edit-input-date">
                    {{ freelancer.degree }}
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="profile-edit-label">
                <label>Area of study</label>
            </div>
            <div class="profile-edit-input">
                {{ freelancer.area_of_study }}
            </div>
            <div class="save_btn_holder">
                <button type="button" class="btn-profile-edit nextBtn pull-right" onclick="save_details({{ edit_id }});">Save</button>
            </div>
            <div class="clear"></div>
        </div>
    </form>
</div>

<script>
    if ($(window).width()>768){
        $("#id_degree").css('width','93%');
    }
     $(function() {
        $( ".datepicker" ).datepicker({
            changeMonth: true,
            changeYear: true
        });
    });
    $(function() {
        $( ".datepicker1" ).datepicker({
            changeMonth: true,
            changeYear: true
        });
    });
    $(function() {
        $( ".datepicker2" ).datepicker({
            changeMonth: true,
            changeYear: true
        });
    });
</script>
{% endif %}
{% if action == 'close' %}
<div class="rel educational-details-content project_holder" id = "edit_{{ edit_id }}">

    <div class="add-education-details">
        <div class = "educational-detail-button" >
            <div class="education-editing-buttons">
                <div class="educational-details-edit profile-edit-btn" onclick="edit_education({{ edit_id }});" > <i class="fa fa-pencil-square-o"></i></div>
                <div class="educational-details-delete profile-delete-btn"  onclick="deleteEducationDetails({{ edit_id }});"><i class="fa fa-trash-o"></i></div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div>
        <ul>
            <li>
                <span class="course">{{ freelancer.degree }}-</span>
                <span> {{ freelancer.institution_name }}</span>
            </li>
            <li>
                <span>
                    {{ freelancer.area_of_study }}
                </span>
            </li>
            <li class="year">{{ freelancer.enrollment_date }}</li>
        </ul>
    </div>
</div>
{% endif %}
