<div class="client-profile-details" id ="freelancer-profile-details">
    {% if action == 'open' %}
        <form  role="form" id="profile_form" enctype="multipart/form-data">
            <!--<div class="client-profile-pic">-->
                <!--<div class="profile-image-edit">-->
                    <!--{% if user.freelancer_profile.profile_pic %}-->
                        <!--<img class="img-circle-border" src="/static/{{ user.freelancer_profile.profile_pic.url }}" alt="developer image" />-->
                    <!--{% else %}-->
                        <!--<img class="img-circle-border" src="/static/images/no_user.png" alt="Freelancer image" />-->
                    <!--{% endif %}-->
                    <!--<div class="filestyle">-->
                        <!--<div>Upload profile picture</div>-->
                        <!--<span>{{freelancer_profile.profile_pic}}</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="client-basic-details">-->
                    <!--<h3>{{user.get_full_name}}</h3>-->
                    <!--<div class = "freelancer-label">Professional title </div>-->
                    <!--<div class = "freelancer-input">{{freelancer_profile.professional_title}}</div>-->
                    <!--<div class="clear"></div>-->
                    <!--<div class = "freelancer-label">Skills </div>-->
                    <!--<div class = "freelancer-input">-->
                        <!--<select class="multi_select" name="skills">-->
                            <!--{% for skill in skills %}-->
                            <!--<option value="{{skill.skill_name}}">{{skill.skill_name}}</option>-->
                            <!--{% endfor %}-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="clear"></div>-->
                    <!--<div class = "freelancer-label" >Language proficiency </div>-->
                    <!--<div class = "freelancer-input">-->
                        <!--<select class="multi_select" name="languages">-->
                            <!--{% for language in languages %}-->
                            <!--<option value="{{language.language_title}}">{{language.language_title}}</option>-->
                            <!--{% endfor %}-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="clear"></div>-->
                    <!--<div class = "freelancer-label">Address </div>-->
                    <!--<div class = "freelancer-input">{{freelancer_profile.address}}</div>-->
                    <!--<div class="clear"></div>-->
                    <!--<p class="location"><i class="fa fa-map-marker"></i>Switzerland</p>-->
                    <!--<button type="button" class="btn-profile-edit nextBtn" onclick="save_profile();">Save</button>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
            <!--</div>-->
            <!--<div class="client-profile-edit-btn" onclick = "close_profile();">-->
                <!--<i class="fa fa-ban"></i>-->
            <!--</div>-->
            <!--<div class="clear"></div>-->
            <div class="client-profile-pic">
                <div class="profile-image-edit">
                    {% if user.freelancer_profile.profile_pic %}
                        <img class="img-circle-border" src="/static/{{ user.freelancer_profile.profile_pic.url }}" alt="developer image" />
                    {% else %}
                        <img class="img-circle-border" src="/static/images/no_user.png" alt="Freelancer image" />
                    {% endif %}
                </div>
                <div class="client-basic-details">
                    <p>open</p>
                    <h3>{{user.get_full_name}}</h3>
                    <p>{{freelancer_profile.professional_title}}</p>
                    <p class="location"><i class="fa fa-map-marker"></i>Switzerland</p>
                </div>
                <div class="freelancer-profile-edit-btn" onclick = "edit_profile();">
                    <i class="fa fa-pencil"></i>
                </div>
                <div class="clear"></div>
            </div>
            <div class="client-profile-carrier-details">
                <div class="carrier-details">
                    <!--{% for skill in user.freelancer_profile.skills.all %}-->
                        <!--<button type="button" class="btn-light-green ">{{ skill.skill_name }} &nbsp</button>-->
                    <!--{% endfor %}-->
                    <select class="multi_select" name="skills">
                        {% for skill in skills %}
                        <option value="{{skill.skill_name}}">{{skill.skill_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="client-profile-edit-btn" onclick = "close_profile();">
                    <i class="fa fa-ban"></i>
                </div>
            </div>
            <div class="clear"></div>
        </form>
    {% endif %}
    {% if action = 'close' %}
        <div class="client-profile-pic">
            <div class="profile-image-edit">
                {% if user.freelancer_profile.profile_pic %}
                    <img class="img-circle-border" src="/static/{{ user.freelancer_profile.profile_pic.url }}" alt="developer image" />
                {% else %}
                    <img class="img-circle-border" src="/static/images/no_user.png" alt="Freelancer image" />
                {% endif %}
            </div>
            <div class="client-basic-details">
                <h3>{{user.get_full_name}}</h3>
                <p>{{freelancer_profile.professional_title}}</p>
                <p class="location"><i class="fa fa-map-marker"></i>Switzerland</p>
            </div>
            <div class="freelancer-profile-edit-btn" onclick = "edit_profile();">
                <i class="fa fa-pencil"></i>
            </div>
            <div class="clear"></div>
        </div>
        <div class="client-profile-carrier-details">
            <div class="carrier-details">
                {% for skill in user.freelancer_profile.skills.all %}
                    <button type="button" class="btn-light-green ">{{ skill.skill_name }} &nbsp</button>
                {% endfor %}

            </div>
            <div class="client-profile-edit-btn" onclick = "edit_profile();">
                <i class="fa fa-pencil"></i>
            </div>
        </div>
        <div class="clear"></div>
    {% endif %}
</div>
<script>
    $('.multi_select').tokenize({
        displayDropdownOnFocus: true,
    });
</script>