<div class="add-education-container educationFormContainer" id="add-education">
    <div class="space"></div>
    <!--<div class="add-educational-details-btn"><span class="add-educational add-text" id="education-details-add" onclick="addDetails(this.id);"><i class="fa fa-plus-square add-icon "></i> Add details</span></div>-->

    <div class="profile-edit-label">
        <label>Institution Name</label>
    </div>
    <div class="profile-edit-input">
        {{ form_education.institution_name }}
    </div>
    <div class="clear"></div>
    <div>
        <span class="profile-edit-label">
            <label>Enrollment Date</label>
        </span>

        <div class="profile-edit-input-date">
            {{ form_education.enrollment_date }}
        </div>
                <span class="profile-edit-label-date">
                    <label>Degree</label>
                </span>

        <div class="profile-edit-input-date">
            {{ form_education.degree }}
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="profile-edit-label">
        <label>Area of study</label>
    </div>
    <div class="profile-edit-input">
        {{ form_education.area_of_study }}
    </div>
    <div class="clear"></div>
    <div class="save_btn_holder">
        <button type="button" class="btn-profile-edit nextBtn pull-right" onclick="addEducationDetails();">Save</button>
    </div>
    <div class="clear"></div>
</div>
 {% block extra_js %}
<script>
    if ($(window).width()>768){
        $("#id_degree").css('width','93%');
    }
    $(function() {
        $( ".datepicker2" ).datepicker({
            changeMonth: true,
            changeYear: true,
            maxDate: 0,
            altFormat: "yy-mm-dd",
            dateFormat: 'yy-mm-dd',
        });
    });
    </script>
{% endblock %}