<div  id="education_table_details" >
    {% if freelancer_education_details%}
    {% for freelancer_education in freelancer_education_details %}
    <div class="rel educational-details-content project_holder" id = "edit_{{ freelancer_education.id }}">
        <div class="add-education-details">
            <div class = "educational-detail-button" >
                <div class="education-editing-buttons details_align">
                    <div class="educational-details-edit profile-edit-btn" onclick="edit_education({{ freelancer_education.id }});" > <i class="fa fa-pencil-square-o"></i></div>
                    <div class="educational-details-delete profile-delete-btn"  onclick="deleteEducationDetails({{ freelancer_education.id }});"><i class="fa fa-trash-o"></i></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div>
            <ul class="edu_list">
                <li>
                    <span class="course">{{ freelancer_education.degree }}-</span>
                    <span> {{ freelancer_education.institution_name }}</span>
                </li>
                <li>
                    <span>
                        {{ freelancer_education.area_of_study }}
                    </span>
                </li>
                <li class="year">{{ freelancer_education.enrollment_date }}</li>
            </ul>
        </div>
    </div>
    {% endfor %}
    {% else %}
        <div class="text_holder">
             No data added
        </div>
    {% endif %}
</div>
