{% if employee_eduction %}
    <div  id="education_table_details" class="tablediv">
         <table  id ="education_details" class="imagetable">
            <tr>
                <th><span>Institution</span></th>
                <th><span>Enrolment date</span></th>
                <th><span>Degree</span></th>
                <th><span>Area of study</span></th>
                <th><span>Action</span></th>
            </tr>
            {% for freelancer in employee_eduction %}
               <tr class="education_{{ freelancer.id }}">
                   <td>{{freelancer.institution_name}}</td>
                   <td>{{freelancer.enrollment_date}}</td>
                   <td>{{freelancer.degree}}</td>
                   <td>{{freelancer.area_of_study}}</td>
                   <td class="txt-center">
                        <a href="javascript:void(0);" class="icons_btn education_delete red_bg" onclick="educationDelete({{ freelancer.id }});">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a href="javascript:void(0);" class="icons_btn education_update" onclick="educationUpdate({{ freelancer.id }});">
                            <i class=" fa fa-pencil-square-o"></i>
                        </a>
                    </td>
               </tr>
            {%endfor%}
        </table>
    </div>
{% endif %}