<div class="add-education-container employmentFormContainer hide">
    <div class="space"></div>
    <!--<div class="add-educational-details-btn"><span class="add-educational  add-text" id="employment-details-add" onclick="addDetails(this.id);"><i class="fa fa-plus-square add-icon"></i> Add details</span></div>-->
    <div class="add-educational-details employment-details-add">
        <div class="profile-edit-label">
            <label>Company</label>
        </div>
        <div class="profile-edit-input" id="normal-Company-section">
            <span class="profile-add " id="addCompany"><i class="fa fa-plus-circle "></i></span>
            <input type="text" id="search-box" autocomplete="off" name="company_name"/>

            <div id="suggesstion-box"></div>
            <div style="display:none">
                <input id="autocomplete2-value" type="text" name="code"/>
            </div>
        </div>
        <div class="profile-edit-input" id="add-Company-section">
            <span class="profile-close" id="close-Company">New Company <i class="fa fa-times "></i></span>
            <span class="profile-add " id="add-Company" onclick="company_add();"><i
                    class="fa fa-plus-circle "></i></span>
            <input type="text" id="company_name_add"/>
        </div>
        <div class="clear"></div>
        <div class="profile-edit-label">
            <label>Location</label>
        </div>
        <div class="profile-edit-input">
            {{ form_employment.location }}
        </div>
        <div class="clear"></div>
        <div class="profile-edit-label">
            <label>Role</label>
        </div>
        <div class="profile-edit-input">
            {{ form_employment.role }}
        </div>
        <div class="clear"></div>
        <div>
            <span class="profile-edit-label">
                <label>Start Date</label>
            </span>

            <div class="profile-edit-input-date">
                {{ form_employment.start_date }}
            </div>
                <span class="profile-edit-label-date">
                    <label>End Date</label>
                </span>

            <div class="profile-edit-input-date">
                {{ form_employment.end_date }}
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="profile-edit-label">
            <label>Description</label>
        </div>
        <div class="profile-edit-input">
            {{ form_employment.description }}
        </div>
        <div class="clear"></div>
        <div class="save_btn_holder">
            <button type="button" class="btn-profile-edit nextBtn pull-right" onclick="addEmploymentHistory();">Save
            </button>
        </div>
        <div class="clear"></div>
    </div>
</div>
 {% block extra_js %}
<script>
    //********************** autocomplete code of company name **************************************
        $(document).ready(function(){
            $("#search-box").keyup(function(){
                var keyword_value = $('#search-box').val();
                var companies = [];
                $.ajax({
                type: "GET",
                url: "{% url 'add_company' %}",
                data:{'keyword_value':keyword_value},
                async:true,
                success: function(response){
                    $("#suggesstion-box").show();
                    json_companies = jQuery.parseJSON(response.companies);
                    $.each(json_companies, function( index, value ) {
                    companies.push(value.id,value.company_name);
                    });
                    $("#suggesstion-box").html(jQuery.parseJSON(response.companies));
                    $( "#search-box" ).autocomplete({
                        source:JSON.parse(response.companies),
                        focus: function(event, ui) {
                       // event.preventDefault();
                        $(this).val(ui.item.label);
                        },
                        select: function(event, ui) {
                         event.preventDefault();
                          $(this).val(ui.item.label);
                          console.log(ui.item.label);
                          $("#autocomplete2-value").val(ui.item.value);
                        }
                    });
                },
                error:function(xhr,status,error)
                {
                    console.log("error sorry !!!!!!!!");
                }
                });
            });
        });
    //********************************Add company********************************
    function company_add(){
        var company_name = $('#company_name_add').val();
       // event.preventDefault();
        $.ajax({
            url: "{% url 'add_company' %}",
            type: 'POST',
            data: { company_name:company_name },
            success: function (response) {
                if (response.status==true)
                {
                    console.log('Success');
                }
               else if (response.status==false)
               {
                $.each(response.errors, function( name, value )
                    {
                        $inputs.each(function(index, dom){
                             current_name = dom.name;
                             if (current_name == name){
                                 var $error_section = $(this).closest("div");
                                 $error_section.append("<span class='error'>"+value+"</span>").css('color','red');
                                 $(this).closest("input").css('border-color','red')
                             }
                        });
                    });
                }
            },
            error:function(xhr,status,error)
            {
                alert("error sorry !!!!!!!!");
            }
        });
        return false;
    }
    $('#add-Company-section').hide();
        $("#addCompany").click( function()
           {
             $('#normal-Company-section').hide();
             $('#add-Company-section').show();
           }
        );
        $("#close-Company").click( function()
           {
             $('#normal-Company-section').show();
             $('#add-Company-section').hide();
           }
        );
        $('#add-educational-details').hide();
        $(function() {
        $( ".datepicker" ).datepicker({
            changeMonth: true,
            changeYear: true,
            maxDate: 0,
            altFormat: "yy-mm-dd",
            dateFormat: 'yy-mm-dd',
            beforeShow : function()
            {
                if($('.datepicker1').length > 0 && $('.datepicker1').val() != ''){
                    jQuery( this ).datepicker('option','maxDate', jQuery('.datepicker1').val() );
                }
                else{
                     jQuery( this ).datepicker('option','maxDate', '0' );
                }
            },
        });
    });
    $(function() {
        $( ".datepicker1" ).datepicker({
            changeMonth: true,
            changeYear: true,
             maxDate: '0',
            beforeShow : function()
            {
                jQuery( this ).datepicker('option','minDate', jQuery('.datepicker').val() );
            } ,
            altFormat: "yy-mm-dd",
            dateFormat: 'yy-mm-dd'
        });
    });
</script>
{% endblock %}