<div  class="tablediv" id ="work_history_table">
    {% if employee_history %}
    <table id="work_history" class="imagetable">
        <tr>
            <th><span>Company</span></th>
            <th><span>Location</span></th>
            <th><span>Role</span></th>
            <th><span>Start Date</span></th>
            <th><span>End Date</span></th>
            <th><span>Actions</span></th>
        </tr>
        {% for freelancer_history in employee_history %}
        <tr class="history_{{ freelancer_history.id }}">
            <td>{{ freelancer_history.company }}</td>
            <td>{{ freelancer_history.location }}</td>
            <td>{{ freelancer_history.role }}</td>
            <td>{{ freelancer_history.start_date }}</td>
            <td>{{ freelancer_history.end_date }}</td>
            <td class="txt-center">
                <a href="javascript:void(0);" class="icons_btn history_delete red_bg" onclick="historyDelete({{ freelancer_history.id }});">
                    <i class="fa fa-trash-o"></i>
                </a>
                <a href="javascript:void(0);" class="icons_btn history_update" onclick="historyUpdate({{ freelancer_history.id }});">
                    <i class=" fa fa-pencil-square-o"></i>
                </a>
            </td>
        </tr>
        {% endfor %}

    </table>
    {% endif %}
</div>