{% load freelancer_extras%}
<div id="work_history_table">
    {% if freelancer_employee_history %}
        {% for employment_history in freelancer_employee_history %}
            <div class="employment_container" id ="employment_{{ employment_history.id }}">
                <div class="add-education-details">
                    <div class ="educational-detail-button" >
                        <div class="education-editing-buttons">
                            <div class="educational-details-edit profile-edit-btn" onclick="employment_edit({{ employment_history.id }});"> <i class=" fa fa-pencil-square-o"></i></div>
                            <div class="educational-details-delete profile-delete-btn"  onclick="deleteEmployment({{ employment_history.id }});" ><i class="fa fa-trash-o"></i></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="details_align_emp">
                    <span class="company-name">{{ employment_history.company }}</span>
                    <span> - {% date_difference employment_history.start_date employment_history.end_date %} </span>
                    <h4 class="employment-history mar-t30">{{ employment_history.role }}</h4>
                    <h4 class="employment-history_desc mar-t30">Description</h4>
                    <div>
                        <div class="paragraph_text" >{{ employment_history.description }}</div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        {% endfor %}
    {% else %}
        <div class="text_holder">
             No data added
        </div>
    {% endif %}
    </div>