<div id="Portfolio_table_details" class="tablediv">
    {% if portfolio %}
    <table  id ="Portfolio_details" class="imagetable">
    <tr>
        <th><span>Project Name</span></th>
        <th style="width: 26%;"><span>Project URL</span></th>
        <th><span>Description</span></th>
        <th><span>Skills</span></th>
         <th><span>Action</span></th>
    </tr>
    {% for project in portfolio %}
       <tr class="portfolio_{{ project.id }}">
           <td>{{ project.project_name }}</td>
           <td>{{ project.project_url }}</td>
           <td>{{ project.description }}</td>
           <td>
               {% for skill in project.skills.all %}
                   {{ skill.skill_name }}
               {% endfor %}
           </td>
           <td class="txt-center">
                <a href="javascript:void(0);" class="icons_btn portfolio_delete red_bg" onclick="portfolioDelete({{ project.id }});">
                    <i class="fa fa-trash-o"></i>
                </a>
                <a href="javascript:void(0);" class="icons_btn portfolio_update" onclick="portfolioUpdate({{ project.id }});">
                    <i class=" fa fa-pencil-square-o"></i>
                </a>
            </td>
       </tr>
    {% endfor %}
    </table>
    {% endif %}
</div>