
{% if status == 'open' %}
    <div class="skill_container">
        <div class="profile-edit-input">
            <input maxlength="255" name="skill_name" id="skill_name" type="text" value="">
        </div>
        <div class="add_skill_container">
            <div class=" pull-right icon_btn" onclick="save_new_skill();">
                <i class="fa fa-floppy-o"></i>
            </div>
        </div>
    </div>
{% endif %}
{% if status == 'create' %}
    <div class="skill_container">
        <div class="profile-edit-input">
            <select class="multi_select portfolio_dropdown" name="skills">
                {% for skill in skills %}
                <option value="{{skill.skill_name}}">{{skill.skill_name}}</option>
                {% endfor %}
            </select>
            <div class="clear"></div>
        </div>
        <div class="add_skill_container">
            <div class=" pull-right icon_btn" id="" onclick="add_skill_form();">
                <i class="fa fa-plus-square"></i>
            </div>
        </div>
    </div>

{% endif %}
<script>

    {% block extra_js %}
    function save_new_skill(){
        var skill = $('#skill_name').val();
        var main_category = $('#main_category').val();
        $.ajax({
            url: "{% url 'skill_add' %}",
            type: 'POST',
            data:{status:'create', skill_name:skill, main_category:main_category},
            success: function (response) {
                if (response.status==true)
                {
                   $(".skill_container").replaceWith(response.html_content);
                }
            },
            error:function(xhr,status,error)
            {
                console.log("error sorry !!!!!!!!");
            }
        });
    }
    $('.multi_select').tokenize({
        displayDropdownOnFocus: true,
    });
    {% endblock %}
</script>