<div class="client-profile-carrier-details" id="freelancer_skills">
    {% if action == 'open' %}
    <form  role="form" id="profile_skills" enctype="multipart/form-data">
        <div class="carrier-details">
            <select class="multi_select" name="skills_profile" multiple="multiple" >
                {% for skill in user.freelancer_profile.skills.all %}
                <option value="{{skill.skill_name}}" selected="selected">{{skill.skill_name}}</option>
                {% endfor %}
                {% for skill in skills %}
                    <option value="{{skill.skill_name}}" >{{skill.skill_name}}</option>
                {% endfor %}
            </select>
            <button type="button" class="btn-profile-edit skill-save-btn nextBtn" onclick="save_skills();">Save</button>
        </div>
        <div class="client-profile-edit-btn gray" onclick = "close_skills();">
            <i class="fa fa-ban"></i>
        </div>
    </form>
    {% endif %}
    {% if action == 'close' %}
    <div class="carrier-details skill-data">
        {% for skill in user.freelancer_profile.skills.all %}
            <button type="button" class="btn-light-green ">{{ skill.skill_name }}</button>
        {% endfor %}
    </div>
    <div class="client-profile-edit-btn" onclick = "edit_skills();">
        <i class="fa fa-pencil"></i>
    </div>
    {% endif %}
</div>
<script>
    $('.multi_select').tokenize({
        displayDropdownOnFocus: true,
    });
</script>