{% if type == 'open' %}
    <div id="hourInput">
        <div class="hourly_input_section" id="hour">
            <div class="profile_available_label paragraph_text">
                <span>
                    <label>Hourly Rate</label>
                </span>
            </div>
            <div class="available_input">
                {{form_Rate.hourly_rate}}
            </div>
        </div>
        <div class="HourError"></div>
        <div class="hourly_input_section" id="hour1">
            <div class="profile_available_label paragraph_text">
                <span>
                    <label>Actual Rate</label>
                </span>
            </div>
            <div class="available_input">
                {{form_Rate.actual_rate}}
            </div>
        <button type="button" style="display:none;" id="hour_btn" class="btn-hour-edit  nextBtn" onclick = "addRate();">Save</button>
    </div>
    <script>
    $(document).ready(function(){
        $("#id_hourly_rate").change(function(){
            $.ajax({
                url: "{% url 'add_rate' %}",
                type: 'POST',
                data:{ hourly_rate: $(this).val(),level:'actual_rate_update' },
                success: function (response) {

                $("#id_actual_rate").val(response.actual_rate);                                          },
                error:function(xhr,status,error)
                {
                    console.log("error sorry !!!!!!!!");
                }
            });
        });
    });
</script>
{% else %}
    <div class="text-content paragraph_text hour_content">
        <ul>
            <li>Hourly Rate : ${{rate.hourly_rate}} /hr</li>
            <li>Actual Rate : ${{rate.actual_rate}} /hr </li>
        </ul>
    </div>
{% endif %}

