
<div id="certification_table_details" class="tablediv">
    {% if freelancer_certificate %}
    <table  id ="certification_details" class="imagetable">
        <tr>
            <th><span>Certification name</span></th>
            <th><span>Issued by</span></th>
            <th><span>Certification</span></th>
            <th><span>Action</span></th>
        </tr>
        {% for certificates in freelancer_certificate %}
           <tr class="certificates_{{ certificates.id }}">
              <td>{{ certificates.certificate_name }}</td>
              <td>{{ certificates.issued_by }}</td>
              <td><img class="img-table" src="{{ certificates.certificate_thumbnail.url }}" alt="certificate image" /></td>
              <td class="txt-center">
                <a href="javascript:void(0);" class="icons_btn certificates_delete red_bg" onclick="certificatesDelete({{ certificates.id }});">
                    <i class="fa fa-trash-o"></i>
                </a>
                <a href="javascript:void(0);" class="icons_btn certificates_update" onclick="certificatesUpdate({{ certificates.id }});">
                    <i class=" fa fa-pencil-square-o"></i>
                </a>
            </td>
           </tr>
        {% endfor %}
        </table>
    {% endif %}
</div>