{% load staticfiles %}
{% load compress %}
<div id="edit-overview" class="edit-overview_display">
    {% if action == 'open' %}
        <form id="form_overView" enctype="multipart/form-data">
            <div class="overview_editor">
                 {{ form.about_me }}
            </div>

            <div class="">
                <button type="button" class="btn-profile-edit nextBtn pull-right" onclick = "saveOverview();" id="overview_save">Save</button>
            </div>
         </form>
    {% endif %}
    {% if action == 'close' %}
        {% if form.about_me  %}
            <div class="paragraph_text">{{ form.about_me|safe }}</div>
        {% else %}
            <div class="text_holder">
                 No data added
            </div>
        {% endif %}

    {% endif %}

    <div class="clearfix"></div>
</div>

<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% compress js %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
{% endcompress %}
<script>
    $("#cke_1_top").hide();
    $("#cke_42_top").hide();
</script>