<div class="add-education-details  portfolioFormContainer hide ">
    <div class="space"></div>
    <!--<div class="add-educational-details-btn"><span class="add-educational add-text" id = "portfolio-details-add" onclick="addDetails(this.id);" ><i class="fa fa-plus-square add-icon"></i> Add details</span></div>-->
    <div class=" ">
        <div class="profile-edit-label">
            <label>Project name</label>
        </div>
        <div class="profile-edit-input">
            {{ form_portfolio.project_name }}
        </div>
        <div class="clear"></div>
        <div class="profile-edit-label">
            <label>Description</label>
        </div>
        <div class="profile-edit-input">
            {{ form_portfolio.description }}
        </div>
        <div class="clear"></div>
        <div class="profile-edit-label">
            <label>Project Url</label>
        </div>
        <div class="profile-edit-input">
            {{ form_portfolio.project_url }}
        </div>
        <div class="clear"></div>
        <div class="profile-edit-label">
            <label>Work Category</label>
        </div>

        <div class="profile-edit-input" onclick="work_category();">
            {{ form_portfolio.main_category }}
        </div>
        <div class="clear"></div>
        <div class="category_section">
            <div class="profile-edit-label">
                <label>Sub Category<span class="mandidatory_star">*</span></label>
            </div>
            <div class="profile-edit-input">
                <select class="multi_select portfolio_skill" name="sub_category">
                    {% for work_sub_category in work_sub_categories %}
                    <option value="{{work_sub_category.sub_category_title}}">{{ work_sub_category.sub_category_title
                        }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="clear"></div>
            <div class="profile-edit-label">
                <label>Skills<span class="mandidatory_star">*</span></label>
            </div>
            <div class="profile-edit-input">
                <select class="multi_select portfolio_skill" name="skills">
                    {% for skill in skills %}
                        <option value="{{skill.skill_name}}">{{skill.skill_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="clear"></div>
        <div class="save_btn_holder">
            <button type="button" class="btn-profile-edit nextBtn pull-right" onclick="addPortfolio();">Save</button>
        </div>
    </div>
</div>
<script>
     $('.multi_select').tokenize({
        displayDropdownOnFocus: true,
    });
</script>