<div id ="portfolio_table_details">
    {% if freelancer_portfolio %}
        {% for portfolio in freelancer_portfolio %}
        <div class="project_holder" id = "edit_portfolio_{{ portfolio.id }}" >
            <div class="portfolio">
                <div class = "educational-detail-button" >
                    <div class="education-editing-buttons">
                        <div class="educational-details-edit profile-edit-btn" onclick="edit_portfolio({{ portfolio.id }});" > <i class="fa fa-pencil-square-o"></i></div>
                        <div class="educational-details-delete profile-delete-btn"  onclick="deletePortfolio({{ portfolio.id }});"><i class="fa fa-trash-o"></i></div>
                    </div>
                </div>
            </div>
            <div class="portfolio_details_holder">
                <h4 class="employment-history mar-t30 "><span>{{ portfolio.project_name }}</span></h4>
                <div class="project_details">
                    <p>Project URL : <a href={{ portfolio.project_url }} >{{ portfolio.project_url }} </a></p>
                    <p>Category : {{portfolio.main_category}}</p>

                    <p>Sub Category :
                        {% for sub_categories in portfolio.sub_category.all %}
                           {{sub_categories.sub_category_title}}
                        {% endfor %}
                    </p>
                    <p>Skills :
                        {% for skill in portfolio.skills.all %}
                           {{skill.skill_name}},
                        {% endfor %}
                    </p>
                    <h4 class="employment-history mar-t30">Description</h4>
                    <div>
                        <div class="paragraph_text" >{{ portfolio.description}}</div>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="text_holder">
             No data added
        </div>
    {% endif %}
</div>