{%if data == 'open' %}
<div class="available_status_input">
    <ul class="status_list">
        <li>
            <input type="checkbox" name="status" id="available" value="available"
                   {% if user_available.status == 'available' %}
                    checked="checked"
                   {% endif %}
                   class="check_box_style" onclick="available_func();"/>
            <label for="available" class="css-label available_label_align">Available</label>
        </li>
        <li>
            <input type="checkbox" name="status" id="not_available" value="not_available"
                   {% if user_available.status == 'not_available' %}
                   checked="checked"
                    {% endif %}
                   class="check_box_style" onclick="not_available_func();"/>
            <label for="not_available" class="css-label">Not available</label>
        </li>
    </ul>
</div>
<script>
     $( document ).ready(function() {
            $("input:checkbox").change(function(){
             var group = ":checkbox[name='"+ $(this).attr("name") + "']";
               if($(this).is(':checked')){
                 $(group).not($(this)).attr("checked",false);
               }
             });
            });
</script>
{% endif %}
{%if data == 'status' %}
<div id="period_type">
    <div class="available_hide_section">
        <div class="profile_available_label">
            <span>
                <label>Period type</label>
            </span>
        </div>
        <div class="available_input">
            {{form.period}}
        </div>
        {% if form.period.value == 'weekly' %}
        <div id="avail_hours">
            <div class="available_hide_section">
                <div class="profile_available_label">
                    <span>
                        <label>Work Hours</label>
                    </span>
                </div>
                <div class="available_input">
                    {{ form.avalable_hours }}
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>

{% elif data == 'status_create' %}
    <div class="profile-edit-form-group clearfix" id="period_type">
        <div class="profile-edit-available_label profile-edit-input_label profile-label-align">
            <label>Period type</label>
        </div>
        <div class="profile-edit-available_input profile-edit-input profile-label-align">
           {{form.period}}
        </div>
         <div class="clear"></div>
        </div>

        <div id="avail_hours">
            {% if avalabile_form.period.value == 'weekly' %}
        <div class="profile-edit-form-group clearfix " >
            <div class="profile-edit-available_label profile-edit-input_label profile-label-align">
                <label>Available Hours</label>
            </div>
            <div class="profile-edit-input profile-edit-available_input" >
                {{ form.avalable_hours }}
            </div>
            <div class="clear"></div>
        </div>
            {% endif %}
        </div>


{% endif %}
{%if data == 'period' %}
        {% if step %}
            <div id="avail_hours">
                <div class="profile-edit-form-group clearfix " >
                    <div class="profile-edit-available_label profile-edit-input_label profile-label-align">
                        <label>Available Hours</label>
                    </div>
                    <div class="profile-edit-input profile-edit-available_input" >
                        {{ form.avalable_hours }}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        {% else %}
            <div id="avail_hours">
                <div class="available_hide_section" >
                  <div class="profile_available_label">
                    <span >
                        <label>Work Hours</label>
                    </span>
                </div>
                <div class="available_input">
                    {{ form.avalable_hours }}
                </div>
            </div>
        </div>
        {% endif %}
{% endif %}