<div class="client-profile-pic" id = "profile_pic" >
    {% if action == 'open' %}
        <form  role="form" id="profile_picForm" enctype="multipart/form-data">
            <div class="profile-image-edit">
                {% if user.freelancer_profile.profile_pic %}
                    <img class="img-circle-border imagePreview color_white" src="{{ user.freelancer_profile.profile_pic_thumbnail.url }}" alt="developer image" width="140px" height="135px"/>
                {% else %}
                    <img class="img-circle-border imagePreview color_white" src="/static/images/no_image.png" alt="Freelancer image" width="140px" height="135px" />
                {% endif %}
                <div class="filepicture">
                    <div><i class="fa fa-camera"></i>Change picture</div>
                    <span class="change-pic">{{freelancer_profile.profile_pic}}</span>
                </div>
            </div>
            <div class="client-basic-details ">
                <h3>{{ user.get_full_name }}</h3>
                <p>{{freelancer_profile.professional_title}}</p>
                <div class="address_holder ">
                    <div>
                        <label class="address_label">Country</label>
                        <select name="country"  id="country" onclick="country_select();">
                            <option>Select a Country</option>
                            {% for country in countries %}
                                {% if user.freelancer_profile.country.name == country.name %}
                                    <option selected="selected">{{ country.name }}</option>
                                {% else %}
                                    <option>{{ country.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <div class="clearfix"></div>
                    </div>
                    <div id="region">
                        <div >
                            <label class="address_label">Region</label>
                            <select name="region" id="region_input" onclick="region_select();">
                                {% for region in regions %}
                                    {% if user.freelancer_profile.region.name == region.name %}
                                        <option selected="selected">{{ region.name }}</option>
                                    {% else %}
                                        <option>{{ region.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div class="clearfix"></div>
                        </div>
                        <div id="city">
                            <label class="address_label">City</label>
                            <select name="city" >
                                {% for city in cities %}
                                    {% if user.freelancer_profile.city.name == city.name %}
                                        <option selected="selected">{{ city.name }}</option>
                                    {% else %}
                                        <option>{{ city.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
                <button type="button" class="btn-profile-edit nextBtn" onclick="save_profilePic();">Save</button>
            </div>
            <div class="freelancer-profile-edit-btn" onclick = "close_profilePic();">
                <i class="fa fa-ban"></i>
            </div>
            <div class="clear"></div>
        </form>
    {% endif %}
    {% if action == 'close' %}
        <div class="profile-image-edit">
            {% if user.freelancer_profile.profile_pic %}
                <img class="img-circle-border color_white" src="{{ user.freelancer_profile.profile_pic.url }}" alt="developer image" width="140px" height="135px"/>
            {% else %}
                <img class="img-circle-border color_white" src="/static/images/no_image.png" alt="Freelancer image"  width="140px" height="135px" />
            {% endif %}
        </div>
        <div class="client-basic-details">
            <h3>{{ user.get_full_name }}</h3>
            <p>{{ freelancer_profile.professional_title }}</p>
            {% if freelancer_profile.country %}
            <p class="location"><i class="fa fa-map-marker"></i>
                {{ freelancer_profile.country }}
                {% if freelancer_profile.region %}
                    | {{ freelancer_profile.region.name }}
                {% endif %}
                {% if freelancer_profile.city %}
                    |{{ freelancer_profile.city.name }}
                {% endif %}
            </p>
            {% endif %}
        </div>
        <div class="freelancer-profile-edit-btn" onclick = "edit_profilePic();">
            <i class="fa fa-pencil"></i>
        </div>
        <div class="clear"></div>
    {% endif %}
</div>
<script>
    $( document ).ready(function(){

        $("#id_profile_pic").on("change", function()
        {
            var files = !!this.files ? this.files : [];
            if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

            if (/^image/.test( files[0].type)){ // only image file
                var reader = new FileReader(); // instance of the FileReader
                reader.readAsDataURL(files[0]); // read the local file

                reader.onloadend = function(){ // set image data as background of div
                   $(".imagePreview").attr('src', this.result);
                }
            }
        });

    });

</script>
