<div class="available_contents">
    {% if user_available %}
   <ul class="availability_lang availability_section">
       <li class="tab_head">AVAILABILITY</li>
        <li>Current Status: {{user_available.status}}</li>
        {% if user_available.status == 'available' %}

            {% if user_available.avalable_hours == '168' %}
                <li>Availability : Full time (24x7) </li>
            {% else %}
                <li>Availability : {{user_available.avalable_hours}}  hrs/week</li>
            {% endif %}
        {% endif %}
        {% else %}
            <li class="text_holder">
                 Please add/edit your availability status
            </li>
        {% endif %}
   </ul>
    <ul class="availability_lang availability_section">
        <li class="tab_head">LANGUAGE</li>
        {% if request.user.freelancer_profile.language_proficiency.all %}
        <li>
            Known Languages :
            {% for language in request.user.freelancer_profile.language_proficiency.all %}
            {{ language.language_title }},
            {% endfor %}
        </li>
       {% else %}
        <li class="text_holder">
             Please add/edit your language knowledge
        </li>
       {% endif %}
    </ul>
</div>