 <div class="profile-edit-input" id="states">
    <select name="region" id="region" class="address_dropdown" onclick="region_select();">
        <option>Select a Region</option>
        {% for region in regions %}
            {% if request.user.freelancer_profile.region.name == region.name %}
                <option selected="selected">{{region.name}}</option>
            {% else %}
                <option>{{region.name}}</option>
            {% endif %}>
        {% endfor %}
    </select>
</div>