<div class="list_content">
   {% for freelancer in all_freealncers %}
    <div class="profile-list-wrapper clearfix {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">

        <div class="clientprofile-img">
            {% if freelancer.profile_pic %}
            <img src="{{ freelancer.profile_pic_thumbnail.url}}" class="client_profile_image" alt="clientprofile">
            {% else %}
                <img src="/static/images/no_image.png" class="client_profile_image" alt="clientprofile">
            {% endif %}
        </div>
        <!--<a href="{%  url 'freelancer_detail' freelancer.id %}" class="viewlist">View</a>-->
        {% if  user.is_authenticated %}
            {% for group in user.groups.all %}
                {% if group.name == "Clients" %}
                    <div class="post-a-job-profile clearfix invite-btn">
                        <button type="button" id="invite-button">Invite
                            <input type="hidden" value="{{ freelancer.slug }}" name="freelancer" id="invite-freelancer">
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="clientprofile-detail">
            <h3 class="profile-name"><a href="{%  url 'freelancer_detail' freelancer.slug %}" class=" "> {{ freelancer.user.first_name }}</a></h3>
            <!--<div class="profile-skill">
                .Net/Sharepoint/jQuery
            </div>-->
            {% if freelancer.country %}
            <div class="profile-location">
                <i class="fa fa-map-marker"></i>
                <span>
                    {{ freelancer.country }}
                    {% if freelancer.region %}
                        | {{ freelancer.region.name }}
                    {% endif %}
                    {% if freelancer.city %}
                        |{{ freelancer.city.name }}
                    {% endif %}
                </span>
            </div>
            {% endif %}
            <p> {{ freelancer.about_me|safe|truncatechars:200 }}.......</p>
            {% for skill in freelancer.skills.all %}
            <span class="expertice">{{ skill.skill_name }}</span>
            {% endfor %}
            <div class="profile-rating">
                <span class="rate-bttn"><i class="fa fa-star"></i></span>
                <span class="rate-bttn">Top Rated</span>
                {% for rate in rates %}
                {% if rate.user.id == freelancer.user.id%}
                <span class="rate-text">$ {{ rate.hourly_rate }} /hr</span>
                {% endif %}
                {%  endfor %}
                <span class="rate-text">
                    4.55
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <span class="bottom-border-color"></span>
    </div>
    {%  endfor %}
</div>