{% if page == 'profile' %}
<div class="category_section">
    <div class="profile-edit-label">
        <label>Sub Category<span class="mandidatory_star">*</span></label>
    </div>
    <div class="profile-edit-input">
        <select class="multi_select portfolio_skill" name="sub_category">
            {% for work_sub_category in sub_categories %}
            <option value="{{work_sub_category.sub_category_title}}">{{work_sub_category.sub_category_title}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="clear"></div>
    <div class="profile-edit-label">
        <label>Skills<span class="mandidatory_star">*</span></label>
    </div>
    <div class="profile-edit-input">
        <select class="multi_select portfolio_skill" name="skills">
            {% for skill in skills %}
            <option value="{{skill.skill_name}}">{{skill.skill_name}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% else %}
<div class="category_holder">
    <div class="profile-edit-form-group sub_category_container clearfix">
        <div class="profile-edit-label">
            <label>Sub Categories<span class="mandidatory_star">*</span></label>
        </div>
        <div class="profile-edit-input ">
            <select class="multi_select category_dropdown" name="sub_category">
               {% for category in sub_categories %}
                <option value="{{category}}">{{category}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="profile-edit-form-group skill_add">
        <div class="profile-edit-label">
            <label>Skills<span class="mandidatory_star">*</span></label>
        </div>
        <div class="skill_container">
            <div class="profile-edit-input">
                <select class="multi_select portfolio_dropdown" name="skills">
                    {% for skill in skills %}
                    <option value="{{skill.id}}">{{skill.skill_name}}</option>
                    {% endfor %}
                </select>
                <div class="clear"></div>
            </div>
            <div class="add_skill_container">
                <div class=" pull-right icon_btn" id="" onclick="add_skill_form();">
                    <i class="fa fa-plus-square"></i>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>


{% endif %}
<script>
    $('.multi_select').tokenize({
        displayDropdownOnFocus: true,
    });
</script>