{% extends 'base.html' %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-white.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
        {% block content %}

            <section class="clearfix">
            <div class="registration-logo-holder">
                <div class="headline-wrapper">
                    <div class="content">
                        <span class="headline">Successfully registered </span>

                    </div>
                </div>
            </div>
        </section>
        <section class="theme-section">
            <div class="content">
                <div class="theme-wraper clearfix">
                    <div class="">
                        <h2>Your account is activated</h2>
                        <p class="registeration-text">Please login here
                            <a href="{% url 'Login' %}"><span class="btn-black btn-normal">LOGIN</span></a>
                        </p>
                        <!--<button type="button" class="btn-blue btn-lg">Read More <i class="fa fa-long-arrow-right"></i></button>-->
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}

        {% block extra_js %}
            <script>
            $( document ).ready(function() {
                $('.signup-tab1').show();
            });

            $(document).on('click', '.signup-tabs li', function (event) {
                    $('.signup-tabs li').removeClass('active');
                    $(event.target).addClass('active');
                    if ($(".signup-tabs li:first").hasClass('active')){
                        $('.signup-tab1').addClass('active');
                        $('.signup-tab1').show();
                        $('.signup-tab2').hide();
                        if ($('.signup-tab2').hasClass('active')){
                            $('.signup-tab2').removeClass('active');
                        }
                    }
                    if ($(".signup-tabs li:last").hasClass('active')){
                        $('.signup-tab2').addClass('active');
                        $('.signup-tab2').show();
                        $('.signup-tab1').hide();
                        if ($('.signup-tab1').hasClass('active')){
                            $('.signup-tab1').removeClass('active');
                        }
                    }
                });
            </script>
        {% endblock %}