<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <p>

            You (or someone pretending to be you) have asked to register an account at
            {{ site_name }}.  If this wasn't you, please ignore this email
            and your address will be removed from our records.

        </p>
        <p>

                To activate this account, please click the following link within the next
                {{ expiration_days }} days:
        </p>

        <p>
            <a href="http://0.0.0.0:8000{% url 'registration_activate' activation_key %}">
                <!--{{site.domain}}{% url 'registration_activate' activation_key %}-->
            </a>
        </p>
    </body>
</html>