<!DOCTYPE html>
<html>
<head>
	<title>Atlancer |  Password reset done</title>
	<!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width" />
    <!-- meta tags ends -->
    <link rel="stylesheet" type='text/css' href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css" />
</head>
<body class="login-bg-color">
<div id="blanket" class="bg-transparent"></div>
	<div class="login-container clearfix">
		<div class="logo-holder">
	        <a href="{%  url 'IndexView' %}"> <img  class="logo-img" src="/static/images/logo-white.png" alt="Atlancer"/></a>
	        <p class="login-text">We work with the motive to help individuals and companies advertise their
                    jobs and find the best in class developers.</p>
            <div class="title-container">
	        	<h1 class="txt-center">Password Reset</h1>
	        </div>
	    </div>
        <div class="reset_password_style">

            <div class="logo-holder clearfix">
                <p class="login-text">We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
                <p>You should be receiving it shortly.</p>
                <a href="{% url 'IndexView' %}" >Home..</a>
            </div>
        </div>
    </div>
</body>
</html>