<!DOCTYPE html>
<html>
<head>
	<title>Atlancer | Change password</title>
	<!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width" />
    <!-- meta tags ends -->
    <link rel="stylesheet" type='text/css' href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css" />
</head>
<body class="login-bg-color">
<div id="blanket" class="bg-transparent"></div>
	<div class="login-container clearfix">
		<div class="logo-holder">
	        <a href="{%  url 'IndexView' %}"> <img  class="logo-img" src="/static/images/logo-white.png" alt="Atlancer"/></a>
	        <p class="login-text">We work with the motive to help individuals and companies advertise their
                    jobs and find the best in class developers.</p>
            <div class="title-container">
	        	<h1 class="txt-center">Change password</h1>
	        </div>
	    </div>
        <div class="logo-holder clearfix">
            <div class="login-form-wraper">
            {% if validlink %}
                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    <ul class="login-form clearfix">
                        <li class="username">
                            <span class="fa fa-unlock-alt place-holder"></span>
                            <input id="id_new_password1" name="new_password1" type="password" placeholder=" new password" class="inp-login btn-full-width">
                            {{form.new_password1.errors}}
                        </li>
                         <li class="username">
                            <span class="fa fa-unlock-alt place-holder"></span>
                            <input id="id_new_password2" name="new_password2" type="password" placeholder=" Re-enter new password" class="inp-login btn-full-width">
                            {{form.new_password2.errors}}
                        </li>
                    </ul>
                    <div>
                        <input type="submit" class="btn-off-black btn-normal full-width btn_blue" value="Change my password" />
                    </div>

                    <!--<table>
                        <tr>
                            <td>{{ form.new_password1.errors }}
                                <label for="id_new_password1">New password:</label></td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.errors }}
                                <label for="id_new_password2">Confirm password:</label></td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" class="btn-off-black btn-normal full-width btn_blue" value="Change my password" /></td>
                        </tr>
                    </table>-->


                </form>
            {% else %}
                <h1>Password reset unsuccessful</h1>
                <p>The password reset link was invalid, <br />
                possibly because it has already been used. <br />
                Please request a new password reset.</p>
            {% endif %}
            </div>
        </div>
    </div>
    </body>
</html>