<!DOCTYPE html>
<html>
<head>
	<title>Atlancer | Password change success</title>
	<!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width" />
    <!-- meta tags ends -->
    <link rel="stylesheet" type='text/css' href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css" />
</head>
<body class="login-bg-color">
<div id="blanket" class="bg-transparent"></div>
	<div class="login-container clearfix">
		<div class="logo-holder">
	        <a href="{%  url 'IndexView' %}"> <img  class="logo-img" src="/static/images/logo-white.png" alt="Atlancer"/></a>
	        <p class="login-text">We work with the motive to help individuals and companies advertise their jobs
                and find the best in class developers.</p>
            <div class="title-container">
	        	<h1 class="txt-center">Password Changed</h1>
	        </div>
	    </div>
<div class="logo-holder clearfix">
    <div class="reset_password_style">
    {% block title %}Password reset complete{% endblock %}

    {% block content %}
    <p>Your password has been set.  You may go ahead and log in now.</p>
    <p class="login-text"><a class="btn-off-black btn-normal btn-signin btn_blue" href="{{ login_url }}">Log in</a></p>
    {% endblock %}
    </div>
</div>
</div>
</body>
</html>