<!DOCTYPE html>
<html>
<head>
	<title>Atlancer | Forgot password</title>
	<!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width" />
    <!-- meta tags ends -->
    <link rel="stylesheet" type='text/css' href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css" />
</head>
<body class="login-bg-color">
<div id="blanket" class="bg-transparent"></div>
	<div class="login-container clearfix">
		<div class="logo-holder">
	        <a href="{%  url 'IndexView' %}"> <img  class="logo-img" src="/static/images/logo-white.png" alt="Atlancer"/></a>
            <p class="login-text">We work with the motive to help individuals and companies advertise their jobs
                and find the best in class developers.</p>
	        <div class="title-container">
	        	<h1 class="group-header txt-center">Forgot Password?</h1>
	        </div>
	    </div>
        <!--<div class="">-->
            <div class="login-form-wraper">
                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" class="inp-login btn-full-width" name="csrfmiddlewaretoken">
                    </div>
                     {{ form.email.errors }}
                    <ul class="login-form clearfix">
                        <li class="username">
                            <span class="fa fa-envelope place-holder"></span>
                            <input id="id_email" maxlength="254" name="email" type="email" placeholder="Please enter your email" class="inp-login btn-full-width" >
                            {{form.email.errors}}
                        </li>
                    </ul>
                     <!--<div>   {{ form.email }} </div>-->

                    <div class="clear"></div>
                    <div><input type="submit" class="btn-off-black btn-normal full-width btn_blue" value="Reset password" /></div>
                </form>

            </div>
        <!--</div>-->
    </div>
</body>
</html>