{% extends 'base.html' %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-white.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
{% load compress %}
    {% block content %}
        <section class="clearfix">
            <div class="registration-logo-holder">
                <div class="headline-wrapper">
                    <div class="content">
                        <span class="headline">Register Now</span>
                        <span class="registeration-text">Already have an account? <a href="{% url 'Login' %}" > Log In</a></span>
                    </div>
                </div>
            </div>
        </section>
<!-- display the registration form of the user starting-->
        <section>
            <div class="registration-container">
                <div class="content">
                    <div class="signup-container">
                        <div class="signup-box">
                            <div class="signup-tab ">
                                <ul class="signup-tabs">
                                    <li {% if 'hire' in request.path or 'work' not in request.path %} class="active" {% endif %}>I want to Hire</li>
                                    <li {% if 'work' in request.path %} class="active" {% endif %}>I want to Work</li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="signup-form">
                                <div class="signup-tab1 active">
                                    <form method="post" action="." id="registeruserform">
                                        {% csrf_token %}
                                        <div style="display:none">
                                            <input value="client" type="hidden" name="group" id="group" />
                                        </div>
                                        <div>
                                            {{form.first_name.errors}}
                                            <label>FIRST NAME</label>
                                            <div>{{form.first_name}}</div>
                                        </div>
                                        <div>
                                            {{form.last_name.errors}}
                                            <label>LAST NAME</label>
                                            <div>{{form.last_name}}</div>
                                        </div>
                                        <div>
                                            {{form.email.errors}}
                                            <label>EMAIL ADDRESS</label>
                                            <div>{{form.email}}</div>
                                        </div>
                                        <div>
                                             {{form.username.errors}}
                                             <label>USERNAME</label>
                                             <div>{{form.username}}</div>
                                        </div>
                                        <div>
                                            {{form.password1.errors}}
                                            <label>PASSWORD</label>
                                            <div>{{form.password1}}</div>
                                        </div>
                                        <div>
                                            {{form.password2.errors}}
                                            <label>CONFIRM PASSWORD</label>
                                            <div>{{form.password2}}</div>
                                        </div>
                                        <!--<div>-->
                                            <!--{{form.captcha.errors}}-->
                                            <!--<label>CAPTCHA</label>-->
                                        <!--</div>-->
                                        <!--<input type="submit" class="btn-green btn-normal btn-full-width" value="SUBMIT" onclick="registerUser();" />-->
                                        <button type="button" class="submit-btn pull-right" onclick="registerUser();">SUBMIT</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="signup-text-container">
                            <div class="signup-text">
                                <div class="online-job">
                                    <h3>Hire and Find Freelance Jobs Online</h3>
                                    <p>
                                        Django team is one of the most popular django freelancer jobsite in online. Django team is a souk for top django developers, engineers, programmers, coders, architects and consultants. It is a place for employers and freelancer to connect, collaborate and get work done.
                                    </p>
                                    <p>
                                        It provides businesses with the tools to find and hire talented freelancers all over the world, and also offer freelancers the opportunity to market sought-after skills to a global audience for a nominal cost.
                                    </p>
                                </div>
                                <div class="work-history">
                                <h4>Work History</h4>
                                    <p>100% job Success</p>
                                    <p>1,308 hours worked</p>
                                    <p>6 jobs</p>
                                </div>
                                <div class="availability">
                                <h4>Availability</h4>
                                    <p>Available</p>
                                    <p>As needed-Open to Offers</p>
                                    <p>24 hrs response time</p>
                                </div>
                                <div class="search-for-others">
                                    <form id="search-others-reg" method="GET" action="{% url 'Register' 'hire' %}">
                                        <label>SearchForOthers</label>
                                        <input type="text" id="search-for-others" name="q" size="21" maxlength="120">
                                    </form>
                                </div>
                                <div class="post-a-job">
                                    <button  type="button" onclick="location.href = '{% url 'post-job' %}';" class="submit-btn">Post A Job</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-backdrop-loader fade in"></div>
                <div class="sk-cube-grid">
                    <img src="/static/images/loaders/Loading1.gif" class="loader_img" />
                </div>
                <div class="clearfix"></div>

            </section>
<!--end of user registration-->
    {% endblock %}
    {% block extra_js %}
    <script>
    // makes sure the whole site is loaded
        jQuery(window).load(function() {
        // will first fade out the loading animation
        jQuery("#status").fadeOut(9000);
        // will fade out the whole DIV that covers the website.
        jQuery("#preloader").delay(5000).fadeOut("slow");
    })
    <!-- code to clear textarea section -->
    $( document ).ready(function() {
        $('.signup-tab1').show();
        $('.signup-tabs li:last-child').click(function() {
            $(".error").remove();
            $(".inputbox").val("");
        });
        $('.signup-tabs li:first-child').click(function() {
            $(".error").remove();
            $(".inputbox").val("");
        });
    });
    <!-- freelancer and client selecting code-->
    $(document).on('click', '.signup-tabs li', function (event) {
        $('.signup-tabs li').removeClass('active');
        $(event.target).addClass('active');
        if ($(".signup-tabs li:first").hasClass('active')){
           $('#group').val('client');
        }
        if ($(".signup-tabs li:last").hasClass('active')){
            $('#group').val('freelancer');
        }
    });

    <!-- ajax code to handle user registration -->
    function registerUser(){
        $(".error").hide()
        var data = $('#registeruserform').serialize();
        $.ajax({
            url: "{% url 'Register' 'hire' %}",
            type: 'POST',
            data: data,
            beforeSend: function() {
              loaderShow();
            },
            success: function (return_data)
             {
                loaderHide();
                if (return_data.status==false){
                    var $inputs = $('#registeruserform :input');
                        $.each(return_data.errors, function (name, value) {
                            $inputs.each(function (index, dom) {
                                current_name = dom.name;
                                if (current_name == name) {
                                    var $error_section = $(this).closest("div");
                                    var $error_duration = $("<div class='error'>Error! " + value + "</div>").insertBefore($error_section).css("color", "red");
                                    $error_duration.show();
                                    $error_duration.delay(5500).hide(500);
                                }
                            });
                        });

                }
                else{
                    $(window).scrollTop($(document).height(0));
                    $('#registeruserform').trigger("reset");
                    $('.succes_message').show();
                     window.location.href = "{% url 'signup_success'%}";
                     loaderHide();
                }
             },
        });
    }
    </script>
    {% endblock %}
