{% extends 'base.html' %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
{% block title %}Active freelancer{% endblock %}
    {% block content %}

<!-- display the registration form of the user starting-->
        <section>
            <p class="succes_message">You have succesfully registered.Please check your mail.</p>
            <div class="registration-container">
                <div class="content">
                    <div class="signup-container">
                        <div class="signup-box">
                            <div class="signup-tab signup-head ">
                                <ul class="signup-tabs ">
                                    <li class="active ">I want to Hire</li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="signup-form">
                                <div class="signup-tab1 active">
                                    <form method="post" action="." id="registeruserform">
                                        {% csrf_token %}

                                        <div class="switch-top-align">
                                            <div class="profile-edit-label">
                                                <label>Company Name</label>
                                            </div>
                                            <div class="profile-edit-input">
                                                {{ form.company }}
                                                {{ form.company.errors }}
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="switch-top-align">
                                            <div class="profile-edit-label">
                                                <label>Address</label>
                                            </div>
                                            <div class="profile-edit-input">
                                                {{ form.company_address }}
                                                {{ form.company_address.errors }}
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="switch-top-align">
                                            <div class="profile-edit-label">
                                                <label>Phone No</label>
                                            </div>
                                            <div class="profile-edit-input">
                                                {{ form.phone_number }}
                                                {{ form.phone_number.errors }}
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="switch-top-align">
                                            <div class="profile-edit-label">
                                                <label>Website</label>
                                            </div>
                                            <div class="profile-edit-input">
                                                {{ form.website }}
                                                {{ form.website.errors }}
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <button type="submit" class="submit-btn pull-right">SUBMIT</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="signup-text-container">
                            <div class="signup-text">
                                <div class="online-job">
                                    <h3>Hire and Find Freelance Jobs Online</h3>
                                    <p>
                                        Atlancer is one of the most popular django freelancer jobsite in online. Django team is a souk for top django developers, engineers, programmers, coders, architects and consultants. It is a place for employers and freelancer to connect, collaborate and get work done.
                                    </p>
                                    <p>
                                        It provides businesses with the tools to find and hire talented freelancers all over the world, and also offer freelancers the opportunity to market sought-after skills to a global audience for a nominal cost.
                                    </p>
                                </div>
                                <div class="work-history">
                                <h4>Work History</h4>
                                    <p>100% job Success</p>
                                    <p>1,308 hours worked</p>
                                    <p>6 jobs</p>
                                </div>
                                <div class="availability">
                                <h4>Availability</h4>
                                    <p>Available</p>
                                    <p>As needed-Open to Offers</p>
                                    <p>24 hrs response time</p>
                                </div>
                                <div class="search-for-others">
                                    <form id="search-others-reg" method="POST" action="">
                                        <label>SearchForOthers</label>
                                        <input type="text" id="search-for-others" name="q" size="21" maxlength="120">
                                    </form>
                                </div>
                                <div class="post-a-job">
                                    <button  type="button"  class="submit-btn">Post A Job</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
<!--end of user registration-->
    {% endblock %}
    {% block extra_js %}
    <script>

        <!--*****************Work Category save*************-->
            function category_save(){
                var data =  $('#work_category').serialize();
                $.ajax({
                    url: "{% url 'working_category' %}",
                    type: 'POST',
                    data:data,
                    success: function (response) {
                        if (response.status==true)
                        {
                            alert("Success");
                        }
                    },
                    error:function(xhr,status,error)
                    {
                        alert("error sorry !!!!!!!!");
                    }
                });
            }

        <!--************************* Freelance image change *************************************-->
        function removeProfile_pic(){
                $("#edit :input").val('');
                $("#imagePreview").removeAttr('style');

        }
        $(function() {
            $("#id_profile_pic").on("change", function()
            {
                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                if (/^image/.test( files[0].type)){ // only image file
                    var reader = new FileReader(); // instance of the FileReader
                    reader.readAsDataURL(files[0]); // read the local file

                    reader.onloadend = function(){ // set image data as background of div
                        $("#imagePreview").css("background-image", "url("+this.result+")");
                    }
                }
            });
        });

        $( document ).ready(function() {
            $('.signup-tab1').show();

        });
    </script>
    {% endblock %}
