<div class="profile_formSection certficationFormSection">
    <form role="form" id="CertificationForm" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="certification_action" id="certification_action" value="add_certification">
        <div class="profile-edit-rate-level">
            <h3 class="profile-experience sub_head_create">Certification</h3>
            <p class="profile-accordian"><span><i id="certification-open-add" class="fa fa-plus-circle"></i></span><span class="box_label_align">Add Certification</span></p>
            <div class="profile-accordian-details">
                <div class="certification_form">
                    <div class="profile-edit-rate-level CertficationFormContainer">
                        <div class="profile-edit-form-group clearfix">
                            <div class="profile-edit-label profile-label-align">
                                <label>Certification name</label>
                            </div>
                            <div class="profile-edit-input">
                                {{ form_certifications.certificate_name }}
                            </div>
                             <div class="clear"></div>
                        </div>
                        <div class="profile-edit-form-group clearfix">
                            <div class="profile-edit-label profile-label-align">
                                <label>Issued by</label>
                            </div>
                            <div class="profile-edit-input">
                                {{ form_certifications.issued_by }}
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="profile-edit-form-group clearfix">
                            <div class="profile-edit-label profile-label-align">
                                <label>Certification</label>
                            </div>
                            <div class="profile-edit-input">
                                <input id="id_certificate" name="certificate" type="file" onchange="readURL(this);">
                                {% if certificate_instance.certificate %}
                                <span><img src="{{certificate_instance.certificate_thumbnail.url}}" id="current_certificate"></span>
                                {% else %}
                                <span><img src="" id="current_certificate"></span>
                                {% endif %}
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <button type="button" class="btn-company-save save_certification_add" onclick = "addCertification();">Save</button>
                    <button type="button" class="btn-company-save save_n_add" onclick = "Save_addCertification();">Save & add</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#current_certificate').attr('src', e.target.result);
                $('#current_certificate').show();;
            }

            reader.readAsDataURL(input.files[0]);
        }
    }


</script>