<div class="profile_formSection educationFromContainer">
    <form role="form" id="EducationForm">{% csrf_token %}
        <input type="hidden" name="education_action" id="education_action" value="add_education">
        <div class="profile-edit-rate-level">
            <h3 class="profile-experience sub_head_create">Education Details</h3>
            <p class="profile-accordian"><span><i id ="education-open-add" class="fa fa-plus-circle"></i><span class="box_label_align">Add your Education Details</span></span></p>
            <div class="profile-accordian-details">
                <div class="profile-edit-form-group EducationFormContainer">
                    <div class="profile-edit-rate-level form_align_company education_form_align">
                        <div class="profile-edit-label profile-edit-education">
                            <label>Institution Name</label>
                        </div>
                        <div class="eduction_input profile-edit-input profile-edit-education-input">
                            {{form_education.institution_name}}
                        </div>
                        <div class="clear"></div>
                        <div>
                            <span class="profile-edit-label profile-edit-education">
                                <label>Enrollment Date</label>
                            </span>
                            <div class="eduction_date_input profile-edit-input-date">
                                {{form_education.enrollment_date}}
                            </div>
                            <span class="profile-edit-label-date">
                                <label>Degree</label>
                            </span>
                            <div class="profile-edit-input-date">
                                {{form_education.degree}}
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                        <div class="profile-edit-label profile-edit-education">
                            <label>Area of study</label>
                        </div>
                        <div class="eduction_input profile-edit-input  profile-edit-education-input">
                            {{form_education.area_of_study}}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <button type="button" class="btn-company-save save_education_add" onclick="addEducationDetails();">Save</button>
                <button type="button" class="btn-company-save  save_n_add" onclick="addSaveEducationDetails();">Save & add</button>
                <div class="clear"></div>
           </div>
        </div>
    </form>
</div>