<div class="profile_formSection experienceFormContainer">

    <form role="form" id="registerExperienceForm">{% csrf_token %}
        <input type="hidden" name="employment_action" id="employment_action" value="add_history">

        <div class="profile-edit-rate-level">
            <h3 class="profile-experience sub_head_create">Employment History</h3>

            <p class="profile-accordian"><span><i id="employee-open-add" class="fa fa-plus-circle"></i><span
                    class="box_label_align">Add your Employment History (Optional)</span></span></p>

            <div class="profile-accordian-details">
                <div class="profile-edit-form-group ">
                    <div class="profile-edit-rate-level form_align_company FormContainer">
                        <div class="profile-edit-label company_details">
                            <label>Company</label>
                        </div>
                        <div class="employement_input profile-edit-input profile-edit-rate-input"
                             id="normal-Company-section">
                            <span class="profile-add " id="addCompany"><i class="fa fa-plus-circle "></i></span>
                            <input type="text" id="search-box" value="{{company_name}}" autocomplete="off" name="company_name"/>

                            <div id="suggesstion-box"></div>
                            <div style="display:none">
                                <input id="autocomplete2-value" type="text" name="code"/>
                            </div>
                        </div>
                        <div class="profile-edit-input" id="add-Company-section">
                            <span class="profile-close" id="close-Company">New Company <i class="fa fa-times "></i></span>
                            <span class="profile-add " id="add-Company" onclick="company_add();"><i
                                    class="fa fa-plus-circle "></i></span>
                            <input type="text" id="company_name_add"/>
                        </div>
                        <div class="clear"></div>
                        <div class="profile-edit-label company_details">
                            <label>Location</label>
                        </div>
                        <div class="employement_input profile-edit-input profile-edit-rate-input">
                            {{ form_employment.location }}
                        </div>
                        <div class="clear"></div>
                        <div class="profile-edit-label company_details">
                            <label>Role</label>
                        </div>
                        <div class="employement_input profile-edit-input profile-edit-rate-input">
                            {{ form_employment.role }}
                        </div>
                        <div class="clear"></div>
                        <div class="date_container">
                                <span class="profile-edit-label company_details">
                                    <label>Start Date</label>
                                </span>

                            <div class="profile-edit-input-date profile-edit-rate-date">
                                {{ form_employment.start_date }}
                            </div>
                                <span class="profile-edit-label-date">
                                    <label>End Date</label>
                                </span>

                            <div class="profile-edit-input-date">
                                {{ form_employment.end_date }}
                            </div>

                            <div class="clear"></div>
                        </div>
                        <div class="profile-edit-label company_details">
                            <label>Description</label>
                        </div>
                        <div class="employement_input profile-edit-input profile-edit-rate-input">
                            {{ form_employment.description }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <button type="button" class="btn-company-save save_history_add" onclick="registerEmploymentHistory();">Save</button>
                    <button type="button" class="btn-company-save save_n_add" onclick="addEmploymentHistory();">Save & Add</button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    //***************************Cancel Edit***************************

</script>