<div class="profile_formSection portfolio_sec">
    <form role="form" id="addPortfolioForm" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="portfolio_action" id="portfolio_action" value="add_portfolio">
        <div class="profile-edit-rate-level">
            <h3 class="profile-experience sub_head_create">Portfolio</h3>
            <p class="profile-accordian"><span><i id="Portfolio-open-add" class="fa fa-plus-circle"></i></span><span class="box_label_align">Add Portfolio</span></p>
            <div class="profile-accordian-details ">
                <div class="profile-edit-rate-level PortfolioFormContainer">
                    <div class="profile-edit-form-group">
                        <div class="profile-edit-label">
                            <label>Project name</label>
                        </div>
                        <div class="profile-edit-input">
                            {{ form_portfolio.project_name }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="profile-edit-form-group">
                        <div class="profile-edit-label">
                            <label>Description</label>
                        </div>
                        <div class="profile-edit-input">
                            {{ form_portfolio.description }}
                        </div>
                        <div class="clear"></div>
                    </div>
                     <div class="profile-edit-form-group">
                        <div class="profile-edit-label">
                            <label>Work Category</label>
                        </div>
                        <div class="profile-edit-input portfolio_category_align" onclick="work_category('portfolio');">
                            {{ form_portfolio.main_category }}

                        </div>
                    </div>
                    <div class="category_holder ">
                        <div class="profile-edit-form-group">
                            <div class="profile-edit-label">
                                <label>Sub Category</label>
                            </div>
                            <div class="profile-edit-input">
                                    <select  class="multi_select portfolio_dropdown " name="sub_category"  multiple="multiple">
                                    {% for sub_category in portfolio_instance.sub_category.all %}
                                        <option selected="selected" value="{{sub_category}}">{{sub_category.sub_category_title}} </option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                        <div class="profile-edit-form-group">
                            <div class="profile-edit-label">
                                <label>Skills</label>
                            </div>
                            <div class="profile-edit-input">
                            <select class="multi_select portfolio_dropdown " name="skills"  multiple="multiple">
                                    {% for skill in portfolio_instance.skills.all %}
                                        <option selected="selected" value="{{skill.id}}">{{skill.skill_name}} </option>
                                    {% endfor %}
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="profile-edit-form-group">
                        <div class="profile-edit-label">
                            <label>Project Url</label>
                        </div>
                        <div class="profile-edit-input">
                            {{ form_portfolio.project_url }}
                        </div>
                    </div>

                     <div class="clear"></div>
                </div>
                <button type="button" class="btn-company-save save_portfolio_add " onclick="addPortfolio();" >Save</button>
                <button type="button" class="btn-company-save save_n_add" onclick="addSavePortfolio();" >Save & add</button>
                <div class="clear"></div>
            </div>
        </div>
    </form>
</div>
<!--
<script>
    $('.multi_select').tokenize({
        displayDropdownOnFocus: true,
    });
</script>-->
