{% extends 'base.html' %}
{% block extra_css %}
<link rel="stylesheet" type='text/css' href="../../../static/css/toggle-switch.css"/>
 {% endblock %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
{% block title %}contract list{% endblock %}
    {% block content %}
<div class="clearfix sub-heading-search">
        <div class="content">
            <h2 class="inner-page-heading pull-left">Contract list</h2>
        </div>
    </div>
    <div class="content">
        <div class="content">
        <div class="left-column">
            <div class="search_filter">
                <div class="leftHead">
                    <h3>All Contracts</h3>
                </div>
                <div class="rightFilter">
                    <form class="searchContract">
                        <input type="text" name="search" id="search">
                        <input type="button" value="SEARCH" onClick="Filter()">
                    </form>
                    <div class="filterContract" id="filterToggle">
                        <p>Filter<span ><i class="fa fa-angle-up"></i></span></p>
                    </div>
                </div>

            </div>
            <div class="filterSection">
                    <div class="filterOption">
                        <select class="select_status " id="status" onChange="Filter()">
                            <option value="">Select Status</option>
                            <option  value="Pending">Pending</option>
                            <option  value="Approved">Approved</option>
                            <option  value="Cancelled">Cancelled</option>
                            <option  value="Completed">Completed</option>
                        </select>
                    </div>
                    <div class="filterOptionDate">

                        <form>
                             <div class="startdate">
                                  <span class="dateText">Start Date</span><input class="txtDate datepicker " id="startdate" type="text" name="start_date"/>
                             </div>
                        </form>
                    </div>
                    <div class="filterOptionDate">
                        <form>
                             <div class="enddate">
                                <span class="dateText">End Date</span><input class="txtDate datepicker"  type="text" name="end_date"/>
                             </div>
                        </form>
                    </div>
                    <div class="filterOptionBtn">
                        <button onClick="Filter()">GO</button>
                    </div>
                </div>
            <div class="contracts list">

                {% for contract in contracts %}
                    <div class="contract_list {{ contract.status | lower }}_contract">
                        <a href="{% url 'freelancer_contract' contract.client_job.slug contract.client_profile.slug %}"><p>{{ contract.job_title }}.</a><span>{{ contract.status }}</span></p>
                    </div>
                    {% empty %}

                    <div class="contract_list pending_contract">
                        <p>No Items yet.<span></span></p>
                    </div>

                {% endfor %}

            </div>
        </div>
       <div class="right-column">
             <p><a href="">Donec in porttitor sapien.</a></p>
        </div>
        <div class="clearfix"></div>
    </div>

    </div>
{% endblock %}
{% block extra_js %}
<script>
$(document).ready(function() {
    $(".datepicker").datepicker();
    $("#filterToggle").click(function(){
        $( ".filterSection").slideToggle( "slow" );
    });

});
function Filter(){
        var status =$("#status").val();
        startdate =$("#startdate").val();
        search =$("#search").val();

        $.ajax({

			 url: '/hire/contracts/',
			 type: 'POST',
			 dataType: 'json',
             data:{status:status,startdate:startdate,search:search,csrfmiddlewaretoken: '{{ csrf_token }}'},
			 success: function (result) {
			 console.log(result);
             $(".list").html('');
             $(".list").html(result.html);
             }
	   });
}

</script>
{% endblock %}