{% extends 'base.html' %}
{% block extra_css %}
<link rel="stylesheet" type='text/css' href="/static/css/toggle-switch.css"/>
 {% endblock %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
{% block title %}Hire freelancer{% endblock %}
    {% block content %}
    <div class="clearfix sub-heading-search">
        <div class="content">
            <h2 class="inner-page-heading pull-left">Contract</h2>
        </div>
    </div>
    <div class="content">
        <div class="tw_col_flexible pull-left">
            <div class="tw_col_flexible_holder">
                <div class="job_title_container job_edit_holder hire_edit">
                    <h3>{{ hire.job_title }} <span class="job-id">( Job id: {{ hire.job_number }} )</span></h3>
                    <div class="bottom_border"></div>
                </div>
                <div class="hire_company_details">
                     <input type="hidden" name="" class="change_made_client" value="{{ hire.change_made_client }}">
                     <input type="hidden" class="hire_id" name="hire_id" value="{{ hire.id }}">
                     <input type="hidden" class="job_id" name="job_id" value="{{ hire.client_job.id }}">
                     <input type="hidden" class="freelancer_id" name="freelancer_id" value="{{ hire.freelancer_profile.id }}">
                    <div class="hire_company_log pull-left">
                         {% if hire.client_profile.profile_pic %}
                        <img src="{{ hire.client_profile.profile_pic_thumbnail.url }}"/>
                        {% else %}
                         <img src="/static/images/no_image.png" alt="clientprofile" class="img-circle-border color_white imagePreview">
                        {% endif %}
                    </div>
                    <div class="pull-left company_container">
                        <div  class="contact_name">
                            <h3>{{ hire.client_profile.user }} </h3>
                        </div>
                        <div  class="company">{{ hire.client_profile.company }}</div>
                        <div  class="rate_review">
                            <div  class="pull-left">
                                <div class="rating">
                                    <div class="rate_val">4.5</div>
                                    <div class="star_rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div  class="pull-left">
                                <div class="review_container">
                                    <p>128 Reviews</p>
                                </div>
                                 <div class="clearfix"></div>
                            </div>
                             <div class="clearfix"></div>
                        </div>
                        <!-- Contrary to popular belief, Lorem Ipsum is not-->
                       <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="hire_sub_head hire_edit">
                    <h4>Description</h4>
                </div>
                <div class="txt-justify job_description_holder">
                   {{ hire.job_description }}
                </div>
                <div class="hire_sub_head hire_edit">
                    <h4>Switch Rate </h4>
                </div>
                <div class="">
                    <div class="switch_container">
                        <div class="switch_container_tab">
                            <label class="switch-light switch-candy switch-candy-blue" onclick="">
                                <input type="checkbox" onclick="return false;" class="switch_box" {% if  hire.payment_type  = "Hourly" %}checked{% endif %}>
                                <span class="">
                                    <span>Fixed</span>
                                    <span>Hourly</span>
                                    <a></a>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="payment" >
                        {% if  hire.payment_type  = "Hourly" %}
                        $ <span class="job_hour_rate">{{ hire.payment }}</span> Per Hour
                        {% else %}
                            $ <span class="job_sum">{{ job_sum }}</span>  Per Job
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="hire_sub_head hire_edit">
                    <h4>Weekly availability in hours</h4>
                </div>
                <p>50 Hrs Per Week</p>
                <div class="hire_sub_head milestone_add">
                    <h4>Milestone</h4>
                </div>
                <div class="hire_milestone_holder">
                     {% include 'ajax/freelancer_contract_milestone_list.html' %}
                </div>
                <div class="hire_request_btn_holder">
                    <button type="submit" class="hire_request_btn contract_agree">Agree Contract</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="tw_col_fixed pull-left">
            <h3 class="txt-center">Freelancer profile</h3>
            <div class="hire_profile_img">
                {% if hire.freelancer_profile.profile_pic %}
                <img class="img-circle-border color_white imagePreview" src="{{ hire.freelancer_profile.profile_pic_thumbnail.url }}" alt="developer image" id="pic">
                {% else %}
                 <img src="/static/images/no_image.png" alt="clientprofile" class="img-circle-border color_white imagePreview">
                {% endif %}
            </div>
            <h3 class="txt-center">
                <a>{{ hire.freelancer_profile.user }}</a>
            </h3>
            <h3 class="gray_font txt-center">
                {{ hire.freelancer_profile.professional_title }}
            </h3>
            <div class="freelancer_rating">
                <div class="column-left data">
                    <div class="freelancer_info">
                        <h3>40</h3>
                        <p>Rank</p>
                    </div>
                </div>
                <div class="column-center data">
                    <div class="freelancer_info">
                        <h3>40</h3>
                        <p>Project</p>
                    </div>
                </div>
                <div class="column-right data">
                    <div class="freelancer_info">
                        <h3>40</h3>
                        <p>Reputation</p>
                    </div>
                </div>
                <button type="submit" class="blue_btn ">View Complete Profile</button>
            </div>
        </div>
    </div>
    <div class="modal_change_request_holder">

    </div>
    <div class="modal-backdrop  in"></div>


    {% endblock %}
    {% block extra_js %}

     <script>



    function rateChangeRequest(id){
        var hire_id = $('.hire_id').val();
        var milestone_id = id;
        $.ajax({
            url: "{% url 'add_edit_hire' %}",
            type: 'POST',
            data: {'action':'change_request','hire_id':hire_id, 'id':milestone_id},
            beforeSend: function() {
              loaderShow();
            },
            success: function (response_data)
             {
                 if (response_data.status==true)
                    {
                        $('.modal_change_request_holder').replaceWith(response_data.html_content);
                        $('.milestone_change_request_modal').show();
                        $('.modal-backdrop').show();
                        loaderHide();
                    }

             },
             errors:function (return_data){ console.log("Error");}
        });
    }
    // ***********  change request save ************
    $(document).on('click','.rateChangeBtn',function() {
        var hire_id = $('.hire_id').val();
        var milestone_edit_id = $('.milestone_edit_id').val();
        var data = $('#milestone_edit_form').serialize();
        $.ajax({
            url: "{% url 'add_edit_hire' %}",
            type: 'POST',
            data: data+"&action=change_request_save",
            beforeSend: function() {
              loaderShow();
            },
            success: function (response_data)
             {
                 if (response_data.status==true)
                    {
                        $('.milestone_change_request_modal').hide();
                        $('.modal-backdrop').hide();
                         $('.contract_agree').text('Request contract change');
                        $('.contract_agree').prop('disabled', false);
                        loaderHide();
                    }

             },
             errors:function (return_data){ console.log("Error");}
        });
    });
    // *******************************

     $( document ).ready(function() {
        var change_made_client = $('.change_made_client').val();
        if (change_made_client=='False'){
            $('.contract_agree').text('Request send');
            $('.contract_agree').prop('disabled', true);
        }

     });
    // ************* Hire request Agree
    $(document).on('click','.contract_agree',function() {
        var hire_id = $('.hire_id').val();
        $.ajax({
            url: "{% url 'add_edit_hire' %}",
            type: 'POST',
            data: {'action':'contract_agree','hire_id':hire_id},
            beforeSend: function() {
              loaderShow();
            },
            success: function (response_data)
             {
                 if (response_data.status==true)
                    {
                        $('.contract_agree').text('Request send');
                        $('.contract_agree').prop('disabled', true);
                        loaderHide();
                    }

             },
             errors:function (return_data){ console.log("Error");}
        });
    });


         function modal_changeRate_open(){
                $('.milestone_change_request_modal').show();
                $('.modal-backdrop').show();
            }
            function modal_changeRate_close(){
                $('.milestone_change_request_modal').hide();
                $('.modal-backdrop').hide();
            }
    </script>
{% endblock %}