{% extends 'base.html' %}
{% block extra_css %}
<link rel="stylesheet" type='text/css' href="/static/css/toggle-switch.css"/>
 {% endblock %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
{% block title %}Hire freelancer{% endblock %}
    {% block content %}
    <div class="clearfix sub-heading-search">
        <div class="content">
            <h2 class="inner-page-heading pull-left">Hire</h2>
        </div>
    </div>
    <div class="content">
        <input type="hidden" name="" class="change_made_client" value="{{ hire.change_made_client }}">
        <div class="tw_col_flexible pull-left">
            <div class="tw_col_flexible_holder">
                <div class="job_title_container job_edit_holder hire_edit">
                    <span class="hire_edit_icon title_edit">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </span>
                    <div class="job_title">  <h3 ><span class="job_title_holder">
                        {{ hire.job_title }}
                    </span>  <span class="job-id">( Job id: {{ hire.job_number }} )</span></h3></div>

                    <div class="bottom_border"></div>
                </div>
                <div class="hire_company_details">
                    <div class="hire_company_log pull-left">
                         {% if hire.client_profile.profile_pic %}
                        <img src="{{ hire.client_profile.profile_pic_thumbnail.url }}"/>
                        {% else %}
                         <img src="/static/images/no_image.png" alt="clientprofile" class="img-circle-border color_white imagePreview">
                        {% endif %}
                    </div>
                    <div class="pull-left company_container">
                        <div  class="contact_name">
                            <h3>{{ hire.client_profile.user }} </h3>
                        </div>
                        <div  class="company">{{ hire.client_profile.company }}</div>
                        <div  class="rate_review">
                            <div  class="pull-left">
                                <div class="rating">
                                    <div class="rate_val">4.5</div>
                                    <div class="star_rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div  class="pull-left">
                                <div class="review_container">
                                    <p>128 Reviews</p>
                                </div>
                                 <div class="clearfix"></div>
                            </div>
                             <div class="clearfix"></div>
                        </div>
                        <!-- Contrary to popular belief, Lorem Ipsum is not-->
                       <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="hire_sub_head hire_edit">
                    <span class="hire_edit_icon description_edit ">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </span>
                    <h4>Description</h4>
                </div>
                <div class="txt-justify job_description_holder">
                   {{ hire.job_description }}
                </div>
                <div class="hire_sub_head hire_edit">
                     <span class="hire_edit_icon ">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </span>
                    <h4>Switch Rate </h4>
                </div>
                <div class="">
                    <div class="switch_container">
                        <div class="switch_container_tab">
                            <label class="switch-light switch-candy switch-candy-blue" onclick="">
                                <input type="checkbox" class="switch_box" {% if  hire.payment_type  = "Hourly" %}checked{% endif %}>
                                <span class="">
                                    <span>Fixed</span>
                                    <span>Hourly</span>
                                    <a></a>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="payment" >
                        {% if  hire.payment_type  = "Hourly" %}
                    $ <span class="job_hour_rate">{{ hire.payment }}</span> Per Hour
                    {% else %}
                        $ <span class="job_sum">{{ job_sum }}</span>  Per Job
                    {% endif %}

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="hire_sub_head hire_edit">
                     <span class="hire_edit_icon ">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </span>
                    <h4>Weekly availability in hours</h4>
                </div>
                <p>50 Hrs Per Week</p>
                <div class="hire_sub_head milestone_add {% if  hire.payment_type  = 'Hourly' %} hide{% endif %}">
                    <span class="milestone_add_icon " onclick="modal_milestone_open();">
                       Add <i class="fa fa-1x fa-plus-circle" aria-hidden="true"></i>
                    </span>
                    <h4>Milestone</h4>
                    <div class="hire_milestone_holder">
                         {% include 'ajax/milestone_list.html' %}
                    </div>
                </div>
                <div class="hire_request_btn_holder">
                    <button type="button" class="hire_request_btn send_contract_btn">Send Hire Request</button>
                </div>
            </div>
        </div>
        <div class="tw_col_fixed pull-left">
            <h3 class="txt-center">Freelancer profile</h3>
            <div class="hire_profile_img">
                {% if hire.freelancer_profile.profile_pic %}
                <img class="img-circle-border color_white imagePreview" src="{{ hire.freelancer_profile.profile_pic_thumbnail.url }}" alt="developer image" id="pic">
                {% else %}
                 <img src="/static/images/no_image.png" alt="clientprofile" class="img-circle-border color_white imagePreview">
                {% endif %}
            </div>
            <h3 class="txt-center">
                <a>{{ hire.freelancer_profile.user }}</a>
            </h3>
            <h3 class="gray_font txt-center">
                {{ hire.freelancer_profile.professional_title }}
            </h3>
            <div class="freelancer_rating">
                <div class="column-left data">
                    <div class="freelancer_info">
                        <h3>40</h3>
                        <p>Rank</p>
                    </div>
                </div>
                <div class="column-center data">
                    <div class="freelancer_info">
                        <h3>40</h3>
                        <p>Project</p>
                    </div>
                </div>
                <div class="column-right data">
                    <div class="freelancer_info">
                        <h3>40</h3>
                        <p>Reputation</p>
                    </div>
                </div>
                <button type="submit" class="blue_btn ">View Complete Profile</button>
            </div>
        </div>
    </div>

<!--Add mile stone modal-->
    <div class="modal modal_milestone_container modal_terms_condition">
        <div class="milestone_modal">
            <div class="modal-content">
                <span class="pull-right modal-close " onclick="modal_conditions_close()">X</span>

                <div class="actionheading "><span class="pull-right modal-close "
                                                  onclick="modal_conditions_close()">X</span></div>
                <h4 class="text-center modal_main_head"><span>Add Milestone</span></h4>
                 <form role="form" id="milestone_add_form" >
                     <input type="hidden" class="hire_id" name="hire_id" value="{{ hire.id }}">
                     <input type="hidden" class="job_id" name="job_id" value="{{ hire.client_job.id }}">
                     <input type="hidden" class="freelancer_id" name="freelancer_id" value="{{ hire.freelancer_profile.id }}">
                    <div class="milestone_modal_container">
                        <div class="full-width">
                            <input type="text" placeholder="Milestone" name="milestone_title">
                        </div>
                        <div class="full-width">
                            <textarea placeholder="Description" name="milestone_description"></textarea>
                        </div>
                        <div class="full-width">
                            <div class="column-left milestone_date">
                                <input type="text" placeholder="Start Date" name="start_date" class="datepicker milestone_start_date">
                            </div>
                            <div class="column-center milestone_date">
                                <input type="text" placeholder="End Date" name="close_date" class="datepicker milestone_end_date">
                            </div>
                            <div class="column-right milestone_date">
                                <input type="text" placeholder="Rate" name="rate">
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="hire_request_btn_holder">
                        <button type="button" class="hire_request_btn color-blue milestone_submit">SUBMIT</button>
                    </div>
                 </form>
                 <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--Edit modal-->
    <div class="edit_modal">

     </div>
<!--Modal for permission alert-->
     <div class="modal modal_switch_permission">
        <div class="milestone_modal">
            <div class="modal-content">
                <span class="pull-right modal-close " onclick="modal_conditions_close()">X</span>

                <div class="actionheading "><span class="pull-right modal-close "
                                                  onclick="modal_conditions_close()">X</span></div>
                <h4 class="text-center modal_main_head"><span>Switch Premission</span></h4>

                <form role="form">
                    <div class="milestone_modal_container">
                        <p class="txt-center">Milestones associated with the contract will delete while trying to change payment type Fixed to Hourly</p>
                        <p class="txt-center">Do you want to change payment type?</p>

                        <div class="clear"></div>
                        <div class="txt-center hire_request_btn_holder">
                            <button type="button" class=" txt-center cancel_edit  color-blue"
                                    onclick="modal_conditions_close()">Cancel
                            </button>
                            <button type="button" class="txt-center edit_job_post_btn switch_permission_btn">OK</button>
                        </div>
                    </div>
                </form>
                 <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

<input type="hidden" class="job_descriptions_text">
     <div class="modal-backdrop  in"></div>
    {% endblock %}
    {% block extra_js %}

     <script>
     $( document ).ready(function() {
        var change_made_client = $('.change_made_client').val();
        if (change_made_client=='True'){
            $('.send_contract_btn').text('Request send');
            $('.send_contract_btn').prop('disabled', true);
            $('.hire_edit_icon').addClass('hide');
            $('.milestone_add_icon ').addClass('hide');
            $('.switch_box').attr('onclick','return false;');
        }

     });
     $(document).on('click','.description_edit',function() {
        $(this).html('<i class="fa fa-floppy-o" aria-hidden="true"></i>');
        $(this).addClass('save_job_description');
        description = $('.job_description_holder').text();
        $('.job_description_holder').html('<textarea name="job_descriptions" class="job_descriptions change">'+description+'</textarea>');
     });
     $(document).on('click','.title_edit',function() {
        $(this).html('<i class="fa fa-floppy-o" aria-hidden="true"></i>');
        $(this).addClass('save_job_title');
        description = $('.job_title_holder').text();
        $('.job_title').html('<input type="text" name="job_title" style="width:95%" class="job_title change" value="'+description+'">');
     });

     $(document).on('click','.save_job_description',function() {
        var hire_id = $('.hire_id').val();
        someText=$('.job_descriptions_text').val();
        var job_descriptions = $.trim(someText);
        //alert(job_descriptions);
        console.log("{% url 'add_edit_hire' %}")
        $.ajax({
            url: "{% url 'add_edit_hire' %}",
            type: 'POST',
            data: {'action':'job_description_save','job_descriptions':job_descriptions, 'hire_id':hire_id},
            beforeSend: function() {
              loaderShow();
            },
            success: function (response_data)
             {
                 if (response_data.status==true)
                    {
                        $('.save_job_description').html('<i class="fa fa-pencil-square-o" aria-hidden="true"></i>');
                        $('.save_job_description').removeClass('save_job_description');
                        $('.job_description_holder').html(response_data.job_description);
                        loaderHide();
                    }

             },
             errors:function (return_data){ console.log("Error");}
        });
     });
      $(document).on('click','.save_job_title',function() {
        var hire_id = $('.hire_id').val();
        someText=$('.job_descriptions_text').val();
        var job_title = $.trim(someText);
        //alert(job_descriptions);
        console.log("{% url 'add_edit_hire' %}")
        $.ajax({
            url: "{% url 'add_edit_hire' %}",
            type: 'POST',
            data: {'action':'job_title_save','job_title':job_title, 'hire_id':hire_id},
            beforeSend: function() {
              loaderShow();
            },
            success: function (response_data)
             {
                 if (response_data.status==true)
                    {
                        $('.save_job_title').html('<i class="fa fa-pencil-square-o" aria-hidden="true"></i>');
                        $('.save_job_title').removeClass('save_job_title');
                        $('.job_title').html('<h3><span class="job_title_holder">'+response_data.job_title+'</span>( Job id: '+response_data.job_number+' )</h3>');
                        loaderHide();
                    }

             },
             errors:function (return_data){ console.log("Error");}
        });
     });
    // ************* Hire request send

    $(document).on('change','.change',function() {
       var details = $(this).val();
       //alert(details);
        $(".job_descriptions_text").val(details);
    });

    $(document).on('click','.send_contract_btn',function() {

        var hire_id = $('.hire_id').val();
        $.ajax({
            url: "{% url 'add_edit_hire' %}",
            type: 'POST',
            data: {'action':'hire_request','hire_id':hire_id},
            beforeSend: function() {
              loaderShow();
            },
            success: function (response_data)
             {
                 if (response_data.status==true)
                    {
                        $('.send_contract_btn').text('Request send');
                        $('.send_contract_btn').prop('disabled', true);
                        $('.hire_edit_icon').addClass('hide');
                        $('.milestone_add_icon ').addClass('hide');
                        $('.switch_box').attr('onclick','return false;');
                        loaderHide();
                    }

             },
             errors:function (return_data){ console.log("Error");}
        });
     });


//*********** switch rate

    $('.switch_box').change(function() {
       // $('#textbox1').val($(this).is(':checked'));
        var hire_id = $('.hire_id').val();
        var job_id = $('.job_id').val();
         $.ajax({
                url: "{% url 'add_edit_hire' %}",
                type: 'POST',
                data: {'action':'payment_check','hire_id':hire_id,'job_id':job_id},
                beforeSend: function() {
                 // loaderShow();
                },
                success: function (response_data)
                 {
                     if (response_data.status==false)
                        {
                            $('.modal_switch_permission').show();
                            $('.modal-backdrop').show();
                        }
                     else{
                            $.ajax({
                            url: "{% url 'add_edit_hire' %}",
                            type: 'POST',
                            data: {'action':'switch','hire_id':hire_id,'job_id':job_id},
                            beforeSend: function() {
                             // loaderShow();
                            },
                            success: function (response_data)
                             {
                                 if (response_data.status==true)
                                    {
                                        if($('.milestone_add').hasClass('hide')){
                                            $('.milestone_add').removeClass('hide');
                                        }
                                        else{
                                             $('.milestone_add').addClass('hide')
                                        }

                                        console.log('success');
                                    }

                             },
                             errors:function (return_data){ console.log("Error");}
                        });
                     }
                 },
                 errors:function (return_data){ console.log("Error");}
            });
    });

    $(document).on('click','.switch_permission_btn',function() {
        var hire_id = $('.hire_id').val();
        var job_id = $('.job_id').val();
        $.ajax({
            url: "{% url 'add_edit_hire' %}",
            type: 'POST',
            data: {'action':'switch','hire_id':hire_id,'job_id':job_id},
            beforeSend: function() {
             // loaderShow();
            },
            success: function (response_data)
             {
                 if (response_data.status==true)
                    {
                        modal_conditions_close();
                        if($('.milestone_add').hasClass('hide')){
                            $('.milestone_add').removeClass('hide');
                        }
                        else{
                             $('.milestone_add').addClass('hide')
                             $(".milestone_table").replaceWith('<div  class="milestone_table"></div>');
                        }
                        console.log('success');
                    }

             },
             errors:function (return_data){ console.log("Error");}
        });
    });


    // *********** Milestone Edit
    function edit_milestone(milestone_id){
        var hire_id = $('.hire_id').val();
        $.ajax({
            url: "{% url 'add_edit_hire' %}",
            type: 'POST',
            data: {'action':'Edit_open','id':milestone_id,'hire_id':hire_id},
            beforeSend: function() {
              loaderShow();
            },
            success: function (response_data)
             {
                 if (response_data.status==true)
                    {
                        $(".edit_modal").replaceWith(response_data.html_content);
                        $('.milestone_edit_modal').show();
                        $('.modal-backdrop').show();
                        loaderHide();
                       // alert(' hold delete milestone due to permission enhancement ');
                    }

             },
             errors:function (return_data){ console.log("Error");}
        });
    }
    // ********* Delete Milestone

    function delete_milestone(milestone_id){
        var hire_id = $('.hire_id').val();
        $.ajax({
            url: "{% url 'add_edit_hire' %}",
            type: 'POST',
            data: {'action':'Delete','id':milestone_id,'hire_id':hire_id},
            beforeSend: function() {
             // loaderShow();
            },
            success: function (response_data)
             {
                 if (response_data.status==true)
                    {
                      //  $(".milestone_table").replaceWith(response_data.html_content);
                      //  modal_conditions_close();
                     //   loaderHide();
                        alert(' hold delete milestone due to permission enhancement ');
                    }

             },
             errors:function (return_data){ console.log("Error");}
        });
    }
    //********* Add milestone
    $(document).on('click','.milestone_submit',function() {
        var data = $('#milestone_add_form').serialize();
        $.ajax({
            url: "{% url 'add_edit_hire' %}",
            type: 'POST',
            data: data+"&action=add",
            beforeSend: function() {
              loaderShow();
            },
            success: function (response_data)
             {
                 if (response_data.status==true)
                    {
                        $(".milestone_table").replaceWith(response_data.html_content);
                        $(".job_sum").text(response_data.job_sum);
                        modal_conditions_close();
                        loaderHide();
                    }

             },
             errors:function (return_data){ console.log("Error");}
        });

    });



        $(function() {
                var dateToday = new Date();
                $( ".datepicker" ).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    minDate: dateToday,
                    altFormat: "yy-mm-dd",
                    dateFormat: 'yy-mm-dd',
                });
            });


            $(function() {
                var dateToday = new Date();
                $( ".milestone_start_date" ).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    minDate: dateToday,
                    altFormat: "yy-mm-dd",
                    dateFormat: 'yy-mm-dd',
                });
            });

         function modal_milestone_open(){

                $("input[name='milestone_title']").val('');
                $("textarea[name='milestone_description']").val('');
                $("input[name='rate']").val('');
                $('.milestone_end_date').val('');
                $('.milestone_start_date').val('');
                $('.modal_terms_condition').show();
                $('.modal-backdrop').show();
            }
            function modal_conditions_close(){
                $('.modal_terms_condition').hide();
                $('.modal_switch_permission').hide();
                $('.modal-backdrop').hide();
            }
    </script>
{% endblock %}