{% extends 'base.html' %}
{% block extra_css %}
<link rel="stylesheet" type='text/css' href="/static/css/toggle-switch.css"/>
 {% endblock %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
{% block title %}Hire freelancer{% endblock %}
    {% block content %}
    <div class="clearfix sub-heading-search">
        <div class="content">
            <h2 class="inner-page-heading pull-left">Hire</h2>
        </div>
    </div>
    <div class="content">
        <div class="tw_col_flexible pull-left">
            <div class="tw_col_flexible_holder">
                <div class="job_title_container job_edit_holder hire_edit">
                    <span class="hire_edit_icon ">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </span>
                    <h3> Contrary to popular belief <span class="job-id">( Job id: 0 )</span></h3>
                    <div class="bottom_border"></div>
                </div>
                <div class="hire_company_details">
                    <div class="hire_company_log pull-left">
                        <img src="/static/images/no_image.png"/>
                    </div>
                    <div class="pull-left company_container">
                        <div  class="contact_name">
                            <h3>Richard Hoges</h3>
                        </div>
                        <div  class="company">Company name</div>
                        <div  class="rate_review">
                            <div  class="pull-left">
                                <div class="rating">
                                    <div class="rate_val">4.5</div>
                                    <div class="star_rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div  class="pull-left">
                                <div class="review_container">
                                    <p>128 Reviews</p>
                                </div>
                                 <div class="clearfix"></div>
                            </div>
                             <div class="clearfix"></div>
                        </div>
                        <!-- Contrary to popular belief, Lorem Ipsum is not-->
                       <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="hire_sub_head hire_edit">
                    <span class="hire_edit_icon ">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </span>
                    <h4>Description</h4>
                </div>
                <div class="txt-justify">
                    Contrary to popular belief, Lorem Ipsum is not simply random text.  a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc. 5 paragraphs words bytes lists Start with 'Lorem ipsum dolor sit amet...' Generate Lorem Ipsum
                </div>
                <div class="hire_sub_head hire_edit">
                     <span class="hire_edit_icon ">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </span>
                    <h4>Switch Rate</h4>
                </div>
                <div class="switch_container">
                    <div class="switch_container_tab">
                        <label class="switch-light switch-candy switch-candy-blue" onclick="">
                            <input type="checkbox">
                            <span class="">
                                <span>Fixed</span>
                                <span>Hourly</span>
                                <a></a>
                            </span>
                        </label>
                    </div>
                    <div class="payment" >$50 Per Hour</div>
                    <div class="clearfix"></div>
                </div>
                <div class="hire_sub_head hire_edit">
                     <span class="hire_edit_icon ">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </span>
                    <h4>Weekly availability in hours</h4>
                </div>
                <p>50 Hrs Per Week</p>
                <div class="hire_sub_head milestone_add">
                    <span class="milestone_add_icon " onclick="modal_conditions_open();">
                       Add <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </span>
                    <h4>Milestone</h4>
                </div>
                <div class="hire_milestone_holder">
                    <div  class="milestone_table">
                        <div class="milestone_row">
                            <div class="milestone_td">1</div>
                            <div class="milestone_td milestone_name">Richard McClintock</div>
                            <div class="milestone_td">$5600 <i class="fa fa-check-circle-o color-green" aria-hidden="true"></i></div>
                            <div class="milestone_td">2 days ago</div>
                            <div class="milestone_td"><i class="fa fa-commenting" aria-hidden="true"></i></div>
                            <div class="milestone_td"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                            <div class="milestone_td"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="milestone_row">
                            <div class="milestone_td">2</div>
                            <div class="milestone_td milestone_name">Hampden-Sydney College in Virginia</div>
                            <div class="milestone_td">$5600 <i class="fa fa-check-circle-o color-green" aria-hidden="true"></i></div>
                            <div class="milestone_td">2 days ago</div>
                            <div class="milestone_td"><i class="fa fa-commenting" aria-hidden="true"></i></div>
                            <div class="milestone_td"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                            <div class="milestone_td"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="milestone_row">
                            <div class="milestone_td">3</div>
                            <div class="milestone_td milestone_name">Richard McClintock</div>
                            <div class="milestone_td">$766000</div>
                            <div class="milestone_td">3 days ago</div>
                            <div class="milestone_td"><i class="fa fa-commenting" aria-hidden="true"></i></div>
                            <div class="milestone_td"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                            <div class="milestone_td"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                            <div class="clearfix"></div>
                        </div>
                        <!--<tr class="milestone_row">
                            <td>2</td>
                            <td> Hampden-Sydney College in Virginia</td>
                            <td>$4300 <i class="fa fa-check-circle-o color-green" aria-hidden="true"></i></td>
                            <td>3 days ago</td>
                            <td><i class="fa fa-commenting" aria-hidden="true"></i></td>
                            <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                            <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                        </tr>
                        <tr class="milestone_row">
                            <td>3</td>
                            <td>Finibus Bonorum et Malorum</td>
                            <td>$766000</td>
                            <td>5 days ago</td>
                            <td><i class="fa fa-commenting" aria-hidden="true"></i></td>
                            <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                            <td> <i class="fa fa-trash-o" aria-hidden="true"></i> </td>
                        </tr>-->
                    </div>
                </div>
                <div class="hire_request_btn_holder">
                    <button type="submit" class="hire_request_btn ">Send Hire Request</button>
                </div>
            </div>
        </div>
        <div class="tw_col_fixed pull-left">
            <h3 class="txt-center">Freelancer profile</h3>
            <div class="hire_profile_img">
                <img class="img-circle-border color_white imagePreview" src="/static/images/user03.png" alt="developer image" id="pic">
            </div>
            <h3 class="txt-center">
                <a>Richard Hoges</a>
            </h3>
            <h3 class="gray_font txt-center">
                UI/UX Expert
            </h3>
            <div class="freelancer_rating">
                <div class="column-left data">
                    <div class="freelancer_info">
                        <h3>40</h3>
                        <p>Rank</p>
                    </div>
                </div>
                <div class="column-center data">
                    <div class="freelancer_info">
                        <h3>40</h3>
                        <p>Project</p>
                    </div>
                </div>
                <div class="column-right data">
                    <div class="freelancer_info">
                        <h3>40</h3>
                        <p>Reputation</p>
                    </div>
                </div>
                <button type="submit" class="blue_btn ">View Complete Profile</button>
            </div>
        </div>
    </div>


<div class="modal modal_terms_condition">
    <div class="milestone_modal">
        <div class="modal-content">
            <span class="pull-right modal-close " onclick="modal_conditions_close()">X</span>

            <div class="actionheading "><span class="pull-right modal-close "
                                              onclick="modal_conditions_close()">X</span></div>
            <h4 class="text-center modal_main_head"><span>Add Milestone</span></h4>

            <div class="milestone_modal_container">
                <div class="full-width">
                    <input type="text" placeholder="Milestone">
                </div>
                <div class="full-width">
                    <textarea placeholder="Description"></textarea>
                </div>
                <div class="full-width">
                    <div class="column-left milestone_date">
                        <input type="text" placeholder="Start Date" class="datepicker milestone_start_date">
                    </div>
                    <div class="column-center milestone_date">
                        <input type="text" placeholder="End Date" class="datepicker milestone_end_date">
                    </div>
                    <div class="column-right milestone_date">
                        <input type="text" placeholder="Rate">
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="hire_request_btn_holder">
                <button type="submit" class="hire_request_btn color-blue">SUBMIT</button>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
     <div class="modal-backdrop  in"></div>
    {% endblock %}
    {% block extra_js %}



     <script>
        $(function() {
                var dateToday = new Date();
                $( ".datepicker" ).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    minDate: dateToday,
                    altFormat: "yy-mm-dd",
                    dateFormat: 'yy-mm-dd',
                });
            });


            $(function() {
                var dateToday = new Date();
                $( ".milestone_start_date" ).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    minDate: dateToday,
                    altFormat: "yy-mm-dd",
                    dateFormat: 'yy-mm-dd',
                });
            });

         function modal_conditions_open(){
                $('.modal_terms_condition').show();
                $('.modal-backdrop').show();
            }
            function modal_conditions_close(){
                $('.modal_terms_condition').hide();
                $('.modal-backdrop').hide();
            }
    </script>
{% endblock %}