{% for contract in object_list %}
                    <div class="contract_list pending_contract">
                        <p>{{ contract.job_title }}.<span>{{ contract.status }}</span></p>
                    </div>
                    {% empty %}

                    <div class="contract_list pending_contract">
                        <p>No Items yet.<span></span></p>
                    </div>

 {% endfor %}