{% extends 'base.html' %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
{% block title %}Contact us{% endblock %}
{% block content %}
        {% if user.is_anonymous %}
         <section class="clearfix">
                <div class="registration-logo-holder">
                    <div class="headline-wrapper">
                        <div class="content">
                            <span class="headline">Contact Us</span>
                        </div>
                    </div>
                </div>
        </section>
        {% else %}
            <div class="clearfix sub-heading-search">
                <div class="content">
                    <h2 class="inner-page-heading pull-left">Contact Us</h2>
                </div>
            </div>
        {% endif %}
    <section>
        <div class="Contact-us">
            <div class="content">
                <div class="Contact-container">
                    <div class="contactus-box">
                        <div class="contact-us">
                            {% for message in messages %}
                            <p class="email-success">{{ message }}</p>
                            {% endfor %}
                            <p class="contact-head">Fill out the form below or give us a call.<br> We'll be in touch.</p>

                            <div class="clearfix"></div>
                        </div>
                        <div class="contact-form left_align">
                            <form action="." method="post">
                                {% csrf_token %}
                                NAME<br>
                                <input type="text" class="inputbox" name="name">
                                {{ form.name.errors }}
                                <br>
                                EMAIL<br>
                                <input type="text" class="inputbox" name="email">
                                {{ form.email.errors }}
                                <br>
                                PHONE<br>
                                <input type="text" class="inputbox" id="phone" name="phone">

                                <p class="errors">{{ number_error }}</p>
                                {{ form.phone.errors }}
                                <br>
                                CATEGORY<br>
                                {{ form.category }}
                                 {{ form.category.errors }}
                                <br>
                                <br>
                                MESSAGE<br>
                                <textarea name="message" class="inputbox" rows="3"></textarea>
                                {{ form.message.errors }}
                                <br>
                                <br>
                                <button type="submit" class="btn-off-black btn-normal sendBtn">SUBMIT</button>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="signup-text-container right_align">
                    <h3>Hire and Find Freelance Jobs Online</h3>
                    <p>
                        Django team is one of the most popular django freelancer jobsite in online. Django team is a souk for top django developers, engineers, programmers, coders, architects and consultants. It is a place for employers and freelancer to connect, collaborate and get work done.
                    </p>
                    <p>
                        It provides businesses with the tools to find and hire talented freelancers all over the world, and also offer freelancers the opportunity to market sought-after skills to a global audience for a nominal cost.
                    </p>
                    <!--  <button  type="button"  class="btn-green btn-normal">Post Your Job</button> -->

                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3945.374740877715!2d76.877555!3d8.559917000000002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05bef959ed2cc3%3A0x191b59aca0c4f535!2sSpericorn+Technology+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1424174941913"
                            class="contact-map-iframe"></iframe>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
<!-- counter section -->
{% endblock %}
