{% extends 'base.html' %}
{% load seo_tags %}
{% block description %}{% seo description for category %}{% endblock %}
{% block keywords %}{% seo keywords for category %}{% endblock %}
{% block titles %}{% seo title for category %}{% endblock %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
{% block title %}FAQ{% endblock %}
{% block content %}
        {% if user.is_anonymous %}
         <section class="clearfix">
                <div class="registration-logo-holder">
                    <div class="headline-wrapper">
                        <div class="content">
                            <span class="headline">FAQ</span>
                        </div>
                    </div>
                </div>
        </section>
        {% else %}
            <div class="clearfix sub-heading-search">
                <div class="content">
                    <h2 class="inner-page-heading pull-left">FAQ</h2>
                </div>
            </div>
        {% endif %}
            <section>
                <div class="client-profile-container-edit faq_container">
                    <div class="content">
                        <div class="faq-wrapper clearfix">
                            {% if categs_all %}
                                <div class="faq-left">
                                    <form action="." method="post" id="faq_form">
                                        <input name="category" type="hidden" id="category_input">
                                        {% csrf_token %}
                                    <ul>

                                        <li>Top Questions</li>
                                        {% for categ in categs_all %}
                                        {% if category.id == categ.id %}
                                        <li class="{{forloop.counter}} active" >
                                            {{categ}}
                                        </li>
                                        {% else %}
                                        <li class="{{forloop.counter}}" onclick="test('{{categ}}');">
                                            {{categ}}
                                        </li>
                                        {% endif %}
                                        {% endfor %}

                                    </ul>
                                    </form>
                                </div>
                                <div class="faq-right">
                                    <div class="faq-accordion">
                                        {% for faq in faqs %}
                                            {% if category.id == faq.category.id %}
                                                {% if faq.question  %}
                                                <h4>{{ faq.question }}</h4>
                                                <p class="faq_answer_style">
                                                    {{ faq.answer }}
                                                </p>
                                                {% else %}
                                                <h4>SORRY ! No Question available </h4>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                {% include 'message.html' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>            
            <!-- counter section ends -->
			<!-- counter section -->
            {% endblock %}
            {% block extra_js %}
            <script>
                function test(value){
                    $("#category_input").val(value);
                    $("#faq_form").submit();
                }
				$(function() {
					$(".faq-accordion").accordion();
				});
                 $( document ).ready(function() {
                    $(".faq_answer_style").css('height','');
                 });
            </script>

       {%endblock %}