{% extends 'base.html' %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
{% block title %}Freelancer search{% endblock %}
    {% block content %}
         {% if user.is_anonymous %}
            <section class="clearfix">
                <div class="registration-logo-holder">
                    <div class="headline-wrapper">
                        <div class="content">
                            <span class="headline">Profile List </span>

                        </div>
                    </div>
                </div>
            </section>
         {% endif %}
            <div class="clearfix sub-heading-search">
                <div class="content">
                    <h2 class="inner-page-heading pull-left">Find Freelancer</h2>
                     <div class="top-search inner_search">
                         <form class="" method="get" action="{% url 'find_freelancer' %}" id="search_form">
                            <ul class="list-style main-menu search_cat">
                                <li class="active menu-drop-down">
                                    <span class="search-icon find-job-arrow"><i class="fa fa-search"></i></span>
                                    <input type="hidden" class="search-type" name="searchtype" >
                                    <input type="text" placeholder="Find Jobs" autocomplete="off" name="search_type" id="search_type" class="search-input-box search_input" onkeyup="search_query();" ><i class="fa fa-times search_clear" aria-hidden="true" onclick = "clear_search();"></i>
                                    <button type="submit" class="search_btn">Search</button>
                                </li>
                            </ul>
                            <div id="suggesstion-box">
                            </div>
                         </form>
                    </div>
                </div>
            </div>
            <section class="clearfix">
                <div class="profile-container clearfix">
                    <!--<h2 >{{ message }}</h2>-->
                    <div class="content">
                        <div class="left-div-details list_sort">
                           <form role="form" id="freelancer_sort_form">
                            {%  csrf_token %}
                               <div class="left-inner-block">
                                   <h3 class="job-click">Category</h3>
                                    <ul class="job-div-all">
                                        {% for category in categories %}
                                        <li><input type="checkbox" class="category_list" id="{{ category.id }}" value="{{ category.category_title }}" name="categories" onclick="category_sort();"/>
                                        <label for="{{ category.id }}"><span></span><i>{{ category.category_title }}</i></label> </li>
                                        {%  endfor %}
                                    </ul>
                               </div>
                                {% for group in request.user.groups.all %}
                                {% if group.name == "Clients" %}
                                    <div class="left-inner-block">
                                       <h3 class="job-click">Shortlisted</h3>
                                       <ul class="job-div-all">
                                            <li><input type="checkbox" value="Hire" id="c7" name="shortlist" onclick="category_sort();"/>
                                            <label for="c7"><span></span><i>Hired</i></label></li>
                                            <li><input type="checkbox" id="c8" name="shortlist"  value="Shortlist"  onclick="category_sort();"/>
                                            <label for="c8"><span></span><i>Shortlisted</i></label> </li>
                                            <li><input type="checkbox" id="c6" name="shortlist"  value="Declined"  onclick="category_sort();"/>
                                            <label for="c6"><span></span><i>Declined</i></label> </li>
                                       </ul>
                                   </div>
                                {% endif %}
                                {% endfor %}
                                <div class="left-inner-block">
                                   <h3 class="job-click">Experience level</h3>
                                   <ul class="job-div-all">
                                        <li><input type="checkbox" id="c9" value="Entry Level" name="experience_level" onclick="category_sort();"/>
                                        <label for="c9"><span></span><i>Entry Level</i></label> </li>
                                        <li><input type="checkbox" id="c10" value="Intermediate Level" name="experience_level" onclick="category_sort();"/>
                                        <label for="c10"><span></span><i>Intermediate Level</i></label> </li>
                                        <li><input type="checkbox" id="c11" value="Expert Level" name="experience_level" onclick="category_sort();"/>
                                        <label for="c11"><span></span><i>Expert Level</i></label> </li>
                                   </ul>
                               </div>
                                <div class="budject-block">
                                    <h3>Rate</h3>
                                    <div class="range-slider-wrap" >
                                        <div id="slider-range"></div>
                                        <div id="amountstart"></div>
                                        <div id="amountend"></div>
                                    </div>
                                </div>
                                <input type="hidden" value="" name="amountstartInput" id="amountstartInput">
                                <input type="hidden" value="" name="amountendInput" id="amountendInput">
                           </form>
                       </div>
						<div class="profile-left profile_left_align">
                           <div class="middle-inner">
                                <div class="list_content">
                                   {% for freelancer in all_freealncers %}
                                    <div class="profile-list-wrapper clearfix {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">

                                        <div class="clientprofile-img">
                                            {% if freelancer.profile_pic %}
                                            <img src="{{ freelancer.profile_pic_thumbnail.url}}" class="client_profile_image" alt="clientprofile">
                                            {% else %}
                                                <img src="/static/images/no_image.png" class="client_profile_image" alt="clientprofile">
                                            {% endif %}
                                        </div>
                                        <!--<a href="{%  url 'freelancer_detail' freelancer.slug %}" class="viewlist">View</a>-->
                                        {% if  user.is_authenticated %}
                                            {% for group in user.groups.all %}
                                                {% if group.name == "Clients" %}
                                                    <div class="post-a-job-profile clearfix invite-btn">
                                                        <button type="button" id="invite-button">Invite
                                                            <input type="hidden" value="{{ freelancer.slug }}" name="freelancer" id="invite-freelancer">
                                                        </button>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <div class="clientprofile-detail">
                                            <h3 class="profile-name"><a href="{%  url 'freelancer_detail' freelancer.slug %}" class=" "> {{ freelancer.user.first_name }}</a></h3>
                                            <!--<div class="profile-skill">
                                                .Net/Sharepoint/jQuery
                                            </div>-->
                                            {% if freelancer.country %}
                                            <div class="profile-location">
                                                <i class="fa fa-map-marker"></i>
                                                <span>
                                                    {{ freelancer.country }}
                                                    {% if freelancer.region %}
                                                        | {{ freelancer.region.name }}
                                                    {% endif %}
                                                    {% if freelancer.city %}
                                                        |{{ freelancer.city.name }}
                                                    {% endif %}
                                                </span>
                                            </div>
                                            {% endif %}
                                            <p> {{ freelancer.about_me|safe|truncatechars:300 }}.......</p>
                                            {% for skill in freelancer.skills.all %}
                                            <span class="expertice">{{ skill.skill_name }}</span>
                                            {% endfor %}
                                            <div class="profile-rating">
                                                <span class="rate-bttn"><i class="fa fa-star"></i></span>
                                                <span class="rate-bttn">Top Rated</span>
                                                {% for rate in rates %}
                                                {% if rate.user.id == freelancer.user.id%}
                                                <span class="rate-text">$ {{ rate.hourly_rate }} /hr</span>
                                                {% endif %}
                                                {%  endfor %}
                                                <span class="rate-text">
                                                    4.55
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <span class="bottom-border-color"></span>
                                    </div>
                                    {%  endfor %}
                                </div>

                            </div>
                        </div>
						<div class="profile-right profile_right_align ">
							<div class="search-right clearfix">
								<ul>
									<li>
										<select name="experiance">
											<option value="volvo">Job Listing</option>
											<option value="saab">1</option>
											<option value="fiat">2</option>
											<option value="audi">3</option>
											<option value="audi">4 &gt;</option>
										</select>
									</li>
									<li>
										<select name="location">
											<option value="volvo">Locations</option>
											<option value="saab">UAE</option>
											<option value="fiat">UK</option>
											<option value="audi">USA</option>
										</select>
									</li>
								</ul>
							</div>
							<div class="work-history clearfix">
								<div class="sub-headline-wrapper">
									<span class="sub-headline">Work History</span>
								</div>
								<ul>
									<li>100% job Success</li>
									<li>1,308 hours worked</li>
									<li>6 jobs</li>
								</ul>
							</div>
							<div class="availability clearfix">
								<div class="sub-headline-wrapper">
									<span class="sub-headline">Availability</span>
								</div>
								<ul>
									<li>Available</li>
									<li>As needed-Open to Offers</li>
									<li>24 hrs response time</li>
								</ul>
							</div>
							<div class="search-for-others-profile clearfix">
								<form id="search-others-profile" method="POST" action="">
									<label for="search-for-others-profile">
										Search for others
									</label>
									<div class="profile-search-input-wrapper">
										<input type="text" id="search-for-others-profile" name="q" size="21" maxlength="120">
									</div>
								</form>
							</div>
							<div class="post-a-job-profile clearfix">
								<button type="button">Post A Job</button>
							</div>
					   </div>
                    </div>
                </div>
                <a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>
                <div class="modal-backdrop-loader fade in"></div>
                <div class="sk-cube-grid">
                    <img src="/static/images/loaders/Loading1.gif" class="loader_img" />
                </div>
            </section>
            {% endblock %}
            {% block extra_js %}
            <script>
                function getParameterByName(name, url) {
                    if (!url) url = window.location.href;
                    name = name.replace(/[\[\]]/g, "\\$&");
                    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)")
                        results = regex.exec(url);
                    if (!results) return '';
                    if (!results[2]) return '';
                    return decodeURIComponent(results[2].replace(/\+/g, " "));
                }
                function clear_search(){
                    $("#search_input_box").val(" ");
                    $("#search_type").val(" ");
                    window.history.pushState("", "", "/"+'freelancers-list/' );
                    category_sort();
                    $(".search_clear").fadeOut(500);
                    $("#suggesstion-box").hide();
                    loaderShow();
                    window.location.reload();
                }
                $(document).ready(function() {
                    if(getParameterByName('search_type')){
                        var parameter = getParameterByName('search_type');
                        $("#search_type").val(parameter);
                        $(".search_clear").fadeIn(500);
                    }
                });
                var count = 0;
                var availableTags = [
                  {% for key in key_words %}
                  "{{key}}",
                  {% endfor %}

                ];
                function search_query(){

                }

                function split( val ) {
                      return val.split( /,\s*/ );
                    }
                    function extractLast( term ) {
                      return split( term ).pop();
                    }

                    $( "#search_type" ).on( "keydown", function( event ) {
                        count = 0;
                        if ( event.keyCode === $.ui.keyCode.TAB &&
                            $( this ).autocomplete( "instance" ).menu.active ) {
                          event.preventDefault();
                        }
                      })
                      .autocomplete({
                        minLength: 0,
                        source: function( request, response ) {
                          response( $.ui.autocomplete.filter(
                            availableTags, extractLast( request.term ) ).slice(0,15) );
                        },
                        focus: function() {
                          // prevent value inserted on focus
                          return false;
                        },
                        select: function( event, ui ) {
                          var terms = split( this.value );
                          // remove the current input
                          terms.pop();
                          // add the selected item
                          terms.push( ui.item.value );
                          // add placeholder to get the comma-and-space at the end
                          terms.push( "" );
                          this.value = terms.join( "," );
                          $(".search_clear").fadeIn(500);
                          return false;
                        }
                      });



                $(document).ready(function() {
                    var qd = {};
                    location.search.substr(1).split("&").forEach(function(item) {
                        var s = item.split("="),
                            k = s[0],
                            v = s[1] && decodeURIComponent(s[1]).replace('+',' ');
                        (k in qd) ? qd[k].push(v) : qd[k] = [v]
                    })
                    if( qd['search_type'] ){
                        console.log(qd['search_type']);
                        document.URL == "http://helloworld.com/quotes?id=1337&author=kelvin&message=hello"
                        var currentURL = document.URL;
                        var params = currentURL.extract();
                        var search_key = decodeURIComponent(params.search_type);
                        $("#search_type").val(qd['search_type']);
                    }
                });
                function search_query(){
                    var keyPressed = event.keyCode || event.which;
                    var value = $('.search-type').val();
                    var form = $('#search_form').serialize();
                    if(keyPressed==13){
                        $('#search_form').submit();
                    }

                }
                $(document).on('click','.job-click',function() {
					console.log(this);
					if($(this).hasClass('down')) {
						$(this).removeClass('down');
					} else {
						$(this).addClass('down');
					}
					$(this).parent().children('.job-div-all').toggle("slow");
				});
				$(function() {
				    //category open
				    $('.job-click').click();

					$( "#slider-range" ).slider({
						range: true,
						min: 0,
						max: 5000,
						values: [ 0, 1000 ],
						slide: function( event, ui ) {
							$('#amountstart').html("$" + ui.values[ 0 ]);
							$('#amountend').html("$" + ui.values[ 1 ]);
                            $('#amountstartInput').val(ui.values[ 0 ]);
							$('#amountendInput').val(ui.values[ 1 ]);
                            var data = $('#freelancer_sort_form').serialize();
                            $(".list_content").html();
                            $.ajax({
                                url: "{% url 'find_freelancer' %}",
                                type: 'POST',
                                data: data,
                                success: function (return_data)
                                 {
                                    $(".list_content").replaceWith(return_data.html_content);

                                 },
                                 errors:function (return_data){ alert("Error");}

                            });
                            $('#amountstartInput').removeAttr();
							$('#amountendInput').removeAttr();
                        }

					});
					$('#amountstart').html("$" + $( "#slider-range" ).slider( "values", 0 ));
					$('#amountend').html("$" + $( "#slider-range" ).slider( "values", 1 ));
                    $('#amountstartInput').val( $( "#slider-range" ).slider( "values", 0 ));
					$('#amountendInput').val($( "#slider-range" ).slider( "values", 1 ));
				});
                $(document).on('click','#invite-button',function() {
                    if (!$('#invite-modal-container:hidden').length) {
                        $("#invite-modal-container").remove();
                    }
                    var btn = $(this);
                    var userid = $(this).parent().find('#invite-freelancer').val();
                    $.ajax({
                        url: "{% url 'client-detail' %}",
                        type: 'GET',
                        data: 'user_id='+userid,
                        success: function (return_data)
                         {

                             $(btn).parent().append(return_data.html_content);
                             $("#invite-modal-container").show();
                         },
                         errors:function (return_data){ alert("Error");}

                    });

                });
                 $(document).on('click','.close-invite-modal',function() {
                    $("#invite-modal-container").remove();
                });

                $(document).on('click','#send-invitation',function() {
                    var data = $('.invite-modal-form').serialize();
                    if($('#choose-job').val()== 0){
                        $('.choose-job-error').show();
                    }else {
                        $('.choose-job-error').hide();
                        $.ajax({
                            url: "{% url 'client-detail' %}",
                            type: 'POST',
                            data: data,
                            beforeSend: function() {
                              loaderShow();
                            },
                            success: function (return_data)
                             {
                                loaderHide();
                                if( return_data.status == true ){
                                     $("#invite-modal-container").remove();
                                }else {

                                }

                             },
                             errors:function (return_data){ alert("Error");}

                        });
                    }
                });
               function sort(){
                var data = $('#sort').serialize();
                $.ajax({
                    url: "{% url 'find_freelancer'%}",
                    type: 'POST',
                    data: data,
                    success: function (return_data)
                     {

                        if (return_data.status==true)
                        {
                            $('.unsorted').html(return_data.html_content)
                        }

                     },
                     errors:function (return_data){ alert("Error");}

                });
                }
                function category_sort(){
                    var data = $('#freelancer_sort_form').serialize();
                    $.ajax({
                        url: "{% url 'find_freelancer' %}",
                        type: 'POST',
                        data: data,
                        success: function (return_data)
                         {
                             $(".list_content").replaceWith(return_data.html_content);
                         },
                         errors:function (return_data){ alert("Error");}

                    });
                }
            </script>
            {% endblock %}