{% extends 'base.html' %}
{% block header_class %}innerheader{% endblock %}
{% load freelancer_extras%}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block title %}Freelancer details{% endblock %}
{% block nav_class %}white-nav{% endblock %}
    {% block content %}
        {% if user.is_anonymous %}
            <section class="clearfix">
                <div class="registration-logo-holder">
                    <div class="headline-wrapper">
                        <div class="content">
                            <span class="headline">Profile List </span>

                        </div>
                    </div>
                </div>
            </section>
        {% endif %}


            <div class="clearfix sub-heading-search">
                <div class="content">
                    <h2 class="inner-page-heading pull-left">Freelancer Profile</h2>
                </div>
            </div>
            <section class="clearfix">
                <div class="profile-container clearfix">
                    <div class="content">

                        <div class="profile-top-block clearfix">
                            <div class="profile-info-wrap clearfix">
                                <div class="profile-img clearfix">
                                    {% if freelancer.profile_pic %}
                                       <img src="{{ freelancer.profile_pic_thumbnail.url }}"  class="img-circle-border imagePreview">
                                    {% else %}
                                        <img src="/static/images/no_image.png"  class="img-circle-border imagePreview">
                                    {% endif %}
                                </div>
                                <div class="profile-data clearfix">
                                    <h3 class="name">{{ freelancer.user.first_name }}</h3>
                                    <p class="desig">{{ freelancer.professional_title }}</p>
                                   {% if freelancer.city %}
                                    <p class="location">
                                        <i class="fa fa-map-marker"></i>
                                        {{ freelancer.city}}
                                    </p>
                                    {% endif %}
                                    <button class="freelancer-btn">
                                        <i class="fa fa-user"></i>
                                        Contact {{ freelancer.user.first_name }}
                                    </button>
                                    <div class="clearfix"></div>
                                </div>
                                <a href="{% url 'post-job' %}?invite_id={{ freelancer.slug }}" class="invite-link post-a-job-profile profile-details">
                                    <button type="button" id="invite-button">Invite
                                    </button>
                                </a>
                            </div>
                            <div class="platform-wrap">
                                <div class="platform">                                    
                                    <div class="platform-menu-wrap">
                                        <div class="platform-menu">
                                            <ul>
                                                {% for skill in freelancer.skills.all %}
                                                    <li><button>{{skill.skill_name}}</button></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="client-profile-edit-header">
                    <div class="content">
                        <div class="client-profile-edit-left freelancer_profile-left pull-left">
                            <div class="my-jobs-swtch  freelancer_profile_tab">
                                <ul>
                                    <li data-post="tab_overview" class="active applied-job-tab">Overview</li>

                                    <li data-post="portfolio" class="hired-job-tab">Portfolio</li>
                                    <li data-post="certications" class="hired-job-tab">Certifications</li>
                                </ul>
                           </div>
                        <div class="clearfix tab-list" id="tab_overview">
                            <div class="tab_container ">
                                <h3>Overview</h3>
                                <div class="overview-details mar-b50">
                                    <input type="hidden" value="{{ freelancer_profile.about_me }}" class="freelancer_about"/>
                                    <div id="edit-overview">
                                        {% if freelancer.about_me  %}
                                            <div class="paragraph_text">{{ freelancer.about_me|safe }}</div>
                                        {% else %}
                                            <div class="text_holder">
                                                 No data added
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix tab-list" id="portfolio">
                             <div class="tab_container ">
                                <div class="overview-details mar-b50">
                                    <h3>Portfolio Details</h3>
                                    <div class="rel educational-details-content">
                                        <div id ="portfolio_table_details">
                                            {% if freelancer_portfolio %}
                                                {% for portfolio in freelancer_portfolio %}
                                                <div class="project_holder" id = "edit_portfolio_{{ portfolio.id }}" >
                                                    <div class="portfolio_details_holder">
                                                        <h4 class="employment-history mar-t30 "><span>{{ portfolio.project_name }}</span></h4>
                                                        <div class="project_details">
                                                            <p>Project URL : <a href={{ portfolio.project_url }} >{{ portfolio.project_url }} </a></p>
                                                            <p>Skills :
                                                                {% for skill in portfolio.skills.all %}
                                                                   {{skill.skill_name}}
                                                                {% endfor %}
                                                            </p>
                                                            <h4 class="employment-history mar-t30">Description</h4>
                                                            <div>
                                                                <div class="paragraph_text" >{{ portfolio.description}}</div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            {% else %}
                                                <div class="text_holder">
                                                     No data added
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix tab-list" id="certications">
                            <div class="tab_container ">
                                    <div class="overview-details mar-b50">
                                        <h3>Certification</h3>
                                        <div class="add-education-container certification_container "  id = "education-container" >
                                            <div class="add-educational-details certification-details-add form_container">
                                                <form role="form" id="CertificationForm" enctype="multipart/form-data">
                                                    <!--<div class="space"></div>-->
                                                    <!--<div class="add-educational-details-btn"><span class="add-educational add-text" id="certification-details-add" onclick="addDetails(this.id);"><i class="fa fa-plus-square add-icon "></i> Add details</span></div>-->

                                                    <div class="profile-edit-label">
                                                        <label>Certification name</label>
                                                    </div>
                                                    <div class="profile-edit-input">
                                                        {{ form_certifications.certificate_name }}
                                                    </div>
                                                    <div class="clear"></div>
                                                    <div class="profile-edit-label">
                                                        <label>Issued by</label>
                                                    </div>
                                                    <div class="profile-edit-input">
                                                        {{ form_certifications.issued_by }}
                                                    </div>
                                                    <div class="clear"></div>
                                                    <div class="profile-edit-label">
                                                        <label>Certification</label>
                                                    </div>
                                                    <div class="profile-edit-input">
                                                        {{ form_certifications.certificate }}
                                                    </div>
                                                    <div class="save_btn_holder">
                                                        <button type="button" class="btn-profile-edit nextBtn  pull-right" onclick = "addCertification();">Save</button>
                                                    </div>
                                                     <div class="clear"></div>
                                                </form>
                                            </div>
                                        </div>
                                        <div id="certification_table_details" >
                                            {% if freelancer_certification %}
                                                {% for certification in freelancer_certification %}
                                                <div id ="edit_certificate_{{ certification.id }}" >
                                                    <div class="single-set">
                                                        <div class="certificate_container right">

                                                            <h4> {{ certification.certificate_name }} issued by {{ certification.issued_by }}</h4>
                                                            <img src="{{ certification.certificate_thumbnail.url }}" alt="image" />
                                                            <article class="text css3-4">
                                                                <h1><a href="#" class="css3-4">{{ certification.certificate_name }} issued by {{ certification.issued_by }}</a></h1>
                                                            </article>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                {% else %}
                                                    <div class="text_holder">
                                                         No data added
                                                    </div>
                                                {% endif %}
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                        <div class="right-column  freelancer_profile_right clearfix">
                 <div class="column-conatiner">
                     <div class="border_container ">
                        <div class="work-history clearfix profile-desc">
                            <div class="sub-headline-wrapper profile_tittle">
                                <h2 class="sub-headline">Hourly Rate</h2>
                            </div>
                            <div class="text-content paragraph_text hour_content">
                                {% if request.user.hourly_rate.actual_rate and request.user.hourly_rate.hourly_rate%}
                                <ul>
                                    <li>Hourly Rate : ${{request.user.hourly_rate.hourly_rate}} /hr</li>
                                    <li>Actual Rate : ${{request.user.hourly_rate.actual_rate}} /hr </li>
                                </ul>
                                {% else %}
                                    <div class="text_holder">
                                         No data added
                                    </div>
                                {% endif %}
                            </div>
                            <form role="form" id="HourlyForm" class="">
                                <div id="hourInput">
                                    <div class="hourly_input_section" id="hour">
                                        <div class="profile_available_label paragraph_text">
                                            <span>
                                                <label>Hourly Rate</label>
                                            </span>
                                        </div>
                                        <div class="available_input">
                                            {{form_Rate.hourly_rate}}
                                        </div>
                                    </div>
                                    <div class="HourError"></div>
                                    <div class="hourly_input_section" id="hour1">
                                        <div class="profile_available_label paragraph_text">
                                            <span>
                                                <label>Actual Rate</label>
                                            </span>
                                        </div>
                                        <div class="available_input">
                                            {{form_Rate.actual_rate}}
                                        </div>
                                    <button type="button" style="display:none;" id="hour_btn" class="btn-hour-edit  nextBtn" onclick = "addRate();">Save</button>
                                </div>
                            </div>
                        </form>
                     </div>
                         </div>
                     <div class="border_container ">
                        <div class="work-history clearfix profile-desc">
                            <div class="sub-headline-wrapper profile_tittle">
                                <h2 class="sub-headline">Work History</h2>
                            </div>
                            <div class="text-content paragraph_text">
                                <ul>
                                    <li>100% job Success</li>
                                    <li>1,308 hours worked</li>
                                    <li>6 jobs</li>
                                </ul>
                            </div>
                        </div>
                     </div>
                     <div class="border_container">
                        <div class="availability clearfix profile-desc availability_input_section">
                            <div class="sub-headline-wrapper profile_tittle">
                                <h2 class="">Availability</h2>

                            </div>
                            <form role="form" id="availability_form" >
                                <div class="available_section">
                                    <div class="profile_available_label">
                                        <span>
                                            <label>Status</label>
                                        </span>
                                    </div>
                                    <div class="available_status_input">
                                        <ul class="status_list">
                                            <li>
                                                <input type="checkbox" name="status" id="available" value="available"
                                                       {% if user_available.status == 'available' %}
                                                        checked="checked"
                                                       {% endif %}
                                                       class="check_box_style" onclick="available_func();"/>
                                                <label for="available" class="css-label available_label_align">Available</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="status" id="not_available" value="not_available"
                                                       {% if user_available.status == 'not_available' %}
                                                       checked="checked"
                                                        {% endif %}
                                                       class="check_box_style" onclick="not_available_func();"/>
                                                <label for="not_available" class="css-label">Not available</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <div id="period_type">
                                            <div class="available_hide_section">
                                                <div class="profile_available_label">
                                                    <span>
                                                        <label>Period type</label>
                                                    </span>
                                                </div>
                                                <div class="available_input">
                                                    {{avalabile_form.period}}
                                                </div>
                                            </div>
                                        </div>
                                        <div id="avail_hours">
                                            <div class="available_hide_section"  >
                                                <div class="profile_available_label">
                                                    <span >
                                                        <label>Work Hours</label>
                                                    </span>
                                                </div>
                                                <div class="available_input">
                                                    {{ avalabile_form.avalable_hours }}
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" style="display:none;" id="availability_btn" class="btn-available-edit nextBtn" onclick = "addAvailability();">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="avail_text-content  paragraph_text">
                            <div class="available_contents">
                                {% if user_available %}
                               <ul>
                                    <li>Current Status: {{user_available.status}}</li>
                                    {% if user_available.status == 'available' %}

                                        {% if user_available.avalable_hours == '168' %}
                                            <li>Availability : Full time (24x7) </li>
                                        {% else %}
                                            <li>Availability : {{user_available.avalable_hours}}  hrs/week</li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                                {% else %}
                                    <div class="text_holder">
                                         No status added
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <div class="clear"></div>

            </section>
            {% endblock %}
            {% block extra_js %}

            <script>
                $(function() {
					$('.my-jobs-swtch').find('li').each(function(){
						if($(this).hasClass('active')){
							var sectionId = $(this).attr('data-post');
							$('#'+sectionId+'').show();
						}
					});
				});
				$(document).on('click','.my-jobs-swtch li',function(){
					var sectionId = $(this).attr('data-post');
					$('.my-jobs-swtch').find('li').each(function(){
						var sectionIdeach = $(this).attr('data-post');
						$('#'+sectionIdeach+'').hide();
						$(this).removeClass('active');
					});
					$(this).addClass('active');
					$('#'+sectionId+'').show();
				});

                $(function() {
					$('.ver-inline-menu').find('li').each(function(){
						if($(this).hasClass('active')){
							var sectionId = $(this).attr('data_action');
							$('#'+sectionId+'').show();
						}
					});
				});
				$(document).on('click','.ver-inline-menu li',function(){
					var sectionId = $(this).attr('data_action');
					$('.ver-inline-menu').find('li').each(function(){
						var sectionIdeach = $(this).attr('data_action');
						$('#'+sectionIdeach+'').hide();
						$(this).removeClass('active');
					});
					$(this).addClass('active');
					$('#'+sectionId+'').show();
				});

                $( document ).ready(function() {
                    $('#sidenav-close').click(function() {
                        $('.sidebar-container').hide();
                        $('#blanket').hide();
                        $('body').css('position','initial');
                    });
                    $('#sidenav-open').click(function() {
                        $('.sidebar-container').show();
                        $('#blanket').css('display','block');
                        $('body').css('position','fixed');
                    });


                    // jquery for optional menu
                    if ($(window).width()<1024){
                        $('.optional-menu').hide();
                        $('.optinal-sidemenu').show();
                    }
                    else{
                        $('.optional-menu').show();
                        $('.optinal-sidemenu').hide();
                    }
                });


                //progressbar
                $(function() {
                    $( ".slider-range" ).slider({
                        range: true,
                        min: 0,
                        max: 100,
                        values: [ 0, 90 ],
                        slide: function( event, ui ) {
                            $('.amountend').html(ui.values[ 1 ] + "%");
                            
                        }
                    });
                    $('.amountend').html( $( ".slider-range" ).slider( "values", 1 ));
                });    
                          
            </script>
        {% endblock %}