{% extends 'base.html' %}
{% block header_class %}innerheader{% endblock %}
{% load freelancer_extras%}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
{% block title %}freelancer profile{% endblock %}
{% block extra_css %}
{% endblock %}
    {% block content %}
<div  class="content">
        <div class="left_column pull_left">
            <div class=" clearfix">
                <div class="resetPasswordBlock">
                    <input type="hidden" id="firstName" value="{{request.user.first_name}}">
                    <input type="hidden" id="secondName" value="{{request.user.last_name}}">
                    <form class="restPasswordForm" id="resetForm">
                        {% csrf_token %}
                        <input type="hidden" id="is_password" value="false">
                        <fieldset class="fieldset name_change">
                            <div class="labelWrap">
                                <label class="resetPasswordLabel">
                                    Name
                                    <i class="fa downUpAwrrow fa-angle-down" aria-hidden="true"></i>
                                </label>
                                <p class="label-description">Enter your Name</p>
                            </div>
                            <div class="password_message">Name changed</div>
                            <div class="inputWrap">
                                <input type = "text" name='first_name' id='first_name' placeholder="First name" value="{{request.user.first_name}}">
                            </div>
                            <div class="inputWrap">
                                <input type = "text" name='last_name' id='last_name' placeholder="Last name" value="{{request.user.last_name}}">
                            </div>
                            <div class="inputWrap">
                                <button type="submit" class="changePasswordBtn">Save</button>
                                <button type="button" class="changePasswordBtn button_margin labelWrap" >Cancel</button>
                            </div>
                        </fieldset>
                        <fieldset class="fieldset">
                            <div class="labelWrap">
                                <label class="resetPasswordLabel">
                                    Email
                                    <i class="fa downUpAwrrow fa-angle-down" aria-hidden="true"></i>
                                </label>
                                <p class="label-description">Email</p>
                            </div>
                            <div class="inputWrap">
                                <input type = "text" value="{{request.user.email}}" readonly="readonly">
                            </div>
                        </fieldset>
                        <fieldset class="fieldset password_change">
                            <div class="labelWrap">
                                <label class="resetPasswordLabel">
                                    Change Password
                                    <i class="fa downUpAwrrow fa-angle-down" aria-hidden="true"></i>
                                </label>
                                <p class="label-description">Confirm your password</p>
                            </div>
                            <div class="password_message">Password changed</div>
                            <div class="inputWrap">
                                <input type = "password" name='password' id="password" placeholder="New password">
                            </div>
                            <div class="inputWrap">
                                <input type = "password" name='password2' id="password2"  placeholder="Confirm your password">
                            </div>
                            <div class="inputWrap">
                                <button type="submit" class="changePasswordBtn" onclick='$("#is_password").val("true");'>Save</button>
                                <button type="button" class="changePasswordBtn labelWrap button_margin" >Cancel</button>
                            </div>
                        </fieldset>
                        <!--<fieldset>
                            <button type="submit" class="changePasswordBtn">Change Password</button>
                        </fieldset>-->
                    </form>
                </div>
            </div>
        </div>
        <div class="right-column"></div>
</div>

     {% endblock %}
    {% block extra_js %}
    <script type="text/javascript">
         function is_password(){
            $("#is_password").val("true");
         }
         $('#resetForm').on('submit', function(e){
          e.preventDefault();
          $(".commonProfile_error").hide();
          $(".password_message").hide();
          var form =$( "#resetForm" ).serialize();
          var last_name =$( "#last_name" ).val();
          var first_name =$( "#first_name" ).val();
          var password =$( "#password" ).val();
          var password2 =$( "#password2" ).val();
          var is_password =$( "#is_password" ).val();
            $.ajax({
                url: "{% url 'common_profile' %}",
                type: 'POST',
                data:{ form: form,first_name:first_name,last_name:last_name,password:password,password2:password2,is_password:is_password},
                success: function (response) {
                    if (response.status=='name')
                    {
                        console.log(response.first_name);
                        console.log(response.last_name);
                        $("#firstName").val(response.first_name);
                        $("#secondName").val(response.last_name);
                        $("#is_password").val("false");
                        $(".name_change .password_message").show();
                    }
                    if (response.status=='password'){
                        $(".password_change .password_message").show();
                        $("#password").val("");
                        $("#password2").val("");
                    }
                    if(response.status=='error'){
                        console.log(response.password_error);
                        $("#password").val("");
                        $("#password2").val("");
                        $("#is_password").val("false");
                        var $inputs = $('#resetForm :input');
                        $.each(response.form_error, function( name, value )
                        {
                            $inputs.each(function(index, dom){
                                 current_name = dom.name;
                                 if (current_name == name){
                                     var $error_section = $(this).closest("div");
                                     $error_section.append("<span class='commonProfile_error'>Error!"+value+"</span>").css('color','red');
                                 }
                            });
                        });

                    }
                },
                error:function(xhr,status,error)
                {
                    alert("error sorry !!!!!!!!");
                }
            });
        });
		$(document).ready(function() {
			$(".labelWrap").on("click", function() {
				var self = $(this);
				$("#first_name").val($("#firstName").val());
				$("#last_name").val($("#secondName").val());
				$("#password").val("");
				$("#password2").val("");
				$(".commonProfile_error").hide();
				$(".password_message").hide();
				$(".inputWrap").slideUp("slow", function() {
    				$(this).parent().find('.labelWrap').removeClass("opened");
    				$(this).parent().find('.downUpAwrrow').removeClass("fa-angle-up").addClass("fa-angle-down")
  				});
  				if(!self.hasClass("opened")) {
					self.parent().find('.inputWrap').slideDown("slow", function() {
						$(this).parent().find('.labelWrap').addClass("opened");
						$(this).parent().find('.downUpAwrrow').removeClass("fa-angle-down").addClass("fa-angle-up");
					});
  				}
			});
	    });

	</script>
 {% endblock %}