<div class="left-block-container">
    {% if blogs %}
        {% for blog in blogs %}
            <div class="blog-holder clearfix">
                <div class="blog-date-wrapper">
                    <div class="blog-date">
                        <span class="date">{{ blog.blog_date.day }}</span>
                        <span class="day">{{ blog.blog_date|date:"M" }}</span>
                        <span class="year">{{ blog.blog_date.year }}</span>
                    </div>
                </div>
                <div class="blog-content-wrapper">
                    <div class="blog-img-holder clearfix">
                        <img src="{{blog.blog_pic_thumbnail.url}}" alt="logo-black"/>
                    </div>
                    <div class="blog-description-holder clearfix">
                        <div class="blog-title clearfix">
                            <h3>{{blog.blog_title}}</h3>
                        </div>
                        <div class="nocomments">
                            <span><i class="fa fa-comments"></i></span>
                            <span>{{blog.no_comments}}</span>
                            <span><i class="fa fa-user"></i></span>
                            <span> {{blog.user.username}}</span>
                        </div>
                        <p>
                            {{blog.description|striptags|safe|truncatechars:300}}..
                        </p>
                        <div class="clearfix"></div>
                    </div>
                    <div class="read-more-btn-wrapper">
                        <button class="read-more">Readmore</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <h3>No data found !!!</h3>
    {% endif %}
    <div class="clearfix"></div>
</div>