{% extends 'base.html' %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
{% block title %}Blog{% endblock %}
    {% block content %}

        {% if user.is_anonymous %}
         <section class="clearfix">
                <div class="registration-logo-holder">
                    <div class="headline-wrapper">
                        <div class="content">
                            <span class="headline">Blogs</span>
                        </div>
                    </div>
                </div>
        </section>
        {% else %}
            <section>
                <div class="client-profile-container-edit">
                    <div class="content">
                        <h2>Blogs</h2>
                    </div>
                </div>
            </section>
        {% endif %}
            <section class="clearfix">
                <div class="blog-container">
                    <div class="content">
                        <div class="left-block-container">
                            {% if blogs %}
                                {% for blog in blogs %}
                                    <div class="blog-holder clearfix">
                                        <div class="blog-date-wrapper">
                                            <div class="blog-date">
                                                <span class="date">{{ blog.blog_date.day }}</span>
                                                <span class="day">{{ blog.blog_date|date:"M" }}</span>
                                                <span class="year">{{ blog.blog_date.year }}</span>
                                            </div>
                                        </div>
                                        <div class="blog-content-wrapper">
                                            <div class="blog-img-holder clearfix">
                                                <img src="{{blog.blog_pic.url}}" alt="logo-black"/>
                                            </div>
                                            <div class="blog-description-holder clearfix">
                                                <div class="blog-title clearfix">
                                                    <h3>{{blog.blog_title}}</h3>
                                                </div>
                                                <div class="nocomments">
                                                    <span><i class="fa fa-comments"></i></span>
                                                    <span>{{blog.no_comments}}</span>
                                                    <span><i class="fa fa-user"></i></span>
                                                    <span> {{blog.user.username}}</span>
                                                </div>
                                                <p>
                                                    {{blog.description|striptags|safe|truncatechars:300}}....
                                                </p>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="read-more-btn-wrapper">
                                                <button class="read-more" data-post={{blog.slug}}>Readmore</button>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                            <h3>No data found !!!</h3>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        {% if blogs %}
                        <div class="right-block-container">
                            <div class="right-block-content">
                                <div class="search-for-others-profile">
                                    <form id="search-for-blogs">
                                        {% csrf_token %}
                                        <label for="search-for-others-profile">
                                            Search for others
                                        </label>
                                        <div class="profile-search-input-wrapper">
                                            <input type="hidden" id="category_type" name="data" value="all">
                                            <input type="text" id="search-for-others-profile" name="search" value=""  size="21" maxlength="120">
                                            <button type="submit" class="search-blog-btn">
                                    		    <i class="fa fa-search" id="search-blog-icon"></i>
                                    	    </button>
                                        </div>
                                    </form>
                                </div>
                                 <div class="blog-category clearfix">
                                    <h3 class="pad-tb15">Category</h3>
                                     <div class="blog-category-details">
                                         <form>                                         <!--{% csrf_token %}-->
                                         <button type="button"  class="btn-category active all" id="00" value="all" name="all" onclick="blog_sort('00');">All</button>
                                         {%for categ in categs %}
                                                <button type="button" class="btn-category" id="{{categ.id}}" value="{{ categ.category}}" name="categ" onclick="blog_sort({{categ.id}});">{{ categ.category}}</button>
                                         {% endfor %}
                                        </form>
                                    </div>
                                </div>
                                <div class="popular-post clearfix">
                                    {% if blog_latest %}
                                    <h3 class="pad-tb15">Popular posts</h3>
                                    {%  for blog in blog_latest %}
                                    <div class="popular-posts">
                                        <div class="popular-post-image read-more" data-post={{blog.slug}}>
                                            <img src="/media/{{blog.blog_pic}}" alt="">
                                        </div>
                                        <div class="popular-post-description">
                                            <p class="popular-post-title read-more" data-post={{blog.slug}}> {{blog.blog_title}} </p>
                                            <p><i class="fa fa-clock-o"></i> {{blog.blog_date|date:"d-m-y"}} </p>
                                            <p><i class="fa fa-user"></i> {{blog.user.username}} </p>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
            {% endblock %}
            {% block extra_js %}
	        <script type="text/javascript">

            function blog_sort(id){
                is_search = $("#search-for-others-profile").val();
                console.log(is_search);
                $('.blog-category').find('.btn-category').removeClass('active');
                $('.blog-category').find('#'+id).addClass('active');
                var data = $('.blog-category').find('#'+id).val();
                $("#category_type").val(data);
                $.ajax({
                    url: "{% url 'blogs' %}",
                    type: 'POST',
                    data: {data:data,'csrfmiddlewaretoken':'{{csrf_token}}'},
                    success: function (return_data)
                     {
                        $(".left-block-container").replaceWith(return_data.html_content);
                     },
                     errors:function (return_data){ console.log("Error");}

                });
                if(is_search.length>0){
                     $('#search-for-blogs').submit();
                }
            }
            $('.read-more').on('click', function(e){
                var slug = $(this).attr('data-post');
                url =  "/blogs/blogs_detail/"+slug;
                window.location.href = url
            });
            $('#search-for-blogs').on('submit', function(e){
                e.preventDefault();
                var data = $('#search-for-blogs').serialize();
                $.ajax({
                    url: "{% url 'blogs' %}",
                    type: 'POST',
                    data: data,
                    success: function (return_data)
                     {
                        $(".left-block-container").replaceWith(return_data.html_content);
                     },
                     errors:function (return_data){ console.log("Error");}

                });
            });
             function readmore(value){
                $("." +value ).show(200);
                $("#" + value).hide();
                $(".read-more-blog").hide()
                $(".read-less-blog").show()
              }
              function readless(value){
                $("." +value ).hide(200);
                $("#" + value).show()
                $(".read-more-blog").show()
                $(".read-less-blog").hide()
              }
              
            </script>
            {% endblock %}
            readmore()