{% extends 'base.html' %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
{% block title %}Blog{% endblock %}
    {% block content %}
        {% if user.is_anonymous %}
         <section class="clearfix">
                <div class="registration-logo-holder">
                    <div class="headline-wrapper">
                        <div class="content">
                            <span class="headline">Blogs</span>
                        </div>
                    </div>
                </div>
        </section>
        {% else %}
            <section>
                <div class="client-profile-container-edit">
                    <div class="content">
                        <h2>Blogs</h2>
                    </div>
                </div>
            </section>
        {% endif %}
            <section class="clearfix">
                <div class="blog-container">
                    <div class="content">
                        <div class="left-block-container">
                            <div class="blog-holder clearfix">
                                <div class="blog-date-wrapper">
                                    <div class="blog-date">
                                        <span class="date">{{ blog.blog_date.day }}</span>
                                        <span class="day">{{ blog.blog_date|date:"M" }}</span>
                                        <span class="year">{{ blog.blog_date.year }}</span>
                                    </div>
                                </div>
                                <div class="blog-content-wrapper">
                                    <div class="blog-img-holder clearfix">
                                        <img src="{{blog.blog_pic_thumbnail.url}}" alt="logo-black"/>
                                    </div>
                                    <div class="blog-description-holder clearfix">
                                        <div class="blog-title clearfix">
                                            <h3>{{blog.blog_title}}</h3>
                                        </div>
                                        <div class="nocomments">
                                            <span><i class="fa fa-comments"></i></span>
                                            <span>{{blog.no_comments}}</span>
                                            <span><i class="fa fa-user"></i></span>
                                            <span> {{blog.user.username}}</span>
                                        </div>
                                        <p>
                                            {{blog.description|safe}}
                                        </p>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="right-block-container">
                            <div class="right-block-content">
                                <div class="popular-post clearfix">
                                    {% if latest_blog %}
                                    <h3 class="pad-tb15">Popular posts</h3>
                                    {%  for blog in latest_blog %}
                                    <div class="popular-posts">
                                        <div class="popular-post-image">
                                            <img src="/media/{{blog.blog_pic}}" alt="">
                                        </div>
                                        <div class="popular-post-description">
                                            <p class="popular-post-title"> {{blog.blog_title}} </p>
                                            <p><i class="fa fa-clock-o"></i> {{blog.blog_date|date:"d-m-y"}} </p>
                                            <p><i class="fa fa-user"></i> {{blog.user.username}} </p>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
            {% endblock %}
            {% block extra_js %}
	        <script type="text/javascript">
            </script>
            {% endblock %}