
<!--{{ all_jobs }}-->

<!--{% if all_jobs.has_previous %}-->
    <!--<a href="?page={{ all_jobs.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">previous</a>-->
<!--{% endif %}-->
{% if all_jobs %}
    <ul class="pagination">
        {% for num in all_jobs.paginator.page_range %}
        {% ifequal num all_jobs.number %}
        <li class="active">
            <span class="current"><b>{{ num }}</b></span>
        </li>
        {% else %}
        <li>
            <a href="?page={{ num }}"> {{ num }}</a>
        </li>
        {% endifequal %}
        {% endfor %}
    </ul>
{% endif %}


<!--{% if all_jobs.has_next %}-->
    <!--<a href="?page={{ all_jobs.next_page_number }}-->
        <!--{% for key,value in request.GET.items %}-->
            <!--{% ifnotequal key 'page' %}-->
                <!--&{{ key }}={{ value }}-->
            <!--{% endifnotequal %}-->
        <!--{% endfor %}-->
    <!--">next</a>-->
<!--{% endif %}-->

<!--{% if all_jobs.has_previous or  all_jobs.has_next %}-->
     <!--{% load i18n %}-->
     <!--<div class="text-center pagination_container">-->
         <!--<ul class="pagination">-->
            <!--{% if all_jobs.has_previous %}-->
                <!--<li>-->
                    <!--<a href="?{{ all_jobs.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo; {% trans "previous" %}</a>-->
                <!--</li>-->
            <!--{% else %}-->
                <!--<li>-->
                    <!--<span class="disabled prev">&lsaquo;&lsaquo; {% trans "previous" %}</span>-->
                <!--</li>-->
            <!--{% endif %}-->
            <!--{% for page in all_jobs.pages %}-->
                <!--{% if page %}-->
                    <!--{% ifequal page all_jobs.number %}-->
                        <!--<li>-->
                            <!--<span class="current page">{{ page }}</span>-->
                        <!--</li>-->
                    <!--{% else %}-->
                        <!--<li>-->
                            <!--<a href="?{{ page.querystring }}" class="page">{{ page }}</a>-->
                        <!--</li>-->
                    <!--{% endifequal %}-->
                <!--{% else %}-->
                   <!--<li>-->
                        <!--<span class="disabled">.......</span>-->
                   <!--</li>-->
                <!--{% endif %}-->
            <!--{% endfor %}-->
            <!--{% if all_jobs.has_next %}-->
                <!--<li>-->
                    <!--<a href="?{{ all_jobs.next_page_number.querystring }}" class="next">{% trans "next" %} &rsaquo;&rsaquo;</a>-->
                <!--</li>-->
            <!--{% else %}-->
                <!--<li>-->
                    <!--<span class="disabled next">{% trans "next" %} &rsaquo;&rsaquo;</span>-->
                <!--</li>-->
            <!--{% endif %}-->
        <!--</ul>-->
    <!--</div>-->


<!--{% endif %}-->