<div class="overview-content">
    <p class="expandable">
        <span class="wraped">
        {{ client.about_company|slice:"100"}} <span class="more-details" onclick="showMoreDetials()">... more</span>
        </span>
        <span class="hide-details">
            {{client.about_company|safe }}
        </span>
    </p>
</div>