 <div class="modal modal_terms_condition" >
    <div class="modal-dialog">
        <div class="modal-content">
            <span class="pull-right modal-close " onclick="modal_conditions_close()">X</span>
            <div class="actionheading "><span class="pull-right modal-close " onclick="modal_conditions_close()">X</span></div>
            <h4 class="text-center">Terms and Conditions</h4>
            <div class="terms_condition_container">
                <ul>
                    <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam augue mi, tempor quis rutrum
                       vitae, molestie eget ligula. Nulla ultrices nibh sed varius laoreet. Nulla ac molestie orci.
                       Mauris dictum dapibus aliquet. Curabitur eu turpis nulla. Integer sit amet tincidunt lectus.
                       Morbi eget sem nulla. Nam et sapien maximus, dictum nibh nec, volutpat dolor.</p>
                    </li>
                    <li>
                        <p>Proin facilisis luctus sapien vehicula dapibus. Ut in iaculis turpis. Mauris congue orci ut
                        purus rutrum, et dignissim velit porta. Nunc posuere efficitur eros eu imperdiet. Proin ante
                        dui, elementum quis rhoncus sed, consequat non urna. Duis semper, nibh eu tincidunt mattis,
                        ipsum arcu posuere sapien, nec elementum leo metus ut ex.
                        </p>
                    </li>
                    <li>
                         <p> Donec ante purus, egestas sit amet
                            bibendum nec, commodo vel purus. Duis mi leo, venenatis viverra neque a, vehicula scelerisque
                            urna. In tristique nunc ac est maximus, ut dapibus est accumsan. Interdum et malesuada fames ac
                            ante ipsum primis in faucibus.
                         </p>
                    </li>
                    <li>
                        <p>
                        Nullam consectetur congue dui. Mauris laoreet, justo vel fermentum tristique, justo felis
                        sodales nibh, vel suscipit metus massa ac nisi. Aliquam erat volutpat. Etiam quis risus
                        hendrerit, lobortis tellus eget, ultricies tortor. Vestibulum blandit nibh ex, tincidunt iaculis
                        odio dapibus et. Nam feugiat dolor vitae mauris convallis posuere. Sed sed lectus nec enim
                        aliquet maximus consectetur non ligula. Etiam sit amet vulputate tellus. Donec ante quam,
                        viverra quis convallis sed, iaculis sed nulla.
                        </p>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="submit-section">
                <div class="submitBtn" onclick="modal_conditions_close()">OK</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>