<div class="current-client-profile clearfix">
    <div class="client-profile-img clearfix">
        {% if client.profile_pic %}
            <img class="current_image current_bg" src="{{client.profile_pic.url }}" alt="clientprofile" style="width:175;height:175;">
        {% else %}
            <img class="current_image" src="/static/images/no_image.png" alt="clientprofile" style="width:175;height:175;">
        {% endif %}
    </div>
    <div class="clearfix"></div>
    <div class="client-profile-current-wrapper clearfix" id="current_client_profile">
        <ul class="client_profile_holder">
            <li>
                <div class="label">First Name</div>
                <div class="value">
                    {% if user.first_name %}
                    {{ user.first_name }}
                    {% else %}
                    --
                    {% endif %}
                </div>
            </li>
            <li>
                <div class="label">Last Name</div>
                <div class="value">
                    {% if user.last_name %}
                    {{ user.last_name }}
                    {% else %}
                    --
                    {% endif %}

                </div>
            </li>
            <li>
                <div class="label">Email</div>
                <div class="value">
                    {% if user.email %}
                    {{ user.email }}
                    {% else %}
                    --
                    {% endif %}
                </div>
            </li>
            <li>
                <div class="label">Country</div>
                <div class="value">
                    {% if client.country.name %}
                    {{ client.country.name }}
                    {% else %}
                    --
                    {% endif %}

                </div>
            </li>
            <li>
                <div class="label">Region</div>
                <div class="value">
                    {% if client.region.name %}
                    {{ client.region.name }}
                    {% else %}
                    --
                    {% endif %}
                </div>
            </li>
            <li>
                <div class="label">City</div>
                <div class="value">
                    {% if client.city.name %}
                    {{ client.city.name }}
                    {% else %}
                    --
                    {% endif %}
                </div>
            </li>
            <li>
                <div class="label">Phone Number</div>
                <div class="value">
                    {% if client.phone_number %}
                    {{ client.phone_number }}
                    {% else %}
                    --
                    {% endif %}
                </div>
            </li>
            <li>
                <div id="client-profile-edit-btn-holder"><i class="fa fa-pencil" id="client-profile-edit-btn"></i></div>
            </li>
        </ul>
    </div>
</div>
