{%if status%}
<div id="city">
     <label class="address_label">City </label>
    <select name="city" >
            <option >Select a City</option>
        {% for city in cities %}
            {% if request.user.client_profile.city.name == city.name %}
                <option selected="selected">{{ city.name }}</option>
            {% else %}
                <option>{{ city.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
{% else %}

<fieldset id="city">
    <label>City </label>
    <select name="city" >
            <option >Select a City</option>
        {% for city in cities %}
            {% if request.user.client_profile.city.name == city.name %}
                <option selected="selected">{{ city.name }}</option>
            {% else %}
                <option>{{ city.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
</fieldset>

{% endif %}