
{% if status %}
    <div id="region">
        <div>
            <label class="address_label">Region</label>
            <select name="region" id="region_input" onclick="region_select();">
                    <option selected="selected">Select a Region</option>
                {% for region in regions %}
                    {% if request.user.client_profile.region.name == region.name %}
                        <option >{{ region.name }}</option>
                    {% else %}
                        <option>{{ region.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div id="city">
            <label class="address_label">City</label>
            <select name="city" >
                    <option selected="selected">Select a City</option>
                {% for region in regions %}
                    {% if request.user.client_profile.region.city.name == city.name %}
                        <option>{{ region.city.name }}</option>
                    {% else %}
                        <option>{{ region.city.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>

{% else %}

<div id="region">
    <fieldset  >
        <label>Region </label>
        <select name="region" id="region_input" onclick="region_select();">
                <option selected="selected">Select a Region</option>
            {% for region in regions %}
                {% if request.user.client_profile.region.name == region.name %}
                    <option >{{ region.name }}</option>
                {% else %}
                    <option>{{ region.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </fieldset>
    <fieldset id="city">
        <label>City </label>
        <select name="city" >
                <option selected="selected">Select a City</option>
            {% for region in regions %}
                {% if request.user.client_profile.region.city.name == city.name %}
                    <option>{{ region.city.name }}</option>
                {% else %}
                    <option>{{ region.city.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </fieldset>
</div>
{% endif %}