<div class="middle-div-details">
    {% for jobs in all_jobs %}
       <div class="middle-inner">
            <a href="{% url 'find_job_details' jobs.id %}" class="viewlist">View</a>
            <h3>{{ jobs.job_title }}</h3>
            <span class="sub-text">{{ jobs.job_main_category }}</span>
            <p>{{ jobs.job_description }}</p>
            {% for job_subs in jobs.job_sub_category.all %}
                <span class="expertice">{{ job_subs }}</span>
            {% endfor %}
            <div class="date-div">Posted date {{ jobs.job_date|date:"m-d-Y"  }}</div>
            <a href="Client-detailView.html" class="hire-persons"><i class="fa fa-users"></i> 4 Proposals </a>
       </div>
    {% endfor %}
</div>