<div class="company-current" id="company_current">
    <div class="company-edit-btn clearfix">
        <i class="fa fa-pencil" id="company-edit-btn"></i>
    </div>
    <ul class="client_profile_holder">
        <li>
            <div class="label">Company Name</div>
            <div class="value">
                {% if client.company %}
                {{ client.company}}
                {% else %}
                --
                {% endif %}
            </div>
        </li>
        <li>
            <div class="label">Company Address</div>
            <div class="value">
                {% if client.company_address %}
                {{ client.company_address}}
                {% else %}
                --
                {% endif %}
            </div>
        </li>
        <li>
            <div class="label">Phone Number</div>
            <div class="value">
                {% if client.company_phone_number %}
                {{ client.company_phone_number}}
                {% else %}
                --
                {% endif %}
            </div>
        </li>
        <li>
            <div class="label">Website</div>
            <div class="value">
                {% if client.website %}
                {{ client.website}}
                {% else %}
                --
                {% endif %}
            </div>
        </li>
        <li>
            <div class="label">Area of Work</div>
            <div class="value">
                {% if client.area_of_work %}
                {{ client.area_of_work}}
                {% else %}
                --
                {% endif %}
            </div>
        </li>
    </ul>
</div>
