<div class="category_sections">
    <div class="sub_category_container ">
        <div class="switch-top-align">
            <div class="profile-edit-label">
                <label>Sub Categories</label>
            </div>
            <div class="profile-edit-input">
                <select class="multi_select details_align" id="sub_category" name="sub_category" multiple="multiple">
                {% for category in sub_categories %}
                <option value="{{category.id}}">{{category}}</option>
                {% endfor %}
                </select>

            </div>
            <div class="clear"></div>
        </div>
    </div>
    {% if skills %}
    <div class="switch-top-align">
        <div class="profile-edit-label">
            <label>Skills</label>
        </div>
        <div class="profile-edit-input">
            <select class="multi_select dropdown_align" name="skills" id="skills" multiple="multiple" style="margin: 0px; padding: 0px; border: 0px; display: none;">
                {% for skill in skills %}
                <option value="{{skill.id}}">{{skill.skill_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="clear"></div>
    </div>
    {% endif %}
</div>
<script>
    $('.multi_select').tokenize({
        displayDropdownOnFocus: true,
    });
</script>
