<div class="invite-modal" id="invite-modal-container">
    <div class="invite-modal-content clearfix">
        <div class="pull-right">
           <i class="fa fa-close close-invite-modal"></i>
        </div>
        <div class="invited-freelancer clearfix">
            <div class="freelancer-icon pull-left">
                {% if freelancer_details.profile_pic %}
                <img src="{{ freelancer_details.profile_pic.url }}" alt="">
                {% else %}
                <img src="/static/images/no_image.png"  alt="clientprofile">
                {% endif %}
            </div>
            <div class="freelancer-name pull-left">
                <h3>{{ freelancer_details.user.first_name }} {{ freelancer_details.user.last_name }}</h3>
                <span>{{ freelancer_details.professional_title }}</span>
             </div>
        </div>
        <form action="" class="invite-modal-form" method="POST">
            {% csrf_token %}
            <input type="hidden" name="freelancer_id" value="{{ freelancer_details.id }}">
            <input type="hidden" name="invite_form" value="1">
            <p>
                <label for="message">Message</label>
                <textarea name="messege" id="messege" rows="4"></textarea>
            </p>
            <p>
                <label for="choose-job">Choose a job</label>
                <div class="choose-job-error" style="color: rgb(255, 0, 0);">Error! Please Choose a Job.</div>
                <select name="choose-job" id="choose-job"  onchange="is_invited({{freelancer_details.id}});">
                    <option value="0">Select a Job</option>
                    {% for job in all_jobs %}
                        <option value="{{ job.slug }}">{{ job.job_title }}</option>
                    {% endfor %}
                </select>
                <span class="invite_error">You are already invited for this job</span>
            </p>
            <p>
                <a href="{% url 'post-job' %}?invite_id={{ freelancer_details.slug }}" class="invite-link">Create a new job & invite</a>
            </p>
            <p>

            </p>
             <div class="post-a-job-profile clearfix">
                <button type="button" id="send-invitation" class="send_inite">Send Invitation</button>
                <button type="button" id="prevent-invitation" class="prevent_inite">Send Invitation</button>
            </div>
        </form>
        <div class="popover-arrow">
        </div>
    </div>
</div>
<script>
    function is_invited(freelancer){
        var data = $("#choose-job").val();
        $(".invite_error").hide();
        $.ajax({
            url: "{% url 'is_invited'%}",
            type: 'GET',
            data: {job:data,freelancer:freelancer},
            success: function (return_data)
             {
                if(return_data.is_invited == true ){
                    $(".invite_error").show();
                    $(".prevent_inite").show();
                    $(".send_inite").hide();
                }
                else{
                    $(".prevent_inite").hide();
                    $(".send_inite").show();
                }
             },
            error:function(xhr,status,error)
                {
                    console.log("Errrrrrrrr");
                }
        });
    }
</script>