{% load threadedcomments_tags %}
<div class="message_header">
    <div class="clearfix">
        <div class="pull-left view-full-screen-btn">
            <i class="fa fa-angle-left"></i>
        </div>
         <div class="pull-right attachment-open-arrow">
            <i class="fa fa-file-text-o"></i>
             <i class="fa fa-long-arrow-right"></i>
        </div>
    </div>
    <h3 class="my_job_name job_message_heading">
        <a href="javascript:void(0);">{{ applied_job_details.job_title|truncatechars:20 }} <span class="job-id">( Job id: {{ applied_job_details.job_number }})</span>    </a>
    </h3>
</div>
<div class="message-list-wrap">
    <div class="message-list-container" id="msg_container">
        {% for messeges in job_message %}
            <div class="message-show-container clearfix">
                <div class="message-show clearfix">
                    <div class="message-details fade in {% if request.user.id == messeges.user.id %} pull-right right {% else %}  pull-left left{% endif %}">
                        <div class="arrow" style="top: 30px;"></div>
                        <div class="message-details-content">{{ messeges.messege }}
                            <div class="msg-rpy-date ">{{ messeges.post_date }}</div>
                            <div class="replay-comment-btn">
                                {% get_comment_count for messeges as messageCount %}
                                {% if messeges.attachment_file %}
                                <div class="replay-show-comment"><a
                                        href="{{ messeges.attachment_file.url }}" target="_blank"><i
                                        class="fa fa-file"></i> Attachment<!--View--></a>
                                </div>
                                {% endif %}
                                <!--<div id="msg_pos_212{{ messeges.id }}"
                                     class="replay-show-comment {% if messageCount != 0 %} has-replies{%  endif %}"
                                     data-msg="APP{{ messeges.id }}">
                                    &lt;!&ndash;communication&ndash;&gt; Follow ups <span class="reply-count">{{ messageCount }}</span>
                                </div>
                                <div class="replay-this-comment"
                                     data-msg="APP{{ messeges.id }}">
                                    <i class="fa fa-comment"></i> Reply
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="{% if request.user.id = messeges.messege_to.id %}pull-right{% else %} pull-left{% endif %}">
                        <div class="message-image ">
                             {% if request.user.active_account == 'FLR' %}
                                {% if request.user.id == messeges.messege_to.id %}
                                    {% if messeges.user.client_profile.profile_pic %}
                                        <img src="{{ messeges.user.client_profile.profile_pic.url  }}" alt="">
                                    {% else %}
                                        <img src="/static/images/no_image.png" alt="">
                                    {% endif %}
                                {% else %}
                                    {% if messeges.user.freelancer_profile.profile_pic %}
                                        <img src="{{ messeges.user.freelancer_profile.profile_pic.url  }}" alt="">
                                    {% else %}
                                        <img src="/static/images/no_image.png" alt="">
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if request.user.id == messeges.user.id %}
                                    {% if messeges.user.client_profile.profile_pic %}
                                        <img src="{{ messeges.user.client_profile.profile_pic.url  }}" alt="">
                                    {% else %}
                                        <img src="/static/images/no_image.png" alt="">
                                    {% endif %}
                                {% else %}
                                    {% if messeges.user.freelancer_profile.profile_pic %}
                                        <img src="{{ messeges.user.freelancer_profile.profile_pic.url  }}" alt="">
                                    {% else %}
                                        <img src="/static/images/no_image.png" alt="">
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <p class="message-username">{{ messeges.user.first_name }}</p>
                    </div>
                </div>
               <!-- <div class="message-replay-list" id="msg_replay_APP{{ messeges.id }}">
                    <div class="message-replies">
                        {% get_comment_list for messeges as comment_list %}
                        {% for comment in comment_list %}
                        <div class="message-show clearfix">

                            <div class="message-details fade in  {% if request.user.id == comment.user.id %} pull-left left {% else %} pull-right right{% endif %}">
                                <div class="arrow" style="top: 30px;"></div>
                                <div class="message-details-content">{{ comment.comment }}
                                    <div class="msg-rpy-date ">{{ comment.submit_date }}</div>
                                    <div class="replay-comment-btn">
                                        {% if comment.attachment_file %}
                                        <div class="replay-show-comment"><a  target="_blank" href="{{ comment.attachment_file.url }}"><i
                                                class="fa fa-file"></i> View</a></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="{% if request.user.id == comment.user.id %}pull-left{% else %}  pull-right{% endif %}">
                                <div class="message-image">
                                    {% if request.user.id != comment.user.id %}
                                    {% if comment.user.client_profile.profile_pic %}
                                    <img src="{{ comment.user.client_profile.profile_pic.url  }}" alt="">
                                    {% else %}
                                    <img src="/static/images/no_image.png" alt="">
                                    {% endif %}
                                    {% else %}
                                    {% if comment.user.freelancer_profile.profile_pic %}
                                    <img src="{{ comment.user.freelancer_profile.profile_pic.url  }}" alt="">
                                    {% else %}
                                    <img src="/static/images/no_image.png" alt="">
                                    {% endif %}
                                    {% endif %}
                                </div>
                                <p class="message-username">{{ comment.user.first_name }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="message-rplyshow">
                        {% get_comment_form for messeges as message_form %}
                        <form method="post" enctype="multipart/form-data" action="/comments/post/"
                              class="applied_job_form_{{ messeges.id }}">
                            {% csrf_token %}
                            {{ message_form.security_hash }}
                            {{ message_form.content_type }}
                            {{ message_form.object_pk }}
                            {{ message_form.timestamp }}
                            <input type="hidden" value="message_send" name="postFormType">
                            <input type="hidden" name="next"
                                   value="/client/my-jobs/?tab=1&cur_msg=1221{{ applied_job_details.id }}&msg_pos=212{{ messeges.id }}"/>

                            <div class="message-replay message-thread-rply" id="message-reply-open_APP{{ messeges.id }}">
                                {{ message_form.comment }}
                                <div class="message-button clearfix">
                                    <div class="pull-left">
                                       &lt;!&ndash; <button type="button" class="skipBtn message-post-btn " id="attach-image-btn">Attach File

                                        </button>
                                        {{ message_form.attachment_file }}&ndash;&gt;
                                    </div>
                                    <div class="pull-right">
                                        <button type="submit" class="skipBtn message-post-btn " id="id_submit"
                                                onclick="return checkValidationReply({{ messeges.id }})">Post
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>-->
            </div>
        {% endfor %}
    </div>
    <div class="message-replay-container" >
    <form enctype="multipart/form-data" id="commentbox" data-post="{% url 'find_job_details' applied_job_details.slug %}?cur_msg=1221{{ applied_job_details.id }}" action=".?cur_msg=1221{{ applied_job_details.id }}" method="post"
          class="applied_job_form_{{ applied_job_details.id  }}" >
        {% csrf_token %}
        <input type="hidden" value="{{ tabactive }}" class="tab-active" name="tab-active">
        <input type="hidden" value="message_send" name="postFormType">
        <input type="hidden" value="post_message" name="post_message">
        <input type="hidden" value="{{ applied_job_details.id }}" name="job_id">
        <input type="hidden" value="{{ applied_job_details.user.id }}" name="messege_to">
        <input type="hidden" value="{{freelancer.id}}" name="freelancer_id" id="freelancer_id">
        <div class="message-rplyshow">
            <div class="message-replay" >
                {{ message_form.messege }}
            </div>
            <div class="message-button clearfix">
                <div class="pull-left">
                    <button type="button" class="skipBtn message-post-btn " id="attach-image-btn">Attach File

                    </button>
                    {{ message_form.attachment_file }}
                </div>
                <div class="scroll_point"></div>
                <div class="pull-right">
                    <button type="submit" class="skipBtn message-post-btn "
                            onclick="return checkValidation({{ applied_job_details.id }})">Post
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>
</div>
<div class="message-list-attachments">
    {% for messeges in job_message %}
        {% if messeges.attachment_file %}
            <div>
                <!---->
                <div class="message-show clearfix">
                    <div class="message-details fade in {% if request.user.id == messeges.user.id %}  pull-right right {% else %}  pull-left left{% endif %}">
                        <div class="arrow" style="top: 30px;"></div>

                             <div class="replay-show-comment">
                                 <a href="{{ messeges.attachment_file.url }}"  target="_blank"><i
                                    class="fa fa-file"></i> {{ messeges.attachment_file }} </a>
                                 <div class="msg-rpy-date ">{{ messeges.post_date }}</div>

                            </div>

                    </div>
                    <div class="{% if request.user.id = messeges.messege_to.id %} pull-right {% else %}pull-left  {% endif %}">
                        <div class="message-image ">
                            {% if request.user.active_account == 'FLR' %}
                                {% if request.user.id == messeges.messege_to.id %}
                                    {% if messeges.user.client_profile.profile_pic %}
                                        <img src="{{ messeges.user.client_profile.profile_pic.url  }}" alt="">
                                    {% else %}
                                        <img src="/static/images/no_image.png" alt="">
                                    {% endif %}
                                {% else %}
                                    {% if messeges.user.freelancer_profile.profile_pic %}
                                        <img src="{{ messeges.user.freelancer_profile.profile_pic.url  }}" alt="">
                                    {% else %}
                                        <img src="/static/images/no_image.png" alt="">
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if request.user.id == messeges.user.id %}
                                    {% if messeges.user.client_profile.profile_pic %}
                                        <img src="{{ messeges.user.client_profile.profile_pic.url  }}" alt="">
                                    {% else %}
                                        <img src="/static/images/no_image.png" alt="">
                                    {% endif %}
                                {% else %}
                                    {% if messeges.user.freelancer_profile.profile_pic %}
                                        <img src="{{ messeges.user.freelancer_profile.profile_pic.url  }}" alt="">
                                    {% else %}
                                        <img src="/static/images/no_image.png" alt="">
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <p class="message-username">{{ messeges.user.first_name }}</p>
                    </div>
                </div>



                <!---->


            </div>
        {% endif %}
        {% get_comment_list for messeges as comment_list %}
        {% for comment in comment_list %}
            {% if comment.attachment_file %}
                 <div>
                    <div class="replay-show-comment"><a
                            href="{{ comment.attachment_file.url }}"  target="_blank"><i
                            class="fa fa-file"></i> View</a>
                    </div>
                 </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>