<div class="overview-current" id="overview_current">
    <div class="overview-edit-btn clearfix">
        <i class="fa fa-pencil" id="overview-edit-btn"></i>
    </div>
    <div class="overview-content">
       {% if client.about_company %}
          {{ client.about_company|safe}}
       {% else %}
          <p>Add your profile overview text hear <small> (default text)</small></p>
       {% endif %}
    </div>
</div>

