<div class="new-job-container">
    <div class="post-job-form-field">
        <div class="profile-edit-form-group">
            <div class="profile-edit-label">
                <label>Job Title </label>
            </div>
            <div class="profile-edit-input">
                {{form.job_title}}
                {{form.errors.job_title}}
            </div>
            <div class="clear"></div>
        </div>
        <div class="profile-edit-form-group">
            <div class="profile-edit-label">
                <label>Describe about job</label>
            </div>
            <div class="profile-edit-input">
                {{form.job_description}}
                {{form.errors.job_description}}
            </div>
            <div class="clear"></div>
        </div>
        <div class="profile-edit-form-group">
            <div class="profile-edit-label">
                <label>Job Category</label>
            </div>
                <div class="category_container job_main_categories">

                    <select id="main_category_section" class="category_dropbox" name="job_main_category" onclick="work_category();">
                        <option>Select an option</option>
                        {% for category in main_category %}
                            {% if job.job_main_category == category %}
                                <option value="{{category.id}}" selected="selected">{{category}}</option>
                            {% else %}
                                <option value="{{category.id}}" >{{category}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    {{form.errors.job_main_category}}
                </div>
            <div class="clear"></div>
       </div>
        <div class="category_skill_section">
            <div class="sub_category_container profile-edit-form-group">
                <div class="profile-edit-label sub_category_label">
                    <label>Sub Categories</label>
                </div>
                <div class="profile-edit-input">
                    <select class="multi_select sub_dropdown category_dropdown" name="job_sub_category" multiple="multiple">
                        {% for job_sub_category in job.job_sub_category.all %}
                            <option value="{{job_sub_category.id}}" selected="selected">{{job_sub_category.sub_category_title}}</option>
                        {% endfor %}
                        {% for category in sub_category %}
                            <option value="{{category.id}}">{{category}}</option>
                        {% endfor %}
                        </select>
                    {{form.errors.job_sub_category}}
                </div>
                <div class="clear"></div>
            </div>
            <div class="profile-edit-form-group">
                <div class="profile-edit-label">
                    <label>Skills needed</label>
                </div>
                <div class="profile-edit-input">
                    <select class="multi_select job_category_style" name="job_skills" multiple="multiple">
                        {% for skill in job.job_skills.all %}
                            <option value="{{skill.id}}" selected="selected">{{skill.skill_name}}</option>
                        {% endfor %}
                        {% for skill in skills %}
                            <option value="{{skill.id}}">{{skill.skill_name}}</option>
                        {% endfor %}
                    </select>
                    {{form.errors.skills}}
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="profile-edit-form-group">
            <div class="profile-edit-label">
                <label>How will you pay ? </label>
            </div>
            <div class="profile-edit-input amount_input">
                <div class="semi_width">
                    <span class="type">Type:</span>
                    <select name="payment_type" class="pay_type" >
                        <option value="per hour">per hour</option>
                        <option value="per job">per job</option>
                    </select>
                </div>
                <div class="semi_width">
                    <span class="amount">Amount:</span>
                    {{form.payment}}
                    {{form.errors.payment}}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="profile-edit-form-group ">
            <div class="profile-edit-label">
                <label>Duration Estimated </label>
            </div>
            <div class="profile-edit-input rate_input">
                <span>Month:</span>
                {{ form.duration_in_month }}
                <span>Week:</span>
                {{ form.duration_in_weak }}
                <span>Hour:</span>
                {{ form.duration_in_hour }}
            </div>
            <div class="clear"></div>
        </div>
        <div class="profile-edit-form-group">
            <div class="profile-edit-label">
                <label>Experience Level </label>
            </div>
            <div class="profile-edit-input">
                <select name="exp_level" class="job_category_style">
                    <option value="Fresher">Fresher</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Expert">Expert</option>
                </select>
            </div>
            <div class="clear"></div>
        </div>
        <div class="profile-edit-form-group">
            <div class="profile-edit-label">
                <label>Number of Hire </label>
            </div>
            <div class="profile-edit-input">
                {{form.no_of_hires}}
                {{form.errors.no_of_hires}}
            </div>
            <div class="clear"></div>
        </div>
        <div class="profile-edit-form-group">
            <div class="profile-edit-label">
                <label>Qualification Needed </label>
            </div>
            <div class="profile-edit-input">
                {{form.qualifications}}
                {{form.errors.qualifications}}
            </div>
            <div class="clear"></div>
        </div>
        <div class="job_post_section job_setting_holder">
            <div class="semi_width">
                <div class="profile-edit-form-group">
                    <div class="profile-edit-label">
                        <label>Job status </label>
                    </div>
                    <div class="profile-edit-input">
                        <select id="id_status" name="status" class="job_category_style">
                            <option value="OPEN">Open</option>
                            <option value="CLOSE">Close</option>
                            <option value="DRAFT">Draft</option>
                        </select>
                        {{form.errors.status}}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="semi_width">
                <div class="profile-edit-form-group">
                    <div class="profile-edit-label">
                        <label>Closing date  </label>
                    </div>
                    <div class="profile-edit-input">
                        <input type="text" rel="text" name="job_close_date" class="form-personal-title datepicker" >
                        {{form.errors.job_close_date}}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="profile-edit-form-group padding-bottom-profile text-left">
            <button type="submit" class="job_post_button skipBtn ">Post Job</button>
        </div>
    </div>
</div>

{% block extra_js %}
    <script>

    $(function() {
        var dateToday = new Date();
        $( ".datepicker" ).datepicker({
            changeMonth: true,
            changeYear: true,
            minDate: dateToday,
            altFormat: "yy-mm-dd",
            dateFormat: 'yy-mm-dd',
        });
    });
    $(document).ready(function() {
        $('input:radio[name=inviteJobsection]').change(function() {
            if (this.value == '1') {
                $('.new-job-container').show();
                $('.choosejob-container').hide();
            }
            else if (this.value == '2') {
                $('.new-job-container').hide();
                $('.choosejob-container').show();
            }
        });
    });
        //fetch prevoius job details

        $('#job_details').change(function(){

            var job = $('#job_details').val();
            var data = $('#job_post_form').serialize();
            $.ajax({
                url: "{% url 'fetch_job_details'%}",
                type: 'POST',
                data: data,
                success: function (return_data)
                 {
                    if(return_data.status == true) {
                        $(".new-job-container").replaceWith(return_data.html_content);
                    }

                 },
                error:function(xhr,status,error)
                    {
                        console.log("Errrrrrrrr");
                    }
            });
        });

         //add more Question
        $('.post-job-accordian').click(function() {
            if($(this).parent().children('.post-job-accordian-details').is(':visible')) {
                $(this).parent().children('.post-job-accordian-details').fadeOut( "slow" );
            }else {
                $(this).parent().children('.post-job-accordian-details').fadeIn( "slow" );
            }
        });
        $('.multi_select').tokenize({
            displayDropdownOnFocus: true,
            placeholder: "Enter details ",
            newElements:false,
        });

        function work_category(){
        var data = $('#main_category_section').find(":selected").val();
        $.ajax({
            url: "{% url 'post-job' %}",
            type: 'GET',
            data:{action:data},
            success: function (response) {
                if(response.status == true) {
                    $(".category_skill_section").replaceWith(response.html_content);
                }
                else {
                    $(".category_skill_section").replaceWith(response.html_content);
                }

            },
            error:function(xhr,status,error)
            {

            }
        });
    }
    </script>
    {% endblock %}