<div class="new-job-container">
    <div class="post-job-form-field">
        <div class="profile-edit-form-group">
            <div class="profile-edit-label">
                <label>Job Title </label>
            </div>
            <div class="profile-edit-input">
                <input type="text" rel="text" name="job_title" class="form-personal-title" id="personal-title">
                {{form.errors.job_title}}
            </div>
            <div class="clear"></div>
        </div>
        <div class="profile-edit-form-group">
            <div class="profile-edit-label">
                <label>Describe about job</label>
            </div>
            <div class="profile-edit-input">
                <textarea name="job_description" rows="8"></textarea>
                {{form.errors.job_description}}
            </div>
            <div class="clear"></div>
        </div>
        <div class="profile-edit-form-group">
            <div class="profile-edit-label">
                <label>Job Category</label>
            </div>
                <div class="category_container job_main_categories">
                    <select id="main_category_section" class="category_dropbox" name="job_main_category" onclick="work_category();">
                        <option value="0">Select an option</option>
                        {% for category in main_category %}
                            <option value="{{category.id}}">{{category}}</option>
                        {% endfor %}
                    </select>
                    {{form.errors.job_main_category}}
                </div>
            <div class="clear"></div>
       </div>
        <div class="category_skill_section">
            <div class="sub_category_container profile-edit-form-group">
                <div class="profile-edit-label sub_category_label">
                    <label>Sub Categories</label>
                </div>
                <div class="profile-edit-input">
                    <select class="multi_select sub_dropdown category_dropdown" name="job_sub_category">
                       {% for category in sub_categories %}
                        <option value="{{category.id}}">{{category}}</option>
                        {% endfor %}
                    </select>
                    {{form.errors.job_sub_category}}
                </div>
                <div class="clear"></div>
            </div>
            <div class="profile-edit-form-group">
                <div class="profile-edit-label">
                    <label>Skills needed</label>
                </div>
                <div class="profile-edit-input">
                    <select class="multi_select job_category_style" name="job_skills">
                        <option></option>
                    </select>
                    {{form.errors.skills}}
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="profile-edit-form-group">
            <div class="profile-edit-label">
                <label>How will you pay ? </label>
            </div>
            <div class="profile-edit-input amount_input">
                <div class="semi_width">
                    <span class="type">Type:</span>
                    <select name="payment_type" class="pay_type" >
                        <option value="per hour">per hour</option>
                        <option value="per job">per job</option>
                    </select>
                </div>
                <div class="semi_width">
                    <span class="amount">Amount:</span>
                    <div class="error_section">
                        <input type="text" rel="text" name="payment" class="pay_type" >
                    </div>
                    {{form.errors.payment}}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="profile-edit-form-group">
            <div class="profile-edit-label">
                <label>Duration Estimated </label>
            </div>
            <div class="profile-edit-input rate_input">
                <span >Month:</span>
                <input type="text" rel="text" name="duration_in_month" class="duration_input">
                <span >Week:</span>
                <input type="text" rel="text" name="duration_in_weak" class="duration_input" >
                <span>Hour:</span>
                <input type="text" rel="text" name="duration_in_hour" class="duration_input">
            </div>
            <div class="clear"></div>
        </div>
        <div class="profile-edit-form-group">
            <div class="profile-edit-label">
                <label>Experience Level </label>
            </div>
            <div class="profile-edit-select2">
                <select name="exp_level" class="job_category_style">
                    <option value="Fresher">Fresher</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Expert">Expert</option>
                </select>
            </div>
            <div class="clear"></div>
        </div>
        <div class="profile-edit-form-group">
            <div class="profile-edit-label">
                <label>Number of Hire </label>
            </div>
            <div class="profile-edit-input">
                <input type="text" rel="text" name="no_of_hires" class="form-personal-title" >
                {{form.errors.no_of_hires}}
            </div>
            <div class="clear"></div>
        </div>
        <div class="profile-edit-form-group">
            <div class="profile-edit-label">
                <label>Qualification Needed </label>
            </div>
            <div class="profile-edit-input">
                <input type="text" rel="text" name="qualifications" class="form-personal-title" >
                {{form.errors.qualifications}}
            </div>
            <div class="clear"></div>
        </div>
        <div class="job_post_section job_setting_holder">
            <div class="semi_width">
                <div class="profile-edit-form-group">
                    <div class="profile-edit-label">
                        <label>Job status </label>
                    </div>
                    <div class="profile-edit-input">
                        <select id="id_status" name="status" class="job_category_style">
                            <option value="OPEN">Open</option>
                            <option value="CLOSE">Close</option>
                            <option value="DRAFT">Draft</option>
                        </select>
                        {{form.errors.status}}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="semi_width">
                <div class="profile-edit-form-group">
                    <div class="profile-edit-label">
                        <label>Closing date  </label>
                    </div>
                    <div class="profile-edit-input">
                        <input type="text" rel="text" name="job_close_date" class="form-personal-title datepicker" >
                        {{form.errors.job_close_date}}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="profile-edit-form-group padding-bottom-profile text-left">
            <button type="submit" class="job_post_button skipBtn ">Post Job</button>
        </div>
    </div>
</div>