
<div class="job-all">

    {%  for jobs in all_jobs %}
        {% if request.user.is_authenticated %}
                {% if request.user.active_account == "CL" %}
                       <div class="middle-inner">
                           <div class="joblistdetails">
                               <!-- <a href="{% url 'find_job_details' jobs.id %}" class="viewlist viewlistright">View</a>-->
                                <h3 ><a href="{% url 'find_job_details' jobs.slug %}">{{ jobs.job_title }}</a></h3>
                                <span class="sub-text">{{ jobs.payment_type|capfirst }}-{{ jobs.payment }}
                                    {% if jobs.exp_level %}
                                    | Experience:{{ jobs.exp_level }}
                                    {% endif %}
                                    {% if jobs.no_of_hires %}
                                    | No.of Hires:{{ jobs.no_of_hires }}
                                    {% endif %}
                                </span>
                                <p>{{ jobs.job_description|truncatechars:300  }}...<a href="{% url 'find_job_details' jobs.id %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>

                               <div class="experticeDetailWrap" id="experticeWrap">
                                    {% for skill in jobs.job_skills.all %}
                                        <span class="expertice">{{ skill.skill_name }}</span>
                                    {% endfor %}
                                    <div class="experticeViewmore">
                                        <i class="fa fa-plus-square-o"></i>
                                    </div>
                                </div>

                                <div class="date-div">Posted date {{ jobs.job_date }}</div>
                                <span class="bottom-border-color"></span>
                           </div>
                       </div>
                 {% else %}
                     <div class="middle-inner">
                        <div class="joblistdetails">
                            <!--<a href="{% url 'job_details' jobs.id %}" class="viewlist viewlistright">View</a>-->
                            <h3> <a href="{% url 'job_details' jobs.slug %}">{{ jobs.job_title }}</a></h3>
                            <span class="sub-text">{{ jobs.payment_type|capfirst }}-{{ jobs.payment }}
                                {% if jobs.exp_level %}
                                | Experience:{{ jobs.exp_level }}
                                {% endif %}
                                {% if jobs.no_of_hires %}
                                | No.of Hires:{{ jobs.no_of_hires }}
                                {% endif %}
                            </span>
                            <p>{{ jobs.job_description|truncatechars:300  }}...<a href="{% url 'find_job_details' jobs.id %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                           <div class="experticeDetailWrap" id="experticeWrap">
                                {% for skill in jobs.job_skills.all %}
                                    <span class="expertice">{{ skill.skill_name }}</span>
                                {% endfor %}
                                <div class="experticeViewmore">
                                    <i class="fa fa-plus-square-o"></i>
                                </div>
                            </div>
                            <div class="date-div">Posted date {{ jobs.job_date }}</div>
                            <span class="bottom-border-color"></span>
                         </div>
                   </div>
                {% endif %}
        {% else %}
            <div class="middle-inner">
                <div class="joblistdetails">
                    <h3 ><a href="{% url 'find_job_details' jobs.slug %}">{{ jobs.job_title }}</a></h3>
                    <p>{{ jobs.job_description|truncatechars:300  }}...<a href="{% url 'find_job_details' jobs.id %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                   <div class="experticeDetailWrap" id="experticeWrap">
                        {% for skill in jobs.job_skills.all %}
                            <span class="expertice">{{ skill.skill_name }}</span>
                        {% endfor %}
                        <div class="experticeViewmore">
                            <i class="fa fa-plus-square-o"></i>
                        </div>
                    </div>
                    <div class="date-div">Posted date {{ jobs.job_date }}</div>
                    <span class="bottom-border-color"></span>
                </div>
           </div>
        {% endif %}
    {%  endfor %}
        <div class="clearfix pagition-wrapper">

        {% include "includes/pagination.html" %}
       </div>
</div>
<script>
    $(".middle-inner").show();
</script>