<div class="clearfix tab-list" id="applied-job">
    <div class="profile-container clearfix">
        <div class="content">
            {% if all_jobs %}
                {% for jobs in all_jobs  %}
                    <div class="my_job_list job-list-wrap">
                        <div class="clearfix">
                            <div class="pull-left job-details-wrap">
                                <h3 class="my_job_name">
                                    <a href="{% url 'my_jobsDetails' jobs.job.id %}">{{ jobs.job.job_title }}   <span class="job-id">( Job id: {{ jobs.job.job_number }} )</span>    </a>
                                </h3>
                                <p class="my_job_field job-description">
                                    {{ jobs.job.job_description }}
                                </p>
                                <div class="job-details-skills">
                                    <span class="skill-head">Skills:</span>
                                   {% for skill in jobs.job.job_skills.all %}
                                    <span class="expertice">{{ skill.skill_name }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="pull-right my_job_select">
                                <p class="budget-details">Budjet:</p>
                                <p class="budget-rate">${{ jobs.job.payment }} {% if jobs.job.payment_type == "per hour" %}<i class="fsize">/hr</i>{% endif %}</p>
                                {% if not jobs.job.id in quote_cancel_array %}
                                     <a href="{% url 'my_jobsDetails' jobs.job.id %}?update=1">
                                        <p class="quoteBtn  accepted_this">Update</p>
                                    </a>
                                    <a href="{% url 'my_jobsDetails' jobs.job.id %}?update=2">
                                        <p class="quoteBtn accepted_this">Cancel</p>
                                    </a>
                                {% else %}
                                    <p class="quoteBtn  accepted_this">Canceled</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="message-container freelancerMsg">
                        </div>
                        <div class="view-application-details">
                            <div class="view-more-details">
                                <span class="animation-move  job_chat " id="view-more-apply-freelancer" >
                                    <span class="display-block viewMoreContent ">VIEW MESSAGES</span>
                                    <i class="fa fa-angle-down"></i>
                                </span>

                            </div>

                        </div>
                        <div class="border-bottom">
                            <div class="rel">
                                {% if not jobs.job.id in quote_cancel_array %}
                                    {% for apply_status in applied_status %}
                                        {% if jobs.job.id == apply_status.job.id %}

                                            <span class="send-quote-status">
                                                {% if apply_status.status == "Declined" %}
                                                    <i class="fa fa-ban applied_status_icon"></i>
                                                 {% elif apply_status.status == "ShortList" %}
                                                    <i class="fa fa-heart-o applied_status_icon"></i>
                                                {% endif %}
                                                {{ apply_status.status }}
                                            </span>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <span class="send-quote-status">Canceled this Quote </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% include 'message.html' %}
            {% endif %}

        </div>
    </div>
</div>