{% load threadedcomments_tags %}
<div class="clearfix tab-list" id="invited-job">
<div class="profile-container clearfix">
    <div class="content">
        {% if all_jobs %}
            {% for jobs in all_jobs  %}
                <div class="my_job_list">
                    <div class="clearfix">
                        <div class="pull-left job-details-wrap">
                             <h3 class="my_job_name">
                                <a href="{% url 'my_jobsDetails' jobs.job.slug %}">{{ jobs.job.job_title }} <span class="job-id">( Job id : {{ jobs.job.job_number }} )</span></a>
                            </h3>
                            <p class="my_job_field job-description">
                                {{ jobs.job.job_description }}
                            </p>
                            <div class="job-details-skills">
                                <span class="skill-head">Skills:</span>
                               {% for skill in jobs.job.job_skills.all %}
                                    <span class="expertice">{{ skill.skill_name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="pull-right my_job_select">
                            <p class="budget-details">Budjet:</p>
                            <p class="budget-rate">${{ jobs.job.payment }} {% if jobs.job.payment_type == "per hour" %}<i class="fsize">/hr</i>{% endif %}</p>
                            {% if not jobs.is_rejected_by_client  %}
                                {% if not jobs.is_rejected  %}
                                    <form method="post" enctype="multipart/form-data" action="" name="acceptForm" id="acceptForm">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ jobs.job.id }}" name="accept_job_id">
                                        <input type="hidden" value="{{ request.user.freelancer_profile.id }}" name="accept_user">
                                        <input type="hidden" value="decline-job" name="accept-this-job">
                                            <p class="quoteBtn accept-invitation {% if jobs.is_accepted  %}accepted_this{% else %}cursur-pointer{% endif %}">{% if jobs.is_accepted  %}Accepted{% else %}Accept{% endif %}</p>
                                    </form>
                                {% endif %}
                            {% else %}
                                <p class="quoteBtn accept-invitation accepted_this">Withdrawn</p>

                            {% endif %}

                            {% if not jobs.job.id in quotes_submit and jobs.is_accepted and not jobs.is_rejected_by_client %}
                                <a href="{% url 'my_jobsDetails' jobs.job.id %}">

                                    <p class="quoteBtn accept-invitation accepted_this">{% if jobs.job.id  in quote_array %}Update{% else %}Send Quote {% endif %}</p>

                                </a>
                            {% endif %}
                            {% if not jobs.is_accepted and not jobs.is_rejected_by_client %}
                                <p class="quoteBtn decline-btn {% if jobs.is_rejected  %}declined_this{% else %}cursur-pointer{% endif %} text_{{ jobs.job.id }}" data-post="{{ jobs.job.id }}" onclick="declineSubmit({{ jobs.job.id }})">{% if jobs.is_rejected  %}Declined{% else %}Decline{% endif %}</p>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                        <div class="message-container freelancerMsg">
                            <div class="message-list-container" id="message_list_2656{{ jobs.job.id }}">
                                 {% for messegesList in messegeDetails %}
                                     {% for messeges in messegesList %}
                                           {% if jobs.job.id == messeges.job.id %}
                                                <div class="message-show-container clearfix">
                                                <div class="message-show clearfix">

                                                    <div class="message-details fade in {% if request.user.id == messeges.user.id %}pull-right right{% else %} pull-left left{% endif %}">
                                                        <div class="arrow" style="top: 30px;"></div>
                                                        <div class="message-details-content">{{ messeges.messege }}
                                                            <div class="msg-rpy-date ">Posted date {{ messeges.post_date }}</div>
                                                            <div class="replay-comment-btn">
                                                                {% get_comment_count for messeges as messageCount %}
                                                                {% if messeges.attachment_file %}
                                                                    <div class="replay-show-comment"><a
                                                                            href="{{ messeges.attachment_file.url }}"><i
                                                                            class="fa fa-file"></i> View</a>
                                                                    </div>
                                                                {% endif %}
                                                                <div class="replay-show-comment {% if messageCount != 0 %} has-replies{%  endif %}" data-msg="{{ messeges.id }}">
                                                                    communication <span class="reply-count">{{ messageCount }}</span>
                                                                </div>
                                                                <div class="replay-this-comment"
                                                                     data-msg="{{ messeges.id }}">
                                                                    <i class="fa fa-comment"></i> Reply
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" {% if request.user.id == messeges.messege_to %}pull-right{% else %}pull-left {% endif %}">
                                                        <div class="message-image">
                                                            {% if request.user.id == messeges.messege_to.id %}
                                                                {% if messeges.user.client_profile.profile_pic %}
                                                                <img src="{{ messeges.user.client_profile.profile_pic.url  }}" alt="">
                                                                {% else %}
                                                                <img src="/static/images/no_image.png" alt="">
                                                                {% endif %}
                                                            {% else %}
                                                                 {% if messeges.user.freelancer_profile.profile_pic %}
                                                                <img src="{{ messeges.user.freelancer_profile.profile_pic.url  }}" alt="">
                                                                {% else %}
                                                                <img src="/static/images/no_image.png" alt="">
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                        <p class="message-username">{{ messeges.user.first_name }}</p>
                                                    </div>
                                                </div>
                                                <div class="message-replay-list" id="msg_replay_{{ messeges.id }}">
                                                    <div class="message-replies">
                                                        {% get_comment_list for messeges as comment_list %}
                                                        {% for comment in comment_list %}
                                                            <div class="message-show clearfix">

                                                                <div class="message-details fade in  {% if request.user.id == comment.user.id %}pull-right right{% else %}  pull-left left{% endif %}">
                                                                    <div class="arrow" style="top: 30px;"></div>
                                                                    <div class="message-details-content">{{ comment.comment }}
                                                                        <div class="msg-rpy-date ">Posted date {{ comment.submit_date }}</div>
                                                                        <div class="replay-comment-btn" >
                                                                            {% if comment.attachment_file %}
                                                                                <div class="replay-show-comment"><a href="{{ comment.attachment_file.url }}"><i class="fa fa-file"></i> View</a></div>
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="{% if request.user.id == comment.user.id %}pull-right{% else %} pull-left {% endif %}">
                                                                    <div class="message-image">
                                                                        {% if request.user.id != comment.user.id %}
                                                                            {% if comment.user.client_profile.profile_pic %}
                                                                            <img src="{{ comment.user.client_profile.profile_pic.url  }}" alt="">
                                                                            {% else %}
                                                                            <img src="/static/images/no_image.png" alt="">
                                                                            {% endif %}
                                                                        {% else %}
                                                                             {% if comment.user.freelancer_profile.profile_pic %}
                                                                            <img src="{{ comment.user.freelancer_profile.profile_pic.url  }}" alt="">
                                                                            {% else %}
                                                                            <img src="/static/images/no_image.png" alt="">
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    </div>
                                                                    <p class="message-username">{{ comment.user.first_name }}</p>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="message-rplyshow">
                                                            {% get_comment_form for messeges as message_form %}
                                                            <form method="post" enctype="multipart/form-data" action="/comments/post/?tab=2" class="applied_job_form_2656{{ messeges.id }}">
                                                                {% csrf_token %}
                                                                {{ message_form.security_hash }}
                                                                {{ message_form.content_type }}
                                                                {{ message_form.object_pk }}
                                                                {{ message_form.timestamp }}
                                                                 <input type="hidden"  value="message_send" name="postFormType">
                                                                <input type="hidden" name="next" value="/my-jobs/?tab=2&cur_msg=2656{{ jobs.job.id }}&msg_pos=212{{ messeges.id }}" />
                                                                <!--<input type="submit" value="Add comment"  />-->

                                                                    <div class="message-replay">
                                                                        {{ message_form.comment }}
                                                                    </div>
                                                                    <div class="message-button clearfix">
                                                                        <div class="pull-left">
                                                                             <button type="button" class="skipBtn message-post-btn " id="attach-image-btn">Attach File

                                                                             </button>
                                                                            {{ message_form.attachment_file }}
                                                                        </div>
                                                                        <div class="pull-right">
                                                                            <button type="submit" class="skipBtn message-post-btn " id="id_submit" onclick="return checkValidationReply(2656{{ messeges.id }})">Post</button>
                                                                        </div>
                                                                    </div>

                                                            </form>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                    {% endfor %}
                                 {% endfor %}
                            </div>
                            <div class="message-replay-container">
                                <h2>Post a comment
                                    {% if not jobs.job.id in quotes_submit %}
                                        <span class="pull-right"><a href="{% url 'my_jobsDetails' jobs.job.id %}" class="send-quote-link">Send Quote</a></span>
                                    {% endif %}
                                </h2>
                                <form enctype="multipart/form-data" action=".?tab=2&cur_msg=2656{{ jobs.job.id }}" method="post" class="applied_job_form_2656{{ jobs.job.id  }}">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ tabactive }}" class="tab-active" name="tab-active">
                                    <input type="hidden"  value="message_send" name="postFormType">
                                    <input type="hidden"  value="{{ jobs.job.id }}" name="job_id">
                                    <input type="hidden" value="{{ jobs.job.user.id }}" name="messege_to">
                                    <div class="message-rplyshow">
                                        <div class="message-replay">
                                            {{ message_form.messege }}
                                        </div>
                                        <div class="message-button clearfix">
                                            <div class="pull-left">
                                                 <button type="button" class="skipBtn message-post-btn " id="attach-image-btn">Attach File

                                                 </button>
                                                {{ message_form.attachment_file }}
                                                <!--<input type="file" class="attach-image" name="attached-file">-->
                                            </div>
                                            <div class="pull-right">
                                                <button type="submit" class="skipBtn message-post-btn " onclick="return checkValidation(2656{{ jobs.job.id }})">Post</button>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="invitation-reject">
                                <div class="message-replay-container">
                                    <h2>Decline Message</h2>
                                    <form id="declineForm_{{ jobs.job.id }}" enctype="multipart/form-data" action=".?tab=2" method="post" >
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ tabactive }}" class="tab-active" name="tab-active">
                                        <input type="hidden"  value="message_send" name="postFormType">
                                        <input type="hidden"  value="{{ jobs.job.id }}" name="job_id">
                                        <input type="hidden" value="{{ jobs.job.user.id }}" name="messege_to">
                                        <input type="hidden" value="{{ jobs.job.id }}" name="accept_job_id">
                                        <input type="hidden" value="decline-job" name="decline-this-job">
                                        <input type="hidden" value="{{ request.user.freelancer_profile.id }}" name="accept_user">
                                        <div class="message-rplyshow">
                                            <div class="message-replay">
                                                {{ message_form.messege }}
                                            </div>
                                            <div class="message-button clearfix">
                                                <div class="pull-left">
                                                    {{ message_form.attachment_file }}
                                                </div>
                                                <div class="pull-right">
                                                    <div class="skipBtn message-post-btn" >Decline</div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        <div class="view-application-details">
                            <div class="view-more-details">
                                 <span class="animation-move job_invite_chat job_chat " id="view-more-apply-freelancer"  data-room-id="{{jobs.job.id}}" data-client-id="{{jobs.job.user.id}}">
                                    <span class="display-block viewMoreContent ">VIEW MESSAGES</span>
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom rel margin-top-adj">
                        {% if not jobs.is_rejected_by_client  %}
                            {% if not jobs.is_rejected  %}
                                {% if jobs.job.id in quote_array %}
                                    <span class="send-quote-status">Quote submitted</span>
                                {% else %}
                                    <span class="send-quote-status">Quote not submitted</span>
                                {% endif %}
                            {% else %}
                                <span class="send-quote-status">Declined this Job</span>
                            {% endif %}
                        {% else %}
                            <span class="send-quote-status">Withdrawn this invitation by client</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% include 'message.html' %}
        {% endif %}
    </div>
</div>
</div>