<div class="category_skill_section">
    <div class="sub_category_container profile-edit-form-group">
        <div class="profile-edit-label sub_category_label">
            <label>Sub Categories</label>
        </div>
        <div class="profile-edit-input">
            <select class="multi_select sub_dropdown category_dropdown" name="job_sub_category">
               {% for category in sub_categories %}
                <option value="{{category.id}}">{{category}}</option>
                {% endfor %}
            </select>
            {{form.errors.job_sub_category}}
        </div>
        <div class="clear"></div>
    </div>
    <div class="profile-edit-form-group">
        <div class="profile-edit-label">
            <label>Skills needed</label>
        </div>
        <div class="profile-edit-input">
            <select class="multi_select job_category_style" name="job_skills">
                {% for skill in skills %}
                <option value="{{skill.id}}">{{skill.skill_name}}</option>
                {% endfor %}
            </select>
            {{form.errors.skills}}
        </div>
        <div class="clear"></div>
    </div>
</div>

<script>
    $('.multi_select').tokenize({
        displayDropdownOnFocus: true,
        newElements:false,
    });
</script>