<div class="modal milestone_edit_modal modal_terms_condition">
    <div class="milestone_modal">
        <div class="modal-content">
            <span class="pull-right modal-close " onclick="modal_conditions_close()">X</span>

            <div class="actionheading "><span class="pull-right modal-close "
                                              onclick="modal_conditions_close()">X</span></div>
            <h4 class="text-center modal_main_head"><span>Edit Milestone</span></h4>
             <form role="form" id="milestone_edit_form" >
                 <input type="hidden" class="hire_id" name="hire_id" value="{{ hire.id }}">
                 <input type="hidden" name="milestone_edit_id" id="milestone_edit_id" value="{{ milestone.id }}">
                <div class="milestone_modal_container">
                    <div class="full-width">
                        <label>Title</label>
                        {{ milestone_form.milestone_title }}
                    </div>
                    <div class="full-width">
                        <label>Description</label>
                        {{ milestone_form.milestone_description }}
                    </div>
                    <div class="full-width">
                        <div class="column-left milestone_date">
                            <label>Start Date</label>
                            {{ milestone_form.start_date }}
                        </div>
                        <div class="column-center milestone_date">
                            <label>End Date</label>
                            {{ milestone_form.close_date }}
                        </div>
                        <div class="column-right milestone_date">
                            <label>Rate</label>
                            {{ milestone_form.rate }}
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="hire_request_btn_holder">
                    <button type="button" class="hire_request_btn color-blue milestone_edit_submit">SUBMIT</button>
                </div>
             </form>
             <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

    {% block extra_js %}

     <script>
    $(document).on('click','.milestone_edit_submit',function() {
        var milestone_id = $('#milestone_edit_id').val();
        var edit = "milestone_row_"+ milestone_id ;
        var data = $('#milestone_edit_form').serialize();
        $.ajax({
            url: "{% url 'add_edit_hire' %}",
            type: 'POST',
            data: data+"&action=edit",
            beforeSend: function() {
              loaderShow();
            },
            success: function (response_data)
             {
                 if (response_data.status==true)
                    {
                        var rate = $('#id_rate').val();
                        var milestone_title = $('#id_milestone_title').val();
                        $("#"+edit +" .milestone_name").text(milestone_title);
                        $("#"+edit +" .rate").text(rate);
                        modal_conditions_close();
                        loaderHide();
                    }

             },
             errors:function (return_data){ console.log("Error");}
        });

    });


$(function() {
                var dateToday = new Date();
                $( ".datepicker" ).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    minDate: dateToday,
                    altFormat: "yy-mm-dd",
                    dateFormat: 'yy-mm-dd',
                });
            });


            $(function() {
                var dateToday = new Date();
                $( ".milestone_start_date" ).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    minDate: dateToday,
                    altFormat: "yy-mm-dd",
                    dateFormat: 'yy-mm-dd',
                });
            });
            </script>
            {% endblock %}