<div class="modal milestone_change_request_modal ">
    <div class="milestone_modal">
        <div class="modal-content">
            <span class="pull-right modal-close " onclick="modal_changeRate_close()">X</span>

            <div class="actionheading "><span class="pull-right modal-close "
                                              onclick="modal_changeRate_close()">X</span></div>
            <h4 class="text-center modal_main_head"><span>Edit Milestone</span></h4>
             <form role="form" id="milestone_edit_form" >
                 <input type="hidden" class="hire_id" name="hire_id" value="{{ hire.id }}">
                 <input type="hidden" name="milestone_edit_id" class="milestone_edit_id" value="{{ milestone.id }}">
                <div class="milestone_modal_container">
                    <div class="full-width">
                        <label>Title</label>
                        {{ milestone_form.milestone_title }}
                    </div>
                    <div class="full-width">
                        <label>Description</label>
                        {{ milestone_form.milestone_description }}
                    </div>
                    <div class="full-width">
                        <div class="semi_width">
                             <div class="pull-left semi_width_holder">
                                <label>Start Date</label>
                                {{ milestone_form.start_date }}
                             </div>
                        </div>
                        <div class="semi_width">
                            <div class=" pull-right semi_width_holder">
                                <label>End Date</label>
                                {{ milestone_form.close_date }}
                            </div>
                        </div>
                    </div>
                     <div class="full-width">
                        <div class="semi_width">
                            <div class="pull-left semi_width_holder">
                                <label>Rate</label>
                                {{ milestone_form.rate }}
                            </div>
                        </div>
                         <div class="semi_width">
                             <div class=" pull-right semi_width_holder">
                                 <label>Changed Rate</label>
                                <input id="id_rate_change" name="rate_change" type="number" value="">
                             </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="hire_request_btn_holder">
                    <button type="button" class="hire_request_btn color-blue rateChangeBtn">SUBMIT</button>
                </div>
             </form>
             <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

    {% block extra_js %}

     <script>




            </script>
            {% endblock %}