 <div  class="milestone_table">
{% for milestone in hire.milestone.all %}

    <div class="milestone_row" id="milestone_row_{{ milestone.id }}">
        <div class="milestone_td">{{ forloop.counter }}</div>
        <div class="milestone_td milestone_name">{{milestone.milestone_title}}</div>
        <div class="milestone_td milestone_small rate">${{milestone.rate}}
            {% if milestone.status = 'APPROVED' %}
                <i class="fa fa-check-circle-o color-green" aria-hidden="true" title="milestone approved"></i>
            {% endif %}
        </div>
        <div class="milestone_td milestone_small">2 days ago</div>
        <div class="milestone_td milestone_action_td"><i class="fa fa-commenting" aria-hidden="true"> 4</i></div>
        <div class="milestone_td milestone_action_td"><i class="fa fa-pencil-square-o" aria-hidden="true" onclick="edit_milestone({{ milestone.id }})" title="View/Edit"></i></div>
        <div class="milestone_td milestone_action_td "><i class="fa fa-trash-o" onclick="delete_milestone({{ milestone.id }})" aria-hidden="true" title="Delete"></i></div>
        <div class="clearfix"></div>
    </div>

{% endfor %}
 </div>