{% extends 'admin_base.html' %}
{% block title %}Create email{% endblock %}
{% block extra_css %}

{% endblock %}
{% block content %}
<!-- adminMenuSection ends here -->
{% if  message != None %}
<div class="alert-success alert_modal fade in alert_box">
    <span class="close" onclick="alertClose();">X</span>
    <strong>Success! </strong>  Your data has been added .
</div>
{% endif %}
<div class="alert-warning alert_modal fade in alert_box">
    <span class="close" onclick="alertClose();">X</span>
    <strong>Alert! </strong>  Please create a template first .
</div>
<div class="alert-warning alert_modal fade in alert_box alert_mismatch">
    <span class="close" onclick="alertClose();">X</span>
    <strong>Alert! </strong>  Mismatch in selected data with template selected .
</div>

<div class="tab_holder">
    <ul>
        <li data-post="registration" class="{% if active_tab == 'update_temp'%} active {% endif %}">Template registration</li>
        <li data-post="assign_user" class="{% if active_tab == 'assign_user'%} active {% endif %}">Assign User</li>
    </ul>
</div>
<div class="clearfix tab-list" id="registration" {% if active_tab == 'update_temp'%} style="display: block;" {% endif %}>

    <div class="registrationMainSect">
        <p class="reg"><span><i class="fa fa-file-text-o"></i></span>Template registration</p>
        <form role="form" action="." method="post" class="registrationForm">{% csrf_token %}
            {{ form.media }}
            <div class="admin_email_container">

                <div class="registrationFormGroup">
                    <label for="id_subject">Template name</label>
                    {{ form.template_name }}
                    {{ errors.template_name }}
                </div>
                <div class="registrationFormGroup">
                    <label for="id_subject">Module types...</label>
                    {{ form.module_type }}
                    {{ errors.module_type}}
                </div>
                <div class="registrationFormGroup">
                    <label for="id_subject">Subject</label>
                    {{ form.subject }}
                    {{ errors.subject}}
                </div>

                <div class="registrationFormGroup">
                    <label for="id_html_content">Html content</label>
                    <div class="editor_container">
                        {{ form.html_content }}
                        {{ errors.html_content }}
                    </div>
                </div>
                <div class="registrationFormGroup">
                    <label for="email">Text content(Optional)</label>
                    {{ form.text_content }}
                    {{ errors.text_content }}
                </div>
                 <div class="registrationFormGroup">
                    <label for="email">Is published</label>
                    {{ form.is_publish }}
                </div>
                <div class="registrationFormGroup">
                    <label >Set reciepients :</label>
                    <input name="is_rec" type="checkbox" />
                </div>

                <div class="registrationFormGroup">
                    <input type="submit" value="Save" class="submitBtn">
                    <!--<input type="submit" value="Reset" class="submitBtn">-->
                </div>
            </div>

            <div class="clear"></div>
        </form>

        <div class="clear"></div>
    </div>
</div>
<div class="clearfix tab-list" id="assign_user" {% if active_tab == 'assign_user'%} style="display: block;" {% endif %} >
    <div class="registrationMainSect">
        <p class="reg"><span><i class="fa fa-file-text-o"></i></span>Template registration</p>
        <form role="form" action="." method="post" class="registrationForm">{% csrf_token %}
            <input type="hidden" name="Form_type" value="assign_user">
            {{ user_form.media }}
            <div class="admin_email_container">
                <div class="registrationFormGroup">
                    <label for="id_subject">Template name</label>
                    {{ user_form.mail_set }}
                    {{ use_form.mail_set.errors }}
                </div>
                <div class="registrationFormGroup">

                    {{ user_form.to_email }}

                </div>
                <div class="registrationFormGroup">
                    <label for="id_subject">Is published</label>
                    {{ user_form.is_publish }}
                    {{ user_form.is_publish.errors }}
                </div>

                <div class="registrationFormGroup">
                    <input type="submit" value="Save" class="submitBtn">
                    <!--<input type="submit" value="Reset" class="submitBtn">-->
                </div>
            </div>

            <div class="clear"></div>
        </form>


        <div class="clear"></div>
    </div>
</div>
<!-- registrationMainSect closes here -->
{% endblock %}

{% block extra_js %}
<script src="/static/admins/js/dropzone.js"></script>
<script src="/static/admins/js/jquery.multi-select.js" type="text/javascript"></script>
<script src="/static/admins/js/jquery.quicksearch.js" type="text/javascript"></script>

<script type="text/javascript">

    $('#roleSelection').multiSelect({
        selectableHeader: "<div class='head3'>Available Permission</div><input type='text' class='search-input col-md-12' autocomplete='on' placeholder='search..'>",
        selectionHeader: "<div class='head3'>Chosen Permission</div>",
        selectionFooter:"<button class='custom-footer btn deselect_role' type='button'><i class='fa fa-times'></i> <span>Remove all </span></button>",
        selectableFooter:"<button class='custom-footer btn select_role' type='button'><i class='fa fa-check'></i><span>Choose all</span></button>",
        afterInit: function(ms){
        var that = this,
            $selectableSearch = that.$selectableUl.prev(),
            $selectionSearch = that.$selectionUl.prev(),
            selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
            selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

        that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
        .on('keydown', function(e){
          if (e.which === 40){
            that.$selectableUl.focus();
            return false;
          }
        });

        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
        .on('keydown', function(e){
          if (e.which == 40){
            that.$selectionUl.focus();
            return false;
          }
        });
      },
      afterSelect: function(){
        this.qs1.cache();
        this.qs2.cache();
      },
      afterDeselect: function(){
        this.qs1.cache();
        this.qs2.cache();
      }
    });
    $(document).on("click",".custom-footer.deselect_role", function(){
        $('#roleSelection').multiSelect('deselect_all');
    });
    $(document).on("click",".custom-footer.select_role", function(){
        $('#roleSelection').multiSelect('select_all');
    });

    $(document).on("change","#id_mail_set", function(){
        var select_box = $("#id_mail_set option:selected").text();
        var temp_name = $('#id_template_name').val();
        if(temp_name.length == 0){
            $('.alert-warning').show();
            $('.alert-warning').delay(2500).fadeOut(400);
        }
        if (select_box != temp_name){
            $('.alert_mismatch').show();
            $('.alert_mismatch').delay(2500).fadeOut(400);
        }
    });

// *********************************************************



    $(document).ready(function() {

             $('.alert-success').delay(2500).fadeOut(250);
            /*************** select box in assign user tab******************/
            var select_box = $("#id_mail_set option:selected").text();
            var temp_name = $('#id_template_name').val();
            if ((select_box=='---------')&& (temp_name.length != 0)){
               $("#id_mail_set option:contains(" + temp_name +")").attr("selected", true);
            }

          // instantiate the uploader
          Dropzone.options.myAwesomeDropzone = { // The camelized version of the ID of the form element
            // The configuration we've talked about above
            url: '.',
            previewsContainer: ".dropzone-previews",
            uploadMultiple: true,
            parallelUploads: 100,
            maxFiles: 100,
            addRemoveLinks: true,
            init: function() {

              this.on('success', function(file, json) {

              });

              this.on('addedfile', function(file) {
              });

              this.on('drop', function(file) {

              });
            },
            uploadprogress:function() {
                console.log(1);
                $('.dropzone-previews').find('.dz-remove').html('<i class="fa fa-trash-o"></i>');
                $('.dropzone-previews').addClass('file-dropzone-padding');
                $('.dropzone-previews .dz-message').addClass('file-dropzone-message');

            },
            queuecomplete:function() {
                $('.dropzone-previews').find('.dz-remove').html('<i class="fa fa-trash-o"></i>');
            }


          }



        $('#dropdownProfile').click(function() {
            $('#dropdown').toggle();
        });

    });
     /*************Jquery for Assign user tab********************/

    $('#id_to_email').multiSelect({
        selectableHeader: "<div class='head3'>Available Recipients</div><input type='text' class='search-input col-md-12' autocomplete='on' placeholder='search..'>",
        selectionHeader: "<div class='head3'>Chosen Recipients</div>",
        selectionFooter:"<button class='custom-footer btn deselect_role' type='button'><i class='fa fa-times'></i> <span>Remove all </span></button>",
        selectableFooter:"<button class='custom-footer btn select_role' type='button'><i class='fa fa-check'></i><span>Choose all</span></button>",
        afterInit: function(ms){
        var that = this,
            $selectableSearch = that.$selectableUl.prev(),
            $selectionSearch = that.$selectionUl.prev(),
            selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
            selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

        that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
        .on('keydown', function(e){
          if (e.which === 40){
            that.$selectableUl.focus();
            return false;
          }
        });

        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
        .on('keydown', function(e){
          if (e.which == 40){
            that.$selectionUl.focus();
            return false;
          }
        });
      },
      afterSelect: function(){
        this.qs1.cache();
        this.qs2.cache();
      },
      afterDeselect: function(){
        this.qs1.cache();
        this.qs1.cache();
        this.qs2.cache();
      }
    });
    $(document).on("click",".custom-footer.deselect_role", function(){
        $('#id_to_email').multiSelect('deselect_all');
    });
    $(document).on("click",".custom-footer.select_role", function(){
        $('#id_to_email').multiSelect('select_all');
    });

    $(function() {
        $('.tab_holder').find('li').each(function() {
            if ($(this).hasClass('active')) {
                var sectionId = $(this).attr('data-post');
                $('#' + sectionId + '').show();
            }
        });
    });
    $(document).on('click', '.tab_holder li', function() {
        var sectionId = $(this).attr('data-post');
        $('.tab_holder').find('li').each(function() {
            var sectionIdSearch = $(this).attr('data-post');
            $('#' + sectionIdSearch + '').hide();
            $(this).removeClass('active');
        });
        $(this).addClass('active');
        $('#' + sectionId + '').show();


    });
</script>
{% endblock %}