{% extends 'admin_base.html' %}
{% block title %}Create email{% endblock %}
{% block extra_css %}

{% endblock %}
{% block content %}
<!-- adminMenuSection ends here -->
<div class="registrationMainSect">
    <p class="reg"><span><i class="fa fa-file-text-o"></i></span>Template list</p>

    <div class="latestEmployers">
        <table class="latestEmployersTable">
            <thead>
            <tr>
                <th>Template name</th>
                <th>Type of template</th>
                <th>Is published</th>
                <th>Published date</th>
                <th>Actions</th>

            </tr>
            </thead>
            <tbody>
            {% for template in object_list %}
            <tr>
                <td>{{ template.template_name }}</td>
                <td>{{ template.get_module_type_display }}</td>
                <td>{{ template.is_publish }}</td>
                <td>{{ template.publish_date|date }}</td>
                <td><a href="{% url 'template_update' template.slug %}">View/Edit</a></td>

            </tr>
            {% endfor %}
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                 {% if object_list %}
                <td class="pagination">
                     {% for num in page_obj.paginator.page_range %}
                     {% ifequal num page_obj.number %}<span id="activePage">{{ num }}</span>

                    {% else %}
                    <span ><a href="?page={{ num }}"> {{ num }}</a></span>
                    {% endifequal %}
                    {% endfor %}
                </td>
                {% endif %}

            </tr>
            </tbody>
        </table>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</div>
<!-- registrationMainSect closes here -->
{% endblock %}

{% block extra_js %}
<script src="/static/admins/js/dropzone.js"></script>
<script src="/static/admins/js/jquery.multi-select.js" type="text/javascript"></script>
<script src="/static/admins/js/jquery.quicksearch.js" type="text/javascript"></script>

<script type="text/javascript">

    $('#roleSelection').multiSelect({
        selectableHeader: "<div class='head3'>Available Permission</div><input type='text' class='search-input col-md-12' autocomplete='on' placeholder='search..'>",
        selectionHeader: "<div class='head3'>Chosen Permission</div>",
        selectionFooter:"<button class='custom-footer btn deselect_role' type='button'><i class='fa fa-times'></i> <span>Remove all </span></button>",
        selectableFooter:"<button class='custom-footer btn select_role' type='button'><i class='fa fa-check'></i><span>Choose all</span></button>",
        afterInit: function(ms){
        var that = this,
            $selectableSearch = that.$selectableUl.prev(),
            $selectionSearch = that.$selectionUl.prev(),
            selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
            selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

        that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
        .on('keydown', function(e){
          if (e.which === 40){
            that.$selectableUl.focus();
            return false;
          }
        });

        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
        .on('keydown', function(e){
          if (e.which == 40){
            that.$selectionUl.focus();
            return false;
          }
        });
      },
      afterSelect: function(){
        this.qs1.cache();
        this.qs2.cache();
      },
      afterDeselect: function(){
        this.qs1.cache();
        this.qs2.cache();
      }
    });
    $(document).on("click",".custom-footer.deselect_role", function(){
        $('#roleSelection').multiSelect('deselect_all');
    });
    $(document).on("click",".custom-footer.select_role", function(){
        $('#roleSelection').multiSelect('select_all');
    });

// *********************************************************



    $(document).ready(function() {

          // instantiate the uploader
          Dropzone.options.myAwesomeDropzone = { // The camelized version of the ID of the form element
            // The configuration we've talked about above
            url: '.',
            previewsContainer: ".dropzone-previews",
            uploadMultiple: true,
            parallelUploads: 100,
            maxFiles: 100,
            addRemoveLinks: true,
            init: function() {

              this.on('success', function(file, json) {

              });

              this.on('addedfile', function(file) {
              });

              this.on('drop', function(file) {

              });
            },
            uploadprogress:function() {
                console.log(1);
                $('.dropzone-previews').find('.dz-remove').html('<i class="fa fa-trash-o"></i>');
                $('.dropzone-previews').addClass('file-dropzone-padding');
                $('.dropzone-previews .dz-message').addClass('file-dropzone-message');

            },
            queuecomplete:function() {
                $('.dropzone-previews').find('.dz-remove').html('<i class="fa fa-trash-o"></i>');
            }


          }



        $('#dropdownProfile').click(function() {
            $('#dropdown').toggle();
        });

    });

</script>
{% endblock %}