{% extends 'admin_base.html' %}
{% block title %}Create email{% endblock %}
{% block extra_css %}

{% endblock %}
{% block content %}
<!-- adminMenuSection ends here -->
{% if  message != None  %}
<div class="alert-success alert_modal fade in alert_box">
    <span class="close" onclick="alertClose();">X</span>
    <strong>Success! </strong>  Your data has been saved .
</div>
{% endif %}
{% include 'ajax/email_recipients.html' %}
<!-- registrationMainSect closes here -->
{% endblock %}

{% block extra_js %}
<script src="/static/admins/js/dropzone.js"></script>
<script src="/static/admins/js/jquery.multi-select.js" type="text/javascript"></script>
<script src="/static/admins/js/jquery.quicksearch.js" type="text/javascript"></script>

<script type="text/javascript">

    $('#id_to_email').multiSelect({
        selectableHeader: "<div class='head3'>Available Recipients</div><input type='text' class='search-input col-md-12' autocomplete='on' placeholder='search..'>",
        selectionHeader: "<div class='head3'>Chosen Recipients</div>",
        selectionFooter:"<button class='custom-footer btn deselect_role' type='button'><i class='fa fa-times'></i> <span>Remove all </span></button>",
        selectableFooter:"<button class='custom-footer btn select_role' type='button'><i class='fa fa-check'></i><span>Choose all</span></button>",
        afterInit: function(ms){
        var that = this,
            $selectableSearch = that.$selectableUl.prev(),
            $selectionSearch = that.$selectionUl.prev(),
            selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
            selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

        that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
        .on('keydown', function(e){
          if (e.which === 40){
            that.$selectableUl.focus();
            return false;
          }
        });

        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
        .on('keydown', function(e){
          if (e.which == 40){
            that.$selectionUl.focus();
            return false;
          }
        });
      },
      afterSelect: function(){
        this.qs1.cache();
        this.qs2.cache();
      },
      afterDeselect: function(){
        this.qs1.cache();
        this.qs2.cache();
      }
    });
    $(document).on("click",".custom-footer.deselect_role", function(){
        $('#id_to_email').multiSelect('deselect_all');
    });
    $(document).on("click",".custom-footer.select_role", function(){
        $('#id_to_email').multiSelect('select_all');
    });

// *********************************************************

    $(document).on("change","#id_mail_set", function(){
        var mail_set  = $('#id_mail_set').val();
        var data = $('.registrationForm').serialize();
        $.ajax({
            url: "{% url 'campaign_setup' %}",
            type: 'POST',
            data: data,
            async: false,
            success: function (return_data)
             {
               $(".email_recipients").replaceWith(return_data.html_content);
               if(return_data.status==false){
                    $("#id_mail_set option[value=" + mail_set + "]").prop("selected",true);

               }
             },
             errors:function (return_data){ console.log("Error");}

        });
    });

    $(document).ready(function() {
          $('.alert_modal').delay(2500).fadeOut(250);
          // instantiate the uploader
          Dropzone.options.myAwesomeDropzone = { // The camelized version of the ID of the form element
            // The configuration we've talked about above
            url: '.',
            previewsContainer: ".dropzone-previews",
            uploadMultiple: true,
            parallelUploads: 100,
            maxFiles: 100,
            addRemoveLinks: true,
            init: function() {

              this.on('success', function(file, json) {

              });

              this.on('addedfile', function(file) {
              });

              this.on('drop', function(file) {

              });
            },
            uploadprogress:function() {
                console.log(1);
                $('.dropzone-previews').find('.dz-remove').html('<i class="fa fa-trash-o"></i>');
                $('.dropzone-previews').addClass('file-dropzone-padding');
                $('.dropzone-previews .dz-message').addClass('file-dropzone-message');

            },
            queuecomplete:function() {
                $('.dropzone-previews').find('.dz-remove').html('<i class="fa fa-trash-o"></i>');
            }


          }



        $('#dropdownProfile').click(function() {
            $('#dropdown').toggle();
        });

    });

</script>
{% endblock %}