{% extends 'base.html' %}
{% load seo_tags %}
{% block description %}{% seo description for about %}{% endblock %}
{% block keywords %}{% seo keywords for about %}{% endblock %}
{% block titles %}{% seo title for about %}{% endblock %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
    {% block content %}
        {% if user.is_anonymous %}
         <section class="clearfix">
                <div class="registration-logo-holder">
                    <div class="headline-wrapper">
                        <div class="content">
                            <span class="headline">About Us</span>
                        </div>
                    </div>
                </div>
        </section>
        {% else %}
            <section>
                <div class="client-profile-container-edit">
                    <div class="content">
                        <h2 >About Us</h2>
                    </div>
                </div>
            </section>
        {% endif %}
            <section>
                <div class="aboutUs-mission">
                    <div class="content">
                        {% for about_us in about %}
                        {{about_us.about_us|safe}}
                        {% endfor %}
                        <div class="bottom"></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </section>
{% endblock %}
