<html>
<head>
	<title>Atlancer :: {% block title %}{% endblock %}</title>
	  <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width" />
    <!-- meta tags ends -->
    <link rel="stylesheet" type='text/css' href="/static/admins/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/admins/css/dropzone.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admins/css/admin.css" />
    <link rel="stylesheet" type="text/css" href="/static/admins/css/responsive.css" />
	{% block extra_css %}
	{% endblock %}
</head>
<body>
<header>
	<div class="fullWidth">
			<div class="logo-container">
				<a href="#"> <img class="logo-img" src="/static/admins/images/logo.png" alt="Atlancer"/></a>
				<a href="#" id="sidenav-open"><i class="fa fa-bars"></i></a>
			</div>
			<div class="menu-container">
				<nav class="logo-left-container" id="primary_nav_wrap">
					<ul class="list-style main-menu">
						<li><a href="#">
							<span class="circle"><span class="bubble"><span class="contentBubble">4</span></span><i class="fa fa-bell-o iconRound"></i></span>
						</a></li>
						<li><a href="#">
							<span class="circle"><span class="bubble"><span class="contentBubble">4</span></span><i class="fa fa-inbox iconRound" ></i></span>
						</a></li>
						<li><a href="#"><img src="/static/admins/images/user-photo.png" class="user-img"></a></li>
						<li class="profileMenu"><a href="#" id="dropdownProfile"> {{  request.user.username }}<span class="caret"></span></a>
							<ul id="dropdown" >
								<li><a href="#">Profile</a></li>
								<li><a href="#">Settings</a></li>
								<li id="logout"><a href="{% url 'admin_log_out' %}">Log out</a></li>
							</ul>
						</li>
						<li><a href="#" id='sidenav-open2'><img src="/static/admins/images/headIcon.png"></a></li>
					</ul>

				</nav>
				<div class="clear"></div>
			</div>

		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</header>
<section>
	<div class="fullWidth">
		<div class="adminMenuSection">
			<div class="searchSection">
				<div class="searchInside">
					<input type="text" placeholder="Search" class="searchText" name="top_search" id="top_search">
					<span class="searchIcon"><i class="fa fa-search"></i></span>
				</div>
			</div>
			<ul class="adminMainMenuList" id="MainMenu">
				<li class=""><a href=""><span><i class="fa fa-file-text-o"></i></span>Registration</a></li>

				<li ><a class="active" href="#"><span><i class="fa fa-cogs"></i></span>System email settings<i class="fa fa-angle-down arrow"></i></a>
					<ul class="noJS sub-menu" style="display: block;">
						<li ><a class="{% if active_menu == 'email_list'%} active {% endif %}" href="{% url 'template_list' %}" >Emails</a></li>
						<li><a class="{% if active_menu == 'email_create'%} active {% endif %}" href="{% url 'email_create' %}" >Create template</a></li>
						<li><a class="{% if active_menu == 'email_setup'%} active {% endif %}" href="{% url 'campaign_setup' %}" >Email campaign</a></li>
					</ul>
				</li>

				<li class=""><a href=""><span><i class="fa fa-book"></i></span>Jobs</a></li>
				<li class=""><a href=""><span><i class="fa fa-user"></i></span>Users</a></li>
				<li class=""><a href=""><span><i class="fa fa-users"></i></span>Admin Users</a></li>
				<li class=""><a href=""><span><i class="fa fa-cogs"></i></span>Admin Settings</a></li>
				<li class=""><a href=""><span><i class="fa fa-question-circle"></i></span>Help Desk</a></li>
			</ul>
		</div>
		<!-- adminMenuSection ends here -->
		{% block content %}

		{% endblock %}
		<!-- registrationMainSect closes here -->
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</section>
<footer>
	<div class="content footerbg" >
		<div class="footerSection clearfix">
			<p>2016@ Atlancer by Spericorn Technology Pvt Ltd</p>
		</div>
		<div class="clear"></div>
	</div>
</footer>
<script src="/static/admins/js/jquery-1.11.2.js"></script>


<script type="text/javascript">
    function alertClose(){
       $('.alert_modal').hide();
    }
	$( document ).ready(function(){


		$('#MainMenu > li').click(function(e) {
			$('.adminMainMenuList li').removeClass('active');
			$(this).find($(".arrow")).toggleClass('fa-angle-left').toggleClass('fa-angle-down');
			e.stopPropagation();
			var $el = $('ul',this);
			$('#MainMenu > li > ul').not($el).slideUp();
			$el.stop(true, true).slideToggle(400);
		});
		$('#MainMenu > li > ul > li').click(function(e) {
			e.stopImmediatePropagation();
		});
	});

</script>
{% block extra_js %}
{% endblock %}
</body>
</html>