<!DOCTYPE html>
{% load seo_tags %}
<html>
<head>
    <title>Atlancer | {% block titles %}{% seo title %}{% endblock %}</title>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width"/>
    <!-- meta tags ends -->
    <meta name="description" content="{% block description %}{% seo description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% seo keywords %}{% endblock %}" />
    <link rel="stylesheet" type='text/css' href="/static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" type='text/css' href="/static/css/jquery.tokenize.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-modal.css"/>
    {% block extra_css %}
    {% endblock %}
    {% load freelancer_extras%}
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css"/>
    <link rel="icon" href="/static/images/favicon.ico" rel="shortcut icon">
</head>
<body>
{% load freelancer_extras %}
<!--*************************modal****************************************-->
<div class="overlay" id="dialog-1">
    <div class="dialog">
        <div class="modalHead">
            <div class="logo-container">
                <a href="/"> <img src="/static/images/logo-black.png " alt="Atlancer"></a>
            </div>
            <span class="space-close"></span>
            <div class="space"></div>
            <div class="line"></div>
            <div class="space"></div>
        </div>
        <div class="content" id="modal-content">
        </div>
        <div class="modalFooter">
            <div class="space"></div>
            <div class="line"></div>
        </div>
    </div>
</div>
<!-- header -->
<div id="blanket" class="bg-transparent"></div>
    <section>
        <div class="sidebar-container">
            <nav class="menu show-nav" role="navigation">
                <div class="sidebar-head">
                    <span id="sidenav-close">X</span>
                </div>
                <div class="clearfix"></div>
                <ul class="sidebar-menu">
                    <li><a href="{% url 'about' %}">ABOUT</a></li>
                    <li><a href="{% url 'find_freelancer' %}">FIND FREELANCERS</a></li>
                    <li><a href="{%  url 'find_job' %}">FIND JOBS</a></li>
                    <li class="optinal-sidemenu"><a href="javascript:void(0)">POST YOUR JOB</a></li>
                    <li class="optinal-sidemenu"><a href="{% url 'Register' 'hire' %}">REGISTER NOW</a></li>
                    <li class="optinal-sidemenu"><a href="{% url 'Register' 'hire' %}">SIGNUP</a></li>
                    <li class="optinal-sidemenu"><a href="{% url 'Login' %}">LOGIN</a></li>
                    <li><a href="javascript:void(0)">WE WILL HIRE FOR YOU ON DEMAND</a></li>
                    <li><a href="{% url 'blogs' %}">BLOGS</a></li>
                    <li><a href="javascript:void(0)">HOW IT WORKS</a></li>
                    <li><a href="{%  url 'faq' %}">HELP GUIDES</a></li>
                    <li><a href="{%  url 'contact_us' %}">SUPPORT</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <!-- sidebar container ends -->
    <header>
        <div class="top-nav-conatct-wrap">
            <div class="content">
                <div class="top-info clearfix">
                    <div class="top-left-contact">
                        <ul>
                            <li>
                                <i class="fa fa-phone"></i>
                                <span>(0471) 4013112</span>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <span>info@atlancer.com</span>
                            </li>
                        </ul>
                    </div>
                    <div class="top-right-social">
                        <ul>
                            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="nav-container clearfix">
                <div class="logo-container">
                   <a href="/"> <img class="logo-img" src="/static/images/logo-black.png" alt="Atlancer"/></a>
                </div>
                {% block search_box %}{% endblock %}
                <div class="menu-container">
                    <nav class="logo-left-container">
                        <ul class="list-style main-menu">
                            {% if user.is_authenticated %}
                            {% if user.freelancer_profile and user.client_profile %}
                            <li class="optional-menu">
                                <span class="switch_holder">
                                    <ul>
                                        {% if request.user.active_account == "FLR" %}
                                        <li class="active"><a href="{% url 'freelancer_profile' %}">Freelancer</a></li>
                                        {% elif request.user.active_account != "FLR" %}
                                        <li><a href="{% url 'profile_switching' %}">Freelancer</a></li>
                                        {% endif %}
                                        {% if request.user.active_account == "CL" %}
                                        <li class="active"><a href="{% url 'client_profile' %}">Client</a></li>
                                        {% else %}
                                        <li><a href="{% url 'profile_switching' %}">Client</a></li>
                                        {% endif %}
                                    </ul>
                                </span>
                            </li>
                            {% endif %}
                            {% for group in request.user.groups.all %}
                                {% if group.name == "Clients" and not request.user|get_user_freelancer_profile %}
                                <li class="optional-menu menu-border account_btn"><a href="{% url 'freelancer_active' %}">Activate Freelancer</a></li>
                                {% elif group.name == "Freelancers" and not request.user|get_user_client_profile %}
                                <li class="optional-menu menu-border account_btn"><a href="{% url 'client_active' %}">Activate Client</a></li>
                                {% endif %}
                            {% endfor %}
                            {% endif %}

                            {% for group in request.user.groups.all %}
                            {% if group.name == "Clients" %}
                            <!-- <li class="optional-menu"><a href="{% url 'post-job' %}">POST YOUR JOB</a></li>-->
                            {% endif %}
                            {% endfor %}
                            {% if user.is_authenticated  %}
                            {% if request.user|has_group_site_admin_only %}
                                <li class="optional-menu menu-open"><a class="my-profile" href="javascript:void(0);">{{request.user.username}} </a>
                                    <ul class="list-style dropdown">
                                        <li class="optional-menu"><a href="{% url 'logout' %}">Logout</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0);" id='sidenav-open'><i class="fa fa-bars"></i></a></li>
                            {% else %}
                            <li class="optional-menu menu-open"><a class="my-profile" href="javascript:void(0);">{{request.user.username}} </a>
                                <ul class="list-style dropdown">
                                    {% if not user.is_superuser %}
                                    {% if request.user.active_account == "CL" %}
                                        <li class="optional-menu"><a href="{% url 'client_profile' %}">My Profile</a>
                                        </li>
                                    {% else %}
                                        <li class="optional-menu"><a href="{% url 'freelancer_profile' %}">My Profile</a>
                                        </li>
                                    {% endif %}
                                    <li class="optional-menu"><a href="{% url 'common_profile' %}">Settings</a></li>
                                    {% endif %}
                                    <li class="optional-menu"><a href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            {% else %}
                            <li class="optional-menu"><a href="{% url 'Register' 'hire' %}">
                                <i class="fa fa-pencil"></i>SIGNUP</a>
                            </li>
                            <li class="optional-menu"><a href="{% url 'Login' %}"><i class="fa fa-sign-in"></i> LOGIN</a>
                            </li>
                            <li><a href="javascript:void(0)" id='sidenav-open'><i class="fa fa-bars"></i></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </header>
    {% if  user.is_authenticated %}
    {% if request.user|has_group_site_admin_only %}
        <section class="clearfix">
                <div class="registration-logo-holder">
                    <div class="headline-wrapper">
                        <div class="content">
                            <span class="headline"><!--Sorry please try later.--></span>
                        </div>
                    </div>
                </div>
        </section>
    {% else %}
    {% if not user.is_superuser %}
    <section class="clearfix">
        <div class="client-logo-holder client-detail-subhead">
            <div class="profile_headline-wrapper">
                <div class="content">
                    <div class="client-profile-tab">
                        <ul>
                                {% if request.user.active_account == "CL" %}
                                    <li data-post="post-job" {% if request.path == '/client-profile/' %}class="active"{% endif %}>
                                        <a href="{% url 'client_profile' %}">My Profile</a>
                                    </li>
                                    <li data-post="contracts" {% if request.path == '/jobpost/' %}class="active"{% endif %}>
                                        <a href="{% url 'post-job' %}">Post Your Job</a>
                                    </li>
                                    <li data-post="my-job" {% if request.path == '/jobs/' %}class="active"{% endif %}>
                                        <a href="{% url 'find_job' %}">My Jobs</a>
                                    </li>
                                    <li data-post="contracts" {% if request.path == '/freelancers-list/' %}class="active"{% endif %}>
                                        <a href="{% url 'find_freelancer' %}">Find Freelancer</a>
                                    </li>

                                {% else %}
                                    <li data-post="post-job" {% if request.path == '/freelancer-profile/' %}class="active"{% endif %}>
                                        <a href="{% url 'freelancer_profile' %}">My Profile</a>
                                    </li>
                                    <li data-post="my-job" {% if request.path == '/jobs/' %}class="active"{% endif %}>
                                        <a href="{% url 'find_job' %}">Find Jobs</a>
                                    </li>
                                    <li data-post="my_jobs" {% if request.path == '/my-jobs/' %}class="active"{% endif %}>
                                        <a href="{% url 'my_jobs' %}">My Jobs</a>
                                    </li>
                                    <li data-post="my_jobs" {% if request.path == '/contracts/' %}class="active"{% endif %}>
                                        <a href="{% url 'contract' %}">Contract</a>
                                    </li>
                                {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop-loader fade in"></div>
        <div class="sk-cube-grid">
            <img src="/static/images/loaders/Loading1.gif" class="loader_img" />
        </div>
    </section>
    {% else %}
        <section class="clearfix">
            <div class="registration-logo-holder">
                <div class="headline-wrapper">
                    <div class="content">
                        <span class="headline"><!--Sorry please try later.--></span>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% endif %}
    {% endif %}
<div class="alert-success alert_modal fade in alert_box">
    <span class="close" onclick="alertClose();">X</span>
    <strong>Success! </strong>  Your data has been added .
</div>

{% block content %}
{% endblock %}

<!-- fooetr section -->
{% include 'footer.html' %}
<script type="text/javascript" src="/static/js/jquery-1.11.2.js"></script>
<script type="text/javascript" src="/static/js/jquery.tokenize.js" ></script>
<script type="text/javascript" src="/static/js/jquery-ui.js" ></script>
<script type="text/javascript" src="/static/js/jquery-modal.js" ></script>
<script type="text/javascript" src="/static/js/paramet_extract.js" ></script>

<script>
$(window).unload(function() {
loaderShow();
});
<!--Loader Function-->
function loaderShow(){
    $('.sk-cube-grid').show();
    $('.modal-backdrop-loader').show();
    $("body").css("overflow", "hidden");
}
function loaderHide(){
    $('.sk-cube-grid').hide();
    $('.modal-backdrop-loader').hide();
    $("body").css("overflow", "auto");
}
<!--Success modal-->
function modal_success(){
    $('.alert_modal').show();
    $('.alert_modal').delay(2500).fadeOut(200);
}
function alertClose(){
   $('.alert_modal').hide();
}

<!--scroll up button-->
    $(document).ready(function(){
        $( ".middle-inner" ).fadeIn(500);
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('#scroll').fadeIn();
            } else {
                $('#scroll').fadeOut();
            }
        });
        $('#scroll').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });
    });


    $( document ).ready(function() {
            $('#sidenav-close').click(function() {
                $('.sidebar-container').hide(500);
                $('#blanket').hide();
                $('body').css('position','initial');
            });
            $('#sidenav-open').click(function() {
                $('.sidebar-container').show(500);
                $('#blanket').css('display','block');
                $('body').css('position','fixed');
            });

            $('.menu-drop-down').click(function(e) {
                $('.dropdown-open').toggle();
            });
            $('.menu-drop-down').click(function(e) {
                e.stopPropagation();
            });
            $('html').click(function() {
                 $('.dropdown-open').hide();
            });
            // jquery for optional menu
            if ($(window).width()<1024){
                // $('.optional-menu').hide();
                $('.optinal-sidemenu').show();
            }
            else{
               // $('.optional-menu').show();
                $('.optinal-sidemenu').hide();
            }
            $('.menu-open').hover(function() {
	            $('.dropdown').stop(true, true).slideDown(200);
	            $('.menu-open').addClass('active');
            });
            $('.menu-open').mouseleave(function() {
                $('.dropdown').stop(true, true).slideUp(200);
                $('.menu-open').removeClass('active');
            });
            // jquery for slider

            var sliderTotal = $('.testmonail-container').size();
            var counterIndex = 2;
            var timer ;

            if (sliderTotal == 1 ){
               $('#slideshow #1').show();
            }
            else {
                $('#slideshow #1').show('toggle', 'linear', 500);
                $('#slideshow #1').delay(5500).hide('toggle', 'linear', 500);
                setInterval(function () {
                    $('#slideshow #' + counterIndex).show('toggle', 'linear', 500);
                    $('#slideshow #' + counterIndex).delay(5500).hide('toggle', 'linear', 500);
                    if (counterIndex == sliderTotal) {
                        counterIndex = 1;
                    }
                    else {
                        counterIndex = counterIndex + 1;
                    }
                },6500);
            }

            $('.search-type-change li').click(function(e){
                $('.search-type-change li a').removeClass('active');
                var type = $(this).attr('data_id') ;
                var form_action = $(this).attr('data-target') ;
                var placeholder = $(this).find('a').html() ;
                $('.search-input-box').attr("placeholder",placeholder);
                $('#search_form').attr("action",form_action);
                var placeholder = $(this).find('a').html() ;
                $('.search-input-box').attr("placeholder",placeholder);
                $(this).find('a').addClass('active');
                $('.search-type').val(type);
                $('.dropdown-open').toggle();
            });

        });
        $(function() {
            $('.client-profile-tab').find('li').each(function(){
                if($(this).hasClass('active')){
                    var sectionId = $(this).attr('data-post');
                    $('#'+sectionId+'').show();
                }
            });
        });
        $(document).on('click','.client-profile-tab li',function(){
            var sectionId = $(this).attr('data-post');
            $('.client-profile-tab').find('li').each(function(){
                var sectionIdeach = $(this).attr('data-post');
                $('#'+sectionIdeach+'').hide();
                $(this).removeClass('active');
            });
            $(this).addClass('active');
            $('#'+sectionId+'').show();

        });

</script>

{% block extra_js %} {% endblock %}

</body>
</html>
