
<footer>
    <section class="">
        <div class="footer-info">
            <div class="content">
                <div class="ft-info-container">
                    <div class="django-info">
                        <img src="/static/images/django-team-footer-white.png" alt="logo-black"/>
                        <p><span>Atlancer</span> is a souk for top django developers, engineers, programmers, coders, architects and consultants.</p>
                    </div>
                    <div class="ftdj-cmpnydetails">
                        <div class="cmnydetail">
                            <p class="ftdj-heading">COMPANY</p>
                            <p><a href="{% url 'about' %}">About</a></p>
                            <p><a href="{% url 'find_freelancer' %}">Find Freelancers</a></p>
                            <p><a href="{%  url 'find_job' %}">Find Jobs</a></p>
                            <p><a href="javascript:;">We will hire for you on demand</a></p>
                            <p><a href="{% url 'blogs' %}">Blogs</a></p>
                        </div>
                    </div>
                    <div class="ftdj-help">
                        <p class="ftdj-heading">HELP</p>
                        <p><a href="javascript:;">How it works</a></p>
                        <p><a href="{%  url 'faq' %}">Help Guides</a></p>
                        <p><a href="{%  url 'contact_us' %}">Support</a></p>
                    </div>
                    <div class="ftdj-contact">
                        <p class="ftdj-heading">CONTACT</p>
                        <p>Work at Atlancer</p>
                        <p>Apply as a Freelancer</p>
                        <p>Send us and Email</p>
                        <p>Call: 0471-4013112</p>
                    </div>
                    <div class="djbtn-holder">
                        <button type="button" onclick="window.location='{% url 'Register' 'hire' %}';"  class="btn-default">Hire</button>
                        <button type="button"  onclick="window.location='{% url 'Register' 'work' %}';" class="btn-default">Work</button>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="copyright">
            <div class="content">
                <ul class="copyrightlink">
                    <li class="ftr-text">
                        Copyright © <a href="javascript:;">Atlancer.&nbsp;</a>
                    </li>
                    <li class="ftr-text"><a href="javascript:void(0);">Privacy Policy</a> |&nbsp;</li>
                    <li class="ftr-text"><a href="javascript:void(0);">Website Terms</a></li>
                </ul>
                <div class="social">
                    <ul class="">
                        <li class="fa-circle twitter">
                            <a href="javascript:;" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="fa-circle facebook">
                            <a href="javascript:;" target="_blank"><i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="fa-circle google-plus">
                            <a href="javascript:;" target="_blank"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="fa-circle linkedin">
                            <a href="javascript:;" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>