{% extends 'base.html' %}

{% block logoImage %}/static/images/django-team.png{% endblock %}
{% block title %}Home{% endblock %}
{% block search_box %}
<div class="top-search">
    <form class="" method="get" action="{% url 'find_freelancer' %}" id="search_form">
        <ul class="list-style main-menu">
            <li class="active menu-drop-down">
                <span class="search-icon"><i class="fa fa-search"></i></span>
                    <input type="hidden" class="search-type" name="searchtype" value="freelancer">
                    <input type="text" name="search_type" placeholder="Find Freelancers"
                           class="search-input-box search_type" onkeypress="search_query();">
            </li>
            <ul class="dropdown-open search-type-change">
                <li data_id="freelancer" data-target="{% url 'find_freelancer' %}">
                    <a href="javascript:void(0)">Find Freelancers</a>
                </li>
                <li data_id="jobs" data-target="{% url 'find_job' %}">
                    <a href="javascript:void(0)">Find Jobs</a>
                </li>
            </ul>
        </ul>
    </form>
</div>
{% endblock %}
{% block content %}


    <section>
        <div class="banner-container">
            <div class="banner-background">
                <div class="main-title-container">
                    <h1>Hire Freelancers and</br>
                    Find Freelancers Jobs Online</h1>
                    <p class="banner-quots">Millions of small businesses use djangoteam.com to turn their ideas</br>
                    into reality.Need to get work done? Click 'Hire' to get started!
                    </p>
                    <button type="button" onclick="window.location='{% url 'Register' 'hire'  %}';"   class="btn-default btn-lg">Hire</button>
                    <button type="button"  onclick="window.location='{% url 'Register' 'work' %}';"  class="btn-default btn-lg">Work</button>
                </div>
            </div>
        </div>
    </section>

<!-- blog button container end  -->
        <!-- theme quots container -->
        <section class="theme-section">
            <div class="content">
                <div class="theme-wraper clearfix">
                    <div class="theme-left">
                        <h2>Great work starts with great talent</h2>
                        <p>We work with the motive to help individuals and companies advertise their jobs and find the best in class developers. Our list of developers are growing day by day and you will find many able developers to get your work done! .Our list of developers are growing day by day and you will find many able developers to get your work done!</p>
                        <button type="button"  class="btn-blue btn-lg">Read More <i class="fa fa-long-arrow-right"></i> </button>
                    </div>
                    <div class="theme-right">
                        <iframe src="https://www.youtube.com/embed/FbzFl8UtGBU" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="theme-developers-container clearfix">
                    {% if freelancer_list %}
                        {% for freelancer in freelancer_list %}
                            <div class="devlopr-container">
                                <div class="devlpr-img">
                                    {% if freelancer.profile_pic %}
                                        <a href="{%  url 'freelancer_detail' freelancer.slug %}" >
                                            <img class="img-circle-border" src="{{ freelancer.profile_pic_thumbnail.url }}" alt="developer image"/>
                                        </a>
                                    {% else %}
                                        <a href="{%  url 'freelancer_detail' freelancer.slug %}" >
                                            <img class="img-circle-border" src="/static/images/no_image.png" alt="developer image"/>
                                        </a>
                                    {% endif %}

                                    <h2><a href="{%  url 'freelancer_detail' freelancer.slug %}" >{{ freelancer.user.first_name }}</a></h2>
                                    <p>{{ freelancer.professional_title }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="devlopr-container">
                            <div class="devlpr-img">
                                <img class="img-circle-border" src="static/images/user01.png" alt="developer image"/>
                                <h2>KEN WHALEY</h2>
                                <p>Python-Django Developer</p>
                            </div>
                        </div>
                        <div class="devlopr-container">
                            <div class="devlpr-img">
                                <img class="img-circle-border" src="static/images/user02.png" alt="developer image"/>
                                <h2>THOMAS OLIVER</h2>
                                <p>Python-Django Developer</p>
                            </div>
                        </div>
                        <div class="devlopr-container">
                            <div class="devlpr-img">
                                <img class="img-circle-border" src="static/images/user03.png" alt="developer image"/>
                                <h2>RICHARD ROZSA</h2>
                                <p>Python-Django Developer</p>
                            </div>
                        </div>
                        <div class="devlopr-container">
                            <div class="devlpr-img">
                                <img class="img-circle-border" src="static/images/user04.png" alt="developer image"/>
                                <h2>SANEEJA THOMAS</h2>
                                <p>Python-Django Developer</p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>

            </div>
        </section>
        <!--  theme quots container ends -->

        <!-- premo theme container  -->
        <section>
            <div class="djpremo-theme-container">
                <div class="content">
                    <div class="dj-aim-holder">
                        <h2>Tell us what you need</h2>
                        <p>
                            We work with the motive to help individuals and companies advertise their jobs and find the best in class developers. Our list of developers are growing day by day and you will find many able developers to get your work done!
                        </p>
                       <button type="button"  class="btn-dark btn-lg">Read More <i class="fa fa-long-arrow-right"></i> </button>
                    </div>
                    <div class="dj-fechers-container">
                        <div class="fechers-holder">
                            <div class="img-circle">
                                <img src="static/images/idea-black.png" alt="Post job"/>
                            </div>
                            <h2>Post Your Job</h2>
                            <p>
                                Describe what you need done and tell us your budget.
                            </p>
                        </div>
                        <div class="fechers-holder">
                            <div class="img-circle">
                                <img src="static/images/bid-black.png" alt="Select a bid"/>
                            </div>
                            <h2>Select a Bid</h2>
                            <p>
                                Receive competitive quotes and choose the right freelancer.
                            </p>
                        </div>
                        <div class="fechers-holder">
                            <div class="img-circle">
                                <img src="static/images/job-black.png" alt="Job Done"/>
                            </div>
                            <h2>Job Done</h2>
                            <p>
                                Atlancer.com completes the work.You Pay only when satisfied.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <!-- premo theme container ends -->

        <!-- test-monails section -->
        <section>
            <div class="testimonial-container">
                <div class="content" id="slideshow">
                    <div class="testmonail-container" id="1">
                        <div class="testmonail-img-holder">
                            <div class="testmonail-img">
                                <img src="static/images/test-monails-user.png" alt="testmonail"/>
                            </div>
                        </div>
                        <div class="testmonail-holder">
                            <p>
                              Get amazing results working with the best programmers, designers, writers and other top online pros. Hire freelancers with confidence, always knowing their work experience and feedback from other clients.
                            </p>
                            <h3 class="pull-right">KEN WHALEY</h3>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="testmonail-container" id="2">
                        <div class="testmonail-img-holder">
                            <div class="testmonail-img">
                                <img src="static/images/test-monails-user.png" alt="testmonail"/>
                            </div>
                        </div>
                        <div class="testmonail-holder">
                            <p>
                               Get amazing result working with the best programmers, designers, writers and the other top online pros. Hire freelancers with confidence, always knowing their  work experience and feedback from other client.
                            </p>
                            <h3 class="pull-right">KEN WHALEY DE</h3>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="testmonail-container" id="3">
                        <div class="testmonail-img-holder">
                            <div class="testmonail-img">
                                <img src="static/images/test-monails-user.png" alt="testmonail"/>
                            </div>
                        </div>
                        <div class="testmonail-holder">
                            <p>
                               Get amazing result working with the best programmers, designers, writers and the other top online pros. Hire freelancers with confidence, always knowing their  work experience and feedback from other client.
                            </p>
                            <h3 class="pull-right">KEN WHALEY SER</h3>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </section>
      <section>
        <div class="counter-container">
            <div class="content">
                <div class="cntr-holder">
                    <div class="cntr-img">
                        <i class="fa fa-users fa-4x"></i>
                    </div>
                    <div class="cntr-status">
                        <h2 class="txt-center online_developer_counter">0</h2>
                        <h3>Users Online</h3>
                    </div>
                </div>
                <div class="cntr-holder">
                    <div class="center-conuter">
                        <div class="cntr-img">
                            <i class="fa fa-archive fa-4x"></i>
                        </div>
                        <div class="cntr-status">
                            <h2 class="txt-center job_counter">0</h2>
                            <h3>Jobs</h3>
                        </div>
                    </div>
                </div>
                <div class="cntr-holder">
                    <div class="pull-right">
                        <div class="cntr-img">
                            <i class="fa fa-users fa-4x"></i>
                        </div>
                        <div class="cntr-status">
                            <h2 class="txt-center developer_counter">0</h2>
                            <h3>Registered Developers</h3>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <!-- counter section ends -->
{% endblock %}
{% block extra_js %}
<script>
function search_query(){
    var keyPressed = event.keyCode || event.which;
    var value = $('.search-type').val();
    var form = $('#search_form').serialize();
    if(keyPressed==13){
        $('#search_form').submit();
    }

}
 // jquery for scrolle counter
        var job_max = 67;
        var job_flag = false;
        if(job_max) {
            job_flag = true;
        }

        var developer_max = 680;
        var developer_flag = false;
        if(developer_max) {
            developer_flag = true;
        }
        var online_developer_max = 671;
        var online_developer_flag = false;
        if(online_developer_max) {
            online_developer_flag = true;
        }
        function online_developer_incCounter() {
            var online_developer_currCount = parseInt($('.online_developer_counter').html());
            $('.online_developer_counter').text(online_developer_currCount+1);
            if (online_developer_currCount+1 != online_developer_max) {
            setTimeout(online_developer_incCounter,10);
            }
            online_developer_flag=false;
        }
        function developer_incCounter() {
            var developer_currCount = parseInt($('.developer_counter').html());
            $('.developer_counter').text(developer_currCount+1);
            if (developer_currCount+1 != developer_max) {
            setTimeout(developer_incCounter,10);
            }
            developer_flag=false;
        }
        function job_incCounter() {
            var job_currCount = parseInt($('.job_counter').html());
            $('.job_counter').text(job_currCount+1);
            if (job_currCount+1 != job_max) {
                setTimeout(job_incCounter,10);
            }
            job_flag=false;
        }
        // jquery for sticky header
        $(window).scroll(function() {
            // jquery for scroll counter
            var oTop = $('.counter-container').offset().top - window.innerHeight;
            var pTop = $(this).scrollTop();
            if( pTop > oTop ){

                if(online_developer_flag){
                    $(online_developer_incCounter);
                }
                if(job_flag){
                    $(job_incCounter);
                }
                if(developer_flag){
                    $(developer_incCounter);
                }
            }
        });
</script>
{% endblock %}
</body>
</html>