
<!DOCTYPE html>
{% load compress %}
<html>
<head>
	<title>Atlancer | Login</title>
	<!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width" />
    <!-- meta tags ends -->
	{% compress css %}
    <link rel="stylesheet" type='text/css' href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css" />
	{% endcompress%}
</head>
<body class="login-bg-color">
	<div id="blanket" class="bg-transparent"></div>
	    <div class="login-container clearfix">
	    	<div class="logo-holder clearfix">
		        <a href="{%  url 'IndexView' %}"> <img  class="logo-img" src="/static/images/logo-white.png" alt="Atlancer"/></a>
		        <p class="login-text">We work with the motive to help individuals and companies advertise their
                    jobs and find the best in class developers.</p>
		        <div class="title-container">
		        	<h1 class="group-header txt-center">LOGIN</h1>
		        </div>
		    </div>
			<div class="login-form-wraper">
				<form class="login-form clearfix" method="post" action=".">
					{% csrf_token %}
					<input value="{{ group_name }}" type="hidden" name="group" id="group_name" />
					{{ form.non_field_errors }}
					<ul class="login-form clearfix">
						<li class="username">
							<span class="fa fa-user place-holder"></span>
							<input type="text" id="username" name="username" placeholder="User name" class="inp-login btn-full-width" />
                            {{form.username.errors}}
						</li>
						<li class="password">
							<span class="fa fa-lock place-holder"></span>
							<input type="password" id="password" name="password" placeholder="Password" class="inp-login btn-full-width" />
                            {{form.password.errors}}
						</li>
						<li>
							<div class="left-content">
								<div class="keepme-logedin">
								<input name="remember_me" type="checkbox" value="true" class="check_box_style" id="keepme-logedin">
									<label for="keepme-logedin" class="css-label">Keep me signed in</label>
								</div>
							</div>
							<div class="right-content">
                                <a href="{% url 'password_reset' %}">Forgot Password</a>
							</div>
						</li>
						<li>
							<div class="left-content">
								<button type="submit" id="login_btn" class="btn-off-black btn-normal btn-signin" >LOGIN</button>
							</div>
							<div class="right-content">
								<a href="{% url 'Register' 'hire' %}">Signup now</a>
							</div>
						</li>
					</ul>
				</form>
				<div class="clearfix"></div>
			</div>
		</div>
	{% compress js %}
	<script type="text/javascript" src="/static/js/jquery-1.11.2.js"></script>
	<script>
		function is_user(){
			var data = 'is_user_check';
			$.ajax({
				url: "{% url 'is_user'%}",
				type: 'GET',
				data: data,
				success: function (return_data)
				 {
					if(return_data.status == true ){
						window.location.href = '/accounts/login/'
					}
					else{
						$('.login-form').submit();
					}
				 },
				error:function(xhr,status,error)
					{
						console.log("Errrrrrrrr");
					}
			});
		}


	</script>
	{% endcompress %}
</body>
</html>
