<!DOCTYPE html>
<html>
<head>
	<title>Atlancer | Login</title>
	<!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width" />
    <!-- meta tags ends -->
    <link rel="stylesheet" type='text/css' href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css" />
</head>
<body class="login-bg-color">
	<div id="blanket" class="bg-transparent"></div>
	<div class="login">
		<div class="logo-holder clearfix">
	        <a href="{%  url 'IndexView' %}"> <img  class="logo-img" src="/static/images/logo-black.png" alt="Djangoteam"/></a>
	        <div class="title-container">
	        	<h1 class="group-header txt-center">Login</h1>
	        </div>
	    </div>
	    <div class="login-container clearfix">
			<div class="login-form-wraper">
				<form class="login-form clearfix" method="post" action=".">
					{% csrf_token %}
					<input value="{{ group_name }}" type="hidden" name="group" id="group_name" />
					{{ form.non_field_errors }}
					<ul class="login-form">
						<li class="username">
							<label for="username">Username</label>
							<span class="fa fa-user place-holder"></span>
							<input type="text" id="username" name="username" placeholder="username" class="inp-login btn-full-width" />
							{{form.username.errors}}
						</li>
						<li class="password">
							<label for="password">Password</label>
							<span class="fa fa-lock place-holder"></span>
							<input type="password" id="password" name="password" placeholder="password" class="inp-login btn-full-width" />
							{{form.password.errors}}
						</li>
						<li>
							<div class="left-content">
								<div class="keepme-logedin">
								<input name="remember_me" type="checkbox" value="1" class="check_box_style" id="keepme-logedin">
									<label for="keepme-logedin" class="css-label">Keep me logged in</label>
								</div>
							</div>
							<div class="right-content">
								<button class="btn-off-black btn-normal btn-signin">Sign in</button>
							</div>
						</li>
						<li>
							<!--<div class="left-content">-->
								<!--<a href="{% url 'Register' %}">Signup now</a>-->
							<!--</div>-->
							<!--<div class="right-content">-->
								<!--<a href="{% url 'password_reset' %}">Forgot Password</a>-->
							<!--</div>-->
						</li>
					</ul>
				</form>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/static/js/jquery-1.11.2.js"></script>
	<script type="text/javascript">

	</script>
</body>
</html>
