{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
    {% block content %}
<!--profile -->
        <section>
            <div class="client-profile-container">
                <div class="profile-top-border">
                </div>
            </div>
        </section>
        <section>
            <div class="profile-description">
                <div class="content">
                    <aside>
                        <div class="profile-sidebar pull-left">
                            <div class="profile-image">
                                <img class="img-circle-border" src="/static/images/user03.png" alt="developer image">
                            </div>
                            <div class="profile_details_wrap">
                                <span class="profile_edit" data-modal-id="profile_basic_edit"><i class="fa fa-pencil"></i></span>
                                <h2>THOMAS OLIVER</h2>
                                <p>Python-Django Developer</p>
                                <p class="location"><i class="fa fa-map-marker"></i> Switzerland</p>
                                <div class="carrier-details">
                                    <button type="button" class="btn-light-green ">Python</button>
                                    <button type="button" class="btn-light-green ">Django</button>
                                    <button type="button" class="btn-light-green ">jQuery</button>
                                    <button type="button" class="btn-light-green ">HTML</button>
                                    <button type="button" class="btn-light-green ">CSS</button>
                                </div>
                                <div class="pad-15">
                                    <button type="button" class="btn-contact-profile ">Contact Thomas Oliver</button>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <section>
                        <div class="profile-content pull-left">
                            <div class="pad-l20">
                                <h2 class="mar-t50">Overview</h2>
                                <!-- displaying login users -->
                                <p>{{count}} ---> online users</p>
                                <p class="pad-t20 profile-desc">
                                    Hello guys, who are reading this.  I'm Thomas and I'm looking for an interesting projects with Django.  I'd a long way from regular php web-developer to CTO and partner Moscow company.   Now I'm working on prototype of my own startup and looking for a job to fill 20-30 hours per week for a 3-6 months.  My main stack is AngularJS/Django/PostgreSQL But now I want to do more JS things.
                                </p>
                                <p class="pad-t20 profile-desc">
                                    Django is not a blackbox for me. I know how to build inheritable directives/controllers. I know how digest works. I consulted and trained few good angular developers in my company. Prefer coffeescript — it increase ... <span class="light-green mouseCursor">more</span>
                                </p>
                                <div class="profile-work-history mar-t40">
                                    <h3>Work History</h3>
                                    <p><span class="work-date">Aug 15</span></p>
                                    <p>Django & JQuery webapp work</p>
                                    <p>
                                        <i class="fa fa-star light-green size13"></i>
                                        <i class="fa fa-star light-green size13"></i>
                                        <i class="fa fa-star light-green size13"></i>
                                        <i class="fa fa-star light-green size13"></i>
                                        <i class="fa fa-star light-green size13"></i>
                                    </p>
                                    <h3 class="mar-t15">Feed Back</h3>
                                    <p>
                                        Thomas is amazing programmer , he did give me result in advance also did all my requirements in very fast time. I totally recommend him.
                                    </p>
                                </div>
                                <div class="profile-work-history mar-t20 mar-b20">
                                    <h3>Work History</h3>
                                    <p><span class="work-date">Aug 14</span></p>
                                    <p>Django Project</p>
                                    <p>
                                        <i class="fa fa-star light-green size13"></i>
                                        <i class="fa fa-star light-green size13"></i>
                                        <i class="fa fa-star light-green size13"></i>
                                        <i class="fa fa-star light-green size13"></i>
                                        <i class="fa fa-star light-green size13"></i>
                                    </p>
                                    <h3 class="mar-t15">Feed Back</h3>
                                </div>
                            </div>
                        </div>
                    </section>
                    <aside>
                        <div class="profile-right-sidebar pull-left">
                            <div class="pad-l20">
                                <section>
                                    <h3 class="mar-t50 pad-tb15">Work History</h3>
                                    <p>100% Job Success</p>
                                    <p>1,308 hours worked</p>
                                    <p>6 jobs </p>
                                </section>
                                <section>
                                    <h3 class="pad-tb15">Availability</h3>
                                    <p>Available</p>
                                    <p>As Needed - Open to Offers</p>
                                    <p>24 hrs response time </p>
                                </section>
                                <section>
                                    <h3 class="pad-tb15">Search for others</h3>
                                    <input type="text" name="search" value="" class="width size18 search-input-width">
                                    <button type="button" class="btn-green width post-btn">Post a Job</button>
                                </section>
                            </div>
                        </div>
                    </aside>
                    <div class="clear"></div>
                </div>
            </div>
        </section>
    <!-- edit profile modal code -->
        <div id="profile_basic_edit" class="modal-box">
            <header><a href="#" class="js-modal-close close">X</a>
                <h3>Edit Profile</h3>
            </header>
            <div class="modal-body">
                <form action="" method="post">
                    <ul class="form_field_wrap">
                        <li>
                            <label>FIRST NAME</label>
                            <input type="text" class="inputbox" name="firstname">
                        </li>
                        <li>
                            <label>LAST NAME</label>
                            <input type="text" class="inputbox" name="lastname">
                        </li>
                        <li>
                            <label>ROLE</label>
                            <input type="text" class="inputbox" name="lastname" value="Python-Django Developer">
                        </li>
                        <li>
                            <label>LOCATION</label>
                            <input type="text" class="inputbox" name="location">
                        </li>
                        <li>
                            <label>SKILLS</label>
                            <select class="select_box" id="multi_select" multiple="multiple" name="skills">
                                <option value="1">Python</option>
                                <option value="2">Django</option>
                                <option value="3">HTML</option>
                                <option value="4">CSS</option>
                                <option value="5">jQuery</option>
                            </select>
                        </li>
                        <li class="clearfix">
                            <label>PROFILE IMAGE</label>
                            <div class="image_upload pull-left">
                                 <input type="file" name="profile_image" id="profile_image" class="profile_image" accept="image/*">
                            </div>
                            <span class="image_upload_name"></span>
                        </li>
                    </ul>
                </form>
            </div>
            <footer class="clearfix">
                <div class="pull-left cancel">
                    <button type="button" class="btn-cancel width post-btn js-modal-close">Cancel</button>
                </div>
                <div class="pull-right save">
                    <button type="button" class="btn-green width post-btn">Save</button>
                </div>
            </footer>
        </div>
        {% endblock %}

    {% block extra_js %}
        <script type="text/javascript" src="/static/js/jquery-1.11.2.js" ></script>
        <script type="text/javascript" src="/static/js/jquery.tokenize.js" ></script>
        <script type="text/javascript">
            $(document).on("change", "#profile_image", function() {

               var file = this.files[0],
                   fileName = file.name,
                   fileSize = file.size;
                   $('.image_upload_name').html(fileName);
            });
            //multi select
                $('#multi_select').tokenize({
                    displayDropdownOnFocus: true,
                    placeholder: "Type your skils",
                });
           // jquery for tab switch

            $(document).on('click', '.signup-tabs li', function (event) {
                $('.signup-tabs li').removeClass('active');
                $(event.target).addClass('active');
                if ($(".signup-tabs li:first").hasClass('active')){
                    $('.signup-tab1').addClass('active');
                    $('.signup-tab1').show();
                    $('.signup-tab2').hide();
                    if ($('.signup-tab2').hasClass('active')){
                        $('.signup-tab2').removeClass('active');
                    }
                }
                if ($(".signup-tabs li:last").hasClass('active')){
                    $('.signup-tab2').addClass('active');
                    $('.signup-tab2').show();
                    $('.signup-tab1').hide();
                    if ($('.signup-tab1').hasClass('active')){
                        $('.signup-tab1').removeClass('active');
                    }
                }
            });

            $(function(){
                var appendthis =  ("<div class='modal-overlay js-modal-close'></div>");
                $('[data-modal-id]').click(function(e) {
                    e.preventDefault();
                    $("body").append(appendthis);
                    $(".modal-overlay").fadeTo(500, 0.7);
                    //$(".js-modalbox").fadeIn(500);
                    var modalBox = $(this).attr('data-modal-id');
                    $('#'+modalBox).fadeIn($(this).data());
                });
                $(".js-modal-close, .modal-overlay").click(function() {
                    $(".modal-box, .modal-overlay").fadeOut(500, function() {
                        $(".modal-overlay").remove();
                    });
                });
                $(window).resize(function() {
                    $(".modal-box").css({
                        top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                        left: ($(window).width() - $(".modal-box").outerWidth()) / 2
                    });
                });
                $(window).resize();

            });
        </script>
    {% endblock %}