{% extends 'base.html' %}
{% block title %}signup Success{% endblock %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
{% block content %}
<section class="clearfix">
    <div class="registration-logo-holder">
        <div class="headline-wrapper">
            <div class="content">
                <span class="headline">Successfully completed </span>

            </div>
        </div>
    </div>
</section>
<section class="theme-section">
    <div class="content">
        <div class="theme-wraper clearfix">
            <div class="">
                <h2>Your registration is completed </h2>
                <p>Verify your email account and access your Atlancer account.We just send an email which is given in your registration process.</p>
                <!--<button type="button" class="btn-blue btn-lg">Read More <i class="fa fa-long-arrow-right"></i></button>-->
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}

{% endblock %}