/*01 -  Font style - Open Sans
02 -  Global Styles
03 -  Page Styles
04 - Pre-footrer
05 -  Footer Styles
*/

/*********************************************************************************************
01- Font style - opensans
*********************************************************************************************/
/* Regular */
@font-face {
  font-family: 'lacto Regular';
  src: url('../fonts/lacto/lato-regular-webfont.eot');
  src: url('../fonts/lacto/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lacto/lato-regular-webfont.woff') format('woff'), url('../fonts/lacto/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lacto/lato-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
}


/* Regular */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot');
  src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/open-sans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-Italic-webfont.eot');
  src: url('../fonts/open-sans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-Italic-webfont.woff') format('woff'), url('../fonts/open-sans/OpenSans-Italic-webfont.ttf') format('truetype'), url('../fonts/open-sans/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-weight: 400;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-Light-webfont.eot');
  src: url('../fonts/open-sans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/open-sans/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/open-sans/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

/* Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-LightItalic-webfont.eot');
  src: url('../fonts/open-sans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-LightItalic-webfont.woff') format('woff'), url('../fonts/open-sans/OpenSans-LightItalic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

/* Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-Semibold-webfont.eot');
  src: url('../fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-Semibold-webfont.woff') format('woff'), url('../fonts/open-sans/OpenSans-Semibold-webfont.ttf') format('truetype'), url('../fonts/open-sans/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
  font-weight: 500;
  font-style: normal;
}

/* Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-SemiboldItalic-webfont.eot');
  src: url('../fonts/open-sans/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-SemiboldItalic-webfont.woff') format('woff'), url('../fonts/open-sans/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'), url('../fonts/open-sans/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-Bold-webfont.eot');
  src: url('../fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/open-sans/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/open-sans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-weight: 700;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-BoldItalic-webfont.eot');
  src: url('../fonts/open-sans/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'), url('../fonts/open-sans/OpenSans-BoldItalic-webfont.ttf') format('truetype'), url('../fonts/open-sans/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
  font-weight: bold;
  font-weight: 700;
  font-style: italic;
}

/* Extra Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-ExtraBold-webfont.eot');
  src: url('../fonts/open-sans/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'), url('fonts/open-sans/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
  font-weight: 900;
  font-style: normal;
}

/* Extra Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.eot');
  src: url('../fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'), url('../fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

/*********************************************************************************************
02- Globel styles
*********************************************************************************************/
body {
  margin: 0;
  font-family:'Open Sans', Arial, sans-serif;
  color: #1c1c1c;
  font-size: 13px;
}
* {
  margin: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden], template {
  display: none;
}
a {
  background: transparent;
}
a:active, a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled], html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
ul {
  list-style: none;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td, th {
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.clear {
  clear:both;
}

/*********************************************************************************************
03- Page styles
*********************************************************************************************/
/*
V1- Common style
V2- Home page navbar
V3- admin main section
V4- admin left navbar
V5- admin registration form section
V6- latest employers table
V7- footer section

*/

/*===================== 03 - V1- Common style ========================*/
.content {
  max-width: calc(1080px + 15rem);
  margin: 0 auto;
  position: relative;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ccc;
}
.list-style>li {
  list-style-type: none;
  display: inline;
}
.txt-center {
  text-align: center;
}
.pull-left {
  float: left;
}
.pull-right{
  float: right;
}
.btn-blue {
  background-color: #007BC1;
  color: #fff !important;
  width: 125px;
  height: 40px;
  border: none;
  margin: 4px;
}
.btn-green {
  background-color: hsl(159, 100%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#A4C143", endColorstr="#90AF26");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#A4C143), to(#90AF26));
  background-image: -moz-linear-gradient(top, #A4C143, #90AF26);
  background-image: -ms-linear-gradient(top, #A4C143, #90AF26);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A4C143), color-stop(100%, #90AF26));
  background-image: -webkit-linear-gradient(top, #A4C143, #90AF26);
  background-image: -o-linear-gradient(top, #A4C143, #90AF26);
  background-image: linear-gradient(#A4C143, #90AF26);
  border-color: #90AF26 #90AF26 hsl(159, 100%, 12%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
  -webkit-font-smoothing: antialiased;
  width: 125px;
  height: 40px;
  border: none;
  margin: 4px;
}
.btn-lg {
  width: 200px;
  height: 60px;
  font-size: 22px;
  font-weight: 200;
}
.btn-normal {
  max-height: 30px;
}
.btn-full-width {
  width: 100%;
}
/*tooltip*/
a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width: 85px;
  color: #fff;
  background: #000;
  height: 30px;
  line-height: 27px;
  text-align: center;
  visibility: hidden;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid #000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 1;
  top: 50%;
  margin-top: -15px;
  margin-left: 15px;
  z-index: 999;
  right: -120px;
  font-size: 16px;
}
.inputbox {
  width: 97%;
  margin: 5px 0px;
}
/*===================== 03 - V2- Home page navbar ========================*/
header{
  /*position: fixed;*/
  width: 100%;
  z-index: 700;
  background: #006aae;
}
header.innerheader {
  border-bottom: 1px solid #ccc;
}
.main-menu>.sticky-change >li>a {
  color: #000;
}
.menu-drop-down>.sticky-change {
  color: #000;
}
.white-nav > .main-menu>li>a{
  color: #000;
}
.banner-container {
	padding-top: 117px;
}
.nav-container {
  padding: 10px 0px;
}
.nav-bar {
  width: 100%;
}
.logo-container {
  width: 17%;
  float: left;
  background-color: #015991;
  /*margin-top: 2px;*/
  padding: 10px 0px;
}
.menu-container {
  width: 82%;
  float: left;
  padding: 5px 0px;
  background-color : transparent;
  margin-top: -8px;
}
.logo-left-container {
  float: right;
}
.main-menu>li>a {
  color: #fff;
  text-decoration: none;
  margin-top: -10px;
}
.main-menu>li {
  padding: 0px 9px;
}
li.optional-menu img {
    margin-top: 5px;
}
li.optional-menu a {
  margin-top: -10px;
}
.main-title-container {
  width: 100%;
  text-align: center;
  color: #fff;
  padding:130px 0px;
}
.main-title-container>h1{
  font-weight: 200;
  font-size: 3.5em;
  margin-bottom: 0px;
  margin-top: 10px;
}
.banner-quots {
  font-size: 22px;
  line-height: 1.4;
  margin: 20px 0px;
  font-weight: 100;
}
.social-icons-container {
  background-color:#a3c040;
  top: 300px;
  z-index: 5;
  padding-left: 18px;
  position: fixed;
  left: 0px;
  padding: 5px 15px;
  color: #fff;
}
.social-icon {
  padding: 10px 3px;
  font-size: 1.6em;
}
.social-icon > a {
  text-decoration: none;
  color: #fff;
}
.search-icon {
  position: relative;
}
.search-icon:after {
  content: '\f0dd';
  display: inline-block;
  color: #dbe1e4;
  font-family: 'FontAwesome';
  position: absolute;
  left: 17px;
  top: -4%;
}
.menu-drop-down {
  border: 2px solid #fff;
  position: relative;
  /*background-color: #201F1F;*/
  color: #fff;
}
.white-nav>ul>.menu-drop-down {
  border: 2px solid #ccc;
}
.menu-drop-down>span {
  color: #ccc;
}
.menu-drop-down >a {
  padding-left: 15px;
}

.main-menu >li>a>i.fa.fa-pencil:after {
  content: "_";
}
#sidenav-open {
  font-size: 25px;
  color: #fff;
  margin-left: 10px;
  margin-top: 3px;
}
#sidenav-open2 {
  margin-top: 3px;
}

#dropdown {
  display: none;
 border: medium none;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
  float: right;
  font-size: 12px;
  left: 0;
  list-style: none outside none;
  padding: 0;
  /*position: absolute;*/
  position: relative;
  text-shadow: none;
  top: 100%;
  z-index: 1000;
  width: 150px;
  background-color: #fff;

}
#primary_nav_wrap {
  margin-top:15px
}

#primary_nav_wrap ul {
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul a {
  display:block;
  text-decoration:none;
  line-height:47px;
}

#primary_nav_wrap ul li {
  position:relative;
  float:left;
  margin:0;
  /*padding:0*/
}


#primary_nav_wrap ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  padding:0
}

#primary_nav_wrap ul ul li
{
  float:none;
  text-align: center;
  /*width:200px*/
}

#primary_nav_wrap ul ul a
{
  line-height:120%;
  padding:10px 15px;
  color: #006AAE;
}

#primary_nav_wrap ul ul ul
{
  top:0;
  left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block;

}
#logout {
  border-top: 1px solid #e5e5e5;
}
.bubble {
  background: #004978;
  color: #2694DA;
  position: absolute;
  left: -4px;
  top: -5px;
  color: #fff;
  font: bold .9em Tahoma, Arial, Helvetica;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 20px;
  width: 20px;
  height: 20px;
}
.contentBubble {
  height: 20px;
  display: table-cell;
  width: 20px;
  vertical-align: middle;
  color: #2694DA;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.logo-img {
  padding-left: 20px;
  width: 66%;
}
.circle {
  text-align: center;
  /*padding: 10px;*/
  display: inline-block;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: #1E89CE;
  margin-top: 9px;
  width: 33px;
  height: 33px;
}
.user-img {
  margin-top: 7px;
}
.searchText {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  border: none !important;
  font-size: 14px;
  height: 30px;
  margin: 0;
  z-index: 2000;
  margin-bottom: 0px !important;
}
.iconRound {
  height: 33px;
  display: table-cell;
  width: 33px;
  vertical-align: middle;
}
.searchInside {
  border-bottom:1px solid #ccc;
}
#dropdown:after {
    content: "";
    border-bottom: 8px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -8px;
    left: 64px;
    z-index: 8;
}
.profileMenu {
  padding: 0px !important;
}
/*===================== 04 - V3- admin main section ========================*/

.fullWidth {
	width: 100%;
	margin: auto;
}
.adminMenuSection {
	width: 17%;
	float: left;
	background: #e8e8e8;
	padding: 15px 0px;
  min-height: 775px;
}
.registrationMainSect {
	width: 83%;
	float: left;
}
.adminRegSectionLeft {
	width: 46%;
	float: left;
	padding: 20px;
}
.admin_email_container{
    width: 60%;
    display: block;
    margin: 0 auto;
    float: left;
    padding-left: 22px;
    padding-top: 13px;

}
.searchIcon {
	float: right;
	cursor: pointer;
  margin-right: 6px;
  margin-top: 10px;
}

i.fa.fa-angle-right {
  margin-right: 5px;
}
/*===================== 05 - V4- admin left navbar ========================*/
.adminRegSectionRight {
	width: 46%;
	float: right;
	padding: 20px;
}
.searchSection {
	padding: 5px 20px;
	margin-bottom: 23px;
  /*border-bottom: 1px solid #ccc;*/
}
.searchSection p {
	color: #818181;
	border-bottom: 1px solid #ccc;
	padding: 5px 0px;
}
.adminMainMenuList>li{
  border-bottom: 1px solid #ccc;
  position: relative;
  display: block;
}
.active{
  background: #343434;
  color: #fff;
}
.adminMainMenuList>li:last-child {
  border:none;
}
.adminMainMenuList>li>a{
	text-decoration: none;
	color: #818181;
  font-size: 13px;
  position: relative;
  display: block;
  padding: 10px 20px;
}
.adminMainMenuList>li>a>span {
  margin-right: 20px;
}
.adminMainMenuList li a:hover, .adminMainMenuList li a:focus,.adminMainMenuList li a.active, .adminMainMenuList li .sub-menu li a.active {
    /*outline: none;*/
    outline: 1px solid;
    background-color: #343434 !important;
    color: #fff !important;
}
.adminMainMenuList>li>a:focus, .adminMainMenuList>li>a:hover {
  text-decoration: none;
  background-color: #343434;
  color: #fff;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.arrow {
  float: right;
  /*margin-top: 5px;*/
}
i.fa.fa-angle-right {
  margin-right: 5px;
}
.sub-menu>li>a{
  font-size: 13px;
  position: relative;
  display: block;
  padding: 10px 50px !important;
  border-bottom: none !important;
  text-decoration: none;
  color: #818181 !important;
  background: #E8E8E8 !important;
}
ul.sub-menu {
  margin-top: 0px;
  width: 100%;
  display: none;
}
.sub-menu.active li {
  text-decoration: none;
  background-color: #343434;
  color: #fff;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}


/*===================== 06 - V5- admin registration form section ========================*/
.reg {
	font-weight: bold;
	font-size: 15px;
	padding: 25px 20px 5px;
}
.reg span{
	margin-right: 10px;
}
.registrationMainSect label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 13px;
}
/*.registrationFormGroup input[type=checkbox] + label {
  padding-left: 24px;
  height: 19px;
  display: inline-block;
  line-height: 24px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 13px;
  vertical-align: middle;
  cursor: pointer;
}*/
.registrationFormGroup input[type ='text'], .registrationFormGroup input[type ='email']  {
  display: block;
  width: 100%;
  height: 27px;
  padding: 10px 5px;
  font-size: 13px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.registrationFormGroup select{
    display: block;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    background-color: #fff;
}
.registrationFormGroup textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 10px 5px;
  font-size: 14px;
  color: #555;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.formReghalf {
	width: 49%;
	float: left;
}
.formReghalf2 {
	width: 49%;
	float: right;
	margin-left: 5px;
}
.submitBtn {
	background: #015991;
	padding: 6px 20px;
	border: none;
	margin-left: 10px;
	float: right;
	color: #fff;
	font-size: 13px;
	margin-top: 20px;
	margin-bottom: 22px;

}
 .img_upload_warper{
    width: 100%;
}
.upload_image_container{
    width:80%;
    float:left;
}
.img_btn_holder{
    float:left;
    width:20%;
}
.editor_container >div {
  margin-left: 0px !important;
  margin-bottom:10px;
}
/* .dropzone .dz-preview .dz-image {
  border-radius: 0px;
  }
.dropzone-previews .dz-remove {
  position: absolute;
  top: 4px;
  right: 10px;
  z-index: 100;
}
.dropzone-previews .dz-remove i {
  color: #606061;
  cursor: pointer;
  font-size: 16px;
}
.dropzone-previews .dropzone .dz-preview {
  margin: 8px;
}
.dropzone-previews .dropzone .dz-preview .dz-image {
  border-radius: 0px;
  padding: 10px;
  border: solid 1px #606061;
}
.dropzone-previews .dropzone .dz-preview .dz-image {
  border-radius: 0px;
  padding: 10px;
  border: solid 1px #606061;
} */
.dropzone-previews .get_start_wrapper .form-group {
    padding: 0px;
}
.dropzone-previews .dz-remove {
  position: absolute;
  top: 4px;
  right: 10px;
  z-index: 100;
}
.dropzone-previews .dz-remove i {
  color: #606061;
  cursor: pointer;
  font-size: 16px;
}
.dropzone-previews .dz-remove i:hover {
  color: #606061;
}
.dropzone-previews .dz-preview .dz-image {
  border-radius: 0px;
  padding: 10px;
  border:solid 1px #606061;
}
.dropzone-previews .dz-preview {
    margin: 8px;
}
.dropzone-previews {
    padding: 28px 15px;
    margin-bottom: 10px;
    border: 2px dashed rgba(0, 0, 0, 0.3);
}
.dropzone-previews .dz-message span{
    font-size: 18px;
}
.dropzone-previews {
  position: relative;
}
.file-dropzone-padding {
      padding-bottom: 34px !important;
}
.file-dropzone-message {
     position: absolute !important;
    width: 100% !important;
    text-align: center !important;
    bottom: -18px  !important;
    display: block !important;
    right: 0px !important;
}
.ms-container{
  background: transparent url('../images/switch.png') no-repeat 50% 50%;
  width: 100%;
}

.ms-container:after{
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  min-height: 0;
  visibility: hidden;
}

.ms-container .ms-selectable, .ms-container .ms-selection{
  background: #fff;
  color: #555555;
  float: left;
  width: 45%;
}
.ms-container .ms-selection{
  float: right;
}

.ms-container .ms-list{
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border: 1px solid #ccc;
  position: relative;
  height: 200px;
  padding: 0;
  overflow-y: auto;
}

.ms-container .ms-list.ms-focus{
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}

.ms-container ul{
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.ms-container .ms-optgroup-container{
  width: 100%;
}

.ms-container .ms-optgroup-label{
  margin: 0;
  padding: 5px 0px 0px 5px;
  cursor: pointer;
  color: #999;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection{
  border-bottom: 1px #eee solid;
  padding: 5px 10px;
  color: #555;
  font-size: 13px;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover{
  cursor: pointer;
  color: #282828;
  text-decoration: none;
  background-color: #e5e5e5;
}

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled{
  background-color: #eee;
  color: #aaa;
  cursor: text;
}
.custom-header {
    font-size: 16px;
    margin-bottom: 11px;
    font-weight: bold;
}
.ms-selection, .ms-selectable {
    margin-top: 10px;
    padding: 0;
    min-height: 335px;
}
.custom-footer {
    margin-top: 10px;
    cursor: pointer;
    background: #343434;
    border-radius: 0;
    color: #FFFFFF;
    text-align: center;
    font-size: 11px;
}
.deselect_role, .select_role {
    background: #1c1c1c;
    border: 1px solid #1c1c1c;
}
.custom-footer:hover{
    background: #015991;
    border: 1px solid #015991;
    color: #FFFFFF;
}
.custom-footer i.fa {
    margin-right: 6px;
}

/* footer{
  border-top: 1px solid #dfdfdf;
} */
.ms-selectable .head3, .ms-selection .head3{
   padding-top: 0;
       color: #1c1c1c;
}
.ms-selection .ms-list {
    min-height: 240px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
      color: #BBF2FF;
}
/*===================== 07 - V6- admin section latest employers table ========================*/
.emp {
	font-weight: bold;
	font-size: 15px;
	padding: 0px 20px 5px;
}
.emp span{
	margin-right: 10px;
}
.latestEmployers {
	padding: 10px 20px;
}
.latestEmployersTable {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.latestEmployersTable td, th {
    text-align: center;
    padding: 10px 0px;
    font-size: 13px;
    color: #343434;
}
.latestEmployersTable>tbody>tr:nth-of-type(even) {
    background-color: #E8E8E8;
}
.latestEmployersTable>thead>tr {
    background-color: #E8E8E8;
}
.latestEmployersTable tfoot {
    border: 1px solid #ccc;
}
.latestEmployersTable>tbody>tr:last-child {
    text-align: right;
    background-color: #fff;
    width: 100%;
}
#activePage {
	border: 2px solid #006AAE;
	color: #006AAE;
}
.pagination {
    text-align: right !important;
    padding-right: 20px !important;
}
.pagination span {
	border: 1px solid #D8D8D8;
    margin-left: 10px;
    padding: 1px 5px;
    font-size: 14px;
    cursor: pointer;
}

/*===================== 08 - V7- admin section footer ========================*/
.footerSection {
	color: #fff;
	padding: 20px;
}
footer {
	background: #343434;
}
/*==============================================*/
#dropdownProfile{
  min-width: 108px;
}
************my-jobs-tab*********/

.tab_holder{
    margin-bottom: 10px;
    border-bottom: 4px solid #016AAE;
    overflow: hidden;
    transition: border 250ms ease;
}
.tab_holder ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    float: left;
    padding-left: 35px;
    list-style-type: none;
}
.tab_holder ul li {
    font-size:11px;
    display: inline-block;
    padding: 10px 8px 8px;
    background-color: #FFF;
    z-index: 2;
    position: relative;
    cursor: pointer;
    color: #777;
    text-transform: uppercase;
    transition: all 250ms ease;
    float:left;
}
/*.tab_holder ul li:before {
    right: -24px;*/
    /*transform: skew(30deg, 0deg);
    box-shadow: rgba(0,0,0,.1) 3px 2px 5px, inset rgba(255,255,255,.09) -1px 0;*/
/*}
.tab_holder ul li:after {
    left: -24px;
    transform: skew(-30deg, 0deg);
    box-shadow: rgba(0, 0, 0, .1) -3px 2px 5px, inset rgba(255, 255, 255, .09) 1px 0;
}*/
/*.tab_holder ul li:after,
.tab_holder ul li:before {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #FFF;
    transition: all 250ms ease;
}*/
.tab_holder ul li.active{
    background-color: #016AAE;
    color: #fff;
}
.tab_holder {
    margin-bottom: 10px;
    border-bottom: 4px solid #016AAE;
    overflow: hidden;
    transition: border 250ms ease;
    padding-top: 16px;
}
.tab-list{
    display:none;
}
.errorlist li{
    color:red;
}
.alert-success{
    display:block;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border: 1px solid #a1daa1;
}
.alert-warning{
    display:none;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.fade.in {
    opacity: 1;
}
.alert_box {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.close{
    float:right;
}
.alert_modal{
    width: 50%;
    padding: 20px;
    top: 51px;
    z-index: 5;
    padding-left: 18px;
    position: fixed;
    right: 0px;
}

