
/* ------------------ RESPONSIVE DESIGN ------------ */

@media screen and (max-width:1024px)  {
    .logo-container {
        width: 30%;
    }
   /* .menu-container {
        width: 70%;
    }*/
   
}




@media screen and (max-width:769px) {
  
    .logo-container {
        width: 100%;
        float: none;
        text-align: center;
    }
    .menu-container {
        /*width: 100%;*/
        float: none;
        text-align: center;
		margin: 0;
		
    }
    .logo-left-container {
        float: none;
        text-align: center;
    }
    header.sticky>.content>.nav-container {
      height: 110px;
    }
    .adminMenuSection {
        width: 100%;
        min-height: 0px;
    }
	.adminRegSectionRight {
        width: 100%;
        float: left;
    }
    .adminRegSectionLeft {
        width: 100%;
    }
}
    
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }
    
    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
}