
/* ------------------ RESPONSIVE DESIGN ------------ */

@media screen and (max-width:1024px)  {
    .logo-container {
        width: 30%;
    }
    .menu-container {
        width: 70%;
    }
    .signup-container {
        width: 100%;
        float: none;
        margin-bottom: 20px;

    }
    .signup-text-container {
        text-align: center;
        width: 100%;
        float: none;
    }
    .signup-box {
	    border-left: 1px solid #ccc;
	    margin-right: 30px;
	    border-right: 1px solid #ccc;
	    border-bottom: 1px solid #ccc;
	    color: #7c7c7c;
	    font-size: 12px;
	    padding-left: 15px;
	}
	.content {
	    max-width: calc(1080px + 2rem);
	    margin: 0 auto;
	    position: relative;
	    padding-left: 10px;
	}
    .testmonail-img>img {
        width: 99%;
    }
    .client-description {
        width: 90%;
    }
}
@media screen and  (max-width:1014px){
    .testmonail-img-holder {
        width: 18%;
        float: left;
        margin-top: 80px;
        margin-left: 0px;
    }
    .testmonail-holder {
        background-color: #dce1e5;
        width: 73%;
        float: left;
        margin-top: 110px;
        position: relative;
        margin-left: 40px;
        padding: 15px;
    }
    .signup-container {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .signup-text-container {
        text-align: center;
        width: 100%;
        float: none;
    }
}

@media screen and (max-width:967px)  {
    .content {
        padding:0px 10px;
    }
    .signup-box {
        margin-right: 0px;
    }
    .devlopr-container {
        width: 50%;
		text-align: center;
    }
    .devlpr-img > img {
        width: 36%;
		margin-bottom: 0px;
    }
    .devlpr-img > p {
        margin-bottom: 15px;
    }
    .devlpr-img > h2 {
        margin-top: 5px;
		font-size: 1.2em;
    }
    .dj-aim-holder,.dj-fechers-container{
       width: 100%;
    }
    .fechers-holder {
        width: 100%;
        margin-bottom: 40px;
    }
    .dj-aim-holder {
        text-align: center;
        margin-bottom: 40px;
    }
    .cntr-holder {
		width: 100%; 
		text-align: center;
		float: none;
		margin-bottom: 40px;
    }
    .cntr-img, .cntr-status, .cntr-holder>.pull-right{
        float: none;
    }
    .center-conuter {
        padding-left: 0px;
    }
    .testmonail-holder:before {
        content: '\f0d8';
        display: inline-block;
        color: #dce1e5;
        font-family: FontAwesome;
        position: absolute;
        left: 375px;
        top: -40%;
        font-size: 61px;
    }
    .testmonail-img-holder {
        width: 20%;
        float: left;
        margin-top: -3px;
        margin-left: 328px;
    }
    .testmonail-holder {
        background-color: #dce1e5;
        width: 95%;
        float: left;
        margin-top: 30px;
        position: relative;
        margin-left: 8px;
        padding: 15px;
    }
    .testmonail-container:before {
        display: none;
    }
    .signup-container {
        width: 100%;
        float: none;
        margin-bottom: 20px;
        padding-left: 0px;
    }
    .signup-text-container {
        text-align: center;
        width: 100%;
        float: none;
        padding-left: 0px;
    }
    .testmonail-img>img {
        width: 100%;
    }
     /*login*/

    .login-form .right-content {
        width: 100%;
    }
    .login-form-wraper .btn-signin {
        float: left;
        margin-top: 10px;
    }

    .client-description-wrapper, .client-info-wrapper {
        width: 100%;
    }
    .client-description {
        margin-left: 0px;
        padding-top: 15px;
        width: 100%;
    }
    .edit-client-profile-form input, .edit-client-profile-form textarea, .client-profile-form-wrapper span {
        width: 100%;
    }
    .client-description input {
        width: 96%;
        margin-bottom: 5px;
    }
    .client-content {
        text-align: justify;
    }
    .client-description label {
        padding-bottom: 3px;
    }
    .client-description span {
        width: 135px;
    }
    .overview-edit textarea {
        text-align: justify;
        padding: 5px;
    }
    .topic-btn-wrapper {
        padding: 0px;
    }
    .topic-select .topic {
        font-size: 14px;
    }
    .client-content {
        font-size: 12px;
        padding: 40px 15px 25px 10px;
    }
    .client-profile .edit-div {
        padding: 0px;
    }
    .client-profile-current-wrapper span.label, .client-profile-form-wrapper label {
        width: 175px;
    }
    .client-profile-form-wrapper input, .client-profile-form-wrapper textarea {
        width: 400px;
    }
    .edit-profile-btn-holder .edit-profile-btn {
      float: right;
    }
    .edit-profile-btn-holder {
        width: 576px;
        float: none;
    }
}

@media screen and (max-width:769px) {
    .theme-developers-container {
        margin: 0px;
    }
    .django-info, .ftdj-cmpnydetails, .ftdj-help, .ftdj-contact ,.djbtn-holder{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .djbtn-holder >button {
        float: none;
    }
    .cmnydetail {
        padding-left: 0px;
    }
    .django-info>p {
        padding: 18px 0px;
        line-height: 1.7;
        font-size: 13px;
        text-align: center;
    }
    .testmonail-holder:before {
        content: '\f0d8';
        display: inline-block;
        color: #dce1e5;
        font-family: FontAwesome;
        position: absolute;
        left: 2px;
        top: -10%;
        font-size: 30px;
    }
    .testmonail-img-holder {
		width: 35%;
		float: none;
		margin-top: 10px;
		margin-left: 5px;
	}
    /*.registration-logo-holder {
        padding-top: 170px;
    }*/
    .testmonail-holder {
        background-color: #dce1e5;
        width: 93%;
        float: left;
        margin-top: 30px;
        position: relative;
        margin-left: 8px;
        padding: 15px;
    }
    .testmonail-container:before {
        display: none;
    }
    .copyrightlink, .copyright ul {
        width: 100%;
        float:none;
    }
    .logo-container {
        width: 100%;
        float: none;
        text-align: center;
    }
    .menu-container {
        width: 100%;
        float: none;
        text-align: center;
		margin: 0;
		height: 0;
    }
    .logo-left-container {
        float: none;
        text-align: center;
    }
    .dropdown-open {
        position: absolute;
        background-color: #fff;
        width: 206px;        
        display: none;
		top: 36px;
		left: 0;
    }
    header.sticky>.content>.nav-container {
      height: 110px;
    }
	.top-info{
		display:none;
	}
	.top-search {
		width: 64%;
		float: none;
		margin: 11px 0;
		position: relative;
	}
	a#sidenav-open {
		position: absolute;
		right: 21px;
		font-size: 2.2em;
		bottom: 18px;
	}
	.theme-left {
		float: none;
		width: 100%;
	}
	.theme-right {
		width: 97%;
		float: none;
		padding: 0px 3px;
	}
	.theme-left button {
		width: 97%;
		height: 44px;
		font-size: 1.2em;
	}
	.sidebar-container {
		width: 60%;
	}
	.sidebar-head {
		margin-bottom: 10px;
	}
	.dj-aim-holder {
		text-align: left;
	}
	.fechers-holder {
		width: 100%;
		margin-bottom: 40px;
	}
	#slideshow {
		padding-top: 37px 0;
	}
	.theme-right iframe {
		width: 100%;
		height: 100%;
	}
	.main-title-container>h1 {
		font-size: 1.9em;
	}
	.banner-quots {
		font-size: 1em;
	}
	.main-title-container button {
		margin: 0 0 13px;
		height: 50px;
		font-size: 1.2em;
	}
	.dj-aim-holder > h2 {
		font-size: 1.5em;
		margin-bottom: 12px;
	}
	.dj-aim-holder>p {
		margin-bottom: 25px;
		font-size: .75em;
	}
	.btn-dark {
		border: none;
		font-size: 1em;
		width: 100%;
		height: 50px;
	}
	.cntr-status h2 {
		font-size: 1.25em;
	}
	.cntr-status h3 {  
		font-size: 1em;
	}
	.djbtn-holder .btn-default {
		margin: 10px auto;
	}
	.copyright ul li {
		font-size: .751em;
	}
	.social {
		display: block;
		width: 100%;
		float: left;
		margin-top: 9px;
	}
	.copyright ul {
		width: 100%;
		float: left;
		margin: auto 25px;
	}
	.testmonail-holder {
		width: 78%;
		float: none;
		margin-top: 6px;
		margin-left: 0;
		margin-bottom: 8px;
		padding: 30px;
	}
	#slideshow {
		height: initial;
	}
	.testmonail-holder > p {
		font-size: 1em;
	}
	.testmonail-holder >h3{
		font-size: 1.2em;
	}
	.copyright {
		float: none;
		width: 92%;
	}
	 /*login*/

    .title-container {
        width: 100%;
        padding: 10px;
    }
    .login-container {
        width: 65%;
    }
    .login-form .right-content {
        width: 100%;
    }
    .login-form-wraper .btn-signin {
        float: left;
        margin-top: 10px;
    }

    /* Client Profile */

    .client-description-wrapper, .client-info-wrapper {
        width: 98%;
    }
    .client-profile-current-wrapper span.label, .client-profile-form-wrapper label {
        width:100%;
        padding-bottom:2px;
    }
    .client-profile-current-wrapper span.value {
        width: 100%;
    }
    .client-profile-form-wrapper input, .client-profile-form-wrapper textarea {
        width:100%;
        padding:0px;
    }
    .edit-profile-btn-holder{
        width: 100%;
    }
    .edit-profile-btn-holder button {
        float: right;
    }
}
