
/* ------------------ RESPONSIVE DESIGN ------------ */

@media (max-width:1024px)  {
    .logo-container {
        width: 30%;
    }
   /* .menu-container {
        width: 70%;
    }*/
    .signup-container {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    /*.headline-wrapper {
        padding-top: 35px;
    }*/
    .signup-text-container {
        text-align: center;
        width: 100%;
        float: none;
    }
    .banner-container {
        /* padding-top: 0px; */
        padding-top: 157px;
    }
    .signup-box {
	    border-left: 1px solid #ccc;
	    margin-right: 30px;
	    border-right: 1px solid #ccc;
	    border-bottom: 1px solid #ccc;
	    color: #7c7c7c;
	    font-size: 12px;
	    padding-left: 0px;
        margin-left: 15px;
	}
	.content {
	    max-width: calc(1080px + 2rem);
	    margin: 0 auto;
	    position: relative;
	    padding-left: 10px;
        padding-right: 10px;
	}
    .testmonail-img>img {
        width: 99%;
    }
    .submit-btn {
        margin: 15px;
    }
    .edit-div {
      padding: 10px;
    }
    .profile-top-block {
        width:97%;
    }
    .right-column {
        padding-left: 30px;
        padding-right: 10px;
    }
    #applyJob {
        font-size: 12px;
    }
    .category-btn {
        margin-left: 327px;
    }
    .profile-edit-label {
        float: left;
        width: 29.6%;
    }
    .button_align {
        margin-left: 0;
    }
}
@media screen and  (max-width:1014px){
    .profile-top-block {
        width: 99%;
    }
    .testmonail-img-holder {
        width: 18%;
        float: left;
        margin-top: 80px;
        margin-left: 0px;
    }
    .testmonail-holder {
        background-color: #dce1e5;
        width: 73%;
        float: left;
        margin-top: 110px;
        position: relative;
        margin-left: 40px;
        padding: 15px;
    }
    .signup-container {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .signup-text-container {
        text-align: center;
        width: 100%;
        float: none;
    }
    .submit-btn {
        margin: 15px 10px;
    }
    .profile-top-block {
        padding: 0;
    }
    .right-column {
        width: 30%;
        padding-right: 10px;
    }
     .progress-block {
        padding: 0px;
    }
    .create-profile-01 label {
        margin-right: 0px;
    }
    .banner-container {
        padding-top: 130px;
    }
    .main-title-container {
         padding: 56px 0px;
    }
    .title-container {
        width: 100%;
    }
}

@media screen and (max-width:967px)  {
    .content {
        padding:0px 10px;
    }
    .profile-top-block {
        width: 100%;
    }
    .signup-box {
        margin-right: 0px;
        padding-left: 0px;
    }
    .devlopr-container {
        width: 50%;
		text-align: center;
    }
    .devlpr-img > img {
        width: 36%;
		margin-bottom: 0px;
    }
    .devlpr-img > p {
        margin-bottom: 15px;
    }
    .devlpr-img > h2 {
        margin-top: 5px;
		font-size: 1.2em;
    }
    .dj-aim-holder,.dj-fechers-container{
       width: 100%;
    }
    .fechers-holder {
        width: 100%;
        margin-bottom: 40px;
    }
    .dj-aim-holder {
        text-align: center;
        margin-bottom: 40px;
    }
    .cntr-holder {
		width: 100%;
		text-align: center;
		float: none;
		margin-bottom: 40px;
    }
    .cntr-img, .cntr-status, .cntr-holder>.pull-right{
        float: none;
    }
    .center-conuter {
        padding-left: 0px;
    }
    .testmonail-holder:before {
        content: '\f0d8';
        display: inline-block;
        color: #dce1e5;
        font-family: FontAwesome;
        position: absolute;
        left: 375px;
        top: -40%;
        font-size: 61px;
    }
    .testmonail-img-holder {
        width: 20%;
        float: left;
        margin-top: -3px;
        margin-left: 328px;
    }
    .testmonail-holder {
        background-color: #dce1e5;
        width: 95%;
        float: left;
        margin-top: 30px;
        position: relative;
        margin-left: 8px;
        padding: 15px;
    }
    .testmonail-container:before {
        display: none;
    }
    .signup-container {
        width: 100%;
        float: none;
        margin-bottom: 20px;
        padding-left: 0px;
    }
    .signup-text-container {
        text-align: center;
        width: 100%;
        float: none;
        padding-left: 0px;
    }
    .testmonail-img>img {
        width: 100%;
    }

    /*profile page*/
    .left-column {
        width: 100%;
    }
    .right-column {
        width: 100%;
        float: left;
        padding-left: 0px;
    }
    .right-column {
        width: 100%;
        float: left;
        padding-left: 0px;
    }
    .profile-info-wrap, .platform-wrap {
        width: 98%;
        text-align: center;
    }
    .platform-menu-wrap, .platform-menu {
        padding: 0;
        margin: 0;
        border: none;
    }
    .profile-top-block {
        padding: 0px;
    }
    .profile-data {
        padding: 0px;
        float: none;
    }
    .profile-img {
        float: none;
    }
    .top-search {
        margin-left: 70px;
    }
    .create-profile-01 .form-wrap {
        width: 100%;
        padding: 0px;
    }
    .progress-desc, .progress-block {
        padding: 0px;
    }
    .djbtn-holder .btn-default {
        width: 119px;
    }
    .create-profile-01 .form-wrap {
        width: 70%;
    }
    .applyJob {
        width: 70%;
    }
    .main-title-container {
        margin-top: 0px;
    }
    .login-container {
        margin: 0 auto;
        width: 60%;
    }
    .profile-edit-label {
        float: left;
        width: 44.6%;
    }
}

@media (max-width:769px) {
    .headline-wrapper {
        padding-top: 15px;
    }
    .theme-developers-container {
        margin: 0px;
    }
    .django-info, .ftdj-cmpnydetails, .ftdj-help, .ftdj-contact ,.djbtn-holder{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .djbtn-holder >button {
        float: none;
    }
    .cmnydetail {
        padding-left: 0px;
    }
    .django-info>p {
        padding: 18px 0px;
        line-height: 1.7;
        font-size: 13px;
        text-align: center;
    }
    .testmonail-holder:before {
        content: '\f0d8';
        display: inline-block;
        color: #dce1e5;
        font-family: FontAwesome;
        position: absolute;
        left: 2px;
        top: -10%;
        font-size: 30px;
    }

    .testmonail-img-holder {
		width: 35%;
		float: none;
		margin-top: 10px;
		margin-left: 5px;
	}
    .testmonail-holder {
        background-color: #dce1e5;
        width: 93%;
        float: left;
        margin-top: 30px;
        position: relative;
        margin-left: 8px;
        padding: 15px;
    }
    .testmonail-container:before {
        display: none;
    }
    .copyrightlink, .copyright ul {
        width: 100%;
        float:none;
    }
    .logo-container {
        width: 100%;
        float: none;
        text-align: center;
    }
    .menu-container {
        width: 100%;
        float: none;
        text-align: center;
		margin: 0;
		height: 0;
    }
    .logo-left-container {
        float: none;
        text-align: center;
    }
    .dropdown-open {
        position: absolute;
        background-color: #fff;
        width: 206px;
        display: none;
		top: 36px;
		left: 0;
    }
    header.sticky>.content>.nav-container {
      height: 110px;
    }
	.top-info{
		display:none;
	}
	.top-search {
		width: 64%;
		float: none;
		margin: 11px 0;
		position: relative;
	}
	a#sidenav-open {
		position: absolute;
		right: 21px;
		font-size: 2.2em;
		bottom: 18px;
	}
	.theme-left {
		float: none;
		width: 100%;
	}
	.theme-right {
		width: 97%;
		float: none;
		padding: 0px 3px;
	}
	.theme-left button {
		width: 97%;
		height: 44px;
		font-size: 1.2em;
	}
	.sidebar-container {
		width: 60%;
	}
	.sidebar-head {
		margin-bottom: 10px;
	}
	.dj-aim-holder {
		text-align: left;
	}
	.fechers-holder {
		width: 100%;
		margin-bottom: 40px;
	}
	#slideshow {
		padding-top: 37px 0;
	}
	.theme-right iframe {
		width: 100%;
		height: 100%;
	}
	.main-title-container>h1 {
		font-size: 1.9em;
	}
	.banner-quots {
		font-size: 1em;
	}
	.main-title-container button {
		margin: 0 0 13px;
		height: 50px;
		font-size: 1.2em;
	}
	.dj-aim-holder > h2 {
		font-size: 1.5em;
		margin-bottom: 12px;
	}
	.dj-aim-holder>p {
		margin-bottom: 25px;
		font-size: .75em;
	}
	.btn-dark {
		border: none;
		font-size: 1em;
		width: 100%;
		height: 50px;
	}
	.cntr-status h2 {
		font-size: 1.25em;
	}
	.cntr-status h3 {
		font-size: 1em;
	}
	.djbtn-holder .btn-default {
		margin: 10px auto;
	}
    /*registration page */
    .signup-box {
        margin-right: 0px;
        padding-left: 0px;
        margin-left: 0px;
    }
    .signup-container {
        width: 100%;
    }
    .signup-text-container {
        width: 100%;
    }
    span.headline, span.registeration-text {
        display: inline-block;
    }
    .submit-btn {
        margin: 15px 0px;
    }
    /*footer*/
	.copyright ul li {
		font-size: .751em;
	}
	.social {
		display: block;
		width: 100%;
		float: left;
		margin-top: 9px;
	}
	.copyright ul {
		width: 100%;
		float: left;
		margin: auto 25px;
	}
	.testmonail-holder {
		width: 78%;
		float: none;
		margin-top: 6px;
		margin-left: 0;
		margin-bottom: 8px;
		padding: 30px;
	}
	#slideshow {
		height: initial;
	}
	.testmonail-holder > p {
		font-size: 1em;
	}
	.testmonail-holder >h3{
		font-size: 1.2em;
	}
	.copyright {
		float: none;
		width: 92%;
	}
    /*.create-profile-01*/

    .create-profile-01 .form-wrap {
        width: 100%;
        padding: 0px;
    }
    .progress-block, .progress-desc {
        padding: 0px;
    }
    .create-profile-01 label {
        display: inline-block;
        width: 100%;
        float: none;
        margin: 0;
        text-align: left;
        padding-bottom: 5px;
    }
    .create-profile-01 input, .create-profile-01 textarea {
        width: 100%;
    }
    .profile-pic-container {
        width: 65%;
        float: right;
        text-align: right;
    }
    .create-profile-01 label#image-label {
        display: inline;
    }
    .create-profile-01 .edit-img {
        margin-left: 2px;
    }

    /*.create-profile-02*/

    .btn-add-item button {
        padding: 10px 25px;
    }
    .data-entry-form {
        width: 100%;
    }
    .create-profile-02 fieldset {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .data-entry-form input {
        padding: 0;
        width: 100%;
    }
    .create-profile-02 fieldset label {
        display: block;
        margin-bottom: 10px;
    }
    .experience-rate fieldset label {
        display: inline;
        margin-bottom: 0px;
    }
    .experience-rate fieldset label {
        display: inline;
        margin-bottom: 0px;
    }
    .skip-or-save {
        padding: 0;
    }
	.registration-logo-holder .headline {
		float: none;
		margin-right: 0;
		width: 100%;
		text-align: center;
		margin-bottom: 19px;
	}
	.search-block {
		margin-left: 13%;
	}

	.left-div-details {
		float: none;
		width: 100% !important;
	}
	.middle-div-details {
		float: none;
		width: 100%;
		margin-left: 0;
	}
	ul.pagination {
		float: none;
	}
	.right-div-details {
		width: 100%;
		float: none;
		margin-top: 25px;
	}
	.date-div {
		position: absolute;
		left: 0;
		bottom: -22px;
	}
	.middle-inner {
		margin-bottom: 45px;
	}
	.range-slider-wrap {
		width: 97%;
	}
	.viewlist {
    top: -19px;
	}
	.middle-inner p {
		text-align: justify;
	}
	.profile-left {
		float: none;
		width: 100% !important;
	}
	.profile-right {
		width: 100% !important;
		float: none;
		margin-top: 36px;
	}
	.search-right ul li select {
		width: 71%;
	}
	.client-profile-tab ul li {
		display: block;
		width: 100%;
	}
	.client-profile-tab {
		width: 100%;
	}
	.client-detail-subhead .headline-wrapper {
		padding-top: 0px;
	}
	.client-detail-subhead .content {
		padding: 0px;
	}
	.jobDescription {
		float: left;
		width: 100%;
	}
	span.proposals {
    width: 100%;
	}
	.right-bar select {
		display: inline-block;
		width: 50%;
		margin: 12px 0;
	}
	.right-bar label {
		width: auto;
		float: right;
		margin-right: 10px;
		margin-top: 19px;
	}
	.requirements {
		margin-top: 11px;
	}
	.requires {
		width: 100%;
		float: none;
		padding: 0px;
	}
	.expertice {
		margin-top: 4px;
	}
	.client-description-wrapper {
        width: 100%;
        float: none;
        margin-top: 20px;
    }
    .client-info-wrapper {
        width: 100%;
        float: none;
    }
    .client-profile-tab ul li.active a {
        display: inline-block;
        width: 100%;
    }
    .right-column {
        width: 100% !important;
        float: none !important;
        padding-left: 0px !important;
    }
    .client-profile-edit-left {
        width: 100%  !important;
    }
    .client-profile-edit-header .client-profile-edit-left {
        width: inherit !important;
        float:none;
    }
    .sub-heading-search .top-search {
        margin-top: 10px;
        width: 94%;
        padding: 0;
        margin-left: 0px;
    }
    .inner-page-heading {
        padding: 0;
        float: none;
    }
    .sub-heading-search {
        padding-top:10px;
    }
    .client-logo-holder {
        padding-top: 64px;
    }
    .client-profile-tab ul li {
        padding: 10px 0px;
    }
    .client-profile-pic {
        float:none;
        width: initial;
    }
    .client-profile-carrier-details {
        float: none;
        width:100%
    }
    .form_align_1 {
        padding-left: 0 !important;
    }
    .main_category {
        margin-left: 20px;
    }
    .profile-edit-rate-input {
        width: 68.6%;
        margin-left: -16px;
    }
    .company_details {
        margin-left: -100px;
    }
    .eduction_date_input {
        margin-left: 0px;
    }
    .eduction_input {
        margin-left: 0px;
    }
    .education_form_align {
        padding-left: 0px !important;
    }
    profile-label-align {
        margin-left: 0px;
        margin-right: 12px;
    }
    .profile-label-align {
        margin-left: 0;
        margin-right: 0;
    }
    .form_align_company {
        padding-left: 100px !important;
    }
}

@media only screen and (min-device-width:320px) and (max-device-width:768px) {
    .top-search {
        width: 100%;
    }
    a#sidenav-open{
        bottom: 44px;
    }
    .copyright ul{
        float: none;
        width: 40%;
        margin: 0 auto;
    }
    .copyright{
        width:100%;
    }
    .social{
        float: none;
        width: 57%;
        margin: 0 auto;
    }

    .search-block{
        width: 100%;
    }
    .search-block ul{
        margin-top: 5px;
    }
    .search-block li {
        width: 100%;
        float: left;
        margin-bottom: 5px
    }
    .locationblock select, .experianceblock select, .search-btn{
        width: 100%;
    }
    .skilldetails{
       width: 99.5%;
    }
	.search-block {
		margin-left: 0;
	}
	.devlopr-container {
        width: 100%;
        text-align: center;
    }
    .testmonail-holder {
        width: 87%;
    }
    .client-profile-tab ul li.active a {
        display: inline-block;
        width: 100%;
    }
    .profile_headline-wrapper {
        padding-top: 28px;
        padding-bottom: 0px;
    }
    .client-description {
        margin-left: 0px;
    }
    .topic-btn-wrapper {
        float: none;
    }
    .sidebar-container {
        width: 80%;
    }
    .profile-container {
        padding: 0px 0px;
    }
    .profile-edit-input {
        width: 53.2%;
    }
    .signup-text-container {
        width: 100% !important;
    }
    .left_align {
        padding-left: 0;
        width: 100% !important;
    }
    .contact-form .sendBtn {
        margin-bottom: 68px;
        float:none;
        height: 31px;
        text-align: center;
    }
    .search-input-box {
        width: 82% !important;
    }
    .freelancer-profile-edit-btn {
        right: 37px;
    }
    #applyJob {
        font-size: 10px;
    }
    .button_align {
        margin-left: 0px;
    }
    .stepwizard-step {
        display: inherit;
        text-align: center;
        position: relative;
        width: 100%;
    }
    .profile-edit-img {
        float: none;
        padding-left:33%;
    }
    .profile-edit-img-btn {
        float: none;
    }
    .filestyle {
        left: 53px;
        top: 0px;
    }
    .delete-btn {
        left: 104px;
        top: 0px;
        position: absolute;
    }
    .category-btn {
        margin-left: 0;
    }
    .category_dropdown {
        margin-left: 0;
    }
    .profile-category-label {
        float: left;
        width: 38.4%;
    }
    .profile-edit-label {
        float: left;
        width: 53.6%;
    }
    .form_align_company {
        padding-left: 0 !important;
    }
    .company_details {
        margin-left: 0;
    }

    /*************  Login page  **********/
    .login-form-wraper{
        padding:0px;
    }
    .login-container{
        width:80%;
    }
    /* Header  */
    .headline-wrapper {
        padding-bottom: 0px;
         margin-top: 0px;
    }
    .registration-logo-holder, .headline-block{
        padding-top:95px;
    }
    .registration-logo-holder .headline{
        margin-bottom:7px;
    }
    .dropdown{
        width: 125px;
    }
    .menu-container{
        margin-bottom: 20px;
        margin-top: 12px;
    }
    /*Freelancer Profile*/
    .skill-data{
        margin-top: 20px;
    }
    .client-profile-carrier-details .client-profile-edit-btn{
        top:0px;
    }
    .carrier-details{
        margin-left:0px;
    }
    .job-details-tab ul li:after, .job-details-tab ul li:before, .my-jobs-swtch ul li:after, .my-jobs-swtch ul li:before{
        width:0px;
    }
    .freelancer_profile_tab ul li{
        margin-right: 0px;
    }
    .freelancer_profile_tab ul li{
        padding: 7px 7px 7px;
    }
    .my-jobs-swtch ul,.job-details-tab ul {
        padding-left: 0px;
    }
    .form_container form .profile-edit-input,
    .add-educational-details form .profile-edit-input, .add-educational-details .profile-edit-input,
     .profile-edit-input-date,.profile-edit-label-date{
        width:100%;
    }
    .form_container form .profile-edit-input select,.profile-edit-input-date select{
        width:103%;
    }
    .profile-edit-input-date input{
        width:98%;
    }
    .profile-add i{
        right:0px;
    }
    .single-set, .job_select_holder, .amount_input{
        width:100%;
    }
    .profile-edit-input textarea{
        width:98%;
    }
    .profile-image-edit img{
        width: 125px;
        height: 125px;
    }
    /*Post Job */
    .post-job-container-right,.post-job-container-left, .semi_width,
    .semi_width .profile-edit-form-group .profile-edit-label,.amount_input{
        float:none;
        width:100%;
    }
    .fetch_job_container, .job_setting_holder{
        width: 92%;
    }
    .post-job-container-left .profile-edit-input{
        width:93%;
    }
    .category_container{
        padding:0px;
    }
    .job_form_container .new-job-container div div .job_main_categories select,.post-job-container-left .profile-edit-select2 {
        width: 95% !important;
    }
    .rate_input span,.amount{
       margin:0px ;
    }
    .rate_input,.amount_input{
        margin-top:5px;
    }
    .pay_type, .amount_input{
        width:100% !important;
    }
    .job_post_button{
        padding: 10px 20px !important;
    }
    .padding-bottom-profile {
        padding-bottom: 10px;
    }
    /*Client Profile*/
    .client_tab_holder.middle-div-details,.profile-error {
        width: 100%;
    }
   .job-details-tab ul li, .my-jobs-swtch ul li {
        margin-right: 0px;
    }
    /*Job list in client console*/
    .sub-heading-search .top-search {
        left: 2%;
    }
    .top-search .main-menu>li{
        width: 82%;
    }
    /*settings*/
    .left_column{
        width:100%;
    }
    /*Freelancer listing*/
    .clientprofile-img img{
        width: 50px;
        height: 50px;
    }
    .invite-modal{
        width: 228px;
        right: 80px;
    }
    .my_job_select{
        width:16%;
        padding-left: 2px;
    }
    .my-jobs-swtch ul li {
        padding: 10px 13px 8px;
    }
    .expertice{
        padding: 2px 6px;
    }
    .quoteBtn{
        padding: 3px 4px;
    }
    .my-jobs-tab .my-jobs-swtch{
        overflow: inherit;
    }
    /*Freelancer profile*/
    .clientprofile-detail{
        word-wrap:break-word;
    }
    .profile-details button{
        width: 6% !important;
    }
    /*Job details*/
    .job_description_holder div div .profile-edit-input{
        width:96%;
    }
    .category_container select{
        width:98%;
    }
    .type {
        margin: 0px 29px 0px 0px !important;
    }
    .pay_type {
        width: 72% !important;
    }
    .profileImg img{
        width: 35px;
        height: 35px;
    }
    .profile-details {
        width: 100%;
    }
    #message-side-bar{
       width: 100% !important;
    }
    .right-bar .select-box {
        width:50%;
    }
    .cs-select select {
        display: none;
    }
    .right-bar label span{
        top:-20px;
    }
    .invite_btn_aln {
        margin-top: 0px !important;
        margin-right: 0px !important;
    }
   /*Freelancer job details*/
   #applyJob, .upload_icon{
        font-size:12px;
   }
   .box2{
        width:50%;
   }
   .sub-headline-wrapper{
        text-align: center;
        line-height: 1.5;
   }
   /*Create freelancer*/
   .steps_container{
        width:100%;
        margin-bottom: 37px;
   }
   .profile_margin div .profile-edit-input{
        width:98%;
   }
   .profile-edit-img-btn .editfilestyle {
        left: 33%;
        top: 0px;
   }
    .profile-edit-img-btn .delete-btn{
        left:52%;
    }
    .profile-edit-select{
        width:95%;
    }
    .employement_input{
        width:100% !important;
    }
    .profile-accordian-details{
        padding:0px;
    }
    .date_container{
        margin-left: -11px;
    }
    .date_container .profile-edit-input-date input{
        width:94%
    }
    .profile-edit-rate-input {
        margin-left: -9px;
    }
    .step3_container{
        padding-left:0px;
    }
    .step3_container .profile_margin {
        width: 92% !important;
    }
    .step3_align {
        padding: 0px 0px 0px 0px;
    }
    .profile-edit-available{
        width:100%;
    }
    .profile-edit-available_input select{
      width:98% !important;
    }
    .profile-edit-available_input input {
        width:96% !important;
    }
    .profile-edit-available_label{
        width:27%;
    }
    .profile-edit-checkBox{
        width:36%;
    }
    .profile_hourly_label{
        width:24%;
    }
    .alert_modal{
        width:90%;
        top:104px;
    }
    /*Blog*/
    .blog-img-holder img{
        width:94%;
        float:right;
    }
    .blog-date{
        padding:0px;
        width:40px;
    }
    /*FAQ*/
    .faq-accordion{
        padding-left: 7px;
    }
    #ui-id-1 {
        width: 100%;
    }
    .faq-wrapper ul li{
        padding-left:5px;
    }
    .faq-wrapper ul li.active:before{
        top:20%;
        border-width:13px;
    }
    /* CONTACT US*/
    .contact-head {
        font-size: 17px;
        padding-top: 10px;
        padding-left: 0px;
        padding-bottom: 10px;
        text-align:center;
    }
    .signup-text-container.right_align {
        margin-bottom: 14px;
    }
   /*Activate freelancer*/
   .switch-top-align .profile-edit-input{
        width:95%
   }




}

@media only screen and (min-device-width:320px) and (max-device-width:360px) {
    .copyright ul{

        width: 100%;
        margin: 0 auto;
    }
}