{% extends 'base.html' %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
{% block title %}Client Details{% endblock %}
{% block content %}
<section class="clearfix">
    <div class="client-logo-holder client-detail-subhead">
        <div class="client-headline-wrapper">
            <div class="content">
                <div class="client-profile-tab">
                    <ul>
                        <li data-post="post-job">Post a Job</li>
                        <li data-post="my-job" class="active">My Jobs</li>
                        <li data-post="contracts">Contracts/My Freelancers</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="clearfix tab-list" id="post-job">
    <div class="profile-container clearfix">
        <div class="content">

        </div>
    </div>
</section>

<section class="clearfix tab-list" id="my-job">
    <div class="profile-container clearfix">
        <div class="content">
            <div class="left-div-details">
                <form role="form" id="job_sort_form">
                    {% csrf_token %}
                    <div class="left-inner-block">
                        <h3 class="job-click">Job Category</h3>
                        <ul class="job-div-all">
                            <form role="form" id="category_form">
                                {% csrf_token %}
                                {% for category in categories %}
                                <li><input type="checkbox" class="category_list" id="{{ category.id }}"
                                           value="{{ category.category_title }}" name="categories"
                                           onclick="category_sort();"/>
                                    <label for="{{ category.id }}"><span></span><i>{{ category.category_title }}</i></label>
                                </li>
                                {% endfor %}
                            </form>
                        </ul>
                    </div>
                    <div class="left-inner-block">
                        <h3 class="job-click">Job Type</h3>
                        <ul class="job-div-all">
                            <form role="form" id="job_type_form">
                                {# {% csrf_token %}
                                <li><input type="checkbox" value="per hour" id="c7" name="job_type"
                                           onclick="category_sort();"/>
                                    <label for="c7"><span></span><i>Hourly</i></label></li>
                                <li><input type="checkbox" id="c8" name="job_type" value="per job"
                                           onclick="category_sort();"/>
                                    <label for="c8"><span></span><i>Fixed</i></label></li>
                            </form>
                        </ul>
                    </div>
                    <div class="left-inner-block">
                        <h3 class="job-click">Experience level</h3>
                        <ul class="job-div-all">
                            <form role="form" id="experience_level_form">
                                {% csrf_token %}
                                <li><input type="checkbox" id="c9" value="Fresher" name="experience"
                                           onclick="category_sort();"/>
                                    <label for="c9"><span></span><i>Fresher</i></label></li>
                                <li><input type="checkbox" id="c10" value="Intermediate" name="experience"
                                           onclick="category_sort();"/>
                                    <label for="c10"><span></span><i>Intermediate</i></label></li>
                                <li><input type="checkbox" id="c11" value="Expert" name="experience"
                                           onclick="category_sort();"/>
                                    <label for="c11"><span></span><i>Expert</i></label></li>
                            </form>
                        </ul>
                    </div>
                    <div class="budject-block">
                        <h3>Budget</h3>
                        <div class="range-slider-wrap">
                            <div id="slider-range"></div>
                            <form role="form">
                                <div id="amountstart"></div>
                                <div id="amountend"></div>
                            </form>
                        </div>
                    </div>
                    <input type="hidden" value="" name="amountstartInput" id="amountstartInput">
                    <input type="hidden" value="" name="amountendInput" id="amountendInput">
                    <div class="left-inner-block">
                        <h3 class="job-click">Duration</h3>
                        <form role="" id="duration_form">
                            <ul class="job-div-all">
                                <li><input type="checkbox" id="c12" name="cc"/>
                                    <label for="c12"><span></span><i>Hours or days (15)</i></label></li>
                                <li><input type="checkbox" id="c13" name="cc"/>
                                    <label for="c13"><span></span><i>Weeks (54)</i></label></li>
                                <li><input type="checkbox" id="c14" name="cc"/>
                                    <label for="c14"><span></span><i>Months (468)</i></label></li>
                                <li><input type="checkbox" id="c15" name="cc"/>
                                    <label for="c15"><span></span><i>> 6 months (622)</i></label></li>
                                <li><input type="checkbox" id="c16" name="cc"/>
                                    <label for="c16"><span></span><i>Not Specified (0)</i></label></li>
                            </ul>
                        </form>
                    </div>
                </form>
            </div>
            <!--<div class="search_message">-->
                <!--<h3>{{ message }}</h3>-->
            <!--</div>-->
            <div class="middle-div-details">
                {% for jobs in all_jobs %}
                    <div class="middle-inner">
                        <a href="{% url 'find_job_details' jobs.id %}" class="viewlist">View</a>
                        <h3>{{ jobs.job_title }}</h3>
                        <span class="sub-text">{{ jobs.job_main_category }}</span>
                        <p>{{ jobs.job_description }}</p>
                        {% for job_subs in jobs.job_sub_category.all %}
                        <span class="expertice">{{ job_subs }}</span>
                        {% endfor %}
                        <div class="date-div">Posted date {{ jobs.job_date|date:"m-d-Y" }}</div>
                        <a href="Client-detailView.html" class="hire-persons"><i class="fa fa-users"></i> 4 Proposals </a>
                    </div>
                {% empty %}
                    No more jobs available here.
                {% endfor %}
                <div class="clearfix pagition-wrapper">
                    <ul class="pagination">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                    </ul>
                </div>
            </div>
            <div class="right-div-details">
                <div class="work-history clearfix">
                    <div class="sub-headline-wrapper">
                        <span class="sub-headline">Work History</span>
                    </div>
                    <ul>
                        <li>100% job Success</li>
                        <li>1,308 hours worked</li>
                        <li>6 jobs</li>
                    </ul>
                </div>
                <div class="availability clearfix">
                    <div class="sub-headline-wrapper">
                        <span class="sub-headline">Availability</span>
                    </div>
                    <ul>
                        <li>Available</li>
                        <li>As needed-Open to Offers</li>
                        <li>24 hrs response time</li>
                    </ul>
                </div>
                <div class="search-for-others-profile clearfix">
                    <form id="search-others-profile" method="POST" action="">
                        <label for="search-for-others-profile">
                            Search for others
                        </label>
                        <div class="profile-search-input-wrapper">
                            <input type="text" id="search-for-others-profile" name="q" size="21" maxlength="120">
                        </div>
                    </form>
                </div>
                <div class="post-a-job-profile clearfix">
                    <button type="button">Post A Job</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clearfix tab-list" id="contracts">
    <div class="profile-container clearfix">
        <div class="content">
            <section class="clearfix">
                <div class="clearfix">
                    <h2 style="text-align: center;">{{ message }}</h2>
                    <div class="content">
                        <div class="left-div-details list_sort">
                            <form role="form" id="freelancer_sort_form">
                                {% csrf_token %}
                                <div class="left-inner-block">
                                    <h3 class="job-click">Category</h3>
                                    <ul class="job-div-all">
                                        {% for category in freelan_categories %}
                                        <li><input type="checkbox" class="category_list" id="freelan_{{ category.id }}" value="{{ category.category_title }}" name="categories" onclick="freelancer_category_sort();"/>
                                        <label for="freelan_{{ category.id }}"><span></span><i>{{ category.category_title }}</i></label> </li>
                                        {%  endfor %}
                                    </ul>
                                </div>
                                {% for group in request.user.groups.all %}
                                {% if group.name == "Clients" %}
                                <div class="left-inner-block">
                                    <h3 class="job-click">Shortlisted</h3>
                                    <ul class="job-div-all">
                                        <li><input type="checkbox" value="accepted" id="freelan_c7" name="shortlist"
                                                   onclick="freelancer_category_sort();"/>
                                            <label for="freelan_c7"><span></span><i>Accepted</i></label></li>
                                        <li><input type="checkbox" id="freelan_c8" name="shortlist" value="rejected"
                                                   onclick="freelancer_category_sort();"/>
                                            <label for="freelan_c8"><span></span><i>Rejected</i></label></li>
                                    </ul>
                                </div>
                                {% endif %}
                                {% endfor %}
                                <div class="left-inner-block">
                                    <h3 class="job-click">Experience level</h3>
                                    <ul class="job-div-all">
                                        <li><input type="checkbox" id="freelan_c9" value="Entry Level" name="experience_level"
                                                   onclick="freelancer_category_sort();"/>
                                            <label for="freelan_c9"><span></span><i>Entry Level</i></label></li>
                                        <li><input type="checkbox" id="freelan_c10" value="Intermediate Level"
                                                   name="experience_level" onclick="freelancer_category_sort();"/>
                                            <label for="freelan_c10"><span></span><i>Intermediate Level</i></label></li>
                                        <li><input type="checkbox" id="freelan_c11" value="Expert Level" name="experience_level"
                                                   onclick="freelancer_category_sort();"/>
                                            <label for="freelan_c11"><span></span><i>Expert Level</i></label></li>
                                    </ul>
                                </div>
                                <div class="budject-block freelancer_slider">
                                    <h3>Rate</h3>
                                    <div class="range-slider-wrap">
                                        <div id="freelancer_slider-range"></div>
                                        <div id="freelancer_amountstart"></div>
                                        <div id="freelancer_amountend"></div>
                                    </div>
                                </div>
                                <input type="hidden" value="" name="amountstartInput" id="freelancer_amountstartInput">
                                <input type="hidden" value="" name="amountendInput" id="freelancer_amountendInput">
                            </form>
                        </div>
                        <div class="profile-left profile_left_align">
                            <div class="middle-inner">
                                <div class="list_content">
                                    {% for freelancer in all_freelancers %}
                                    <div class="profile-list-wrapper clearfix">
                                        <div class="clientprofile-img">
                                            {% if freelancer.profile_pic %}
                                            <img src="{{ freelancer.profile_pic.url}}" class="client_profile_image"
                                                 alt="clientprofile">
                                            {% else %}
                                            <img src="{{ freelancer.profile_pic}}" class="client_profile_image"
                                                 alt="clientprofile">
                                            {% endif %}
                                        </div>
                                        <div class="clientprofile-detail">
                                            <div class="clearfix">
                                                <h3 class="profile-name pull-left">{{ freelancer.user.first_name }}</h3>
                                                <div class="post-a-job-profile clearfix invite-btn">
                                                    <button type="button" id="invite-button">Invite
                                                        <input type="hidden" value="{{ freelancer.id }}" name="freelancer" id="invite-freelancer">
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="profile-skill">
                                                .Net/Sharepoint/jQuery
                                            </div>
                                            <div class="profile-location">
                                                <i class="fa fa-map-marker"></i>
                                                <span>Switzerland</span>
                                            </div>
                                            <p> {{ freelancer.about_me|truncatechars:200 }}.......</p>
                                            {% for skill in freelancer.skills.all %}
                                            <span class="expertice">{{ skill.skill_name }}</span>
                                            {% endfor %}
                                            <div class="profile-rating">
                                                <span class="rate-bttn"><i class="fa fa-star"></i></span>
                                                <span class="rate-bttn">Top Rated</span>
                                                {% for rate in rates %}
                                                {% if rate.user.id == freelancer.user.id%}
                                                <span class="rate-text">$ {{ rate.hourly_rate }} /hr</span>
                                                {% endif %}
                                                {% endfor %}
                                                <span class="rate-text">
                                                    4.55
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="clearfix pagition-wrapper">
                                    <ul class="pagination">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li class="active"><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">6</a></li>
                                        <li><a href="#">7</a></li>
                                        <li><a href="#">8</a></li>
                                        <li><a href="#">9</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="profile-right profile_right_align ">
                            <div class="search-right clearfix">
                                <ul>
                                    <li>
                                        <select name="experiance">
                                            <option value="volvo">Job Listing</option>
                                            <option value="saab">1</option>
                                            <option value="fiat">2</option>
                                            <option value="audi">3</option>
                                            <option value="audi">4 &gt;</option>
                                        </select>
                                    </li>
                                    <li>
                                        <select name="location">
                                            <option value="volvo">Locations</option>
                                            <option value="saab">UAE</option>
                                            <option value="fiat">UK</option>
                                            <option value="audi">USA</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                            <div class="work-history clearfix">
                                <div class="sub-headline-wrapper">
                                    <span class="sub-headline">Work History</span>
                                </div>
                                <ul>
                                    <li>100% job Success</li>
                                    <li>1,308 hours worked</li>
                                    <li>6 jobs</li>
                                </ul>
                            </div>
                            <div class="availability clearfix">
                                <div class="sub-headline-wrapper">
                                    <span class="sub-headline">Availability</span>
                                </div>
                                <ul>
                                    <li>Availble</li>
                                    <li>As needed-Open to Offers</li>
                                    <li>24 hrs response time</li>
                                </ul>
                            </div>
                            <div class="search-for-others-profile clearfix">
                                <form id="search-others-profile" method="POST" action="">
                                    <label for="search-for-others-profile">
                                        Search for others
                                    </label>
                                    <div class="profile-search-input-wrapper">
                                        <input type="text" id="search-for-others-profile" name="q" size="21"
                                               maxlength="120">
                                    </div>
                                </form>
                            </div>
                            <div class="post-a-job-profile clearfix">
                                <button type="button">Post A Job</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
{% endblock %}
{% block extra_js %}
<script>
                $( document ).ready(function() {
                    $('#sidenav-close').click(function() {
                        $('.sidebar-container').hide();
                        $('#blanket').hide();
                        $('body').css('position','initial');
                    });
                    $('#sidenav-open').click(function() {
                        $('.sidebar-container').show();
                        $('#blanket').css('display','block');
                        $('body').css('position','fixed');
                    });
                    // jquery for more-data
                    $(".more-btn").show();
                    $(".more-data").hide();
                    $(".more-btn").click(function(){
                        $(".more-data").show();
                        $(".more-btn").hide();
                    });

                    // jquery for optional menu
                    if ($(window).width()<1024){
                        $('.optional-menu').hide();
                        $('.optinal-sidemenu').show();
                    }
                    else{
                        $('.optional-menu').show();
                        $('.optinal-sidemenu').hide();
                    }


                $(document).on('click','#invite-button',function() {
                    if (!$('#invite-modal-container:hidden').length) {
                        $("#invite-modal-container").remove();
                    }
                    console.log(this);
                    var btn = $(this)
                    var userid = $(this).parent().find('#invite-freelancer').val();
                    $.ajax({
                        url: "{% url 'client-detail' %}",
                        type: 'GET',
                        data: 'user_id='+userid,
                        success: function (return_data)
                         {
                            console.log(btn);

                             $(btn).parent().append(return_data.html_content);
                             $("#invite-modal-container").show();
                         },
                         errors:function (return_data){ alert("Error");}

                    });

                });

                $(document).on('click','.close-invite-modal',function() {
                    $("#invite-modal-container").hide();
                });
                $(document).on('click','#send-invitation',function() {
                    var data = $('.invite-modal-form').serialize();
                    if($('#choose-job').val()== 0){
                        $('.choose-job-error').show();
                    }else {
                        $('.choose-job-error').hide();
                        $.ajax({
                            url: "{% url 'client-detail' %}",
                            type: 'POST',
                            data: data,
                            success: function (return_data)
                             {
                                if( return_data.status == "True" ){
                                     $("#invite-modal-container").hide();
                                }else {

                                }

                             },
                             errors:function (return_data){ alert("Error");}

                        });
                    }
                });
				$(document).on('click','.job-click',function() {
					console.log(this);
					if($(this).hasClass('down')) {
						$(this).removeClass('down');
					} else {
						$(this).addClass('down');
					}
					$(this).parent().children('.job-div-all').toggle("slow");
				});
				$(function() {
					$( "#slider-range" ).slider({
						range: true,
						min: 0,
						max: 5000,
						values: [ 0, 1000 ],
						slide: function( event, ui ) {
							$('#amountstart').html("$" + ui.values[ 0 ]);
							$('#amountend').html("$" + ui.values[ 1 ]);
                            $('#amountstartInput').val(ui.values[ 0 ]);
							$('#amountendInput').val(ui.values[ 1 ]);
                            var data = $('#job_sort_form').serialize();
                            $.ajax({
                                url: "{% url 'client-detail' %}",
                                type: 'POST',
                                data: data,
                                success: function (return_data)
                                 {
                                    $(".middle-div-details").replaceWith(return_data.html_content);

                                 },
                                 errors:function (return_data){ alert("Error");}

                            });
                            $('#amountstartInput').removeAttr();
							$('#amountendInput').removeAttr();
                        }

					});
					$('#amountstart').html("$" + $( "#slider-range" ).slider( "values", 0 ));
					$('#amountend').html("$" + $( "#slider-range" ).slider( "values", 1 ));
                    $('#amountstartInput').val( $( "#slider-range" ).slider( "values", 0 ));
					$('#amountendInput').val($( "#slider-range" ).slider( "values", 1 ));
				});
				$(function() {

					$( "#freelancer_slider-range" ).slider({
						range: true,
						min: 0,
						max: 700,
						values: [ 0, 600 ],
						slide: function( event, ui ) {
							$('.freelancer_slider #freelancer_amountstart').html("$" + ui.values[ 0 ]);
							$('.freelancer_slider #freelancer_amountend').html("$" + ui.values[ 1 ]);
                            $('.freelancer_slider #amountstartInput').val(ui.values[ 0 ]);
							$('.freelancer_slider #amountendInput').val(ui.values[ 1 ]);
                            var data = $('#freelancer_sort_form').serialize();
                            $.ajax({
                                url: "{% url 'find_freelancer' %}",
                                type: 'POST',
                                data: data,
                                success: function (return_data)
                                 {
                                    $(".list_content").replaceWith(return_data.html_content);

                                 },
                                 errors:function (return_data){ alert("Error");}

                            });
                            $('.freelancer_slider #freelancer_amountstartInput').removeAttr();
							$('.freelancer_slider #freelancer_amountendInput').removeAttr();
                        }

					});
					$('.freelancer_slider #freelancer_amountstart').html("$" + $( "#slider-range" ).slider( "values", 0 ));
					$('.freelancer_slider #freelancer_amountend').html("$" + $( "#slider-range" ).slider( "values", 1 ));
                    $('.freelancer_slider #amountstartInput').val( $( "#slider-range" ).slider( "values", 0 ));
					$('.freelancer_slider #amountendInput').val($( "#slider-range" ).slider( "values", 1 ));
				});
				$(function() {
					$('.client-profile-tab').find('li').each(function(){
						if($(this).hasClass('active')){
							var sectionId = $(this).attr('data-post');
							$('#'+sectionId+'').show();
						}
					});
				});
				$(document).on('click','.client-profile-tab li',function(){
					var sectionId = $(this).attr('data-post');
					$('.client-profile-tab').find('li').each(function(){
						var sectionIdeach = $(this).attr('data-post');
						$('#'+sectionIdeach+'').hide();
						$(this).removeClass('active');
					});
					$(this).addClass('active');
					$('#'+sectionId+'').show();
				});
				//Category Sort
                function category_sort(){
                    var data = $('#job_sort_form').serialize();
                    $.ajax({
                        url: "{% url 'client-detail' %}",
                        type: 'POST',
                        data: data,
                        success: function (return_data)
                         {
                             $(".middle-div-details").replaceWith(return_data.html_content);
                         },
                         errors:function (return_data){ alert("Error");}

                    });
                }

                function freelancer_category_sort(){
                    var data = $('#freelancer_sort_form').serialize();
                    $.ajax({
                        url: "{% url 'find_freelancer' %}",
                        type: 'POST',
                        data: data,
                        success: function (return_data)
                         {
                             $(".list_content").replaceWith(return_data.html_content);
                         },
                         errors:function (return_data){ alert("Error");}

                    });
                }

</script>
{% endblock %}