{% extends 'base.html' %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
    {% block content %}
        <section class="clearfix">
            <div class="profile-container clearfix">
                <div class="content">
                    <div class="jobDescription">
                        <div class="middle-inner">
                            <p style="float:right;">Budjet:$900.00</p>
                            <h3>Web Application Developer</h3>
                            <span class="sub-text">Job Category:  Lorem Ipsum is simply dummy text</span>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries will be distracted by the readable content of a page when looking at its layout. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                            <div class="requirements">
                                <div class="requires">
                                    <p class="marginBottom">Hourly rate</p>
                                    <h4 class="subHead">$ 80.00 /hr</h4>
                                </div>
                                <div class="requires">
                                    <p class="marginBottom">Duration</p>
                                    <h4 class="subHead">200 hrs</h4>
                                </div>
                                <div class="requires">
                                    <p class="marginBottom">Desired Experience Level</p>
                                    <h4 class="subHead">Minimum 5 years</h4>
                                </div>
                                <div class="requires">
                                    <p class="marginBottom">Number of Hires</p>
                                    <p class="subHead">5</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <span class="expertice">HTML5</span> <span class="expertice">CSS3</span> <span class="expertice">Angular Js</span> <span class="expertice">JQuery</span> <span class="expertice">AJAX</span>
                            <div class="qualification">
                                <p class="marginBottom">Qualifications Required</p>
                                <span class="subHead">M.Tech/B.Tech</span>
                            </div>
                            <div class="client-detail-filtering">
                                <div class="right-bar">
                                    <span class="proposals">Proposals</span>
                                    <select name="action">
                                        <option value="">select</option>
                                        <option value="1">ShortList</option>
                                        <option value="2">Hire</option>
                                    </select>
                                    <input type="checkbox" id="select-all" name="cc" />
                                    <label for="select-all">Select all <span></span></label>
                                </div>
                            </div>
                            <div class="profileListWrapper clearfix borderBotom">
                                <div class="right-selectbox">
                                    <input type="checkbox" id="short-list1" name="cc" />
                                    <label for="short-list1"><span></span></label>
                                </div>
                                <div class="profileImg">
                                    <img src="images/clientprofile.png" alt="clientprofile">
                                </div>
                                <div class="profileDetail">
                                    <h3 class="profile-name">Lia Kuriyan </h3>
                                    <div class="profile-location">
                                        <i class="fa fa-map-marker"></i>
                                        <span>Switzerland</span>
                                    </div>
                                    <span class="experticeDetail">HTML5</span>
                                    <span class="experticeDetail">CSS3</span>
                                    <span class="experticeDetail">Angular Js</span>
                                    <span class="experticeDetail">jQuery</span>
                                    <span class="experticeDetail">SQL</span>
                                </div>
                            </div>
                            <div class="profileListWrapper clearfix borderBotom">
                                <div class="right-selectbox">
                                    <input type="checkbox" id="short-list2" name="cc" />
                                    <label for="short-list2"><span></span></label>
                                </div>
                                <div class="profileImg">
                                    <img src="images/user03.png" alt="clientprofile">
                                </div>
                                <div class="profileDetail">
                                    <h3 class="profile-name">Alexander</h3>
                                    <div class="profile-location">
                                        <i class="fa fa-map-marker"></i>
                                        <span>Switzerland</span>
                                    </div>
                                    <span class="experticeDetail">HTML5</span>
                                    <span class="experticeDetail">CSS3</span>
                                    <span class="experticeDetail">Angular Js</span>
                                    <span class="experticeDetail">jQuery</span>
                                    <span class="experticeDetail">SQL</span>
                                </div>
                            </div>
                            <div class="profileListWrapper clearfix">
                                <div class="right-selectbox">
                                    <input type="checkbox" id="short-list3" name="cc" />
                                    <label for="short-list3"><span></span></label>
                                </div>
                                <div class="profileImg">
                                    <img src="images/user02.png" alt="clientprofile">
                                </div>
                                <div class="profileDetail">
                                    <h3 class="profile-name">Robert</h3>
                                    <div class="profile-location">
                                        <i class="fa fa-map-marker"></i>
                                        <span>Switzerland</span>
                                    </div>
                                    <span class="experticeDetail">HTML5</span>
                                    <span class="experticeDetail">CSS3</span>
                                    <span class="experticeDetail">Angular Js</span>
                                    <span class="experticeDetail">jQuery</span>
                                    <span class="experticeDetail">SQL</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-div-details">
                        <div class="search-right clearfix">
                            <ul>
                                <li>
                                    <select name="experiance">
                                        <option value="volvo">Job Listing</option>
                                        <option value="saab">1</option>
                                        <option value="fiat">2</option>
                                        <option value="audi">3</option>
                                        <option value="audi">4 &gt;</option>
                                    </select>
                                </li>
                                <li>
                                    <select name="location">
                                        <option value="volvo">Locations</option>
                                        <option value="saab">UAE</option>
                                        <option value="fiat">UK</option>
                                        <option value="audi">USA</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                        <div class="work-history clearfix">
                            <div class="sub-headline-wrapper">
                                <span class="sub-headline">Work History</span>
                            </div>
                            <ul>
                                <li>100% job Success</li>
                                <li>1,308 hours worked</li>
                                <li>6 jobs</li>
                            </ul>
                        </div>
                        <div class="availability clearfix">
                            <div class="sub-headline-wrapper">
                                <span class="sub-headline">Availability</span>
                            </div>
                            <ul>
                                <li>Available</li>
                                <li>As needed-Open to Offers</li>
                                <li>24 hrs response time</li>
                            </ul>
                        </div>
                        <div class="search-for-others-profile clearfix">
                            <form id="search-others-profile" method="POST" action="">
                                <label for="search-for-others-profile">
                                    Search for others
                                </label>
                                <div class="profile-search-input-wrapper">
                                    <input type="text" id="search-for-others-profile" name="q" size="21" maxlength="120">
                                </div>
                            </form>
                        </div>
                        <div class="post-a-job-profile clearfix">
                            <button type="button">Post A Job</button>
                        </div>
                   </div>
                </div>
            </div>
        </section>
            </section>
            {% endblock %}
            {% block extra_js %}
            <script>
                 $( document ).ready(function() {
                    $('#sidenav-close').click(function() {
                        $('.sidebar-container').hide();
                        $('#blanket').hide();
                        $('body').css('position','initial');
                    });
                    $('#sidenav-open').click(function() {
                        $('.sidebar-container').show();
                        $('#blanket').css('display','block');
                        $('body').css('position','fixed');
                    });
                    // jquery for more-data
                    $(".more-btn").show();
                    $(".more-data").hide();
                    $(".more-btn").click(function(){
                        $(".more-data").show();
                        $(".more-btn").hide();
                    });

                    // jquery for optional menu
                    if ($(window).width()<1024){
                        $('.optional-menu').hide();
                        $('.optinal-sidemenu').show();
                    }
                    else{
                        $('.optional-menu').show();
                        $('.optinal-sidemenu').hide();
                    }


				$(document).on('click','#select-all',function(){
					 if($(this).prop("checked") == true){
						$('.profileListWrapper').each(function(){
							$(this).find('input[type="checkbox"]').prop( "checked", true );
						});
					}
					else if($(this).prop("checked") == false){
						$('.profileListWrapper').each(function(){
							$(this).find('input[type="checkbox"]').prop( "checked", false );
						});
					}

				});

            </script>
