{% extends 'base.html' %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
{% load staticfiles %}
    {% block content %}
             <div class="clearfix sub-heading-search">
                <div class="content">
                    <h2 class="inner-page-heading pull-left">My Profile</h2>
                </div>
            </div>
            <section class="clearfix">
                <div class="client-profile clearfix">
                    <div class="content clearfix">
                        <div class="client-info-wrapper clearfix">
                            <div class="client-info clearfix">
                                <div class="current-client-profile clearfix">
                                    <div class="client-profile-img clearfix">
                                        {% if client.profile_pic %}
                                            <img class="current_image current_bg" src="{{client.profile_pic_thumbnail.url }}" alt="clientprofile" >

                                        {% else %}
                                            <img class="current_image current_bg img-circle-border" src="/static/images/no_image.png" alt="clientprofile" style="width:175px;height:175px;">
                                        {% endif %}
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="client-profile-current-wrapper clearfix">

                                        <ul class="client_profile_holder">
                                            <li>
                                                <div class="label">First Name</div>
                                                <div class="value">
                                                    {% if user.first_name  %}
                                                        {{ user.first_name  }}
                                                    {% else %}
                                                        --
                                                    {% endif %}
                                                </div>
                                            </li>
                                            <li>
                                                <div class="label">Last Name</div>
                                                <div class="value">
                                                    {% if user.last_name %}
                                                        {{ user.last_name }}
                                                    {% else %}
                                                        --
                                                    {% endif %}

                                                </div>
                                            </li>
                                            <li>
                                                <div class="label">Email</div>
                                                <div class="value">
                                                     {% if user.email %}
                                                        {{ user.email }}
                                                    {% else %}
                                                        --
                                                    {% endif %}
                                                </div>
                                            </li>
                                            <li>
                                                <div class="label">Country</div>
                                                <div class="value">
                                                    {% if client.country.name %}
                                                        {{ client.country.name }}
                                                    {% else %}
                                                        --
                                                    {% endif %}

                                                </div>
                                            </li>
                                            <li>
                                                <div class="label">Region</div>
                                                <div class="value">
                                                    {% if client.region.name %}
                                                        {{ client.region.name }}
                                                    {% else %}
                                                        --
                                                    {% endif %}
                                                </div>
                                            </li>
                                            <li>
                                                <div class="label">City</div>
                                                <div class="value">
                                                    {% if client.city.name %}
                                                        {{ client.city.name }}
                                                    {% else %}
                                                        --
                                                    {% endif %}
                                                </div>
                                            </li>
                                            <li>
                                                <div class="label">Phone Number</div>
                                                <div class="value">
                                                    {% if client.phone_number %}
                                                        {{ client.phone_number }}
                                                    {% else %}
                                                        --
                                                    {% endif %}
                                                </div>
                                            </li>
                                            <li>
                                                <div id="client-profile-edit-btn-holder"><i class="fa fa-pencil icon_btn" id="client-profile-edit-btn"></i></div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="edit-client-profile clearfix">
                                    <div class="client-profile-img clearfix">
                                        <div style="display:none;" class="imagePreview" class="file"></div>
                                        {% if client.profile_pic %}
                                            <img class="current_image form_bg" class="wrap_image_form" src="{{client.profile_pic}}" alt="developer image" style="width:175;height:175;">
                                        {% else %}
                                               <img class="current_image form_bg" class="wrap_image_form" src="/static/images/no_image.png" alt="clientprofile" style="width:175;height:175;">
                                        {% endif %}
                                    </div>
                                    <div class="client-profile-form-wrapper clearfix">
                                        <form id="client_profile_form" >
                                            {% csrf_token %}
                                            <fieldset id="img-upload-section">
                                                <div id="upload-img-holder">
                                                    <div id="upload-btn-content">Update Profile Picture</div>
                                                    <input type="file" id="uploadFile" name="profile_pic">
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <label>First Name </label>
                                                {{ client_profile_form.first_name }}
                                            </fieldset>
                                            <fieldset>
                                                <label>Last Name </label>
                                                {{ client_profile_form.last_name }}
                                            </fieldset>
                                            <fieldset>
                                                <label>Email </label>
                                                {{ client_profile_form.email.errors }}
                                                {{ client_profile_form.email }}
                                            </fieldset>
                                            <fieldset>
                                                <label>Country</label>
                                                <select name="country"  id="country" onclick="country_select();">
                                                    <option>Select a country</option>
                                                    {% for country in countries %}
                                                        {% if request.user.client_profile.country.name == country.name %}
                                                            <option selected="selected">{{ country.name }}</option>
                                                        {% else %}
                                                            <option>{{ country.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </fieldset>
                                            <div id="region">
                                                <fieldset >
                                                    <label>Region </label>
                                                    <select name="region" id="region_input" onclick="region_select();">
                                                        {% for region in regions %}
                                                            {% if request.user.client_profile.region.name == region.name %}
                                                                <option selected="selected">{{ region.name }}</option>
                                                            {% else %}
                                                                <option>{{ region.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </fieldset>
                                                <fieldset id="city" class="profile_cities">
                                                    <label>City </label>
                                                    <select name="city" >
                                                        {% for city in cities %}
                                                            {% if request.user.client_profile.city.name == city.name %}
                                                                <option selected="selected">{{ city.name }}</option>
                                                            {% else %}
                                                                <option>{{ city.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </fieldset>
                                            </div>
                                            <fieldset>
                                                <label>Phone Number </label>
                                                {{ client_profile_second_form.phone_number }}
                                            </fieldset>
                                            <fieldset style="display:none">
                                                {{ client_profile_form.profile_form_id }}
                                            </fieldset>
                                            <!--<fieldset>-->
                                                <!--<label>Country </label>:-->
                                                <!--{{ ClientProfileSecondForm.country }}-->
                                            <!--</fieldset>-->
                                            <fieldset class="edit-div clearfix">
                                                <div class="edit-profile-btn-holder">
                                                    <button type="button" id="edit-profile-cancel" class="edit-profile-btn">
                                                        Cancel
                                                    </button>
                                                    <button type="submit" class="edit-profile-btn">Save</button>
                                                </div>
                                            </fieldset>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="client_tab_holder middle-div-details my-jobs-tab">
                           <div class="my-jobs-swtch ">
                                <ul>
                                    <li data-post="tab_overview" class="active applied-job-tab">Overview</li>
                                    <!--<li data-post="invited-job" class="invited-job-tab">Security</li>-->
                                    <li data-post="hired-job" class="hired-job-tab">Company Details</li>
                                </ul>
                           </div>
                            <div class="clearfix tab-list" id="tab_overview">
                                <div class="tab_container ">
                                    <div id="overview">
                                        <div class="overview-current" id="overview_current">
                                            <div class="overview-edit-btn clearfix">
                                                <i class="fa fa-pencil icon_btn" id="overview-edit-btn"></i>
                                            </div>
                                            <div class="overview-content">
                                                {% if client.about_company %}
                                                {{ client.about_company|safe}}
                                                {% else %}
                                                <p>Add your profile overview text here
                                                    <small> (default text)</small>
                                                </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="overview-edit">
                                            <form id="company_description_form">
                                                {% csrf_token %}
                                                <div class="overview_editor">
                                                    {{ company_description_form.about_company }}
                                                </div>
                                                <div class="overview_error">Error ! This field is required</div>
                                                <button type="button" id="overview-edit-cancel"
                                                        class="edit-profile-btn">
                                                    Cancel
                                                </button>
                                                <button type="submit" class="edit-profile-btn">Save</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix tab-list" id="invited-job">
                                <div class="tab_container ">
                                    <div id="security">
                                        <div class="error_block">
                                            <p class="reset_success">Your Password has been changed successfully</p>

                                            <p class="reset_error">Password do not match</p>
                                        </div>
                                        <form id="reset_password_form">
                                            {% csrf_token %}
                                            <div class="client_fieldset password_1">
                                                <label>New Password</label>
                                                {{ reset_password_form.password }}
                                                <p class="reset_error_null">This field is required</p>
                                            </div>

                                            <div class="client_fieldset password_2">
                                                <label>Confirm Password</label>
                                                {{ reset_password_form.password2 }}
                                                <p class="reset_error_null">This field is required</p>
                                            </div>
                                            <div class="client_fieldset">
                                                <button type="reset" id="security-edit-cancel" class="edit-profile-btn">
                                                    Cancel
                                                </button>
                                                <button type="submit" class="edit-profile-btn">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix tab-list" id="hired-job">
                                <div class="tab_container ">
                                    <div id="company-details">
                                        {% include 'ajax/company_details.html' %}
                                        <div class="company-edit">
                                            <form id="company_details_form">
                                                {% csrf_token %}
                                                <div class="client_fieldset">
                                                    <label>Company Name</label>
                                                    {{ company_details_form.company }}
                                                </div>
                                                <div class="client_fieldset">
                                                    <label>Company Address</label>
                                                    {{ company_details_form.company_address }}
                                                </div>
                                                <div class="client_fieldset">
                                                    <label>Company Phone</label>
                                                    {{ company_details_form.company_phone_number }}
                                                </div>
                                                <div class="client_fieldset">
                                                    <label>Website</label>
                                                    {{ company_details_form.website }}
                                                </div>
                                                <div class="client_fieldset">
                                                    <label>Area of Work</label>
                                                    {{ company_details_form.area_of_work }}
                                                </div>
                                                <div class="client_fieldset">
                                                    <button type="button" id="company-edit-cancel" class="edit-profile-btn">
                                                        Cancel
                                                    </button>
                                                    <button type="submit" class="edit-profile-btn">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% endblock %}
            {% block extra_js %}
            <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
            <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
            <script>

                 $(function() {
					$('.my-jobs-swtch').find('li').each(function(){
						if($(this).hasClass('active')){
							var sectionId = $(this).attr('data-post');
							$('#'+sectionId+'').show();
						}
					});
				});
				$(document).on('click','.my-jobs-swtch li',function(){
					var sectionId = $(this).attr('data-post');
					$('.my-jobs-swtch').find('li').each(function(){
						var sectionIdeach = $(this).attr('data-post');
						$('#'+sectionIdeach+'').hide();
						$(this).removeClass('active');
					});
					$(this).addClass('active');
					$('#'+sectionId+'').show();
				});


                $( document ).ready(function() {

                    $("#cke_id_about_company").css({'width':'100%;'});
                    // client profile edit
                    $('.current-client-profile').show();
                    $('.edit-client-profile').hide();
                    $(document).on("click","#client-profile-edit-btn",function(){
                        var bg = $(".current_bg").attr('src');
                        $(".form_bg").attr('src',bg);
                        $('.current-client-profile').addClass("hide");
                        $('.edit-client-profile').show();
                    });
                    $(document).on("click","#edit-profile-cancel",function(){
                        $('.edit-client-profile').hide();
                        $('.client_error').hide();

                        $('.current-client-profile').removeClass("hide");
                    });


                    $('#sidenav-close').click(function() {
                        $('.sidebar-container').hide();
                        $('#blanket').hide();
                        $('body').css('position','initial');
                    });
                    $('#sidenav-open').click(function() {
                        $('.sidebar-container').show();
                        $('#blanket').css('display','block');
                        $('body').css('position','fixed');
                    });
                    // jquery for more-data
                    $(".more-btn").show();
                    $(".more-data").hide();
                    $(".more-btn").click(function(){
                        $(".more-data").show();
                        $(".more-btn").hide();
                    });

                });
                $(function(){
                $('.topic-select .topic-btn-wrapper').click(function(){
                    $('.topic-select').find('.topic-btn-wrapper').removeClass('active');
                    $(this).addClass('active');
                   });
                });

                //jQuery for tab section
                $(function(){

                    //overview edit
                    $('.overview-current').show();
                    $(document).on("click","#overview-edit-btn",function(){
                        $('.overview-current').hide();
                        $('.overview-edit').show();
                        $("#cke_id_about_company").css({'width':'100%'});
                        var bar = document.getElementById("cke_1_top");

                        bar.style.display = "none";

                    });
                    $(document).on("click","#overview-edit-cancel",function(){
                        $('.overview-current').show();
                        $('.overview-edit').hide();
                    });

                    //security edit
                    $('.security-current').show();
                    $(document).on("click","#security-edit-btn",function(){
                        $('.security-current').hide();
                        $('.security-edit').show();
                    });
                    $(document).on("click","#security-edit-cancel",function(){
                        $('.security-current').show();
                        $('.security-edit').hide();
                    });

                    //company edit
                    $('.company-current').show();
                    $(document).on("click","#company-edit-btn",function(){
                        $('.company-current').hide();
                        $('.company-edit').show();
                    });
                    $(document).on("click","#company-edit-cancel",function(){
                        $('.company-current').show();
                        $('.company-edit').hide();
                    });
                });

                /* Submit form   */

            /************************company edit functionality***************************/

            /******************************edit profile base details********************/

					$('#client_profile_form').on('submit', function(event){
					    event.preventDefault();
                        var formData = new FormData();
                        var file = $("#uploadFile")[0].files[0];
                        var other_data = $('#client_profile_form').serializeArray();
                        $.each(other_data,function(key,input){
                            formData.append(input.name,input.value);
                        });
                        $(".client_error").hide();
                        formData.append("profile_pic", file);
						$.ajax({
							url: "{% url 'client_profile' %}",
							type: 'POST',
							data: formData,
                            processData: false,
                            contentType: false,
							success: function(response)
							{
                                if (response.client_profile== true)
                                {
                                    $(".current-client-profile").replaceWith(response.html_profile);
                                    $('.edit-client-profile').hide();
                                    $('.current-client-profile').removeClass("hide");
                                }
                                else
                                {
                                    var $inputs = $('#client_profile_form :input');
                                    $.each(response.errors, function( name, value )
                                        {
                                            $inputs.each(function(index, dom){
                                                 current_name = dom.name;
                                                 if (current_name == name){
                                                     var $error_section = $(this).closest("div");
                                                     $error_section.append("<span class='client_error'>Error!"+value+"</span>")
                                                     <!--$(this).closest("input,textarea").css({'border-color':'red'}).attr("placeholder", "This field is required");-->
                                                 }
                                            });
                                        });
                                }
                            },
                            errors: function(response){
                                alert("Error");
                            }

                        });
                    });
/*******************************Address *******************************/
                function country_select(){
                    var action =  $('#country').val();
                    var user = "client";
                    $('.profile_cities').hide();
                      $.ajax({
                            url: "{% url 'country_select' %}",
                            type: 'GET',
                            data:{ action: action,user:user},
                            success: function (response) {
                                $("#region").replaceWith(response.html_content);
                            },
                            error:function(xhr,status,error)
                            {
                                alert("error sorry !!!!!!!!");
                            }
                        });
                }

                function region_select(){
                    var action =  $('#region_input').val();
                    var user = "client";
                      $.ajax({
                            url: "{% url 'region_select' %}",
                            type: 'GET',
                            data:{ action: action,user:user},
                            success: function (response) {
                                $("#city").replaceWith(response.html_content);
                            },
                            error:function(xhr,status,error)
                            {
                                alert("error sorry !!!!!!!!");
                            }
                        });
                }
/******************************edit company details********************/

					$('#company_details_form').on('submit', function(event){
					    event.preventDefault();
                        var data = $('#company_details_form').serialize();
                        $(".client_error").hide();
						$.ajax({
							url: "{% url 'client_profile' %}",
							type: 'POST',
							data: data,
							success: function(response)
							{
                                if (response.company_detail== true)
                                {
                                    $("#company_current").replaceWith(response.html_company);
                                    $('.company-edit').hide();
                                }
                                else
                                {
                                    var $inputs = $('#company_details_form :input');
                                    $.each(response.company_errors, function( name, value )
                                        {
                                            $inputs.each(function(index, dom){
                                                 current_name = dom.name;
                                                 if (current_name == name){
                                                     var $error_section = $(this).closest("div");
                                                     $error_section.append("<span class='client_error'>Error!"+value+"</span>")
                                                     var $error_section = $(this).closest("fieldset");


                                                     <!--$(this).closest("input,textarea").css({'border-color':'red'}).attr("placeholder", "This field is required");-->
                                                 }
                                            });
                                        });
                                }
							},
							errors: function(return_data){ alert("Error");}

							});
						});




                /************************ Password Reset ***************************/

                $('#reset_password_form').on('submit', function(event){
					event.preventDefault();
					$('.reset_error').hide();
					$('.reset_error_null').hide();
					var pass1 = $("#id_password").val();
					var pass2 = $("#id_password2").val();
					if(!pass1.length){
					    $('.password_1 .reset_error_null').show();
					}
					if(!pass2.length){
					    $('.password_2 .reset_error_null').show();
					}
					if(pass1.length && pass2.length){
                        if(pass1 == pass2 ){
                            var data = $('#reset_password_form').serialize();
                            $.ajax({
                                url: "{% url 'client_profile' %}",
                                type: 'POST',
                                data: data,
                                success: function(response)
                                {
                                    if (response.valid== true)
                                    {
                                        $('.reset_success').fadeIn(1000 );
                                        $( ".reset_success" ).delay( 2500 ).fadeOut( 400 );
                                        $("#reset_password_form").trigger('reset');
                                    }
                                    else
                                    {
                                        $('.reset_error').fadeIn(500 );
                                        $("#reset_password_form").trigger('reset');
                                    }
                                },
                                errors: function(return_data){ alert("Error");}

                                });
                        }
                        else if(pass1 != pass2 ){
                            $('.reset_error').show();
                            $("#reset_password_form").trigger('reset');
                        }
                    }

                    });


                /***********************edit company  profile**********************/



					/**edit profile click function**/
					$(document).on("click",".edit-profile",function(){
						$('.basic-details').find('input').show();
						$('.filestyle').show();
						$('.file').show();
						$('.basic-details li').each(function(){
							var value = $(this).find('span').html();
							$(this).find('input').val(value);
							$(this).find('textarea').val(value);
						});
						$('.basic-details').find('span').hide();
						$('.basic-details').find('.edit-profile').hide();
						$('.basic-details').find('.save-profile').show();
						$('.basic-details').find('textarea').show();
						$( "#datepicker" ).datepicker({
							changeMonth: true,
							changeYear: true,
							yearRange: "-200:+0"
						});
					});
					/*********************edit about company*************************/

					$('#company_description_form').on('submit', function(event){
						event.preventDefault();
						$(".client_error").hide();
						for ( instance in CKEDITOR.instances )
                            CKEDITOR.instances[instance].updateElement();
						var data = $('#company_description_form').serialize();
						console.log("submit");
						$.ajax({
							url: "{% url 'client_profile' %}",
							type: 'POST',
							data: data,
                            async: false,
							success: function(response)
							{
                                if (response.company_description== true)
                                {
                                    console.log(response.company_description);
                                    $("#overview_current").replaceWith(response.html_overview);
                                    $('.overview-edit').hide();
                                }
                                else
                                {

                                    var $inputs = $('#company_description_form :input');
                                    $.each(response.description_error, function( name, value )
                                        {
                                            $inputs.each(function(index, dom){
                                                 current_name = dom.name;
                                                 if (current_name == name){
                                                     var $error_section = $(this).closest("div");
                                                     $error_section.append("<span class='client_error'>Error!"+value+"</span>")
                                                     var $error_section = $(this).closest("fieldset");
                                                     $(".client_error").css({'text-align':'inherit'});
                                                     $(".tab_container").css({'padding':'44px 30px'});
                                                     <!--$(this).closest("input,textarea").css({'border-color':'red'}).attr("placeholder", "This field is required");-->
                                                 }
                                            });
                                        });
                                }


							},
							errors: function(return_data){ alert("Error");}

							});
						});
                /******************** Profile image preview *************************/

                $("#uploadFile").on('change', function () {
                    var bg = $(".form_bg").attr('src');
                    console.log(bg);
                    if (typeof (FileReader) != "undefined") {

                        var image_holder = $(".imagePreview");
                        image_holder.empty();
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("<img />", {
                                "src": e.target.result,
                                "class": "thumb-image"
                            }).appendTo(image_holder);

                        }
                        $(".form_bg").hide();
                        image_holder.show();
                        $( "#edit-profile-cancel" ).click(function() {
                        console.log("cancelBtn");
                            $(".form_bg").attr('src',bg);
                            $(".form_bg").show();
                            image_holder.hide();
                        });
                        reader.readAsDataURL($(this)[0].files[0]);
                    } else {
                        alert("This browser does not support FileReader.");
                    }
                });
</script>

            {% endblock %}
