{% extends 'base.html' %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
{% block title %}Active freelancer{% endblock %}
    {% block content %}

<!-- display the registration form of the user starting-->
        <section>
            <p class="succes_message">You have succesfully registered.Please check your mail.</p>
            <div class="registration-container">
                <div class="content">
                    <div class="signup-container">
                        <div class="signup-box">
                            <div class="signup-tab signup-head ">
                                <ul class="signup-tabs ">
                                    <li class="active ">I want to Work</li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="signup-form">
                                <div class="signup-tab1 active">
                                    <form id="registeruserform" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="switch-top-align">
                                            <div class="profile-edit-label" id="profile_pic">
                                                <label>Profile Photo</label>
                                            </div>
                                            <div class="profile-edit-input">
                                                <div class="profile-edit-img">
                                                    <div class="col-md-6 imagePreview" id="imagePreview"></div>
                                                </div>
                                                <div class="profile-edit-img-btn">
                                                    <div class="filestyle" id="edit">
                                                        <div><!--<i class="fa fa-pencil"></i>-->&nbsp;Upload</div>
                                                        <input id="id_profile_pic" name="profile_pic" type="file">
                                                    </div>
                                                    <div class="delete-btn" onclick="removeProfile_pic();">
                                                        <i class="fa fa-trash" > </i>
                                                        Delete
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="switch-top-align">
                                            <div class="profile-edit-label">
                                                <label>Personal Title</label>
                                            </div>
                                            <div class="profile-edit-input">
                                                <input id="id_professional_title" maxlength="255" name="professional_title" type="text">
                                           {{ form.professional_title.errors }}
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="switch-top-align">
                                            <div class="profile-edit-label">
                                                <label>Overview</label>
                                            </div>
                                            <div class="profile-edit-input">
                                                <textarea cols="10" id="id_about_me" name="about_me" rows="4"></textarea>
                                            {{ form.about_me.errors }}
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="profile-edit-rate-level">
                                            <h3 class="profile-experience">Rate Your Experience Level</h3>
                                            <div class="profile-edit-checkbox box_align_2">
                                                <input type="checkbox" name="exp_level_type" id="profile-entry" value="Entry Level" checked="checked" class="check_box_style">
                                                <label for="profile-entry" class="css-label">Entry Level</label>
                                            </div>
                                            <div class="profile-edit-checkbox box_align_2">
                                                <input type="checkbox" name="exp_level_type" id="profile-intermediate" value="Intermediate Level" class="check_box_style">
                                                <label for="profile-intermediate" class="css-label">Intermediate</label>
                                            </div>
                                            <div class="profile-edit-checkbox box_align_2">
                                                <input type="checkbox" name="exp_level_type" id="profile-expert" value="Expert Level" class="check_box_style">
                                                <label for="profile-expert" class="css-label">Expert</label>
                                            </div>
                                        </div>
                                        <div class="switch-top-align ">
                                            <div class="profile-edit-label" >
                                                <label>Select a Category</label>
                                            </div>
                                            <div class="profile-edit-input">
                                                <select id="main_category" class="details_align" name="profile_category" onclick="work_category();">
                                                    <option value=0>Select an option....</option>
                                                    {% for category in main_categories %}
                                                    <option value="{{ category.id }}">{{category}}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="category_sections">
                                            <div class="sub_category_container ">
                                                <div class="switch-top-align">
                                                    <div class="profile-edit-label">
                                                        <label>Sub Categories</label>
                                                    </div>
                                                    <div class="profile-edit-input">
                                                        <select class="multi_select details_align" id="sub_category"  name="sub_category">
                                                        </select>

                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>

                                            <div class="switch-top-align">
                                                <div class="profile-edit-label">
                                                    <label>Skills</label>
                                                </div>
                                                <div class="profile-edit-input">
                                                    <select class="multi_select dropdown_align" id="skills" name="skills" multiple="multiple" style="margin: 0px; padding: 0px; border: 0px; display: none;">


                                                    </select>


                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="switch-top-align">
                                            <div class="profile-edit-label">
                                                <label>Hourly Rate</label>
                                            </div>
                                            <div class="profile-edit-input">
                                                <input id="id_hourly_rate" name="hourly_rate" step="0.01" type="number" value="10.0">
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="switch-top-align">
                                            <div class="profile-edit-label">
                                                <label>Actual rate</label>
                                            </div>
                                            <div class="profile-edit-input">
                                                <input id="id_actual_rate" name="actual_rate" step="0.01" type="number" value="9.0" readonly="readonly">
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <button type="submit" class="submit-btn pull-right">SUBMIT</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="signup-text-container">
                            <div class="signup-text">
                                <div class="online-job">
                                    <h3>Hire and Find Freelance Jobs Online</h3>
                                    <p>
                                        Atlancer is one of the most popular django freelancer jobsite in online. Django team is a souk for top django developers, engineers, programmers, coders, architects and consultants. It is a place for employers and freelancer to connect, collaborate and get work done.
                                    </p>
                                    <p>
                                        It provides businesses with the tools to find and hire talented freelancers all over the world, and also offer freelancers the opportunity to market sought-after skills to a global audience for a nominal cost.
                                    </p>
                                </div>
                                <div class="work-history">
                                <h4>Work History</h4>
                                    <p>100% job Success</p>
                                    <p>1,308 hours worked</p>
                                    <p>6 jobs</p>
                                </div>
                                <div class="availability">
                                <h4>Availability</h4>
                                    <p>Available</p>
                                    <p>As needed-Open to Offers</p>
                                    <p>24 hrs response time</p>
                                </div>
                                <div class="search-for-others">
                                    <form id="search-others-reg" method="POST" action="">
                                        <label>SearchForOthers</label>
                                        <input type="text" id="search-for-others" name="q" size="21" maxlength="120">
                                    </form>
                                </div>
                                <div class="post-a-job">
                                    <button  type="button"  class="submit-btn">Post A Job</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
<!--end of user registration-->
    {% endblock %}
    {% block extra_js %}
    <script>
        $('#registeruserform').on('submit', function(event){
            event.preventDefault();
            var sub_category = $("#sub_category").val();
            var skills = $("#skills").val();
            $(".errors").hide();
            var data = $('#registeruserform').serialize();
            if(sub_category && skills){
                $.ajax({
                    url: "{% url 'freelancer_active' %}",
                    type: 'POST',
                    data: data,
                    beforeSend: function(){
                      loaderShow();
                    },
                    success: function(response)
                    {
                        loaderHide();
                        console.log(response.status);
                        if (response.status == true)
                        {

                            window.location.href="/freelancer-profile/"
                        }
                        else
                        {
                            var $inputs = $('#registeruserform :input');
                            $.each(response.errors, function( name, value )
                                {
                                    $inputs.each(function(index, dom){
                                         current_name = dom.name;
                                         if (current_name == name){
                                             var $error_section = $(this).closest("div");
                                             $error_section.append("<span class='errors' >"+value+"</span>")
                                             var $error_section = $(this).closest("fieldset");
                                         }
                                    });
                                });
                        }
                    },
                    errors: function(return_data){ alert("Error");}
                });
            }
            else{
                if(!sub_category && !skills){
                    var $error_section = $("#sub_category").closest("div");
                    $error_section.append("<span class='errors' >This Field is required</span>")
                    var $error_section = $("#skills").closest("div");
                    $error_section.append("<span class='errors' >This Field is required</span>")
                }
                else if(!sub_category){
                    var $error_section = $("#sub_category").closest("div");
                    $error_section.append("<span class='errors' >This Field is required</span>")
                }
                else{
                    var $error_section = $("#skills").closest("div");
                    $error_section.append("<span class='errors' >This Field is required</span>")
                }
            }
        });
        $(document).ready(function(){
            $("#id_hourly_rate").change(function(){
                $.ajax({
                    url: "{% url 'add_rate' %}",
                    type: 'POST',
                    data:{ hourly_rate: $(this).val(),level:'actual_rate_update' },
                    success: function (response) {

                        $("#id_actual_rate").val(response.actual_rate);
                    },
                    error:function(xhr,status,error)
                    {
                        console.log("error sorry !!!!!!!!");
                    }
                });
            });

            $('.multi_select').tokenize({
                displayDropdownOnFocus: true,
            });
        });




        $( document ).ready(function() {
                $('.signup-tab1').show();
                $("input:checkbox").change(function(){
                 var group = ":checkbox[name='"+ $(this).attr("name") + "']";
                   if($(this).is(':checked')){
                     $(group).not($(this)).attr("checked",false);
                   }
                 });
        });

        <!--*****************Work Category save*************-->
            function category_save(){
                var data =  $('#work_category').serialize();
                $.ajax({
                    url: "{% url 'working_category' %}",
                    type: 'POST',
                    data:data,
                    success: function (response) {
                        if (response.status==true)
                        {
                            alert("Success");
                        }
                    },
                    error:function(xhr,status,error)
                    {
                        console.log("error sorry !!!!!!!!");
                    }
                });
            }

        <!--************************* Freelance image change *************************************-->
        function removeProfile_pic(){
                $("#edit :input").val('');
                $("#imagePreview").removeAttr('style');

        }
        $(function() {
            $("#id_profile_pic").on("change", function()
            {
                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                if (/^image/.test( files[0].type)){ // only image file
                    var reader = new FileReader(); // instance of the FileReader
                    reader.readAsDataURL(files[0]); // read the local file

                    reader.onloadend = function(){ // set image data as background of div
                        $("#imagePreview").css("background-image", "url("+this.result+")");
                    }
                }
            });
        });
        function work_category(){
                var action = $('#main_category').find(":selected").val();
                $.ajax({
                    url: "{% url 'freelancer_active' %}",
                    type: 'GET',
                    async:false,
                    data:{ action: action },
                    success: function (response) {
                        if (response.status==true)
                        {
                            console.log(response.html_content);
                            $(".category_sections").replaceWith(response.html_content);
                            $('.multi_select').tokenize({
                                displayDropdownOnFocus: true,
                            });
                        }

                        else if (response.status==false)
                        {
                           // console.log(response.html_content);
                            $(".sub_category_container").replaceWith(response.html_content);
                        }
                    },
                    error:function(xhr,status,error)
                    {
                        $(".sub_category_container").replaceWith(response.html_content);
                    }
                });
            }
    </script>
    {% endblock %}
