{% extends 'base.html' %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
    {% block content %}

        {% if user.is_anonymous %}
         <section class="clearfix">
            <div class="registration-logo-holder">
                <div class="headline-wrapper">
                    <div class="content">
                        <span class="headline">Job List </span>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
            <div class="clearfix sub-heading-search">
                <div class="content">
                    <h2 class="inner-page-heading pull-left">Find Jobs</h2>
                     <div class="top-search inner_search">
                         <form class="" method="get" action="{% url 'find_job' %}" id="search_form">
                            <ul class="list-style main-menu search_cat">
                                <li class="active menu-drop-down">
                                    <span class="search-icon find-job-arrow"><i class="fa fa-search"></i></span>
                                    <input type="hidden" class="search-type" name="searchtype" >
                                    <input type="text" placeholder="Find Jobs" autocomplete="off" name="search_type" id="search_type" class="search-input-box search_input" onkeyup="search_query();" ><i class="fa fa-times search_clear" aria-hidden="true" onclick = "clear_search();"></i>
                                    <button type="submit" class="search_btn">Search</button>
                                </li>
                            </ul>
                            <div id="suggesstion-box">
                            </div>
                         </form>
                    </div>

                </div>
            </div>
            <section class="clearfix">
                <div class="profile-container clearfix">
                    <div class="content">
                       <div class="left-div-details">
                           <form role="form" id="job_sort_form">
                            {%  csrf_token %}
                               <div class="left-inner-block">
                                   <h3 class="job-click">Job Category</h3>
                                    <ul class="job-div-all">
                                            {% for category in categories %}
                                            <li><input type="checkbox" class="category_list" id="{{ category.id }}" value="{{ category.id  }}" name="categories" onclick="category_sort();"/>
                                            <label for="{{ category.id }}"><span></span><i>{{ category.category_title }}</i></label> </li>
                                            {%  endfor %}
                                    </ul>
                               </div>
                                {% if user.is_authenticated %}
                                    {% if request.user.active_account == "CL" %}
                                       <div class="left-inner-block">
                                            <h3 class="job-click">Job Status</h3>
                                            <ul class="job-div-all">
                                                <li><input type="checkbox" class="category_list job_status" id="open" value="OPEN" name="job_status" onclick="category_sort();"/>
                                                <label for="open"><span></span><i>Open</i></label> </li>
                                                <li><input type="checkbox" class="category_list job_status" id="closed" value="CLOSE" name="job_status" onclick="category_sort();"/>
                                                <label for="closed"><span></span><i>Closed</i></label> </li>
                                                <li><input type="checkbox" class="category_list job_status" id="draft" value="DRAFT" name="job_status" onclick="category_sort();"/>
                                                <label for="draft"><span></span><i>Draft</i></label> </li>

                                            </ul>
                                       </div>
                                    {% endif %}
                               {% endif %}
                                <div class="left-inner-block">
                                   <h3 class="job-click">Job Type</h3>
                                   <ul class="job-div-all">
                                            <li><input type="checkbox" value="per hour" id="c7" name="job_type" onclick="category_sort();"/>
                                            <label for="c7"><span></span><i>Hourly</i></label> </li>
                                            <li><input type="checkbox" id="c8" name="job_type"  value="per job"  onclick="category_sort();"/>
                                            <label for="c8"><span></span><i>Fixed</i></label> </li>
                                   </ul>
                               </div>

                                <div class="left-inner-block">
                                   <h3 class="job-click">Experience level</h3>
                                   <ul class="job-div-all">
                                        <li><input type="checkbox" id="c9" value="Fresher" name="experience" onclick="category_sort();"/>
                                        <label for="c9"><span></span>Fresher</label> </li>
                                        <li><input type="checkbox" id="c10" value="Intermediate" name="experience" onclick="category_sort();"/>
                                        <label for="c10"><span></span>Intermediate</label> </li>
                                        <li><input type="checkbox" id="c11" value="Expert" name="experience" onclick="category_sort();"/>
                                        <label for="c11"><span></span>Expert</label> </li>
                                   </ul>
                               </div>
                                <div class="budject-block">
                                    <h3>Budget</h3>
                                    <div class="range-slider-wrap" >
                                        <div id="slider-range"></div>
                                            <div id="amountstart"></div>
                                            <div id="amountend"></div>
                                    </div>
                                </div>
                                <input type="hidden" value="" name="amountstartInput" id="amountstartInput">
                                <input type="hidden" value="" name="amountendInput" id="amountendInput">
                                 <div class="left-inner-block">
                                   <h3 class="job-click">Duration</h3>
                                        <ul class="job-div-all">
                                            <li><input type="checkbox" id="c12" value='hours(15)' name="durations" />
                                            <label for="c12"><span></span>Hours or days (15)</label> </li>
                                            <li><input type="checkbox" id="c13" value='weeks(54)' name="durations" />
                                            <label for="c13"><span></span>Weeks (54)</label> </li>
                                            <li><input type="checkbox" id="c14" value='months(468)' name="durations" />
                                            <label for="c14"><span></span>Months (468)</label> </li>
                                            <li><input type="checkbox" id="c15" value='>6 months' name="durations" />
                                            <label for="c15"><span></span>> 6 months (622)</label> </li>
                                            <li><input type="checkbox" id="c16"  value='nil' name="durations" />
                                            <label for="c16"><span></span>Not Specified (0)</label> </li>
                                        </ul>
                                </div>
                           </form>
                       </div>
                        <!--<div class="search_message">-->
                            <!--<h3>{{ message }}</h3>-->
                        <!--</div>-->
                       <div class="middle-div-details">

                            <div class="job-all">
                            {% if all_jobs %}
                                {%  for jobs in all_jobs %}
                                    {% if user.is_authenticated %}
                                            {% if request.user.active_account == "CL" %}
                                                   <div class="middle-inner">
                                                       <div class="joblistdetails">
                                                            <h3 ><a href="{% url 'find_job_details' jobs.slug %}">{{ jobs.job_title }}</a></h3>
                                                            <span class="sub-text">{{ jobs.payment_type|capfirst }}-{{ jobs.payment }}
                                                                {% if jobs.exp_level %}
                                                                | Experience:{{ jobs.exp_level }}
                                                                {% endif %}
                                                                {% if jobs.no_of_hires %}
                                                                | No.of Hires:{{ jobs.no_of_hires }}
                                                                {% endif %}
                                                            </span>
                                                            <p>{{ jobs.job_description|truncatechars:300|safe  }}...<a href="{% url 'find_job_details' jobs.slug %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>

                                                           <div class="experticeDetailWrap" id="experticeWrap">
                                                                {% for skill in jobs.job_skills.all %}
                                                                    <span class="expertice">{{ skill.skill_name }}</span>
                                                                {% endfor %}
                                                                <div class="experticeViewmore">
                                                                    <i class="fa fa-plus-square-o"></i>
                                                                </div>
                                                            </div>

                                                            <div class="date-div">Posted date {{ jobs.job_date }}</div>
                                                            <span class="bottom-border-color"></span>
                                                       </div>
                                                   </div>
                                             {% else %}
                                                 <div class="middle-inner">
                                                    <div class="joblistdetails">
                                                        <h3> <a href="{% url 'my_jobsDetails' jobs.slug %}">{{ jobs.job_title }}</a></h3>
                                                        <span class="sub-text">{{ jobs.payment_type|capfirst }}-{{ jobs.payment }}
                                                            {% if jobs.exp_level %}
                                                            | Experience:{{ jobs.exp_level }}
                                                            {% endif %}
                                                            {% if jobs.no_of_hires %}
                                                            | No.of Hires:{{ jobs.no_of_hires }}
                                                            {% endif %}
                                                        </span>
                                                        <p>{{ jobs.job_description|truncatechars:300  }}...<a href="{% url 'find_job_details' jobs.slug %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                                       <div class="experticeDetailWrap" id="experticeWrap">
                                                            {% for skill in jobs.job_skills.all %}
                                                                <span class="expertice">{{ skill.skill_name }}</span>
                                                            {% endfor %}
                                                            <div class="experticeViewmore">
                                                                <i class="fa fa-plus-square-o"></i>
                                                            </div>
                                                        </div>
                                                        <div class="date-div">Posted date {{ jobs.job_date }}</div>
                                                        <span class="bottom-border-color"></span>
                                                     </div>
                                               </div>
                                            {% endif %}
                                    {% else %}
                                        <div class="middle-inner">
                                            <div class="joblistdetails">
                                                <h3 ><a href="{% url 'job_details' jobs.slug %}">{{ jobs.job_title }}</a></h3>
                                                <p>{{ jobs.job_description|truncatechars:300|safe  }}...<a href="{% url 'find_job_details' jobs.slug %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                               <div class="experticeDetailWrap" id="experticeWrap">
                                                    {% for skill in jobs.job_skills.all %}
                                                        <span class="expertice">{{ skill.skill_name }}</span>
                                                    {% endfor %}
                                                    <div class="experticeViewmore">
                                                        <i class="fa fa-plus-square-o"></i>
                                                    </div>
                                                </div>
                                                <div class="date-div">Posted date {{ jobs.job_date }}</div>
                                                <span class="bottom-border-color"></span>
                                            </div>
                                       </div>
                                    {% endif %}
                                {%  endfor %}
                            {% else %}
                                {% include 'message.html' %}
                            {% endif %}

                            </div>

                       </div>
                       <div class="right-div-details">
							<div class="work-history clearfix">
								<div class="sub-headline-wrapper">
									<span class="sub-headline">Work History</span>
								</div>
								<ul>
									<li>100% job Success</li>
									<li>1,308 hours worked</li>
									<li>6 jobs</li>
								</ul>
							</div>
							<div class="availability clearfix">
								<div class="sub-headline-wrapper">
									<span class="sub-headline">Availability</span>
								</div>
								<ul>
									<li>Available</li>
									<li>As needed-Open to Offers</li>
									<li>24 hrs response time</li>
								</ul>
							</div>
                            <form id="search-others-profile">
                                {% csrf_token %}
							    <div class="search-for-others-profile clearfix">
                                    <label for="search-for-others-profile">
                                        Search for others
                                    </label>
                                    <div class="profile-search-input-wrapper">
                                        <input type="text" id="search-for-others-profile" name="search_query" size="21" maxlength="120">
                                    </div>
                                    </div>
                                    <div class="post-a-job-profile clearfix">
                                        <button type="submit">Post A Job</button>
                                </div>
                           </form>
					   </div>
                    </div>
                </div>
                <a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>
            </section>
            {% endblock %}
            {% block extra_js %}
            <script>

                function getParameterByName(name, url) {
                    if (!url) url = window.location.href;
                    name = name.replace(/[\[\]]/g, "\\$&");
                    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)")
                        results = regex.exec(url);
                    if (!results) return '';
                    if (!results[2]) return '';
                    return decodeURIComponent(results[2].replace(/\+/g, " "));
                }
                function clear_search(){
                    $("#search_input_box").val(" ");
                    $("#search_type").val(" ");
                    window.history.pushState("", "", "/"+'jobs/' );
                    category_sort();
                    $(".search_clear").fadeOut(500);
                    $("#suggesstion-box").hide();
                    loaderShow();
                    window.location.reload();
                }
                $(document).ready(function() {
                    if(getParameterByName('search_type')){
                        var parameter = getParameterByName('search_type');
                        $("#search_type").val(parameter);
                        $(".search_clear").fadeIn(500);
                    }
                });
                var count = 0;
                var availableTags = [
                  {% for key in key_words %}
                  "{{key}}",
                  {% endfor %}

                ];
                function search_query(){

                }

                function split( val ) {
                      return val.split( /,\s*/ );
                    }
                    function extractLast( term ) {
                      return split( term ).pop();
                    }

                    $( "#search_type" ).on( "keydown", function( event ) {
                        count = 0;
                        if ( event.keyCode === $.ui.keyCode.TAB &&
                            $( this ).autocomplete( "instance" ).menu.active ) {
                          event.preventDefault();
                        }
                      })
                      .autocomplete({
                        minLength: 0,
                        source: function( request, response ) {
                          response( $.ui.autocomplete.filter(
                            availableTags, extractLast( request.term ) ).slice(0,15) );
                        },
                        focus: function() {
                          // prevent value inserted on focus
                          return false;
                        },
                        select: function( event, ui ) {
                          var terms = split( this.value );
                          // remove the current input
                          terms.pop();
                          // add the selected item
                          terms.push( ui.item.value );
                          // add placeholder to get the comma-and-space at the end
                          terms.push( "" );
                          this.value = terms.join( "," );
                          $(".search_clear").fadeIn(500);
                          return false;
                        }
                      });

               $(document).on('click','.job-click',function() {
					console.log(this);
					if($(this).hasClass('down')) {
						$(this).removeClass('down');
					} else {
						$(this).addClass('down');
					}
					$(this).parent().children('.job-div-all').toggle("slow");
				});
				$(function() {

					 window.onload = function() {
					    $(".job_status").change(function(){
                         var group = ":checkbox[name='"+ $(this).attr("name") + "']";
                           if($(this).is(':checked')){
                             $(group).not($(this)).attr("checked",false);
                           }
                         });
                        $('.middle-inner').find('.experticeDetailWrap').each(function() {
                            var element = $(this)[0];
                            if( (element.offsetHeight+1 < element.scrollHeight) || (element.offsetWidth < element.scrollWidth)){
                               $(this).find('.experticeViewmore').show();
                            }
                            else{
                              //your element don't have overflow
                            }
                        });
                    };
				});
				$(".experticeViewmore").parent().css({'max-height':'39px','width':'103%'})
				$(document).on("click",".experticeViewmore",function(){
                    if($(this).hasClass('activeExpertice')){
                        $(this).removeClass('activeExpertice');
                        $(this).parent().css({'max-height':'39px','width':'103%'})
				    }else {
				        $(this).addClass('activeExpertice');
				        $(this).parent().css({'max-height':'100%','width':'103%'})
				    }
                });
				$(function() {

				    //category open
				    $('.job-click').click();

					$( "#slider-range" ).slider({
						range: true,
						min: 0,
						max: {{ amountEnd }},
						values: {{  amt_array }},
						slide: function( event, ui ) {
							$('#amountstart').html("$" + ui.values[ 0 ]);
							$('#amountend').html("$" + ui.values[ 1 ]);
                            $('#amountstartInput').val(ui.values[ 0 ]);
							$('#amountendInput').val(ui.values[ 1 ]);
                            var data = $('#job_sort_form').serialize();
                            $(".job-all").html('');
                            $.ajax({
                                url: "{% url 'find_job' %}",
                                type: 'POST',
                                data: data,
                                success: function (return_data)
                                 {
                                   //console.log(return_data.html_content)


                                          $(".job-all").replaceWith(return_data.html_content);





                                 },
                                 errors:function (return_data){ alert("Error");}

                            });
                            $('#amountstartInput').removeAttr();
							$('#amountendInput').removeAttr();
                        }

					});
					$('#amountstart').html("$" + $( "#slider-range" ).slider( "values", 0 ));
					$('#amountend').html("$" + $( "#slider-range" ).slider( "values", 1 ));
                    $('#amountstartInput').val( $( "#slider-range" ).slider( "values", 0 ));
					$('#amountendInput').val($( "#slider-range" ).slider( "values", 1 ));
				});
               function sort(){
                var data = $('#sort').serialize();
                $.ajax({
                    url: "{% url 'find_job' %}",
                    type: 'POST',
                    data: data,
                    success: function (return_data)
                     {

                        if (return_data.status==true)
                        {
                            $('.unsorted').html(return_data.html_content);

                        }

                     },
                     errors:function (return_data){ alert("Error");}

                });
                }
                {#..................Category Sort........................#}
                function category_sort(){
                    var data = $('#job_sort_form').serialize();
                    $.ajax({
                        url: "{% url 'find_job' %}",
                        type: 'POST',
                        data: data,
                        success: function (return_data)
                         {
                             $(".job-all").replaceWith(return_data.html_content);
                         },
                         errors:function (return_data){ alert("Error");}

                    });
                }


                function paginate(page){
                var data = $('#job_sort_form').serialize()+'&page='+page;
                    $.ajax({
                        url: "{% url 'find_job' %}",
                        type: 'POST',
                        data: data,
                        success: function (return_data)
                         {
                             $(".job-all").replaceWith(return_data.html_content);
                         },
                         errors:function (return_data){ alert("Error");}

                    });
                }
            </script>
            {% endblock %}