<div id='msg_container' class='message-list-container addone'>
{% for object in object_list %}
    <div class='message-show-container clearfix '>
        <div class='message-show clearfix'>

             {% if object.user.username == user %}
                 <div class='message-details fade in pull-left left'>
             {% else %}
                 <div class='message-details fade in pull-right right'>
             {% endif %}

                <div class='arrow' style='top: 30px;'></div>
                <div class='message-details-content'>{{object.messege }}
                    <div class='msg-rpy-date'>{{object.post_date }}</div>
                </div>
            </div>
            <div class='pull-right'>
                <div class='message-image '>
                    {% if object.user.active_account == 'CL' %}

                    <img src='{{clientimage}}'>
                    {% else %}
                    <img src='{{freelancerimage}}'>

                    {% endif %}
                </div>
                <p class='message-username'>{{object.user.username }} </p>
            </div>
        </div>
    </div>

    {% empty %}

{% endfor %}


</div>