{% extends 'base.html' %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
    {% block content %}
        {% if not user.is_authenticated %}
        <section class="clearfix">
            <div class="registration-logo-holder">
                <div class="headline-wrapper">
                    <div class="content">
                        <span class="headline">Job Details</span>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        <div class="clearfix sub-heading-search">
            <div class="content">
                <h2 class="inner-page-heading pull-left">Job Details</h2>
            </div>
        </div>
            <section class="clearfix">
                <div class="profile-container clearfix ">
                    <div class="content">
                        <div class="middle-inner">
                            <div class="jobDescription">
                                <div class="middle-div-details job-detail-page">
                                    <div class="job-details-tab">
                                        <ul>
                                            <li data-post="job-details" class="active">Job Details</li>
                                            <li data-post="messages-tab" >Messages</li>
                                        </ul>
                                    </div>
                                    <div class="clearfix tab-list" id="job-details">
                                    <p style="float:right;">Budjet:${{ job_details.payment }}</p>
                                    <h3>{{ job_details.job_title }}</h3>
                                    <span class="sub-text">Job Category:  {{ job_details.job_main_category.category_title }}</span>
                                    <p>{{ job_details.job_description }}</p>
                                    <div class="requirements">
                                        <div class="requires">
                                            <p class="marginBottom">{{ job_details.payment_type }}</p>
                                            <h4 class="subHead">$ {{ job_details.payment }}</h4>
                                        </div>
                                        <div class="requires">
                                            <p class="marginBottom">Duration</p>
                                                {% if job_details.duration_in_month %}
                                                <h4 class="subHead">{{ job_details.duration_in_month }}  Months,</h4>
                                                {% endif %}
                                                {% if job_details.duration_in_weak %}
                                                    <h4 class="subHead">{{  job_details.duration_in_weak  }} Weeks,</h4>
                                                {% endif %}
                                                {% if job_details.duration_in_hour %}
                                                    <h4 class="subHead">{{  job_details.duration_in_hour  }} Hours</h4>
                                                {% endif %}
                                        </div>
                                        <div class="requires">
                                            <p class="marginBottom">Desired Experience Level</p>
                                            <h4 class="subHead">{{ job_details.exp_level }}</h4>
                                        </div>
                                        <div class="requires">
                                            <p class="marginBottom">Number of Hires</p>
                                            <p class="subHead">{{ job_details.no_of_hires }} Nos</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    {% for skill in job_details.job_skills.all %}
                                    <span class="expertice">{{ skill.skill_name }}</span>
                                    {% endfor %}
                                    <div class="qualification">
                                        <p class="marginBottom">Qualifications Required</p>
                                        <span class="subHead">{{ job_details.qualifications }}</span>
                                    </div>
                                    <h3 class="proposals">Proposals </h3>
                                    {% for freelancer in applied_freelancer  %}
                                        {% for jobs in applied_jobs %}
                                            {% if freelancer.user == jobs.user %}
                                                    <div class="profileListWrapper clearfix borderBotom">
                                                    <div class="profileImg">
                                                        {% if freelancer.profile_pic %}
                                                            <img src="{{ freelancer.profile_pic_thumbnail.url }}" alt="clientprofile" class="client_profile_image">
                                                        {% else %}
                                                            <img src="/static/images/no_image.png" alt="clientprofile" class="client_profile_image">
                                                        {% endif %}
                                                    </div>
                                                    <div class="profileDetail">
                                                        <h3 class="profile-name">{{ freelancer.user.first_name }} {{ freelancer.user.last_name }}</h3>
                                                        <div class="profile-location">
                                                            <i class="fa fa-map-marker"></i>
                                                            <span>Switzerland</span>
                                                        </div>
                                                        {% for skill in freelancer.skills.all %}
                                                            <span class="experticeDetail">{{ skill.skill_name }}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}

                                    </div>
                                     <div class="clearfix tab-list" id="messages-tab">
                                        <div class="profile-container clearfix">
                                            <div class="content">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% if  not job_cancel %}
                            {% if not job_applied %}
                                <div class="applyJob">
                                    <div class="login_message">{{ login_message }}</div>
                                    <div class="login_message post_success">{{ success_message }}</div>
                                    <div class="work-history clearfix">
                                        <div class="sub-headline-wrapper">
                                            <span class="applyJobHeadline">Apply to this job</span>
                                        </div>
                                    </div>
                                    <div class="search-for-others-profile clearfix">
                                        <form id="search-others-profile" method="POST" action="{% url 'job_details' job_details.slug %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="hidden"  value="" name="appliedJob_update">
                                            <input type="hidden"  value="" name="is_resume" class="is_resume">
                                            <label>Message</label>
                                            <textarea class="job" rows="8" name="description"></textarea>
                                            <div class="login_message">{{form.errors.description}}</div>
                                            <label>Estimated cost <small>{{ job_details.payment_type }}</small></label>
                                            <input type="text" class="estimated_cost"  name="estimated_cost">
                                            <label>Document</label>


                                            <div class="fileinputs">
                                                <input type="file" class="file" id="id_resume"  name="resume" onchange="file_uploaded();"/>
                                                <div class="fakefile">
                                                    <span id="applyJob" >CLICK HERE TO UPLOAD DOCUMENTS</span>
                                                </div>
                                            </div>
                                            <span class="remove_file " data-post="{{job_applied.resume}}"><img src="/static/images/Cancel.png" /></span>
                                            <div class="file_path"></div>
                                            <div class="file_error">File not supported! Upload .pdf, .doc, .docx, .png, .jpg, .jpeg</div>
                                            <div class="login_message">{{form.errors.resume}}</div>
                                            <div class="boxBig">
                                                <div class="box1">
                                                    <input type="checkbox" id="c1" class="checkbox_confirm" name="c1">
                                                    <label for="c1" ><span></span></label>
                                                    <a href="javascript:void(0)" onclick="modal_conditions_open();">I accept Terms&Conditions</a>
                                                </div>
                                                <div class="box2">
                                                    <input type="submit" id="file_upload"  value="SUBMIT" class="submitBtn job_post_btn" >
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </form>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                               </div>


                            {% endif %}
                            {% endif %}

                            {% if  job_applied  %}

                            {% if not job_cancel %}

                            <div class="applyJob">
                                <div class="login_message">{{ login_message }}</div>
                                <div class="login_message post_success">{{ success_message }}</div>
                                <div class="work-history clearfix">
                                    <div class="sub-headline-wrapper">
                                        <span class="applyJobHeadline">Already applied for this job</span>
                                    </div>
                                </div>
                               <h4>Cancel or edit applied quote?</h4>
                               <div class="">
                                   <div class="button_container">
                                       <button type="button" class="button_blue update_btn">Update Quote
                                       </button>
                                   </div>
                                   <div class="button_container">
                                       <button type="button" class="button_blue cancel_job_btn">Cancel Quote
                                       </button>
                                   </div>
                               </div>
                                <div class="search-for-others-profile clearfix update_container hiden">
                                    <form id="Applied_job_edit_form" method="POST" action="{% url 'job_details' job_details.slug %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden"  value="update" name="appliedJob_update">
                                        <input type="hidden"  value="" name="is_resume" class="is_resume">
                                        <label>Message</label>
                                        {{ form_update.description }}
                                        <div class="login_message">{{form.errors.description}}</div>
                                        <label>Estimated cost <small>{{ job_details.payment_type }}</small></label>
                                        {{ form_update.estimated_cost }}
                                        <label>Document</label>

                                         <div class="editfileinputs fileinputs" id="applyJob_doc"  onchange="file_uploaded();">
                                                <div class="upload_icon" >CLICK HERE TO UPLOAD DOCUMENTS</div>
                                                <span>{{ form_update.resume }}</span>
                                            </div>
                                        {% if job_applied.resume %}
                                        <div class="current_file">
                                            {{job_applied.resume}}
                                            <span class="remove_upload_file remove_file" data-post="{{job_applied.resume}}"><img src="/static/images/Cancel.png" /></span>
                                        </div>
                                        {% endif %}
                                        <span class="remove_file " data-post="{{job_applied.resume}}"><img src="/static/images/Cancel.png" /></span>
                                        <div class="file_path"></div>

                                         <!--<p>Old Doc:{{ form_update.resume.value }}</p>-->
                                        <div class="login_message">{{form.errors.resume}}</div>
                                        <div class="boxBig">
                                            <div class="box2">
                                                <input type="button" value="CANCEL" class="submitBtn job_hide_update_btn" >
                                            </div>
                                            <div class="box2">
                                                <input type="submit" value="SUBMIT" class="submitBtn job_post_btn" >
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </form>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="search-for-others-profile clearfix cancel_job_container hiden">
                                    <form id="Applied_job_cancel_form" method="POST" action="{% url 'job_details' job_details.slug %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden"  value="cancel_application" name="appliedJob_update">
                                        <label>Message</label>
                                        {{ form_cancel_job.cancel_message }}
                                        <div class="login_message">{{form_cancel_job.cancel_message.description}}</div>
                                        <div class="boxBig">
                                            <div class="box2">
                                                <input type="button" value="CANCEL" class="submitBtn job_hide_update_btn" >
                                            </div>
                                            <div class="box2">
                                                <input type="submit" value="SUBMIT" class="submitBtn" >
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </form>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        {% endif %}
                        {% endif %}
                         {% if job_applied  %}

                            {% if job_cancel %}
                                 <div class="applyJob">
                                        <div class="work-history clearfix">
                                            <div class="sub-headline-wrapper">
                                                <span class="applyJobHeadline"> Quote Withdrawn</span>
                                                <p>You have withdrawn the quote submitted</p>
                                            </div>
                                        <div class="clearfix"></div>
                                 </div>
                          {% endif %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </section>

            {% include 'ajax/applyjob_terms_and_condition.html' %}

            <div class="modal-backdrop in"></div>
           {% endblock %}
            {% block extra_js %}

            <script>
                $(document).on('click','.remove_file',function() {
                    $('#id_resume').val("");
					$(".remove_file").hide();
					$('.file_path').html('');
                    $('.current_file').hide();
                    $(".file_error").hide();
                    $('.is_resume').val("False");
                    $("#file_upload").attr('type','submit');

				});
                function modal_conditions_open(){
                    $('.modal_terms_condition').show();
                    $('.modal-backdrop').show();
                }
                function modal_conditions_close(){
                    $('.modal_terms_condition').hide();
                    $('.modal-backdrop').hide();
                }


                $('#search-others-profile').submit(function (e) {
                    $('.error').remove();
                    // $("#search-others-profile .job_post_btn").attr('type','button');
                    if (!$('.checkbox_confirm').is(':checked')) {
                        //prevent the default form submit if it is not checked
                        $('.box2').after( "<div class='error' style='color:red'>Please accept the Terms&Conditions</div>" );
                        e.preventDefault();
                    }
                })


                function file_uploaded(){
                    $('.file_path').html('');
                    $('.current_file').html('');
                    var file = $("input[name=resume]")[0].files[0].name;
                    $(".file_error").hide()
                    var ext = $('#id_resume').val().split('.').pop().toLowerCase();
                    $(".remove_file").show();
                    $('.is_resume').val("");
                    if(ext.length>0){
                            if($.inArray(ext, ['pdf','doc','docx','png','jpg','jpeg']) == -1) {
                            $(".file_error").show();
                            $("#file_upload").attr('type','button');
                        }
                        else{
                            $("#file_upload").attr('type','submit');
                        }
                    }

                    $('.file_path').html(String(file));
                }
                $(function() {
					$('.job-details-tab').find('li').each(function(){
						if($(this).hasClass('active')){
							var sectionId = $(this).attr('data-post');
							$('#'+sectionId+'').show();
						}
					});
				});
				$(document).on('click','.job-details-tab li',function(){
					var sectionId = $(this).attr('data-post');
					$('.job-details-tab').find('li').each(function(){
						var sectionIdeach = $(this).attr('data-post');
						$('#'+sectionIdeach+'').hide();
						$(this).removeClass('active');
					});
					$(this).addClass('active');
					$('#'+sectionId+'').show();
				});

                $( document ).ready(function() {
                    $('.update_btn').click(function() {
                        $('.update_container').show();
                        $('.cancel_job_container').hide();
                        $('.cancel_job_btn').hide();
                    })
                    $('.cancel_job_btn').click(function() {
                        $('.cancel_job_container').show();
                        $('.update_container').hide();
                        $('.update_btn').hide();
                    })
                    $('.job_hide_update_btn').click(function() {
                         $('.update_container').hide();
                         $('.cancel_job_container').hide();
                         $('.update_btn').show();
                         $('.cancel_job_btn').show();
                    })

                    $('#sidenav-close').click(function() {
                        $('.sidebar-container').hide();
                        $('#blanket').hide();
                        $('body').css('position','initial');
                    });
                    $('#sidenav-open').click(function() {
                        $('.sidebar-container').show();
                        $('#blanket').css('display','block');
                        $('body').css('position','fixed');
                    });
                    // jquery for more-data
                    $(".more-btn").show();
                    $(".more-data").hide();
                    $(".more-btn").click(function(){
                        $(".more-data").show();
                        $(".more-btn").hide();
                    });

                    // jquery for optional menu
                    if ($(window).width()<1024){
                        $('.optional-menu').hide();
                        $('.optinal-sidemenu').show();
                    }
                    else{
                        $('.optional-menu').show();
                        $('.optinal-sidemenu').hide();
                    }

                    // jquery for slider

                    var sliderTotal = $('.testmonail-container').size();
                    var counterIndex = 2;
                    var timer ;


                });

				$(document).on('click','.job-click',function() {
					console.log(this);
					if($(this).hasClass('down')) {
						$(this).removeClass('down');
					} else {
						$(this).addClass('down');
					}
					$(this).parent().children('.job-div-all').toggle("slow");
				});
				$(function() {
					$( "#slider-range" ).slider({
						range: true,
						min: 0,
						max: 5000,
						values: [ 0, 1000 ],
						slide: function( event, ui ) {
							$('#amountstart').html("$" + ui.values[ 0 ]);
							$('#amountend').html("$" + ui.values[ 1 ]);
							
						}
					});
					$('#amountstart').html("$" + $( "#slider-range" ).slider( "values", 0 ));
					$('#amountend').html("$" + $( "#slider-range" ).slider( "values", 1 ));
				});
        </script>
        {% endblock %}