
{% load staticfiles %}

 {% block extra_css %}
<style>
	.donottake{
		<!--width: 995px;-->
        margin: 6px auto;
	}
	.msgblock {
            width: 94%;
            display: inline-block;
            background: #e0ebf936;
            padding: 20px;
            border: 1px solid #0743691a;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: #414548;
	   	}
	</style>
 {% endblock %}


	<div class="donottake">
<div class="msgblock pulse2">
	No data found!
</div>
    </div>

  <!--<script>-->
    <!--$(function () {
     $(".pulse2").pulsate({color:"#074369"});
    });-->

  <!--</script>-->

