{% extends 'base.html' %}
{% load threadedcomments_tags %}
{% load client_tags %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
    {% block content %}
<style>
    .message-replay > input {
    height: 64px;
    width: 98%;
}
#msg_container{
 max-height: none !important;
}#messages-listing{
 max-height: none !important;
}
</style>
            <div class="clearfix sub-heading-search">
                <div class="content">
                    <h2 class="inner-page-heading pull-left">Job Details</h2>
                </div>
            </div>
            <section class="clearfix">
                <div class="profile-container clearfix">
                    <div class="content">
                        <div class="middle-inner">
                            <div class="jobDescription">
                               <div class="middle-div-details job-detail-page">
                                   <div class="job-details-tab">
                                        <ul>
                                            <li data-post="job-details" class="active">Job Details</li>
                                            <li data-post="messages-tab" class="messagetab">Messages</li>
                                        </ul>
                                   </div>
                                   <div class="clearfix tab-list" id="job-details">
                                        <p style="float:right;">Budjet:${{ job_details.payment }}</p>
                                        <h3>{{ job_details.job_title }}</h3>
                                        <span class="sub-text">Job Category:  {{ job_details.job_main_category.category_title }}</span>
                                        <p>{{ job_details.job_description }}</p>

                                       <div class="requirements">
                                           <div class="requires">
                                               <p class="marginBottom">{{ job_details.payment_type }}</p>
                                               <h4 class="subHead">$ {{ job_details.payment }}</h4>
                                           </div>
                                           <div class="requires">
                                               <p class="marginBottom">Duration</p>
                                               {% if job_details.duration_in_month %}
                                               <h4 class="subHead">{{ job_details.duration_in_month }} Months,</h4>
                                               {% elif job_details.duration_in_weak %}
                                               <h4 class="subHead">{{ job_details.duration_in_weak }} Weeks,</h4>
                                               {% endif %}
                                               {% if job_details.duration_in_hour %}
                                               <h4 class="subHead">{{ job_details.duration_in_hour }} Hours</h4>
                                               {% endif %}
                                           </div>
                                           <div class="requires">
                                               <p class="marginBottom">Desired Experience Level</p>
                                               <h4 class="subHead">{{ job_details.exp_level }}</h4>
                                           </div>
                                           <div class="requires">
                                               <p class="marginBottom">Number of Hires</p>

                                               <p class="subHead">{{ job_details.no_of_hires }} Nos</p>
                                           </div>
                                           <div class="clearfix"></div>
                                       </div>
                                       {% for skill in job_details.job_skills.all %}
                                            <span class="expertice">{{ skill.skill_name }}</span>
                                        {% endfor %}


                                       <div class="qualification">
                                           <p class="my_job_field">
                                               <span>Hired:</span> {{ no_hired_freelancer }}
                                           </p>

                                           <p class="my_job_field">
                                               <span>Applicants:</span> {{ no_applicants }}
                                           </p>
                                           <p class="marginBottom">Qualifications Required</p>
                                           <span class="subHead">{{ job_details.qualifications }}</span>

                                       </div>
                                       <div class="quote_section">
                                       </div>
                                        <h3 class="proposals">Proposals </h3>
                                        {% for freelancer in applied_freelancer  %}
                                            {% for jobs in applied_jobs %}
                                                {% if freelancer.user == jobs.user %}
                                                        <div class="profileListWrapper clearfix borderBotom">
                                                        <div class="profileImg">
                                                            {% if freelancer.profile_pic %}
                                                                <img src="{{ freelancer.profile_pic_thumbnail.url }}" alt="clientprofile" class="client_profile_image">
                                                            {% else %}
                                                                <img src="/static/images/no_image.png" alt="clientprofile" class="client_profile_image">
                                                            {% endif %}
                                                        </div>
                                                        <div class="profileDetail">
                                                            <h3 class="profile-name">{{ freelancer.user.first_name }} {{ freelancer.user.last_name }}</h3>
                                                            <div class="profile-location">
                                                                <i class="fa fa-map-marker"></i>
                                                                <span>Switzerland</span>
                                                            </div>
                                                            {% for skill in freelancer.skills.all %}
                                                                <span class="experticeDetail">{{ skill.skill_name }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                       <div class="profile-container clearfix">
                                           <div class="">
                                           </div>
                                       </div>
                                   </div>
                                   <div class="clearfix tab-list" id="messages-tab">
                                        <div class="profile-container clearfix">
                                            <div class="content">
                                                <div class="message-container" id ="chats">
                                                    <div class="applied-job-details">
                                                        <!--{% for apply_details in appliedJobDetails %}-->
                                                            <!--<h3>Applied Quote</h3>-->
                                                            <!--{{ apply_details.description }}-->
                                                            <!--<div class="estimate-cost">Estimate Cost : <span>{{ apply_details.estimated_cost }} /hr</span> </div>-->
                                                            <!--<div class="apply-job-sepration">-->
                                                                <!--{% if apply_details.resume %}-->
                                                                    <!--<div class="replay-show-comment"><a-->
                                                                            <!--href="{{ apply_details.resume.url }}"><i-->
                                                                            <!--class="fa fa-file"></i> View</a>-->
                                                                    <!--</div>-->
                                                                <!--{% endif %}-->
                                                            <!--</div>-->
                                                        <!--{% endfor%}-->
                                                    </div>

                                                    <!--<div class="message-list-container" id="messages-listing">-->
                                                         <!--{% for messeges in messegeDetails %}-->

                                                                <!--<div class="message-show-container clearfix">-->
                                                                    <!--<div class="message-show clearfix">-->

                                                                        <!--<div class="message-details fade in {% if request.user.id == messeges.user.id %}pull-left left{% else %} pull-right right {% endif %}">-->
                                                                            <!--<div class="arrow" style="top: 30px;"></div>-->
                                                                            <!--<div class="message-details-content">{{ messeges.messege }}-->
                                                                                <!--<div class="msg-rpy-date ">Posted date {{ messeges.post_date }}</div>-->
                                                                                <!--<div class="replay-comment-btn">-->
                                                                                    <!--{% get_comment_count for messeges as messageCount %}-->
                                                                                    <!--{% if messeges.attachment_file %}-->
                                                                                        <!--<div class="replay-show-comment"><a-->
                                                                                                <!--href="{{ messeges.attachment_file.url }}"><i-->
                                                                                                <!--class="fa fa-file"></i> View</a>-->
                                                                                        <!--</div>-->
                                                                                    <!--{% endif %}-->
                                                                                    <!--<div class="replay-show-comment {% if messageCount != 0 %} has-replies{%  endif %}" data-msg="{{ messeges.id }}">-->
                                                                                        <!--communication <span class="reply-count">{{ messageCount }}</span>-->
                                                                                    <!--</div>-->
                                                                                    <!--<div class="replay-this-comment"-->
                                                                                         <!--data-msg="{{ messeges.id }}">-->
                                                                                        <!--<i class="fa fa-comment"></i> Reply-->
                                                                                    <!--</div>-->
                                                                                <!--</div>-->
                                                                            <!--</div>-->
                                                                        <!--</div>-->
                                                                        <!--<div class="{% if request.user.id == messeges.messege_to.id %} pull-left {% else %}pull-right{% endif %}">-->
                                                                            <!--<div class="message-image">-->
                                                                                <!--{% if request.user.id == messeges.messege_to.id %}-->
                                                                                    <!--{% if messeges.user.client_profile.profile_pic %}-->
                                                                                    <!--<img src="{{ messeges.user.client_profile.profile_pic.url  }}" alt="">-->
                                                                                    <!--{% else %}-->
                                                                                    <!--<img src="/static/images/no_image.png" alt="">-->
                                                                                    <!--{% endif %}-->
                                                                                <!--{% else %}-->
                                                                                     <!--{% if messeges.user.freelancer_profile.profile_pic %}-->
                                                                                    <!--<img src="{{ messeges.user.freelancer_profile.profile_pic.url  }}" alt="">-->
                                                                                    <!--{% else %}-->
                                                                                    <!--<img src="/static/images/no_image.png" alt="">-->
                                                                                    <!--{% endif %}-->
                                                                                <!--{% endif %}-->
                                                                            <!--</div>-->
                                                                            <!--<p class="message-username">{{ messeges.user.first_name }}</p>-->
                                                                        <!--</div>-->
                                                                    <!--</div>-->
                                                                    <!--<div class="message-replay-list" id="msg_replay_{{ messeges.id }}">-->
                                                                        <!--<div class="message-replies">-->
                                                                            <!--{% get_comment_list for messeges as comment_list %}-->
                                                                            <!--{% for comment in comment_list %}-->
                                                                                <!--<div class="message-show clearfix">-->

                                                                                    <!--<div class="message-details fade in  {% if request.user.id == comment.user.id %}pull-right right{% else %}  pull-left left{% endif %}">-->
                                                                                        <!--<div class="arrow" style="top: 30px;"></div>-->
                                                                                        <!--<div class="message-details-content">{{ comment.comment }}-->
                                                                                            <!--<div class="msg-rpy-date ">Posted date {{ comment.submit_date }}</div>-->
                                                                                            <!--<div class="replay-comment-btn" >-->
                                                                                                <!--{% if comment.attachment_file %}-->
                                                                                                    <!--<div class="replay-show-comment"><a href="{{ comment.attachment_file.url }}"><i class="fa fa-file"></i> View</a></div>-->
                                                                                                <!--{% endif %}-->
                                                                                            <!--</div>-->
                                                                                        <!--</div>-->
                                                                                    <!--</div>-->
                                                                                    <!--<div class="{% if request.user.id == comment.user.id %}pull-right{% else %} pull-left {% endif %}">-->
                                                                                        <!--<div class="message-image">-->

                                                                                            <!--{% if request.user.id == comment.user.id %}-->
                                                                                                <!--{% if comment.user.freelancer_profile.profile_pic %}-->
                                                                                                <!--<img src="{{ comment.user.freelancer_profile.profile_pic.url  }}" alt="">-->
                                                                                                <!--{% else %}-->
                                                                                                <!--<img src="/static/images/no_image.png" alt="">-->
                                                                                                <!--{% endif %}-->
                                                                                            <!--{% else %}-->
                                                                                                 <!--{% if comment.user.client_profile.profile_pic %}-->
                                                                                                <!--<img src="{{ comment.user.client_profile.profile_pic.url  }}" alt="">-->
                                                                                                <!--{% else %}-->
                                                                                                <!--<img src="/static/images/no_image.png" alt="">-->
                                                                                                <!--{% endif %}-->

                                                                                            <!--{% endif %}-->
                                                                                        <!--</div>-->
                                                                                        <!--<p class="message-username">{{ comment.user.first_name }}</p>-->
                                                                                    <!--</div>-->
                                                                                <!--</div>-->
                                                                            <!--{% endfor %}-->
                                                                        <!--</div>-->
                                                                        <!--<div class="message-rplyshow">-->

                                                                        <!--</div>-->
                                                                    <!--</div>-->
                                                                <!--</div>-->
                                                        <!--{% endfor %}-->
                                                    <!--</div>-->
                                                    <!--<div class="message-replay-container">-->
                                                        <!--<h2>Post a comment</h2>-->
                                                        <!--<form enctype="multipart/form-data" action="{% url 'my_jobsDetails' job_details.slug %}?tab=2" method="post" class="applied_job_form_2656{{ jobs.job.id  }}">-->
                                                            <!--{% csrf_token %}-->
                                                            <!--<input type="hidden" value="{{ tabactive }}" class="tab-active" name="tab-active">-->
                                                            <!--<input type="hidden"  value="message_send" name="postFormType">-->
                                                            <!--<input type="hidden" value="{{ job_details.user.id }}" name="messege_to">-->
                                                            <!--<div class="message-rplyshow">-->
                                                                <!--<div class="message-replay">-->
                                                                    <!--{{ message_form.messege }}-->
                                                                <!--</div>-->
                                                                <!--<div class="message-button clearfix" style="display:block;">-->
                                                                    <!--<div class="pull-left">-->
                                                                         <!--<button type="button" class="skipBtn message-post-btn " id="attach-image-btn">Attach File-->

                                                                         <!--</button>-->
                                                                        <!--{{ message_form.attachment_file }}-->
                                                                        <!--&lt;!&ndash;<input type="file" class="attach-image" name="attached-file">&ndash;&gt;-->
                                                                    <!--</div>-->
                                                                    <!--<div class="pull-right">-->
                                                                        <!--<button type="submit" class="skipBtn message-post-btn "  onclick="return checkValidation(2656{{ jobs.job.id }})">Post</button>-->
                                                                    <!--</div>-->
                                                                <!--</div>-->

                                                            <!--</div>-->
                                                        <!--</form>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix pagition-wrapper">
                                         {% include "includes/pagination.html" %}
                                   </div>
                               </div>
                            </div>


							 {% if not job_applied %}
                                <div class="applyJob">
                                    <div class="login_message">{{ login_message }}</div>
                                    <div class="login_message post_success">{{ success_message }}</div>
                                    <div class="work-history clearfix">
                                        <div class="sub-headline-wrapper">
                                            <span class="applyJobHeadline">Apply to this job</span>
                                        </div>
                                    </div>
                                    <div class="search-for-others-profile clearfix">
                                        <form id="search-others-profile" method="POST" action="{% url 'my_jobsDetails' job_details.slug %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="hidden"  value="" name="postFormType">
                                            <label>Message</label>
                                            <textarea class="job" rows="8" name="description"></textarea>
                                            <div class="login_message">{{form.errors.description}}</div>
                                            <label>Estimated cost <small>{{ job_details.payment_type }}</small></label>
                                            <input type="text"  name="estimated_cost">
                                            <label>Document</label>
                                            <div class="fileinputs">
                                                <input type="file" class="file" name="resume"/>
                                                <div class="fakefile">
                                                    <span id="applyJob">CLICK HERE TO UPLOAD DOCUMENTS</span>
                                                </div>
                                            </div>
                                            <span class="remove_file"><img src="/static/images/Cancel.png" /></span>
                                            <div class="login_message">{{form.errors.resume}}</div>
                                            <div class="boxBig">
                                                <div class="box1">
                                                    <input type="checkbox" id="c1" class="checkbox_confirm" name="c1">
                                                    <label for="c1" ><span></span></label>
                                                    <a href="javascript:void(0)" onclick="modal_conditions_open();">I accept Terms&Conditions</a>
                                                </div>
                                                <div class="box2">
                                                    <input type="submit" value="SUBMIT" class="submitBtn" >
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </form>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                               </div>
                            {% endif %}
                            {% if  job_applied  %}

                            {% if not job_cancel %}

                            <div class="applyJob">
                                <div class="login_message">{{ login_message }}</div>
                                <div class="login_message post_success">{{ success_message }}</div>
                                <div class="work-history clearfix">
                                    <div class="sub-headline-wrapper">
                                        <span class="applyJobHeadline">Already applied for this job</span>
                                    </div>
                                </div>
                               <h4>Cancel or edit applied quote?</h4>
                               <div class="">
                                   <div class="button_container">
                                       <button type="button" class="button_blue update_btn">Update Quote
                                       </button>
                                   </div>
                                   <div class="button_container">
                                       <button type="button" class="button_blue cancel_job_btn">Cancel Quote
                                       </button>
                                   </div>
                               </div>
                                <div class="search-for-others-profile clearfix update_container hiden">
                                    <form id="Applied_job_edit_form" method="POST" action="{% url 'my_jobsDetails' job_details.slug %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden"  value="update" name="postFormType">
                                        <input type="hidden"  value="" name="is_resume" id="is_resume">
                                        <label>Message</label>
                                        {{ form_update.description }}
                                        <div class="login_message">{{form.errors.description}}</div>
                                        <label>Estimated cost <small>{{ job_details.payment_type }}</small></label>
                                        {{ form_update.estimated_cost }}
                                        <label>Document</label>
                                       <div class="editfileinputs fileinputs" id="applyJob_doc" onchange="file_uploaded();">
                                            <div class="upload_icon">CLICK HERE TO UPLOAD DOCUMENTS</div>
                                            <span>{{ form_update.resume }}</span>
                                       </div>
                                        {% if job_applied.resume %}
                                        <div>
                                            <span class="current_file">
                                                {{job_applied.resume|filename}}
                                            </span>
                                            <span class="remove_upload_file remove_file" data-post="{{job_applied.resume}}"><img src="/static/images/Cancel.png" /></span>
                                        </div>
                                        {% endif %}
                                        <span class="remove_file " data-post="{{job_applied.resume}}"><img src="/static/images/Cancel.png" /></span>
                                        <div class="file_path"></div>
                                        <div class="login_message">{{form.errors.resume}}</div>
                                        <div class="file_error">File not supported! Upload .pdf, .doc, .docx, .png, .jpg, .jpeg</div>
                                        <div class="boxBig">
                                            <div class="box2">
                                                <input type="button" value="CANCEL" class="submitBtn job_hide_update_btn" >
                                            </div>
                                            <div class="box2">
                                                <input type="submit" value="SUBMIT" id="file_upload" class="submitBtn" >
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </form>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="search-for-others-profile clearfix cancel_job_container hiden">
                                    <form id="Applied_job_cancel_form" method="POST" action="{% url 'my_jobsDetails' job_details.slug %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden"  value="cancel_application" name="postFormType">
                                        <label>Message</label>
                                        {{ form_cancel_job.cancel_message }}
                                        <div class="login_message">{{form_cancel_job.cancel_message.description}}</div>
                                        <div class="boxBig">
                                            <div class="box2">
                                                <input type="button" value="CANCEL" class="submitBtn job_hide_update_btn" >
                                            </div>
                                            <div class="box2">
                                                <input type="submit" value="SUBMIT" class="submitBtn" >
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </form>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            {% else %}
                                <div class="applyJob">
                                <div class="work-history clearfix">
                                    <div class="sub-headline-wrapper">
                                        <span class="applyJobHeadline"> Quote Withdrawn</span>
                                        <p>You have withdrawn the quote submitted</p>
                                        <p>Your message for cancel the job is:</p>
                                        <p>{{ job_cancel.cancel_message }}</p>

                                        <div class="button_container">
                                       <button type="button" class="button_blue update_withdrawn_btn">Update Quote
                                       </button>
                                   </div>
                                   <div class="button_container">
                                       <form method="POST" action="{% url 'my_jobsDetails' job_details.slug %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="hidden"  value="delete_withdrawn" name="postFormType">
                                           <button type="submit" class="button_blue delete_job_withdrawn">Cancel Withdrawn
                                           </button>
                                       </form>
                                   </div>
                                </div>




                                <div class="search-for-others-profile clearfix update_withdrawn_container hiden">
                                    <form id="update_withdrawn_form" method="POST" action="{% url 'my_jobsDetails' job_details.slug %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden"  value="update_cancel_quote" name="postFormType">
                                        <label>Message</label>
                                        <div class="login_message">{{ form_withdrawn.cancel_message }}</div>
                                        <div class="boxBig">
                                            <div class="box2">
                                                <input type="button" value="CANCEL" class="submitBtn job_hide_update_btn" >
                                            </div>
                                            <div class="box2">
                                                <input type="submit" value="SUBMIT" class="submitBtn" >
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </form>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                           </div>
                        {% endif %}
                        {% endif %}
                        </div>
                       </div>
                    </div>
                </div>
            </section>

            {% include 'ajax/applyjob_terms_and_condition.html' %}

            <div class="modal-backdrop  in"></div>
            {% endblock %}
            {% block extra_js %}
             <script type="text/javascript"src= "/static/js/reconnecting-websocket.min.js"  ></script>
            <script>
            $(function() {
             inRoom = function (roomId) {
                return $("#room-" + roomId).length > 0;
           };

             //var toid = $(this).attr("data-freelancer-id");
             //$("#messageto").val(toid);

       // Correctly decide between ws:// and wss://
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var ws_path = ws_scheme + '://' + window.location.host + "/chat/stream/";
        console.log("Connecting to " + ws_path);
        var socket = new ReconnectingWebSocket(ws_path);

        // Handle incoming messages
        socket.onmessage = function (message) {
            // Decode the JSON
            console.log("Got websocket message " + message.data);
            var data = JSON.parse(message.data);



            // Handle errors
            if (data.error) {
                alert(data.error);
                return;
            }
            // Handle joining
            if (data.join) {
                console.log("Joining room " + data.join);
                 var messageto='{{ job_details.user.id}}';
                 var datas = { csrfmiddlewaretoken: '{{ csrf_token }}','postFormType':'GetMessages','to':messageto,'from':'{{request.user.id}}','jobid':'{{job_details.id}}','type':'freelancer'};

                var url_string = "/message/";
                console.log(data.message +"eeeeeeeeeeeeeeeeeeeeeee");
                var ok_msgs = "";

                $.ajax({
                    url: url_string,
                    type: 'POST',
                    data: datas,
                    success: function(return_data) {
                       //console.log(return_data.data);
                       var title =data.title.substr(0,10);
                        ok_msgs +=return_data.data;
                         var roomdiv = $(
                         '<div id="messages-listing" class="message-list-container">'+ok_msgs+''+

                         '</div>'+
                         '<div class="message-replay-container">'+
                         '<h2>Post a comment</h2>'+
                         '<div class="message-rplyshow"><form> '+
                         '<div class="message-replay"> '+
                         '<input style="width:98%:height:45px;"> '+
                         '</div> '+
                         '<div class="message-button clearfix" style="display:block;">'+
                         '<div class="pull-left">'+

                         '<button id="attach-image-btn" class="skipBtn message-post-btn " type="button">Attach File </button>'+

                         '</div>'+
                         '<div class="pull-right">'+

                         '<button class="skipBtn message-post-btn " type="submit">Post</button>'+

                         '</div>'+

                         '</div> </form>'+
                         '</div> '+
                         '</div> '


                    );
                     roomdiv.find("form").on("submit", function () {
                    socket.send(JSON.stringify({
                        "command": "send",
                        "room": data.join,
                        "message": roomdiv.find("input").val()
                    }));
                    roomdiv.find("input").val("");
                    return false;
                });
                 $("#chats").html(roomdiv);

                    },
                    errors: function(return_data) {
                        alert("Error");
                    }

                 });



                // Hook up send button to send a message


                // Handle leaving
            } else if (data.leave) {
                console.log("Leaving room " + data.leave);
                $("#room-" + data.leave).remove();
                // Handle getting a message
            } else if (data.message || data.msg_type != 0) {
                var msgdiv = $(".addone");
                console.log("room-" + data.room + " .messages"+"shibi");
                var ok_msg = "";
                // msg types are defined in chat/settings.py
                // Only for demo purposes is hardcoded, in production scenarios, consider call a service.
                var user ="{{request.user.username}}";
                if(user == data.username){
                           var classc ="pull-left left";
                        }else{
                           var classc ="pull-right right";
                        }
                switch (data.msg_type) {
                    case 0:
                        // Message
                        var messageto='{{ job_details.user.id}}';
                        var datas = { csrfmiddlewaretoken: '{{ csrf_token }}','postFormType':'Savemessage','to':messageto,'from':'{{request.user.id}}','jobid':'{{job_details.id}}','message':data.message,'type':'freelancer'};
                        var job_id = $.trim($('.job_id').val());
                        var url_string = "/message/";
                        console.log(data.message +"u");

                        $.ajax({
                            url: url_string,
                            type: 'POST',
                            data: datas,
                            success: function(return_data) {
                               // $(".middle-div-details").replaceWith(return_data.html_content);
                               // location.reload();
                            },
                            errors: function(return_data) {
                                alert("Error");
                            }

                        });
                                    <!--ok_msg += "<div class='message'>" +-->
                                <!--"<span class='username'>" + data.username + "</span>" +-->
                                <!--"<span class='body'>" + data.message + "</span>" +-->
                                <!--"</div>";-->

                        ok_msg += "<div class='message-show-container clearfix'><div class='message-show clearfix'><div class='message-details fade in "+ classc +"'><div class='arrow' style='top: 30px;'></div><div class='message-details-content'>" + data.message + "<div class='msg-rpy-date'>Feb. 8, 2017, 4:50 a.m.</div></div></div><div class='pull-right'><div class='message-image '><img src='"+data.image+"'></div><p class='message-username'>" + data.username + "</p></div></div></div>";
                        break;
                    case 1:
                        // Warning / Advice messages
                        ok_msg = "<div class='contextual-message text-warning'>" + data.message +
                                "</div>";
                        break;
                    case 2:
                        // Alert / Danger messages
                        ok_msg = "<div class='contextual-message text-danger'>" + data.message +
                                "</div>";
                        break;
                    case 3:
                        // "Muted" messages
                        ok_msg = "<div class='contextual-message text-muted'>" + data.message +
                                "</div>";
                        break;
                    case 4:
                        // User joined room
                        ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                                " joined the room!" +
                                "</div>";
                        break;
                    case 5:
                        // User left room
                        ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                                " left the room!" +
                                "</div>";
                        break;
                    default:
                        console.log("Unsupported message type!");
                        return;
                }
                console.log(ok_msg+"shibilaaaa")
                  ok_msg +='</div>';

                msgdiv.append(ok_msg);

                msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
            } else {
                console.log("Cannot handle message!");
            }
        };
         // Helpful debugging
        socket.onopen = function () {
            console.log("Connected to chat socket");
        };
        socket.onclose = function () {
            console.log("Disconnected from chat socket");
        }
        $(document).on('click','.job-details-tab li',function(){
					var sectionId = $(this).attr('data-post');
					$('.job-details-tab').find('li').each(function(){
						var sectionIdeach = $(this).attr('data-post');
						$('#'+sectionIdeach+'').hide();
						$(this).removeClass('active');
					});
					$(this).addClass('active');
					$('#'+sectionId+'').show();
					 var roomId = '{{job_details.id}}';
					if(sectionId =='messages-tab'){
					   if (inRoom(roomId)) {
                    // Leave room
                    //$(this).removeClass("joined");
                    // chat();
                    socket.send(JSON.stringify({
                        "command": "leave",
                        "room": roomId
                    }));

                    } else {
                    //chat();
                        // Join room
                       // $(this).addClass("joined");
                      socket.send(JSON.stringify({
                            "command": "join",
                            "room": roomId
                        }));

                    }
					}
				});

    });

                function modal_conditions_open(){
                    $('.modal_terms_condition').show();
                    $('.modal-backdrop').show();
                }
                function modal_conditions_close(){
                    $('.modal_terms_condition').hide();
                    $('.modal-backdrop').hide();
                }

                $('#search-others-profile').submit(function (e) {
                    $('.error').remove();
                    if (!$('.checkbox_confirm').is(':checked')) {
                        //prevent the default form submit if it is not checked
                        $('.box2').after( "<div class='error' style='color:red'>Please accept the Terms&Conditions</div>" );
                        e.preventDefault();
                    }
                })
                function file_uploaded(){
                    $('.file_path').html('');
                    $('.current_file').hide();
                    $("#file_upload").attr('type','submit');
                    $(".file_error").hide()
                    var ext = $('#id_resume').val().split('.').pop().toLowerCase();
                    $(".remove_file").show();
                    $('#is_resume').val("");
                    if(ext.length>0){
                            if($.inArray(ext, ['pdf','doc','docx','png','jpg','jpeg']) == -1) {
                            $(".file_error").show();
                            $("#file_upload").attr('type','button');
                        }
                    }
                    var file = $("input[name=resume]")[0].files[0].name;
                    $('.file_path').html(String(file));
                }
                function checkValidation(id) {
				    if($('.applied_job_form_'+id).find('#id_messege').val() == ''){

				        if (!($('.applied_job_form_'+id).find(".error-container").length > 0)){
                          $('.applied_job_form_'+id).find('#id_messege').parent().prepend('<div class="error-container"  style="text-align: right;padding: 3px;color: #FF0000;">* This field is required</div>');

                        }

				        $('.applied_job_form_'+id).find('#id_messege').addClass('message-error');
				        return false;
				    }else {
				        return true;
				    }

				}
				function checkValidationReply(id) {
				    if($('.applied_job_form_'+id).find('#id_comment').val() == ''){
                        if (!($('.applied_job_form_'+id).find(".error-container").length > 0)){
				            $('.applied_job_form_'+id).find('#id_comment').parent().prepend('<div class="error-container"  style="text-align: right;padding: 3px;color: #FF0000;">* This field is required</div>');
				        }
				        $('.applied_job_form_'+id).find('#id_comment').addClass('message-error');
				        return false;
				    }else {
				        return true;
				    }

				}
                $(function() {
					$('.job-details-tab').find('li').each(function(){
						if($(this).hasClass('active')){
							var sectionId = $(this).attr('data-post');
							$('#'+sectionId+'').show();
						}
					});
				});


                $( document ).ready(function() {
                    $('.update_btn').click(function() {
                        $('.update_container').show();
                        $('.cancel_job_container').hide();
                        $('.cancel_job_btn').hide();
                    })
                    $('.update_withdrawn_btn').click(function() {
                        $('.update_withdrawn_container').show();
                        $('.delete_job_withdrawn').hide();
                    })


                    $('.cancel_job_btn').click(function() {
                        $('.cancel_job_container').show();
                        $('.update_container').hide();
                        $('.update_btn').hide();
                    })
                    $('.job_hide_update_btn').click(function() {
                         $('.update_container').hide();
                         $('.cancel_job_container').hide();
                         $('.update_btn').show();
                         $('.cancel_job_btn').show();
                    })
                });

                $(document).on('click','.remove_file',function() {
                    $('#id_resume').val("");
					$(".remove_file").hide();
					$('.file_path').html('');
                    $('.current_file').hide();
                    $(".file_error").hide();
                    $('#is_resume').val("False");
                    $("#file_upload").attr('type','submit');

				});
                $(document).on('click','.job-click',function() {
					console.log(this);
					if($(this).hasClass('down')) {
						$(this).removeClass('down');
					} else {
						$(this).addClass('down');
					}
					$(this).parent().children('.job-div-all').toggle("slow");
				});
				$(function() {

				    //category open
				    $('.job-click').click();

					$( "#slider-range" ).slider({
						range: true,
						min: 0,
						max: 5000,
						values: [ 0, 1000 ],
						slide: function( event, ui ) {
							$('#amountstart').html("$" + ui.values[ 0 ]);
							$('#amountend').html("$" + ui.values[ 1 ]);
                            $('#amountstartInput').val(ui.values[ 0 ]);
							$('#amountendInput').val(ui.values[ 1 ]);
                            var data = $('#job_sort_form').serialize();
                            $.ajax({
                                url: "{% url 'find_job' %}",
                                type: 'POST',
                                data: data,
                                success: function (return_data)
                                 {
                                    $(".job-all").replaceWith(return_data.html_content);

                                 },
                                 errors:function (return_data){ alert("Error");}

                            });
                            $('#amountstartInput').removeAttr();
							$('#amountendInput').removeAttr();
                        }

					});
					$('#amountstart').html("$" + $( "#slider-range" ).slider( "values", 0 ));
					$('#amountend').html("$" + $( "#slider-range" ).slider( "values", 1 ));
                    $('#amountstartInput').val( $( "#slider-range" ).slider( "values", 0 ));
					$('#amountendInput').val($( "#slider-range" ).slider( "values", 1 ));
				});

               function sort(){
                var data = $('#sort').serialize();
                $.ajax({
                    url: "{% url 'find_job' %}",
                    type: 'POST',
                    data: data,
                    success: function (return_data)
                     {

                        if (return_data.status==true)
                        {
                            $('.unsorted').html(return_data.html_content)
                        }

                     },
                     errors:function (return_data){ alert("Error");}

                });
                }
                {#..................Category Sort........................#}
                function category_sort(){
                    var data = $('#job_sort_form').serialize();
                    $.ajax({
                        url: "{% url 'find_job' %}",
                        type: 'POST',
                        data: data,
                        success: function (return_data)
                         {
                             $(".job-all").replaceWith(return_data.html_content);
                         },
                         errors:function (return_data){ alert("Error");}

                    });
                }

                $(function() {
					$('.job-details-tab').find('li').each(function(){
						if($(this).hasClass('active')){
							var sectionId = $(this).attr('data-post');
							$('#'+sectionId+'').show();
						}
					});
				});
				$(document).on('click','.job-details-tab li',function(){
					var sectionId = $(this).attr('data-post');
					$('.job-details-tab').find('li').each(function(){
						var sectionIdeach = $(this).attr('data-post');
						$('#'+sectionIdeach+'').hide();
						$(this).removeClass('active');
					});
					$(this).addClass('active');
					$('#'+sectionId+'').show();
				});
                $(document).on('click','#attach-image-btn',function(){
                    $(this).parent().find('#id_attachment_file').click();
                });
                $(document).on('click','.message-rplyshow',function(){
                    $(this).find('.message-button').show();
                });
                $(document).on('click','.replay-this-comment',function(){
                    var msg_id = $(this).attr("data-msg");
                    if ($("#msg_replay_"+msg_id).find('#id_comment').is(':visible')) {
                        $("#msg_replay_"+msg_id).find('#id_comment').hide('slow');
                        $("#msg_replay_"+msg_id).find('.message-button').hide('slow');

                    }else {
                        $("#msg_replay_"+msg_id).find('#id_comment').show('slow');
                        $("#msg_replay_"+msg_id).find('.message-button').show('slow');
                    }
                });
                $(document).on('click','.replay-show-comment',function(){
                    var msg_id = $(this).attr("data-msg");
                    if ($("#msg_replay_"+msg_id).find('.message-replies').is(':visible')) {
                        $("#msg_replay_"+msg_id).find('.message-replies').hide('slow');
                    }else {
                        $("#msg_replay_"+msg_id).find('.message-replies').show('slow');
                    }
                });
                window.onload = function() {
                    var getUrlParameter = function getUrlParameter(sParam) {
                        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                            sURLVariables = sPageURL.split('&'),
                            sParameterName,
                            i;

                        for (i = 0; i < sURLVariables.length; i++) {
                            sParameterName = sURLVariables[i].split('=');

                            if (sParameterName[0] === sParam) {
                                return sParameterName[1] === undefined ? true : sParameterName[1];
                            }
                        }
                    };
                    $('.message-replay').find('#id_comment').attr('rows','2');
                    $('.message-replay').find('#id_comment').attr('placeholder','Post a comment');
                    var comment = getUrlParameter('c');
                    var update = getUrlParameter('update');
                    var tab = getUrlParameter('tab');
                    if($('.tab-active').val() == "messege") {
                        $('.messagetab').click();
                    }
                    if (comment != null){
                       $('.messagetab').click();
                    }
                    if(update == 1){
                        $('.update_btn').click();
                    }
                    if(update == 2){
                        $('.cancel_job_btn').click();
                    }
                    if(tab == 2){
                        $('.messagetab').click();
                        var objDiv = document.getElementById("messages-listing");
                        setTimeout(function(){objDiv.scrollTop = objDiv.scrollHeight; }, 500);
                    }
                };
            </script>
            {% endblock %}