{% extends 'base.html' %}
{% load threadedcomments_tags %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
{% block extra_css %}

<style>
    input {
    height: 45px;

    width: 95%;
}.custom-btn{
margin-top:5px !important;
}
</style>
{% endblock %}
    {% block content %}

            <div class="clearfix sub-heading-search">
                <div class="content">
                    <h2 class="inner-page-heading pull-left">My Jobs</h2>
                </div>
            </div>
            <section class="clearfix my-job-wrapper">
                <div class="profile-container clearfix">
                    <div class="content">

                       <div class="left-div-details">
                           <form role="form" id="job_sort_form">
                            {%  csrf_token %}
                               <input type="hidden" name="job_tabs" id="job_tabs" />
                               <div class="left-inner-block">
                                   <h3 class="job-click">Job Category</h3>
                                    <ul class="job-div-all">
{#                                        <form role="form" id="category_form">#}
{#                                          {% csrf_token %}#}
                                            {% for category in categories %}
                                            <li><input type="checkbox" class="category_list" id="{{ category.id }}" value="{{ category.id }}" name="categories" onclick="category_sort();"/>
                                            <label for="{{ category.id }}"><span></span><i>{{ category.category_title }}</i></label> </li>
                                            {%  endfor %}
{#                                        </form>#}
                                    </ul>
                               </div>
                                <div class="left-inner-block">
                                   <h3 class="job-click">Job Type</h3>
                                   <ul class="job-div-all">
{#                                       <form role="form" id="job_type_form">#}
{#                                           {% csrf_token %}#}
                                            <li><input type="checkbox" value="per hour" id="c7" name="job_type" onclick="category_sort();"/>
                                            <label for="c7"><span></span><i>Hourly</i></label> </li>
                                            <li><input type="checkbox" id="c8" name="job_type"  value="per job"  onclick="category_sort();"/>
                                            <label for="c8"><span></span><i>Fixed</i></label> </li>
{#                                       </form>#}
                                   </ul>
                               </div>
                                <div class="left-inner-block">
                                   <h3 class="job-click">Experience level</h3>
                                   <ul class="job-div-all">
{#                                        <form role="form" id="experience_level_form">#}
{#                                            {% csrf_token %}#}
                                            <li><input type="checkbox" id="c9" value="Fresher" name="experience" onclick="category_sort();"/>
                                            <label for="c9"><span></span><i>Fresher</i></label> </li>
                                            <li><input type="checkbox" id="c10" value="Intermediate" name="experience" onclick="category_sort();"/>
                                            <label for="c10"><span></span><i>Intermediate</i></label> </li>
                                            <li><input type="checkbox" id="c11" value="Expert" name="experience" onclick="category_sort();"/>
                                            <label for="c11"><span></span><i>Expert</label></i> </li>
{#                                        </form>#}
                                   </ul>
                               </div>
                                <div class="budject-block">
                                    <h3>Budget</h3>
                                    <div class="range-slider-wrap" >
                                        <div id="slider-range"></div>
{#                                        <form role="form" >#}
                                            <div id="amountstart"></div>
                                            <div id="amountend"></div>
{#                                        </form>#}
                                    </div>
                                </div>
                                <input type="hidden" value="" name="amountstartInput" id="amountstartInput">
                                <input type="hidden" value="" name="amountendInput" id="amountendInput">
                                 <div class="left-inner-block">
                                   <h3 class="job-click">Duration</h3>
                                    <form role="" id="duration_form">
                                        <ul class="job-div-all">
                                            <li><input type="checkbox" id="c12" name="cc" />
                                            <label for="c12"><span></span><i>Hours or days (15)</i></label> </li>
                                            <li><input type="checkbox" id="c13" name="cc" />
                                            <label for="c13"><span></span><i>Weeks (54)</i></label> </li>
                                            <li><input type="checkbox" id="c14" name="cc" />
                                            <label for="c14"><span></span><i>Months (468)</i></label> </li>
                                            <li><input type="checkbox" id="c15" name="cc" />
                                            <label for="c15"><span></span><i>> 6 months (622)</i></label> </li>
                                            <li><input type="checkbox" id="c16" name="cc" />
                                            <label for="c16"><span></span><i>Not Specified (0)</i></label> </li>
                                        </ul>
                                    </form>
                               </div>
                           </form>
                       </div>
                        <!--<div class="search_message">-->
                            <!--<h3>{{ message }}</h3>-->
                        <!--</div>-->
                       <div class="middle-div-details my-jobs-tab">
                           <div class="my-jobs-swtch">
                                <ul>
                                    <li data-post="applied-job" class="active applied-job-tab">Applied</li>
                                    <li data-post="invited-job" class="invited-job-tab">Job Invitations</li>
                                    <li data-post="hired-job" class="hired-job-tab">Hired</li>
                                </ul>
                           </div>
                           <div class="clearfix tab-list" id="applied-job">
                                <div class="profile-container clearfix">
                                    <div class="content">
                                        {% if applied_jobs %}
                                            {% for jobs in applied_jobs  %}
                                                <div class="my_job_list job-list-wrap">
                                                    <div class="clearfix">
                                                        <div class="pull-left job-details-wrap">
                                                            <h3 class="my_job_name">
                                                                <a href="{% url 'my_jobsDetails' jobs.job.slug %}">{{ jobs.job.job_title }}   <span class="job-id">( Job id: {{ jobs.job.job_number }} )</span>    </a>
                                                            </h3>
                                                            <p class="my_job_field job-description">
                                                                {{ jobs.job.job_description }}
                                                            </p>
                                                            <div class="job-details-skills">
                                                                <span class="skill-head">Skills:</span>
                                                               {% for skill in jobs.job.job_skills.all %}
                                                                <span class="expertice skill_align">{{ skill.skill_name }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="pull-right my_job_select">
                                                            <p class="budget-details">Budjet:</p>
                                                            <p class="budget-rate">${{ jobs.job.payment }} {% if jobs.job.payment_type == "per hour" %}<i class="fsize">/hr</i>{% endif %}</p>
                                                            {% if not jobs.job.id in quote_cancel_array %}
                                                                 <a href="{% url 'my_jobsDetails' jobs.job.slug %}?update=1">
                                                                    <p class="quoteBtn  accepted_this">Update</p>
                                                                </a>
                                                                <a href="{% url 'my_jobsDetails' jobs.job.slug %}?update=2">
                                                                    <p class="quoteBtn accepted_this">Cancel</p>
                                                                </a>
                                                            {% else %}
                                                                <p class="quoteBtn  accepted_this">Canceled</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="message-container freelancerMsg">
                                                    </div>
                                                    <div class="view-application-details">
                                                        <div class="view-more-details">
                                                            <span class="animation-move job_apply_chat job_chat " id="view-more-apply-freelancer" data-job-id="{{ jobs.job.slug }} " data-room-id="{{jobs.job.id}}" data-client-id="{{jobs.job.user.id}}">
                                                                <span class="display-block viewMoreContent ">VIEW MESSAGES</span>
                                                                <i class="fa fa-angle-down"></i>
                                                            </span>

                                                        </div>

                                                    </div>
                                                    <div class="border-bottom">
                                                        <div class="rel">
                                                            {% if not jobs.job.id in quote_cancel_array %}
                                                                {% for apply_status in applied_status %}
                                                                    {% if jobs.job.id == apply_status.job.id %}

                                                                        <span class="send-quote-status">
                                                                            {% if apply_status.status == "Declined" %}
                                                                                <i class="fa fa-ban applied_status_icon"></i>
                                                                             {% elif apply_status.status == "ShortList" %}
                                                                                <i class="fa fa-heart-o applied_status_icon"></i>
                                                                            {% endif %}
                                                                            {{ apply_status.status }}
                                                                        </span>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% else %}
                                                                <span class="send-quote-status">Canceled this Quote </span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% include 'message.html' %}
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                           <div class="clearfix tab-list" id="invited-job">
                                <div class="profile-container clearfix">
                                    <div class="content">
                                        {% if invited_jobs %}
                                            {% for jobs in invited_jobs  %}
                                                <div class="my_job_list">
                                                    <div class="clearfix">
                                                        <div class="pull-left job-details-wrap">
                                                             <h3 class="my_job_name">
                                                                <a href="{% url 'my_jobsDetails' jobs.job.slug %}">{{ jobs.job.job_title }} <span class="job-id">( Job id : {{ jobs.job.job_number }} )</span></a>
                                                            </h3>
                                                            <p class="my_job_field job-description">
                                                                {{ jobs.job.job_description }}
                                                            </p>
                                                            <div class="job-details-skills">
                                                                <span class="skill-head">Skills:</span>
                                                               {% for skill in jobs.job.job_skills.all %}
                                                                    <span class="expertice">{{ skill.skill_name }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="pull-right my_job_select">
                                                            <p class="budget-details">Budjet:</p>
                                                            <p class="budget-rate">${{ jobs.job.payment }} {% if jobs.job.payment_type == "per hour" %}<i class="fsize">/hr</i>{% endif %}</p>
                                                            {% if not jobs.is_rejected_by_client  %}
                                                                {% if not jobs.is_rejected  %}
                                                                    <form method="post" enctype="multipart/form-data" action="" name="acceptForm" id="acceptForm">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" value="{{ jobs.job.id }}" name="accept_job_id">
                                                                        <input type="hidden" value="{{ request.user.freelancer_profile.id }}" name="accept_user">
                                                                        <input type="hidden" value="decline-job" name="accept-this-job">
                                                                            <p class="quoteBtn accept-invitation {% if jobs.is_accepted  %}accepted_this{% else %}cursur-pointer{% endif %}">{% if jobs.is_accepted  %}Accepted{% else %}Accept{% endif %}</p>
                                                                    </form>
                                                                {% endif %}

                                                            {% else %}
                                                                <p class="quoteBtn accept-invitation accepted_this">Withdrawn</p>

                                                            {% endif %}
                                                            {% if not jobs.job.id in quotes_submit and jobs.is_accepted and not jobs.is_rejected_by_client %}
                                                                <a href="{% url 'my_jobsDetails' jobs.job.slug %}">
                                                                    <p class="quoteBtn accept-invitation accepted_this">Send Quote</p>
                                                                </a>
                                                            {% endif %}
                                                            {% if not jobs.is_accepted and not jobs.is_rejected_by_client %}
                                                                <p class="quoteBtn decline-btn {% if jobs.is_rejected  %}declined_this{% else %}cursur-pointer{% endif %} text_{{ jobs.job.id }}" data-post="{{ jobs.job.id }}" onclick="declineSubmit({{ jobs.job.id }})">{% if jobs.is_rejected  %}Declined{% else %}Decline{% endif %}</p>
                                                            {% endif %}
                                                        </div>
                                                        <div class="clear"></div>
                                                        <div class="message-container freelancerMsg">
                                                            <div class="message-list-container" id="message_list_2656{{ jobs.job.id }}">
                                                                 {% for messegesList in messegeDetails %}
                                                                     {% for messeges in messegesList %}
                                                                           {% if jobs.job.id == messeges.job.id %}
                                                                                <div class="message-show-container clearfix">
                                                                                <div class="message-show clearfix">

                                                                                    <div class="message-details fade in {% if request.user.id == messeges.user.id %}pull-right right{% else %} pull-left left{% endif %}">
                                                                                        <div class="arrow" style="top: 30px;"></div>
                                                                                        <div class="message-details-content">{{ messeges.messege }}
                                                                                            <div class="msg-rpy-date ">Posted date {{ messeges.post_date }}</div>
                                                                                            <div class="replay-comment-btn">
                                                                                                {% get_comment_count for messeges as messageCount %}
                                                                                                {% if messeges.attachment_file %}
                                                                                                    <div class="replay-show-comment"><a
                                                                                                            href="{{ messeges.attachment_file.url }}"><i
                                                                                                            class="fa fa-file"></i> View</a>
                                                                                                    </div>
                                                                                                {% endif %}
                                                                                                <div class="replay-show-comment {% if messageCount != 0 %} has-replies{%  endif %}" data-msg="{{ messeges.id }}">
                                                                                                    communication <span class="reply-count">{{ messageCount }}</span>
                                                                                                </div>
                                                                                                <div class="replay-this-comment"
                                                                                                     data-msg="{{ messeges.id }}">
                                                                                                    <i class="fa fa-comment"></i> Reply
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class=" {% if request.user.id == messeges.messege_to %}pull-right{% else %}pull-left {% endif %}">
                                                                                        <div class="message-image">
                                                                                            {% if request.user.id == messeges.messege_to.id %}
                                                                                                {% if messeges.user.client_profile.profile_pic %}
                                                                                                <img src="{{ messeges.user.client_profile.profile_pic.url  }}" alt="">
                                                                                                {% else %}
                                                                                                <img src="/static/images/no_image.png" alt="">
                                                                                                {% endif %}
                                                                                            {% else %}
                                                                                                 {% if messeges.user.freelancer_profile.profile_pic %}
                                                                                                <img src="{{ messeges.user.freelancer_profile.profile_pic.url  }}" alt="">
                                                                                                {% else %}
                                                                                                <img src="/static/images/no_image.png" alt="">
                                                                                                {% endif %}
                                                                                            {% endif %}
                                                                                        </div>
                                                                                        <p class="message-username">{{ messeges.user.first_name }}</p>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            {% endif %}
                                                                    {% endfor %}
                                                                 {% endfor %}
                                                            </div>
                                                            <div class="message-replay-container">
                                                                <h2>Post a comment
                                                                    {% if not jobs.job.id in quotes_submit %}
                                                                        <span class="pull-right"><a href="{% url 'my_jobsDetails' jobs.job.slug %}" class="send-quote-link">Send Quote</a></span>
                                                                    {% endif %}
                                                                </h2>

                                                            </div>

                                                        </div>
                                                        <div class="invitation-reject">
                                                                <div class="message-replay-container">
                                                                    <h2>Decline Message</h2>
                                                                    <form id="declineForm_{{ jobs.job.id }}" enctype="multipart/form-data" action=".?tab=2" method="post" >
                                                                        {% csrf_token %}
                                                                        <input type="hidden" value="{{ tabactive }}" class="tab-active" name="tab-active">
                                                                        <input type="hidden"  value="message_send" name="postFormType">
                                                                        <input type="hidden"  value="{{ jobs.job.id }}" name="job_id">
                                                                        <input type="hidden" value="{{ jobs.job.user.id }}" name="messege_to">
                                                                        <input type="hidden" value="{{ jobs.job.id }}" name="accept_job_id">
                                                                        <input type="hidden" value="decline-job" name="decline-this-job">
                                                                        <input type="hidden" value="{{ request.user.freelancer_profile.id }}" name="accept_user">
                                                                        <div class="message-rplyshow">
                                                                            <div class="message-replay">
                                                                                {{ message_form.messege }}
                                                                            </div>
                                                                            <div class="message-button clearfix">
                                                                                <div class="pull-left">
                                                                                    <!--{{ message_form.attachment_file }}-->
                                                                                </div>
                                                                                <div class="pull-right">
                                                                                    <div class="skipBtn message-post-btn" >Decline</div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        <div class="view-application-details">
                                                            <div class="view-more-details">
                                                                <span class="animation-move job_chat job_invite_chat click_this2656{{ jobs.job.id }}" id="view-more-invite-freelancer" data-job-id="{{ jobs.job.id }} ">
                                                                    <span class="display-block viewMoreContent ">VIEW MESSAGES</span>
                                                                    <i class="fa fa-angle-down"></i>
                                                                </span>

                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="border-bottom rel margin-top-adj">
                                                        {% if not jobs.is_rejected_by_client  %}
                                                            {% if not jobs.is_rejected  %}
                                                                {% if jobs.job.id in quotes_submit %}
                                                                    <span class="send-quote-status">Quote submitted</span>
                                                                {% else %}
                                                                    <span class="send-quote-status">Quote not submitted</span>
                                                                {% endif %}
                                                            {% else %}
                                                                <span class="send-quote-status">Declined this Job</span>
                                                            {% endif %}
                                                        {% else %}
                                                            <span class="send-quote-status">Withdrawn this invitation by client</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% include 'message.html' %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                           <div class="clearfix tab-list" id="hired-job">
                                <div class="profile-container clearfix">
                                    <div class="content">
                                        {% if hired_jobs %}
                                            {% for jobs in hired_jobs  %}
                                                <div class="my_job_list">
                                                    <h3 class="my_job_name">
                                                        <a href="{% url 'my_jobsDetails' jobs.job.slug %}">{{ jobs.job.job_title }}</a>
                                                    </h3>

                                                    <div class="clearfix">
                                                        <div class="pull-left">
                                                            <p class="my_job_field">
                                                                <span >Job Id :</span> {{ jobs.job.id }}
                                                            </p>
                                                            <p class="my_job_field">
                                                                <span >Budjet:</span> ${{ jobs.job.payment }} per hour
                                                            </p>
                                                        </div>
                                                        <div class="pull-right my_job_select">
                                                            <span>Actions</span>
                                                            <select name="status" onchange="changeStatus(this.value)">
                                                                <option value="">select</option>
                                                                <option value="1">option 1</option>
                                                                <option value="2">option 2</option>
                                                                <option value="3">option 3</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="border-bottom"></div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% include 'message.html' %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix pagition-wrapper">
                            {% include "includes/pagination.html" %}
                           </div>


                       </div>
                       <div class="right-div-details">
							<div class="work-history clearfix">
								<div class="sub-headline-wrapper">
									<span class="sub-headline">Work History</span>
								</div>
								<ul>
									<li>100% job Success</li>
									<li>1,308 hours worked</li>
									<li>6 jobs</li>
								</ul>
							</div>
							<div class="availability clearfix">
								<div class="sub-headline-wrapper">
									<span class="sub-headline">Availability</span>
								</div>
								<ul>
									<li>Available</li>
									<li>As needed-Open to Offers</li>
									<li>24 hrs response time</li>
								</ul>
							</div>
                            <form id="search-others-profile">
                                {% csrf_token %}
							    <div class="search-for-others-profile clearfix">
                                    <label for="search-for-others-profile">
                                        Search for others
                                    </label>
                                    <div class="profile-search-input-wrapper">
                                        <input type="text" id="search-for-others-profile" name="search_query" size="21" maxlength="120">
                                    </div>
                                    </div>
                                    <div class="post-a-job-profile clearfix">
                                        <button type="submit">Post A Job</button>
                                </div>
                           </form>
					   </div>
                    </div>
                </div>
                <a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>
            <div class="modal-backdrop-loader fade in"></div>
            <div class="sk-cube-grid">
                <img src="/static/images/loaders/Loading1.gif" class="loader_img" />
            </div>
            </section>
        <div class="message-side-wrap" id="message-side-bar" >
    <div class="message_listing_contents" id="chats">


    </div>
</div>

            <!--Modals-->
            <div class="modal confirmation-modal" id="dialog" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <span class="pull-right modal-close " onclick="closeModal()">X</span>
                        <div class="actionheading clearfix">Confirmation<span class="pull-right modal-close " onclick="closeModal()">X</span></div>
                          <p class="text-center">Are you sure to decline this job?</p>
                        <div class="submit-section">
                            <button class="button_align_1 " id="btnYesConfirmYesNo" >Ok</button>
                            <button class="button_align_1 " id="btnNoConfirmYesNo" >Cancel</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="modal-backdrop in"></div>
<input type="hidden" id="messageto"><input type="hidden" id="jobid">
            {% endblock %}
            {% block extra_js %}
            <script type="text/javascript" src= "/static/js/reconnecting-websocket.min.js"  ></script>
            <script type="text/javascript" src="/static/js/jquery.dotdotdot.min.js" ></script>
            <script>
             $(function() {
             var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var ws_path = ws_scheme + '://' + window.location.host + "/chat/stream/";
        console.log("Connecting to " + ws_path);
        var socket = new ReconnectingWebSocket(ws_path);

        // Handle incoming messages
        socket.onmessage = function (message) {
            // Decode the JSON
            console.log("Got websocket message " + message.data);
            var data = JSON.parse(message.data);


            // Handle errors
            if (data.error) {
                alert(data.error);
                return;
            }
            // Handle joining
            if (data.join) {
                console.log("Joining room " + data.join);
                 var messageto=$('#messageto').val();
                 var jobid=$('#jobid').val();
                 var datas = { csrfmiddlewaretoken: '{{ csrf_token }}','postFormType':'GetMessages','to':messageto,'from':'{{request.user.id}}','jobid':jobid,'type':'freelancer'};

                var url_string = "/message/";
                console.log(data.message +"eeeeeeeeeeeeeeeeeeeeeee");
                var ok_msgs = "";

                $.ajax({
                    url: url_string,
                    type: 'POST',
                    data: datas,
                    success: function(return_data) {
                       //console.log(return_data.data);
                       var title =data.title.substr(0,10);
                        ok_msgs +=return_data.data;
                         var roomdiv = $(
                         "<div class='message_header'> "+
                         "<div class='clearfix'>"+
                         "<div class='pull-left view-full-screen-btn'><i class='fa fa-angle-left'></i></div>"+
                         "<div class='pull-right attachment-open-arrow'><i class='fa fa-file-text-o'></i><i class='fa fa-long-arrow-right'></i></div>"+
                         "</div>"+

                         "</div>"+
                         "<h3 class='my_job_name job_message_heading'>"+
                         "<a href='javascript:void(0);'>" +title + "..."+
                         "<span class='job-id'>( Job id: " + data.jobid + ")</span></a></h3>"+
                         "</div>"+

                         "<div class='message-list-wrap'>"+
                        "<div id='msg_container' class='message-list-container'> </div>"+
                        "<div class='message-replay-container '><div class='message-rplyshow'><div class='room' id='room-" + data.join + "'>" +

                        "<div class='messagesss'>"+ok_msgs+"</div>" +
                        "<form><div class='message-replay' ></div><input style='width:98%:height:45px;'><button class='skipBtn message-post-btn custom-btn'  >Post </button></div><!--div class='message-button clearfix'><div class='pull-left'><button type='button' class='skipBtn message-post-btn' id='attach-image-btn'>Attach File </button> <input id='id_attachment_file' name='attachment_file' type='file' > </div><div class='scroll_point'></div><div class='pull-right'><!--button class='skipBtn message-post-btn'  >Post </button--></div></div--></form>" +
                        "</div></div></div>"+
                        "</div>"
                    );
                     roomdiv.find("form").on("submit", function () {
                    socket.send(JSON.stringify({
                        "command": "send",
                        "room": data.join,
                        "message": roomdiv.find("input").val()
                    }));
                    roomdiv.find("input").val("");
                    return false;
                });
                 $("#chats").html(roomdiv);

                    },
                    errors: function(return_data) {
                        alert("Error");
                    }

                 });



                // Hook up send button to send a message


                // Handle leaving
            } else if (data.leave) {
                console.log("Leaving room " + data.leave);
                $("#room-" + data.leave).remove();
                // Handle getting a message
            } else if (data.message || data.msg_type != 0) {
                var msgdiv = $("#room-" + data.room + " .addone");
                console.log("room-" + data.room + " .messages"+"shibi");
                var ok_msg = "";
                // msg types are defined in chat/settings.py
                // Only for demo purposes is hardcoded, in production scenarios, consider call a service.
                var user ="{{request.user.username}}";
                if(user == data.username){
                           var classc ="pull-left left";
                        }else{
                           var classc ="pull-right right";
                        }
                switch (data.msg_type) {
                    case 0:
                        // Message
                        var messageto=$('#messageto').val();
                        var jobid=$('#jobid').val();
                        var datas = { csrfmiddlewaretoken: '{{ csrf_token }}','postFormType':'Savemessage','to':messageto,'from':'{{request.user.id}}','jobid':jobid,'message':data.message};
                        var job_id = $.trim($('.job_id').val());
                        var url_string = "/message/";
                        console.log(data.message +"eeeeeeeeeeeeeeeeeeeeeee");

                        $.ajax({
                            url: url_string,
                            type: 'POST',
                            data: datas,
                            success: function(return_data) {
                               // $(".middle-div-details").replaceWith(return_data.html_content);
                               // location.reload();
                            },
                            errors: function(return_data) {
                                alert("Error");
                            }

                        });
                                    <!--ok_msg += "<div class='message'>" +-->
                                <!--"<span class='username'>" + data.username + "</span>" +-->
                                <!--"<span class='body'>" + data.message + "</span>" +-->
                                <!--"</div>";-->

                        ok_msg += "<div class='message-show-container clearfix'><div class='message-show clearfix'><div class='message-details fade in "+ classc +"'><div class='arrow' style='top: 30px;'></div><div class='message-details-content'>" + data.message + "<div class='msg-rpy-date'>Feb. 8, 2017, 4:50 a.m.</div></div></div><div class='pull-right'><div class='message-image '><img src='"+data.image+"'></div><p class='message-username'>" + data.username + "</p></div></div></div>";
                        break;
                    case 1:
                        // Warning / Advice messages
                        ok_msg = "<div class='contextual-message text-warning'>" + data.message +
                                "</div>";
                        break;
                    case 2:
                        // Alert / Danger messages
                        ok_msg = "<div class='contextual-message text-danger'>" + data.message +
                                "</div>";
                        break;
                    case 3:
                        // "Muted" messages
                        ok_msg = "<div class='contextual-message text-muted'>" + data.message +
                                "</div>";
                        break;
                    case 4:
                        // User joined room
                        ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                                " joined the room!" +
                                "</div>";
                        break;
                    case 5:
                        // User left room
                        ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                                " left the room!" +
                                "</div>";
                        break;
                    default:
                        console.log("Unsupported message type!");
                        return;
                }
                console.log(ok_msg+"shibilaaaa")

                msgdiv.append(ok_msg);

                msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
            } else {
                console.log("Cannot handle message!");
            }
        };
         // Helpful debugging
        socket.onopen = function () {
            console.log("Connected to chat socket");
        };
        socket.onclose = function () {
            console.log("Disconnected from chat socket");
        }
        $(document).on('click','#view-more-apply-freelancer',function(){
                   var roomId = $(this).attr("data-room-id");
                    var toid = $(this).attr("data-client-id");

                    $("#messageto").val(toid);
                    $("#jobid").val(roomId);


                    var effect = 'slide';
                    var options = { direction: 'left'};
                    var duration = 400;
                    var msg_wrap = $( ".sub-heading-search" );
                    var offset = msg_wrap.offset();
                     // var messageTop = offset.top+msg_wrap.height()
                        var messageTop = offset.top;

                    var $centerdiv = $( ".middle-div-details " );
                    var messagewidth = ($(window).width() - ($centerdiv.offset().left + $centerdiv.innerWidth()) - 13);

                    var style = document.createElement('style');
                    style.type = 'text/css';
                    style.innerHTML = '.message-side-wrap { top:'+messageTop+'px ;width:'+messagewidth+'px !important; }';
                    document.getElementsByTagName('head')[0].appendChild(style);
                    document.getElementById('message-side-bar').className = 'message-side-wrap';
                    // for close existing open chat box
                    var click_class_name = $(this).attr("class").match(/click_this1221[\w-]*\b/);
                    <!--$( '.job_apply_chat' ).each(function( index ) {-->
                        <!--if(!$(this).hasClass(click_class_name)){-->
                            <!--if($(this).hasClass('activeOpen')){-->
                                <!--$(this).removeClass('activeOpen');-->
                                <!--$(this).find('.viewMoreContent').html('VIEW MESSAGES');-->
                                <!--$('#message-side-bar').toggle(effect, options, duration);-->
                            <!--}-->
                        <!--}-->
                    <!--});-->
                         if (inRoom(roomId)) {
                    // Leave room
                            //$(this).removeClass("joined");
                            // chat();
                            socket.send(JSON.stringify({
                                "command": "leave",
                                "room": roomId
                            }));

                        } else {
                        //chat();
                            // Join room
                           // $(this).addClass("joined");
                          socket.send(JSON.stringify({
                                "command": "join",
                                "room": roomId
                            }));

                        }

                    $('#myDiv').toggle(effect, options, duration);

                    if($(this).hasClass('activeOpen')){
                        console.log("open");
                        $(this).removeClass('activeOpen');
                        $(this).find('.viewMoreContent').html('VIEW MESSAGES');
                        $('#message-side-bar').toggle(effect, options, duration);
                    }else {
                         console.log("closed");
                        $(this).addClass('activeOpen');
                        $(this).find('.viewMoreContent').html('HIDE MESSAGES');
                        $('#message-side-bar').toggle(effect, options, duration);
                    }

                    <!--var job_id = $(this).attr("data-job-id");-->
                    <!--var data = { job_id:job_id ,post_method:'message_lisiting'}-->
                    <!--$.ajax({-->
                        <!--url: "{% url 'my_jobs' %}",-->
                        <!--type: 'POST',-->
                        <!--data: data,-->
                        <!--success: function (return_data)-->
                         <!--{-->
                            <!--$("#message-side-bar .message_listing_contents").html(return_data.html_content);-->
                            <!--$('.message-replay').find('#id_comment').attr('rows','2');-->
                            <!--$('.message-replay').find('#id_comment').attr('placeholder','Post a comment');-->
                         <!--},-->
                         <!--errors:function (return_data){ alert("Error");}-->

                    <!--});-->

                    //$(this).parent().parent().parent().find('.freelancerMsg').toggle('slow');
                });
         inRoom = function (roomId) {
                return $("#room-" + roomId).length > 0;
           };
         });
             $( document ).ready(function() {
                $('#job_tabs').val('applied-job');

                // Correctly decide between ws:// and wss://

               });

                $(document).on('click','.view-full-screen-btn ',function(){
                    $( '.job_chat' ).each(function( index ) {
                    var effect = 'slide';
                    var options = { direction: 'left'};
                    var duration = 400;
                    if($(this).hasClass('activeOpen')){
                            $(this).removeClass('activeOpen');
                            $(this).find('.viewMoreContent').html('VIEW MESSAGES');
                            $('#message-side-bar').toggle(effect, options, duration);
                        }
                    });
                });


               inRoom = function (roomId) {
                return $("#room-" + roomId).length > 0;
                };


                $(document).on('click','.job-click',function() {
                    // console.log(this);
                    if($(this).hasClass('down')) {
                        $(this).removeClass('down');
                    } else {
                        $(this).addClass('down');
                    }
                    $(this).parent().children('.job-div-all').toggle("slow");
                });



				function declineSubmit(job_id) {
                    
                    $(".confirmation-modal").show();
                    $(".modal-backdrop").show();
                    var data = $('#declineForm_'+job_id).serialize();
                    $("#btnYesConfirmYesNo").off('click').click(function () {
                        $(".confirmation-modal").hide();
                        $(".modal-backdrop").hide();
                        $.ajax({
                            url: "{% url 'my_jobs' %}",
                            type: 'POST',
                            data: data,
                            beforeSend: function() {
                              loaderShow();
                            },
                            success: function (return_data)
                             {

                                loaderHide();
                                $('.invited-job-tab').click();

                             },
                             errors:function (return_data){ alert("Error");}

                        });
                    });
                    return true;
				}
				$("#btnNoConfirmYesNo").off('click').click(function () {
                    $(".confirmation-modal").hide();
                    $(".modal-backdrop").hide();
                });
				$(function() {
				    $('.job-description').dotdotdot();
                    $(document).on('click','#attach-image-btn',function(){
                        $(this).parent().find('#id_attachment_file').click();
                    });
                    $(document).on('click','.message-rplyshow',function(){
                        $(this).find('.message-button').show('slow');
                    });
                    $(document).on('click','.replay-this-comment',function(){
                        var msg_id = $(this).attr("data-msg");
                        console.log(msg_id);
                        console.log($("#message-reply-open_"+msg_id));
                        if ($("#message-reply-open_"+msg_id).is(':visible')) {
                            $("#message-reply-open_"+msg_id).hide('slow');
                        }else {
                            $("#message-reply-open_"+msg_id).show('slow');
                        }
                    });


                     $(document).on('click','.decline-btn1',function(){
                        if(!($(this).hasClass('declined_this'))){
                            if ($(this).parent().parent().find('.invitation-reject').is(':visible')) {
                                $(this).parent().parent().find('.invitation-reject').hide('slow');
                            }else {
                                $(this).parent().parent().find('.invitation-reject').show('slow');
                            }
                            if ($(this).parent().parent().find('.message-container').is(':visible')) {
                                $(this).parent().parent().find('.message-container').hide('slow');
                            }
                        }
                      });
                     $(document).on('click','.accept-invitation',function(){

                            if(!($(this).hasClass('accepted_this'))){
                            if(!$(this).hasClass('applied-btn')) {
                                $(this).html("Accepted");
                                $(this).parent().parent().parent().find('.decline-btn').hide('slow');
                            }

                            var data = $(this).parent().parent().find('#acceptForm').serialize();
                            $.ajax({
                                url: "{% url 'my_jobs' %}",
                                type: 'POST',
                                data: data,
                                beforeSend: function() {
                                  loaderShow();
                                },
                                success: function (return_data)
                                 {
                                    loaderShow();
                                    if( return_data.status == true ){
                                        $('.invited-job-tab').click();

                                    }else {

                                    }

                                 },
                                 errors:function (return_data){ alert("Error");}

                            });
                        }
                     });
				    //category open
				    $('.job-click').click();

					$( "#slider-range" ).slider({
						range: true,
						min: 0,
						max: {{ amountEnd }},
						values: {{ amt_array }},
						slide: function( event, ui ) {
							$('#amountstart').html("$" + ui.values[ 0 ]);
							$('#amountend').html("$" + ui.values[ 1 ]);
                            $('#amountstartInput').val(ui.values[ 0 ]);
							$('#amountendInput').val(ui.values[ 1 ]);
                            var data = $('#job_sort_form').serialize();
                            var tab_name = $('#job_tabs').val();
                            $.ajax({
                                url: "{% url 'find_job' %}",
                                type: 'POST',
                                data: data,
                                success: function (return_data)
                                 {
                                    if(tab_name=='applied-job'){
                                       $("#applied-job").replaceWith(return_data.html_content);
                                       $("#applied-job").show();
                                    }
                                    if(tab_name=='invited-job'){
                                        $("#invited-job").replaceWith(return_data.html_content);
                                        $("#invited-job").show();
                                    }
                                 },
                                 errors:function (return_data){ alert("Error");}
                            });
                            $('#amountstartInput').removeAttr();
							$('#amountendInput').removeAttr();
                        }

					});
					$('#amountstart').html("$" + $( "#slider-range" ).slider( "values", 0 ));
					$('#amountend').html("$" + $( "#slider-range" ).slider( "values", 1 ));
                    $('#amountstartInput').val( $( "#slider-range" ).slider( "values", 0 ));
					$('#amountendInput').val($( "#slider-range" ).slider( "values", 1 ));
				});
                function sort(){
                var data = $('#sort').serialize();
                $.ajax({
                    url: "{% url 'find_job' %}",
                    type: 'POST',
                    data: data,
                    success: function (return_data)
                     {

                        if (return_data.status==true)
                        {
                            $('.unsorted').html(return_data.html_content)
                        }

                     },
                     errors:function (return_data){ alert("Error");}

                });
                }
                {#..................Category Sort........................#}
                function category_sort(){
                    var data = $('#job_sort_form').serialize();
                    var tab_name = $('#job_tabs').val();
                    console.log(tab_name);
                    $.ajax({
                        url: "{% url 'find_job' %}",
                        type: 'POST',
                        async: false,
                        data: data,
                        beforeSend: function() {
                          loaderShow();
                        },
                        success: function (return_data)
                         {
                             loaderHide();
                             if(tab_name=='applied-job'){
                                console.log(return_data.html_content);
                               $("#applied-job").replaceWith(return_data.html_content);
                               $("#applied-job").show();
                             }
                             if(tab_name=='invited-job'){
                                $("#invited-job").replaceWith(return_data.html_content);
                                $("#invited-job").show();
                             }

                         },
                         errors:function (return_data){ loaderHide();alert("Error");}

                    });
                }

                $(function() {
					$('.my-jobs-swtch').find('li').each(function(){
						if($(this).hasClass('active')){
							var sectionId = $(this).attr('data-post');
							$('#'+sectionId+'').show();
						}
					});
				});
				$(document).on('click','.my-jobs-swtch li',function(){
					var sectionId = $(this).attr('data-post');
					$('.my-jobs-swtch').find('li').each(function(){
						var sectionIdeach = $(this).attr('data-post');
						$('#'+sectionIdeach+'').hide();
						$(this).removeClass('active');
					});
					$('#job_tabs').val(sectionId);
					console.log(sectionId);
					category_sort();
					$(this).addClass('active');
					$('#'+sectionId+'').show();
					$('.view-full-screen-btn').click();
				});
             </script>
            {% endblock %}