{% extends 'base.html' %}
{% block header_class %}innerheader{% endblock %}
{% block logoImage %}/static/images/logo-black.png {% endblock %}
{% block nav_class %}white-nav{% endblock %}
{% block extra_css %}
{% endblock %}
    {% block content %}
             <div class="clearfix sub-heading-search">
                <div class="content">
                    <h2 class="inner-page-heading pull-left">Post a Job</h2>
                </div>
             </div>
            <section>
                <div class="post-job-container">
                    <div class="content">
                       <!--  <div class="post-job-left">
                            &nbsp;
                        </div> -->
                       <div class="content clearfix">
                            <div class="clearfix">
                                <div class="post-job-container-left">
                                    <div class="job_succes_message" style="display: none">Your job has successfully posted</div>
                                    <form role="form" id="job_post_form" >
                                        {% csrf_token %}
                                        {% if freelancers_users %}
                                            <div class="profile-edit-form-group invite-job-post">
                                                <div class="profile-edit-label">
                                                     <label>&nbsp;</label>
                                                </div>
                                                <div class="profile-edit-input">
                                                    <h3 class="invite-head">Inviting</h3>
                                                    <div class="inviteJobsection">
                                                          <input type="radio" id="radio01" name="inviteJobsection" value="1" checked="checked" />
                                                          <label for="radio01"><span></span>Create job and Invite</label>
                                                    </div>

                                                    <div class="inviteJobsection">
                                                         <input type="radio" id="radio02" name="inviteJobsection" value="2"/>
                                                         <label for="radio02"><span></span>Existing job invite</label>
                                                    </div>

                                                    <div class="invited-freelancer clearfix">
                                                        <div class="freelancer-icon pull-left">
                                                            {% if freelancers_users.profile_pic %}
                                                            <img src="{{ freelancers_users.profile_pic.url }}" alt="profile image">
                                                            {% else %}
                                                            <img src="/static/images/no_image.png" alt="profile image">
                                                            {% endif %}
                                                        </div>
                                                        <div class="freelancer-name pull-left">
                                                             <h3>{{ freelancers_users.user.first_name }} {{ freelancers_users.user.last_name }}</h3>
                                                             <span>{{ freelancers_users.professional_title }}</span>
                                                         </div>
                                                    </div>
                                                    <p>
                                                        <label for="messege">Message</label>
                                                        <textarea name="messege" id="messege" rows="4"></textarea>
                                                    </p>
                                                    <input type="hidden" name="freelancer_id" value="{{ freelancers_users.id }}">
                                                    <input type="hidden" name="invite_form" value="1">
                                                    <div class="choosejob-container">
                                                     <!--   <p>-->
                                                            <label for="choose-job">Choose a job</label>
                                                            <div class="choose-job-error" style="color: rgb(255, 0, 0);">Error! This field is required.</div>
                                                            <select name="choose-job" id="choose-job" onchange="is_invited({{freelancers_users.id}});">
                                                                <option value="0">Select a Job</option>
                                                                {% for job in all_jobs %}
                                                                    <option value="{{ job.slug }}">{{ job.job_title }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <span class="invite_error">You are already invited for this job</span>
                                                        <!--</p>-->
                                                        <div class="post-a-job-profile clearfix">
                                                            <button type="button" id="send-invitation" class="send_inite">Send Invitation</button>
                                                            <button type="button" id="prevent-invitation" class="prevent_inite">Send Invitation</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        {% else %}
                                            <div class=" ">
                                                <div class="fetch_job_container ">
                                                    <div class="job_select_label pull-left"><h4 class="jobFetchHeading">Fetch data from previous job posted ?</h4></div>
                                                    <div class="job_select_holder">
                                                        <select name="job_details" class="button_container" id="job_details">
                                                            <option value="0">Select a Job</option>
                                                            {% for job in all_jobs %}
                                                                <option value="{{ job.slug }}">{{ job.job_title }}</option>
                                                            {% endfor %}
                                                        </select>

                                                    </div>
                                                    <div class="clear"></div>

                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="job_form_container">
                                            {% include 'ajax/post_job_form.html' %}
                                        </div>
                                    </form>
                                    <div class="post-job-right">
                                        &nbsp;
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="post-job-container-right">
                                    <div class="work-history clearfix">
                                        <div class="sub-headline-wrapper">
                                            <span class="sub-headline">Work History</span>
                                        </div>
                                        <ul>
                                            <li>100% job Success</li>
                                            <li>1,308 hours worked</li>
                                            <li>6 jobs</li>
                                        </ul>
                                    </div>
                                    <div class="search-right clearfix">
								<ul>
									<li>
										<select name="experiance">
											<option value="volvo">Job Listing</option>
											<option value="saab">1</option>
											<option value="fiat">2</option>
											<option value="audi">3</option>
											<option value="audi">4 &gt;</option>
										</select>
									</li>
									<li>
										<select name="location">
											<option value="volvo">Locations</option>
											<option value="saab">UAE</option>
											<option value="fiat">UK</option>
											<option value="audi">USA</option>
										</select>
									</li>
								</ul>
							</div>
							<div class="work-history clearfix">
								<div class="sub-headline-wrapper">
									<span class="sub-headline">Work History</span>
								</div>
								<ul>
									<li>100% job Success</li>
									<li>1,308 hours worked</li>
									<li>6 jobs</li>
								</ul>
							</div>
							<div class="availability clearfix">
								<div class="sub-headline-wrapper">
									<span class="sub-headline">Availability</span>
								</div>
								<ul>
									<li>Available</li>
									<li>As needed-Open to Offers</li>
									<li>24 hrs response time</li>
								</ul>
							</div>
							<div class="search-for-others-profile clearfix">
								<form id="search-others-profile" method="POST" action="">
									<label for="search-for-others-profile">
										Search for others
									</label>
									<div class="profile-search-input-wrapper">
										<input type="text" id="search-for-others-profile" name="q" size="21" maxlength="120">
									</div>
								</form>
							</div>
							<div class="post-a-job-profile clearfix">
								<button type="button">Post A Job</button>
							</div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="modal-backdrop-loader fade in"></div>
                <div class="sk-cube-grid">
                    <img src="/static/images/loaders/Loading1.gif" class="loader_img" />
                </div>
                <div class="clear"></div>
            </section>
            {% endblock %}
            {% block extra_js %}
            <script>
            function is_invited(freelancer){
                var data = $("#choose-job").val();
                $(".invite_error").hide();
                $.ajax({
                    url: "{% url 'is_invited'%}",
                    type: 'GET',
                    data: {job:data,freelancer:freelancer},
                    success: function (return_data)
                     {
                        if(return_data.is_invited == true ){
                            $(".invite_error").show();
                            $(".prevent_inite").show();
                            $(".send_inite").hide();
                        }
                        else{
                            $(".prevent_inite").hide();
                            $(".send_inite").show();
                        }
                     },
                    error:function(xhr,status,error)
                        {
                            console.log("Errrrrrrrr");
                        }
                });
            }
            function pageLoad(sender,args) {
                loaderShow();
                }
            $(function() {
                var dateToday = new Date();
                $( ".datepicker" ).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    minDate: dateToday,
                    altFormat: "yy-mm-dd",
                    dateFormat: 'yy-mm-dd',
                });
            });

             $(document).on('click','#send-invitation',function() {
                if($('#choose-job').val()== 0){
                    $('.choose-job-error').show();
                }else{
                    var data = $('#job_post_form').serialize();
                    $.ajax({
                        url: "{% url 'client-detail' %}",
                        type: 'POST',
                        data: data,
                        beforeSend: function() {
                          loaderShow();
                        },
                        success: function (return_data)
                         {
                            window.location.href = '/freelancers-list/'
                            loaderHide();

                         },
                         errors:function (return_data){ console.log("Error");}

                    });
                }
            });

            $(document).ready(function() {
                $('input:radio[name=inviteJobsection]').change(function() {
                    if (this.value == '1') {
                        $('.new-job-container').show();
                        $('.choosejob-container').hide();
                    }
                    else if (this.value == '2') {
                        $('.new-job-container').hide();
                        $('.choosejob-container').show();
                    }
                });
            });
                //fetch prevoius job details

                $('#job_details').change(function(){
                    var job = $('#job_details').val();
                    if(job=='0'){
                        $('.cancel_select_job').remove();
                    }
                    else{
                        $('#job_details').after('<div class="client-profile-edit-btn cancel_select_job icon_btn" onclick="cancel_job_selected();"> <i id="btn-edit-overview" class="fa fa-times"></i> </div>');
                    }
                    var data = $('#job_post_form').serialize();
                    $.ajax({
                        url: "{% url 'fetch_job_details'%}",
                        type: 'POST',
                        data: data,
                        async: false,
                        beforeSend: function() {
                          loaderShow();
                        },
                        success: function (return_data)
                         {
                            loaderHide();
                            if(return_data.status == true) {
                                $(".new-job-container").replaceWith(return_data.html_content);
                            }
                         },
                        error:function(xhr,status,error)
                            {
                                console.log("Errrrrrrrr");
                            }
                    });
                });
                function cancel_job_selected(){
                   $("#job_details").val("0").change();
                   // $("#job_details option[value=0]").attr('selected','selected');
                }

                 //add more Question
                $('.post-job-accordian').click(function() {
                    if($(this).parent().children('.post-job-accordian-details').is(':visible')) {
                        $(this).parent().children('.post-job-accordian-details').fadeOut( "slow" );
                    }else {
                        $(this).parent().children('.post-job-accordian-details').fadeIn( "slow" );
                    }
                });
                $('.multi_select').tokenize({
                    displayDropdownOnFocus: true,
                    placeholder: "Enter details ",
                });
                $('#job_post_form').on('submit', function(e){
                    e.preventDefault();
                    var data = $('#job_post_form').serialize();
                    $.ajax({
                        url: "{% url 'post-job'%}",
                        type: 'POST',
                        data: data,
                        beforeSend: function() {
                          loaderShow();
                        },
                        success: function (return_data)
                         {
                            loaderHide();
                            $('.profile-error').remove();
                            if (return_data.status==false) {
                                if ($(".profile-error").length ==0) {
                                    console.log(return_data.errors);
                                    var $inputs = $('#job_post_form :input');
                                    $.each(return_data.errors, function (name, value) {
                                        $inputs.each(function (index, dom) {
                                            current_name = dom.name;
                                            if (current_name == name) {
                                                var $error_section = $(this).closest("div");
                                                console.log(value);
                                                if(value == '"" is not a valid value for a primary key.'){value = "This field is required";}
                                                var $error_duration = $("<span class='profile-error'>Error! "+ "&nbsp;" + value + "</span>").insertAfter($error_section).css("color", "red");
                                                $error_duration.show();
                                            }
                                        });
                                    });
                                }
                            }
                            else{
                                $('.profile-error').hide();
                                $('.job_succes_message').show();
                                $('#job_post_form').trigger("reset");
                                window.location.href = "{% url 'find_job' %}";

                            }
                         },
                        error:function(xhr,status,error)
                            {
                                console.log("Errrrrrrrr");
                            }
                    });
                });
                function work_category(){
                var data = $('#main_category_section').find(":selected").val();
                $.ajax({
                    url: "{% url 'post-job' %}",
                    type: 'GET',
                    data:{action:data},
                    success: function (response) {
                        if(response.status == true) {
                            $(".category_skill_section").replaceWith(response.html_content);
                        }
                        else {
                            $(".category_skill_section").replaceWith(response.html_content);
                        }

                    },
                    error:function(xhr,status,error)
                    {

                    }
                });
            }
            </script>
            {% endblock %}
