
<div class="registrationMainSect email_recipients">
    <p class="reg"><span><i class="fa fa-file-text-o"></i></span>Template registration</p>
    <form role="form" action="." method="post" class="registrationForm">{% csrf_token %}
        {{ form.media }}
        <div class="admin_email_container">

            <div class="registrationFormGroup">
                <label for="id_subject">Template name</label>
                {{ form.mail_set }}
                {{ form.mail_set.errors }}
            </div>
            <div class="registrationFormGroup">
                {{ form.to_email }}
            </div>
            <div class="registrationFormGroup">
                <label for="id_subject">Is published</label>
                {{ form.is_publish }}
                {{ form.is_publish.errors }}
            </div>

            <div class="registrationFormGroup">
                <input type="submit" value="Save" class="submitBtn">
                <!--<input type="submit" value="Reset" class="submitBtn">-->
            </div>
        </div>

        <div class="clear"></div>
    </form>


    <div class="clear"></div>
</div>
{% block extra_js %}
<script>



    $('#id_to_email').multiSelect({
        selectableHeader: "<div class='head3'>Available Recipients</div><input type='text' class='search-input col-md-12' autocomplete='on' placeholder='search..'>",
        selectionHeader: "<div class='head3'>Chosen Recipients</div>",
        selectionFooter:"<button class='custom-footer btn deselect_role' type='button'><i class='fa fa-times'></i> <span>Remove all </span></button>",
        selectableFooter:"<button class='custom-footer btn select_role' type='button'><i class='fa fa-check'></i><span>Choose all</span></button>",
        afterInit: function(ms){
        var that = this,
            $selectableSearch = that.$selectableUl.prev(),
            $selectionSearch = that.$selectionUl.prev(),
            selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
            selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

        that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
        .on('keydown', function(e){
          if (e.which === 40){
            that.$selectableUl.focus();
            return false;
          }
        });

        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
        .on('keydown', function(e){
          if (e.which == 40){
            that.$selectionUl.focus();
            return false;
          }
        });
      },
      afterSelect: function(){
        this.qs1.cache();
        this.qs2.cache();
      },
      afterDeselect: function(){
        this.qs1.cache();
        this.qs2.cache();
      }
    });



</script>
{% endblock %}